.full-menu-cont{display:none;}

*{   -webkit-tap-highlight-color: rgba(0,0,0,0);    -webkit-tap-highlight-color: transparent; /* For some Androids */}
.top-animate { background: #fff !important;   top: 13px !important;   -webkit-transform: rotate(45deg);   /* Chrome, Safari, Opera */   transform: rotate(45deg);}
.mid-animate { opacity: 0;}
.bottom-animate {background: #fff !important;   top: 13px !important;  -webkit-transform: rotate(-225deg);   /* Chrome, Safari, Opera */   transform: rotate(-225deg);}


.top-menu { top: 0px;  width: 40px;  height: 4px;  /*border-radius: 10px;*/  background-color: #F9A530;}
.mid-menu { top: 10px; width: 40px; height: 4px;  /* border-radius: 10px;*/   background-color: #F9A530;}
.bottom-menu {  top: 21px;  width: 40px;  height: 4px;   /*border-radius: 10px;*/   background-color: #F9A530;}
.menui { background: #000;  transition: 0.6s ease;   transition-timing-function: cubic-bezier(.75, 0, .29, 1.01);  margin-top: 10px;   position: absolute;}
.icon { z-index: 999; /* position: fixed;*//*    background: rgba(0, 0, 0, 0.21);*/ display: block; /* padding: 9px;*/  height: 40px;  width:40px;  margin: 0px auto;  top: 0;  left: 0;}
.mobilenav { font-family: inherit; top: 0; left:0;  z-index: 999; display: none;  position: fixed;  width: 100%;  height: 100%;  background: rgba(0, 0, 0, 0.6);}
.mobilenav li { list-style-type: none;  text-align: center;  padding: 10px;}
.mobilenav li a { font-size: 150%;  color: #fff;  text-decoration: none;  font-weight: 300;  width: 100%;}
.mobilenav li:first-child { margin-top: 60px;}
.full-menu-cont {position: fixed; top: 0; left: 0; right: 0;  bottom: 0;  background: rgba(0,0,0,0.8);  z-index: 35;}
.full-menu-cont .icon {width: 50px; height: 50px; position: absolute; top:10px; left:10px; z-index:2;}
.full-menu-cont .top-animate {width:40px;}
.full-menu-cont .bottom-menu{width:40px}
.full-menu-cont .mobilenav {display: block; position: absolute; margin-top:0;z-index: 1; top:0; left:0; right:0; bottom:0;}
.full-menu-cont .mobilenav ul{width:100%; height:100%;}
.full-menu-cont .mobilenav li{/*height: 11%;*/height: 25%;float: left;width: 100%;vertical-align: middle;position: relative;border-bottom: solid 1px #3D3D3D;}
.full-menu-cont .mobilenav li:first-child{margin-top:0;}
.full-menu-cont .mobilenav li:last-child{border-bottom:none;}
.full-menu-cont .mobilenav li a{margin-top: -14px;position: absolute;top: 50%;left: 0;}
#side-bar #mobile-menu{margin-top:20px;}
#mobile-menu .title {margin-left: -3px; margin-bottom: 0px;}
#mobile-menu .hamburger {position: relative;margin-top: -10px;}
#mobile-menu a.icon {margin: 30px 15px;}
#side-bar #mobile-menu a.icon {margin: 30px auto;}

#horizontal-header #mobile-menu a.icon {margin: 20px 10px;}
#horizontal-header #mobile-menu .hamburger{position:relative;height: 40px;}
#horizontal-header #mobile-menu .title{margin-left:0px;}

.full-menu-cont.full-menu-cont-menuH {left: 200px; top: 20px; right: 20px; bottom: 20px;}
.full-menu-cont.full-menu-cont-menuH .icon{display:none;}
a.icon.mobMenH .top-animate {background:#000 !important;}
a.icon.mobMenH .bottom-animate {background: #000 !important; }
body.no-scroll{overflow-y: hidden;}

@media screen and (max-width: 640px) {
	.full-menu-cont .icon{top:5px; left:5px;display:none;}
	.full-menu-cont {left:90px; top:10px; right:10px; bottom:10px;}
	a.icon .top-animate {background:#000 !important;}
	a.icon .bottom-animate {background: #000 !important; }
}

@media screen and (max-width: 480px) {
	.full-menu-cont .icon{top: 20px; left: initial;display:block;right: 10px;margin: 0;}
	.full-menu-cont {left:0px; top:0px; right:0px; bottom:0; height:100%; position:fixed;}
	a.icon .top-animate {background:#fff !important;}
	a.icon .bottom-animate {background: #fff !important; }
	.full-menu-cont .mobilenav {padding-top: 90px;}
	.full-menu-cont .mobilenav li:first-child{border-top:solid 1px #3D3D3D}
}

@media screen and (max-width: 480px) and (max-height:480px) {
	.full-menu-cont .mobilenav li{height:50px;}
	.full-menu-cont{overflow-y:scroll;}
	.mobilenav{background:none;}
	.full-menu-cont{background:rgba(0,0,0,0.9);}
}