<!-- BEGIN mainBlock -->
<script type="text/javascript">
	jQuery(document).ready(function(){
		//formButtons();
		jQuery("#program_commences_{i}").timepicker({ 'step': 15 });
		var minComm = parseInt('{min_commision}');
		var isNew   = '{title}';
		if(isNew=='New'){
			jQuery('.commisionInput').val(minComm);
			jQuery('.radioYes').attr('checked',true);
		}
		jQuery('.commisionInput').keyup(function(){
			var tisVal = parseInt(jQuery(this).val());
			var tisID  = jQuery(this).attr('id');
	
			if(tisVal<minComm){
				jQuery('.minCommNotif.'+tisID).fadeIn();
				jQuery('.button.dummy').css('display','inline');
				//jQuery('.button.submit').css('display','none');
				jQuery('.btn_save').css('display','none');
			}else{
				jQuery('.minCommNotif.'+tisID).fadeOut();
				jQuery('.button.dummy').css('display','none');
				//jQuery('.button.submit').css('display','inline');
				jQuery('.btn_save').css('display','inline');
			}
		});
		
		jQuery('.button.dummy').click(function(){
			alert('please check again the form');
		});
		
		jQuery(".category_programs").change(function(){
			var id_category = jQuery(this).val();
			var rel_id = jQuery(this).attr('rel');
			
			if(id_category != ''){
				var url = jQuery("[name=site_url]").val();
				var data = new Object();
					data.act = 'program-package-ajax';
					data.do_act = 'get-list-program';
					data.id_category = id_category;

				jQuery.post(url,data,function(response){
					console.log(response);
					jQuery("#programs_"+rel_id+"").html(response).fadeIn(70);
				});	
			}else{
				jQuery("#programs_"+rel_id+"").fadeOut(70);
			}
			
		});
		
		jQuery(".room_types").change(function(){
			var room_type = jQuery(this).val();
			var rel_id = jQuery(this).attr('rel');
			
			if(room_type != ''){
				var url = jQuery("[name=site_url]").val();
				var data = new Object();
					data.act = 'program-package-ajax';
					data.do_act = 'get-list-villa';
					data.room_type = room_type;

				jQuery.post(url,data,function(response){
					console.log(response);
					jQuery("#villa_"+rel_id+"").html(response).fadeIn(70);
				});	
			}else{
				jQuery("#villa_"+rel_id+"").fadeOut(70);
			}
			
		});
		
		{jsAction}
	});
</script>
<div id="contentWrapper">
	<div class="notifBlockSaved" style="display:none; margin-bottom:10px; padding:10px; background:#93FF93; font-size:13px; color:#000;">
			{notif_message}
	</div>
	<div class="notifFailedSaved" style="display:none; margin-bottom:10px; padding:10px; background:#ffd504; font-size:13px; color:#000;">
			{notif_message}
	</div>
	<div id="content-typeEdit">
       	<div class="headsUp">
			<h2>Program Package {title}</h2>
			<form method="post" action="" id="theEditForm"  name="theEditForm" enctype="multipart/form-data">
			<!-- BEGIN editContent -->
			<input type="hidden" name="pilih[{i}]" id="pilih{i}" value="{pilih}" />
			<input name="pp_id[{i}]" id="pp_id{i}" type="hidden" value="{pp_id}" />
            <input type="hidden" name="site_url" value="{http}{supplier_site_url}/" />
			{separate}
			
			<div class="wrapper form bt-abu-true" style="border-bottom:solid 1px #ccc;">
				<label class="mid-width">Category Program</label>
                <select name="category-programs[{i}]" rel="{i}" class="category_programs">
                	<option value="">Select Category Program</option>
                	{category_program}
                </select>
			</div>
            
            <div class="wrapper form list-program" >
				<label class="mid-width">Program</label>
                <select id="programs_{i}" name="programs[{i}]" {display_program}>{program}</select>
			</div>
            
            <div class="wrapper form bt-abu-true" >
				<label class="mid-width">Room Type</label>
                <select id="room_type_{i}" name="room_type[{i}]" class="room_types"  rel="{i}">{room_type}</select>
			</div>
            
             <div class="wrapper form  bt-abu-true" >
				<label class="mid-width">Single Occupancy Price</label>
                <input type="text" name="single_occupancy_price[{i}]" class="text" value="{single_occupancy_price}" />
			</div>
            
             <div class="wrapper form  bt-abu-true" >
				<label class="mid-width">Double Occupancy Price</label>
                <input type="text" name="double_occupancy_price[{i}]" class="text" value="{double_occupancy_price}" />
			</div>
            <div class="wrapper form  bt-abu-true" >
				<label class="mid-width">Program commences</label>
                <input type="text" name="program_commences[{i}]" class="text" value="{program_commences}" id="program_commences_{i}" />
			</div>
            
            <div class="wrapper form  bt-abu-true" >
				<label class="mid-width">Program Inclusion</label>
                <div class="div-float-left">
                <textarea name="program_inclusion[{i}]" class="big" id="program_incluison_{i}">{program_inclusion}</textarea>
                </div>
			</div>
            
            <!--<div class="wrapper form bt-abu-true" id="occupancy_cont">
				<label class="mid-width">Occupancy Type</label>
                <input type="radio" name="occupancy_type[{i}]" class="occupancy_types"  rel="{i}" value="1" {single_occupancy} />
                <span>Single Occupancy</span>
                <input type="radio" name="occupancy_type[{i}]" class="occupancy_types"  rel="{i}" value="2" {double_occupancy} />
                <span>Double Occupancy</span>
			</div>-->
            
                        
            
            <script type="text/javascript">			
				jQuery(function($) {
					jQuery(".input-calender").datepicker({ dateFormat : 'mm/dd/yy'});
					jQuery( "#date_start{i}" ).datepicker( "option", "minDate", 0 );
					jQuery( "#date_finish{i}" ).datepicker( "option", "minDate", 1 );
					
					jQuery( "#date_start{i}" ).change(function(){
						var d1 = new Date(jQuery(this).val());
							d1.setDate(d1.getDate()+1);
						jQuery(this).parent().parent().parent().find("#date_finish{i}" ).datepicker( "option", "minDate", d1 );
					});	
					
					tinymce.init({
						selector: "textarea#program_incluison_{i}",
						theme: "modern",
						width:625,
						menubar: "false",
						plugins: 'paste,textcolor',
						toolbar: "styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist | undo redo | forecolor | pastetext ",
						theme_advanced_buttons3_add : "pastetext,pasteword,selectall",
						paste_auto_cleanup_on_paste : true,
						paste_remove_styles: true,
						paste_remove_styles_if_webkit: true,
						paste_strip_class_attributes: true
					  });
				});
			</script>
			<!--<div id="choiceTemplate" class="wrapper form bt-abu-true" >
				<input id="answercount" name="answercount" type="hidden" value="1" />
				<label class="mid-width">From</label>
				<input type="text" class="text required date input-calender" id="date_start{i}" name="date_start[{i}]" value="{date_start}" style="width:70px;" />
				<label style="margin-left:10px; width:30px;">To</label>
				<input type="text" class="text required date input-calender" id="date_finish{i}" name="date_finish[{i}]" value="{date_finish}" style="width:70px;" />
			</div>-->
            
            <!--<div class="wrapper form  bt-abu-true" >
				<label class="mid-width">Price</label>
                <input type="text" name="price[{i}]" class="text" value="{price}" />
			</div>-->
            
			
			<!-- END editContent -->
			<div class="bottonContainer">
            	<a href="#" class="button dummy" style="display:none;"><img src="{http}{template_url}/img/button-save.png" alt="button-save" width="75" height="31"/></a>
				{button_save}
				<a href="{http}{supplier_site_url}/program-package/" class="button"><img src="{http}{template_url}/img/button-cancel.png" alt="button-cancel" width="75" height="31"/></a>
			</div>
			<div class="clear"></div>
			</form>
		</div>
   </div>
        <!-- id="content-type" END ========================= --> 
</div>
<!-- END mainBlock -->