<!-- BEGIN mainBlock -->
<script type="text/javascript">
	jQuery(document).ready(function(){
		//formButtons();
		var minComm = parseInt('{min_commision}');
		var isNew   = '{title}';
		if(isNew=='New'){
			jQuery('.commisionInput').val(minComm);
			jQuery('.radioYes').attr('checked',true);
		}
		jQuery('.commisionInput').keyup(function(){
			var tisVal = parseInt(jQuery(this).val());
			var tisID  = jQuery(this).attr('id');
	
			if(tisVal<minComm){
				jQuery('.minCommNotif.'+tisID).fadeIn();
				jQuery('.button.dummy').css('display','inline');
				//jQuery('.button.submit').css('display','none');
				jQuery('.btn_save').css('display','none');
			}else{
				jQuery('.minCommNotif.'+tisID).fadeOut();
				jQuery('.button.dummy').css('display','none');
				//jQuery('.button.submit').css('display','inline');
				jQuery('.btn_save').css('display','inline');
			}
		});
		
		jQuery('.button.dummy').click(function(){
			alert('please check again the form');
		});
		
		{jsAction}
	});
</script>
<div id="contentWrapper">
	<div class="notifBlockSaved" style="display:none; margin-bottom:10px; padding:10px; background:#93FF93; font-size:13px; color:#000;">
			{notif_message}
	</div>
	<div class="notifFailedSaved" style="display:none; margin-bottom:10px; padding:10px; background:#ffd504; font-size:13px; color:#000;">
			{notif_message}
	</div>
	<div id="content-typeEdit">
       	<div class="headsUp">
			<h2>Additional Service {title}</h2>
			<form method="post" action="" id="theEditForm"  name="theEditForm" enctype="multipart/form-data">
			<!-- BEGIN editContent -->
			<input type="hidden" name="pilih[{i}]" id="pilih{i}" value="{pilih}" />
			<input name="as_id[{i}]" id="as_id{i}" type="hidden" value="{as_id}" />
			{separate}
			
			<div class="wrapper form bt-abu-true" style="border-bottom:solid 1px #ccc;">
				<label>Name</label>
				<input type="text" class="text required number" id="name{i}" name="name[{i}]" value="{name}" />
			</div>
            
            <div class="wrapper form" >
				<label>Category</label>
                {parent}
			</div>
            
			<div class="wrapper form bt-abu-true" >
				<label>Description</label>
                <textarea  name="description[{i}]" style="height:100px; width:600px;">{description}</textarea>
			</div>
            
            <div class="wrapper form bt-abu-true" >
				<label>Use Time</label>
                <input type="checkbox" name="use_time[{i}]" {use_time} />
			</div>
            
            <!--<div class="wrapper form bt-abu-true the_price_cont" >
				<label>Price</label>
                <div class="price_cont_{i} cont_price use-time">
                	<input type="text" name="price_time[{i}][]" class="text required number middle" value="{price_time}" /> 
                    <span>Time</span> <input type="text" name="time[{i}][]" class="text required number middle" value="{time}" />
                   	<div class="clear"></div>                   
                </div>
                <div class="price_cont_{i} not-use-time"><input type="text" name="price[{i}][]" class="text required number middle" value="{price}" /></div>
			</div>-->
            {cont_additional_price}
            {clone_container}
            {btn_add_price}
            
            <!--<div class="clone-price-cont"></div>-->
           <!-- <div class="wrapper form bt-abu-true price_cont_{i} cont_price use-time btn-add-cont-price" >
                <input type="button" value="Add Price" class="add_price_{i}" />
            </div>-->
            
            <script>
            	jQuery("[name='use_time[{i}]']").click(function(){
					if (this.checked) {
						jQuery(".price_cont_{i}.use-time").fadeIn(70, function(){
							jQuery('.clone-price-cont').fadeIn(70);
							jQuery(".price_cont_{i}.not-use-time").fadeOut(70).removeClass('show-div"');

						});
						
					}else {
						jQuery(".price_cont_{i}.use-time").fadeOut(70,function(){
							console.log('masuk sini');
							jQuery(".price_cont_{i}.use-time").removeClass('show-div');
							jQuery('.clone-price-cont').fadeOut(70);
							jQuery(".price_cont_{i}.not-use-time").fadeIn(70).removeClass('hide-div');
								
						});
						
					}					
				});
				
				jQuery(".add_price_{i}").click(function(){
					var clone = jQuery('.the_price_cont').clone().appendTo($(".clone-price-cont"));
					jQuery(clone).removeClass('the_price_cont');
					jQuery(clone).find(':input').val('');
					jQuery(clone).find('.not-use-time').remove();
				});
				
            </script>
            
            
			
			<!-- END editContent -->
			<div class="bottonContainer">
            	<a href="#" class="button dummy" style="display:none;"><img src="{http}{template_url}/img/button-save.png" alt="button-save" width="75" height="31"/></a>
				{button_save}
				<a href="{http}{supplier_site_url}/additional-service/" class="button"><img src="{http}{template_url}/img/button-cancel.png" alt="button-cancel" width="75" height="31"/></a>
			</div>
			<div class="clear"></div>
			</form>
		</div>
   </div>
        <!-- id="content-type" END ========================= --> 
</div>
<!-- END mainBlock -->