<!-- BEGIN mainBlock -->
<script type="text/javascript">
	jQuery(document).ready(function(){
		//formButtons();
		{jsAction}
	});
</script>


<div id="contentWrapper">
	<div class="notifBlockSaved" style="display:none; margin-bottom:10px; padding:10px; background:#93FF93; font-size:13px; color:#000;">
			{notif_message}
	</div>
	<div class="notifFailedSaved" style="display:none; margin-bottom:10px; padding:10px; background:#ffd504; font-size:13px; color:#000;">
			{notif_message}
	</div>
	<div id="content-typeEdit">
        	<div class="headsUp">
			<h2>Early Bird {title}</h2>
			<form method="post" action="" id="theEditForm"  name="theEditForm" enctype="multipart/form-data">
			<!-- BEGIN editContent -->
			<input type="hidden" name="pilih[{i}]" id="pilih{i}" value="{pilih}" />
			<input name="lpromo_ID[{i}]" id="lpromo_ID{i}" type="hidden" value="{lpromo_ID}" />
			{separate}
            
            
            <div class="wrapper form bb-abu">
				<label style="width:150px;">Discount Promo For</label>
				<select name="discount_for[{i}]" class="required">
                	<option value="">Select discount for</option>
                    <option {villa_only} value="villa">Villa only</option>
                    <option {program_only} value="program">Program</option>
                </select>
			</div>
            
			<div class="wrapper form bb-abu">
				<label style="width:150px;">Room Category</label>
				<select name="roomtype[{i}]" class="required">
                	<option value="">Select room category</option>
                    {room_category}
                </select>
			</div>
            
			<script type="text/javascript">
				$(function() {
					/*$("#date_start{i}").datepicker();
					$("#date_finish{i}").datepicker();*/
					jQuery(".input-calender").datepicker({ dateFormat : 'mm/dd/yy'});
					jQuery( "#date_start{i}" ).datepicker( "option", "minDate", 0 );
					jQuery( "#date_finish{i}" ).datepicker( "option", "minDate", 1 );
					
					jQuery( "#date_start{i}" ).change(function(){
						var d1 = new Date(jQuery(this).val());
							d1.setDate(d1.getDate()+1);
						jQuery(this).parent().parent().parent().find("#date_finish{i}" ).datepicker( "option", "minDate", d1 );
					});	
				});
			</script>
			<div id="choiceTemplate" class="wrapper form bb-abu">
				<input id="answercount" name="answercount" type="hidden" value="1" />
				<label style="width:150px;">Date From</label>
				<input type="text" class="text required date input-calender" id="date_start{i}" name="date_start[{i}]" value="{date_start}" style="width:70px;" />
				<label style="margin-left:10px; width:30px;">To</label>
				<input type="text" class="text required date input-calender" id="date_finish{i}" name="date_finish[{i}]" value="{date_finish}" style="width:70px;" />
                <input type="checkbox" value="all_time" name="all_time[{i}]" {all_time} style="margin: 6px 5px 5px 30px;" /> <span>All Time</span>
			</div>
            
            
            
            <div class="wrapper form bb-abu" >
				<label style="width:150px;">Days Before Check-in</label>
				<input type="text" class="text required" id="lday_before{i}" name="lday_before[{i}]" value="{lday_before}" style="width:80px;" /> <label>&nbsp;&nbsp;Day(s)</label>
			</div>
            <div class="wrapper form bb-abu">
				<label style="width:150px;">Stay From</label>
                <select name="lstay[{i}]" class="required">
                	<option value="">select</option>
                    {lstay}
                </select>
                <span style="float:left; padding:5px 5px 0 5px;">to</span> 
                <select name="lstay_to[{i}]" class="notrequired">
                	<option value="">select</option>
                    {lstay_to}
                </select>
                  <label>&nbsp;&nbsp;Night(s)</label>
			</div>
            <div class="wrapper form bb-abu" style="display: none;">
				<label style="width:150px;">Minimum Room</label>
                <select name="lroom[{i}]" class="required">
                	<option value="">select</option>
                    {lroom}
                </select>
                 <label>&nbsp;&nbsp;Room(s)</label>
			</div>
            <div class="wrapper form">
				<label style="width:150px;">Ammount</label>
				<input type="text" class="text required" id="lammount{i}" name="lammount[{i}]" value="{lammount}" style="width:80px;" />
                <select name="lammount_unit[{i}]" class="required" style="margin-left:10px;">
                	<option value="">select</option>
                    {lammount_unit}
                </select>
			</div>
            
            
            
			<!-- END editContent -->
			<div class="bottonContainer">
				{button_save}
				<a href="http://{supplier_site_url}/early-bird/" class="button"><img src="http://{template_url}/img/button-cancel.png" alt="button-cancel" width="75" height="31"/></a>
			</div>
			<div class="clear"></div>
			</form>
		</div>
        </div>
        <!-- id="content-type" END ========================= --> 
</div>
<!-- END mainBlock -->