<!-- BEGIN mainBlock -->
<div style="border-bottom:solid 1px rgb(119, 97, 41);width:100%;margin: 25px 0;"></div>
<table style="margin-bottom:20px;font-size:14px;font-family:sans-serif;">
	<tr>
    	<td style="width:100%;vertical-align: top;padding-right:20px;">
        	<!--<p style="margin-bottom:20px;"><b>Booking info</b></p>-->
            <!-- <img alt="" src="{avatar}" style="margin-bottom:20px;max-height:250px;">-->
            <p style="margin:0 0 20px;"><b>Booking Info</b></p>
            <table  style="font-size:14px;font-family:sans-serif;">
                <tr>
                	<td style="width:90px;">Villa</td>
                    <td>:</td>
                    <td>{villa_name}</td>
                </tr>
                <tr><td>Check in</td><td>:</td><td>{check_in}</td></tr>
                <tr><td>Check out</td><td>:</td><td>{check_out}</td></tr>
                <tr><td>Stay</td><td>:</td><td>{night}</td></tr>
                <tr><td>Price</td><td>:</td><td>{price}</td></tr>
                {discount}
                {early_bird}
                {surecharge}    
            </table>
            
        	<p style="margin-bottom:20px;"><b>Customer Info</b></p>
            <table cellpadding="0" cellspacing="0" style="margin-bottom:20px;font-size:14px;font-family:sans-serif;">
                <tr><td style="width: 90px; height:10px; padding:2.5px;margin:0;">First Name</td><td style="padding:0px 2px;margin:0;">:</td><td style="padding:2.5px;margin:0;">{first_name}</td></tr>
                <tr><td style="padding:2.5px;margin:0;">Last Name</td><td  style="padding:0px 2px;margin:0;">:</td><td  style="padding:2.5px;margin:0;">{last_name}</td></tr>
                <tr><td style="padding:2.5px;margin:0;">Adult(s)</td><td style="padding:0px 2px;margin:0;">:</td><td style="padding:2.5px;margin:0;">{adult}</td></tr>
                <tr><td style="padding:2.5px;margin:0;">Children</td><td style="padding:0px 2px;margin:0;">:</td><td style="padding:2.5px;margin:0;">{child}</td></tr>
                <tr><td style="padding:2.5px;margin:0;">Email</td><td style="padding:0px 2px;margin:0;">:</td><td style="padding:2.5px;margin:0;">{email}</td></tr>
                <tr><td style="padding:2.5px;margin:0;">Phone</td><td style="padding:0px 2px;margin:0;">:</td><td style="padding:2.5px;margin:0;">{phone}</td></tr>
            </table>
            
            <p style="margin-bottom:20px;"><b>Special note</b></p>
            <p>{special_note}</p>
            
        </td>
        
        <td style="width:50%;vertical-align: top;"></td>
    </tr>
</table>

<div style="border: 1px dashed #A3A3A3;"></div>
<div style="text-align:right;">
	<p style="margin:20px 0 0;">Total : <b class="c000000">{total}</b></p>
    <p style="margin:0;">All tax are included</p>
    {deposite_dp}
    {deposite_fp}
</div>
{border_bottom}
<!-- END mainBlock -->
