<!-- BEGIN ecpd_Block -->
<div>
    <p>Congratulations you already have this {type_payment} to reserve a property in Villa Vedas. Here are details of the reservation.</p>
    {booking_detail}
</div>
<!-- END ecpd_Block -->
