<!-- BEGIN ewfp_Block -->
<div>
    <p style="margin:15px 0;">Dear {name},</p>
    <p style="margin:15px 0;">Greetings from Villa Vedas.</p>
    <p style="margin:15px 0;">Your payment of the balance is now due.</p>
    <p style="margin:15px 0;">Please make payment within 3 days to secure {villa_name}, ({check_in}/{check_out}). </p>
    <p style="margin:15px 0 0 0;">Please click the below link to be redirected to our secure online payment page. The link will expire after 3 
days.</p>
	<table cellpadding="0" cellspacing="0" width="600" style="padding:0 0 15px 0; margin:0;">
	<tr>
    	<td style="word-break:break-all;"><p style="margin:15px 0;"><a href="{link}" style="max-width: 600px;display: block;word-wrap: break-word; font-size:16px;font-family:'latoregular','sans-serif';">{link}</a></p></td>
    </tr>
</table>
    {best_regrads}
</div>    
<!-- END ewfp_Block -->