<!-- BEGIN best_regradsBlock -->
<p style="margin:10px 0 0; font-size:18px;font-family:'latoregular',sans-serif;">Kind Regards,</p>
<p style="margin:0;font-family:'latoregular',sans-serif;">Regan Garden</p>
<p style="margin:0 0 20px 0;font-family:'latoregular',sans-serif;">(reservations manager)</p>
<!-- END best_regradsBlock -->