<!-- BEGIN mainBlock -->
<script type="text/javascript">
	jQuery(document).ready(function(){
		var minComm = parseInt('{min_commision}');
		jQuery('[name=commision]').keyup(function(){
			var tisVal = parseInt(jQuery(this).val());
			if(tisVal<minComm){
				jQuery('.minCommNotif').fadeIn();
				jQuery('.button.dummy').css('display','inline');
				jQuery('.button.submit').css('display','none');
			}else{
				jQuery('.minCommNotif').fadeOut();
				jQuery('.button.dummy').css('display','none');
				jQuery('.button.submit').css('display','inline');
			}
		});
		
		jQuery('.button.dummy').click(function(){
			alert('please check again the form');
		});
		
		formButtons();
		{jsAction}
	});
</script>
<div id="contentWrapper">
	<div class="notifBlockSaved" style="display:none; margin-bottom:10px; padding:10px; background:#93FF93; font-size:13px; color:#000;">
			Data Saved
	</div>
	<div class="notifFailedSaved" style="display:none; margin-bottom:10px; padding:10px; background:#ffd504; font-size:13px; color:#000;">
			Data failed to saved
	</div>
	<div id="content-typeEdit">
        	<div class="headsUp">
			<h2>Rate Edit</h2>
			<form method="post" action="" id="theEditForm"  name="theEditForm" enctype="multipart/form-data">
			<input name="rate_id" id="rate_id" type="hidden" value="{rate_id}" />
			<div class="wrapper form bt-abu" style="border-bottom:solid 1px #ccc;">
				<label>Room Category</label>
                <select name="acco_type_cat_id" id="acco_type_cat_id" class="required">
	                {room_category}
                </select>
			</div>
			
            
            <div class="wrapper form" style="border-bottom:solid 1px #ccc;">
				<label class="mid-width" style="float:left">Low Season (USD)&nbsp;</label>
				<input type="text" class="text required number" id="low_season" name="low_season" value="{low_season}" style="width:100px;" /><span style="float:left; padding-top:4px;">&nbsp;/ 7+ Nights &nbsp;</span><input type="text" class="text required number" id="low_additional" name="low_additional" value="{low_additional}" style="width:100px;" />
                <div class="clear"></div>
			</div>
			<div class="wrapper form" style="border-bottom:solid 1px #ccc;">
				<label class="mid-width" style="float:left">High Season (USD)&nbsp;</label>
				<input type="text" class="text required number" id="high_season" name="high_season" value="{high_season}"  style="width:100px;" /><span style="float:left; padding-top:4px;"> &nbsp;/ 7+ Nights &nbsp;</span><input type="text" class="text required number" id="high_additional" name="high_additional" value="{high_additional}" style="width:100px;" />
                <div class="clear"></div>
			</div>
            <div class="wrapper form" style="border-bottom:solid 1px #ccc;">
				<label  class="mid-width" style="float:left">Peak Season (USD)&nbsp;</label>
				<input type="text" class="text required number" id="peak_season" name="peak_season" value="{peak_season}"  style="width:100px;" /><span style="float:left; padding-top:4px;">&nbsp;/ 7+ Nights &nbsp;</span><input type="text" class="text required number" id="peak_additional" name="peak_additional" value="{peak_additional}" style="width:100px;" />
                <div class="clear"></div>
			</div>
            
            
            
			<div class="wrapper form" style="border-bottom:solid 1px #ccc; display: none;">
				<label>Allotment</label>
				<input type="text" class="text required digits" id="allotment" name="allotment" value="{allotment}" style="width:80px;" />
			</div>
			<div class="wrapper form" style="border-bottom:solid 1px #ccc;  display: none;">
				<label>Commission</label>
				<input type="text" class="text required number" id="commision" name="commision" value="{commision}" style="width:50px;" />
                <span style="padding:2px 0 0 5px;"> % (min. commision is {min_commision}%)</span> 
                <span style="padding:2px 0 0 5px; color:#a00; font-size:10px; font-weight:bold; display:none;" class="minCommNotif">please set the commision is equal or larger than the min. commision</span>
			</div>
			<div class="wrapper form" style="border-bottom:solid 1px #ccc;  display: none;">
				<label>Breakfast</label>
				<input name="breakfast" id="breakfast" value="0" {check0} class="inputbox" size="1" type="radio">
				<label for="breakfast0">No</label>
				<input name="breakfast" id="breakfast1" value="1" {check1} class="inputbox" size="1" type="radio">
				<label for="breakfast1">Yes</label>
			</div>
			<div class="bottonContainer">
				<a href="#" class="button dummy" style="display:none;"><img src="{http}{template_url}/img/button-save.png" alt="button-save" width="75" height="31"/></a>
                <a href="#" class="button submit"><img src="{http}{template_url}/img/button-save.png" alt="button-save" width="75" height="31"/></a>
				<a href="{http}{supplier_site_url}/rate/" class="button"><img src="{http}{template_url}/img/button-cancel.png" alt="button-cancel" width="75" height="31"/></a>
			</div>
			<div class="clear"></div>
			</form>
		</div>
        </div>
        <!-- id="content-type" END ========================= --> 
</div>
<!-- END mainBlock -->