<!-- BEGIN Bratesreservations_block -->
<div class="content-page-mask">
<span class="loading"></span>
</div>
<div class="content content-reservation-form">
    <div class="content-right r2nd">
        {contentright}
    </div>
    <div class="content-left">
        {navigation}
        <div class="block-mini">
            <div class="default-skin scrollable-content-left" id="">
                <h2 class="title">{title}</h2>
                {description}
                {categories}
                <input type="button" id="btn_contactUs_triger" class="submit reservation" value="Reservation">
            </div>
        </div>
    </div>
    <div class="clear"></div>                
</div>
<!-- END Bratesreservations_block -->