<!-- BEGIN Bmediahub_block -->
<div class="content-page-mask">
<span class="loading"></span>
</div>
            	<div class="content">
                	<div class="content-full blog">
                		{navigation}
                		<div class="blog-img">
                		{image}
                		</div>
                        <div class="block-mini">
                        	
                            	<h2 class="title {like_list_blog}">{title}</h2>
								<div class="content-blog">
									<div class="left">
										{content}                                        
									</div>
									<div class="right">
										<h2>CATEGORY</h2>
										{categories}
										<div class="searchBlock detail">
							            	<form action="{url_search}" method="post" id="">
								            	<input type="text" value="{sKey}" name="tKey">
								            	<input type="submit" value="search" name="sKey">
								            	<div class="clear"></div>
							            	</form>
							            </div>
									</div>
                                    <div class="clear"></div>
								</div>
							
							
                        </div>
                	</div>
            	</div>
<!-- END Bmediahub_block -->