<!-- BEGIN Bmediahub_block -->
<div class="content-page-mask">
<span class="loading"></span>
</div>
            	<div class="content">
                	<div class="content-full">
                		{navigation}
                        <div class="block-mini">
                        	<div class="default-skin  custom-scrollbar" id="default-skin-demo">
                            	<h2 class="title">{title}</h2>
								
								<div class="social-media facebook">
									<iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2FSukhavatibali&amp;width=567&amp;height=395&amp;colorscheme=light&amp;show_faces=false&amp;header=false&amp;stream=true&amp;show_border=false&amp;appId=1397202217201160" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:567px; height:340px;" allowTransparency="true"></iframe>
								</div>
								<div class="social-media instagram">
									<!-- SnapWidget 
									<iframe src="http://snapwidget.com/in/?u=c3VraGF2YXRpX2JhbGl8aW58MTg1fDN8M3x8bm98NXxub25lfG9uU3RhcnR8eWVz&v=22114" title="Instagram Widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; height:365px"></iframe>
									-->
									<!-- SnapWidget -->
									<!-- SnapWidget -->
<iframe src="http://snapwidget.com/in/?u=c3VraGF2YXRpX2JhbGl8aW58MTYwfDN8M3x8bm98MTV8bm9uZXxvblN0YXJ0fHllcw==&v=22114" title="Instagram Widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:525px; height:525px"></iframe>
									<!-- 
									<iframe id="iframecode" scrolling="no" frameborder="0" width="536" src="http://instaembedder.com/gallery.php?username=sukhavati_bali&amp;hashtag=&amp;width=150&amp;cols=3&amp;frame=1&amp;image_border=10&amp;rows=4&amp;cell_margin=10&amp;display_username=0&amp;likes=1&amp;comments=1&amp;date=1&amp;link=1&amp;caption=0&amp;color=gray" style="height: 855px;" onload=""></iframe>
									-->
								</div>
								 
								
								
                            </div>
                        </div>
                	</div>
            	</div>
<!-- END Bmediahub_block -->