<!-- BEGIN Baboutus_block -->
<div class="content-page-mask">
<span class="loading"></span>
</div>
            	<div class="content">
            		<div class="content-right">
                    	{image}
                    </div>
                	<div class="content-left">
                		{navigation}
                        <div class="block-mini">
                        	<div class="default-skin  custom-scrollbar" id="default-skin-demo">
                            	<h2 class="title">{title}</h2>
								{description}
								{categories}
                            </div>
                        </div>
                    </div>
            	</div>
<!-- END Baboutus_block -->