<!-- BEGIN Bform_reservation_block -->
<script type="text/javascript">
function trim(str) {
		var	str = str.replace(/^\s\s*/, ''),
			ws = /\s/,
			i = str.length;
		while (ws.test(str.charAt(--i)));
		return str.slice(0, i + 1);
	}
</script>

<style>
	.content-right{
		background: #DFDFD0;
	}
	.l_5{
		width: 18%;
		margin-right: 2%;
	}
	.l_2{
		width: 47%;
		margin-right: 4%;
	}
	.l_3{
		width: 30%;
		margin-right: 4%;
	}
	.l_m{
		width: 98%;
	}
	.form-content input[type="button"].reservation,
	.form-content input[type="submit"]{
	    float: right;
	    margin-right: 14px;
	    margin-top: 23px;
	}
	img.chapta{
		float: left;
	    margin-right: 10px;
	    margin-top: 10px;
	    position: relative;
	    width: 93px;
	}
	
	/***************************min 1024px********************************/
	@media screen and (max-width: 1024px) {
		.custom-scrollbar,
		.block-mini{
	    	height: 455px;
		}
		
		.reservation-mobile .block-mini{height:auto !important;}
	}
	
	/***************************min 960px********************************/
	@media screen and (max-width: 960px) {
		.custom-scrollbar,
		.block-mini{
	    	height: auto;
		}
		.content-right.r2nd{
			height: 0;
	    	padding: 0;
		}
		
	}
	
	
</style>
	<div class="form">
   		<div class="form-content">
	   		<div class="default-skin reservation-form-custom-scrollbar" id="">
            	<input type="hidden" id="type" name="site_url" value="http://{site_url}">
                {step_reservation}
	   		</div>
   		</div>
   	</div>
<!-- END Bform_reservation_block -->