<!-- BEGIN Bmail -->
<p>Inquiry for {program} from :</p>
<table>
	<tr>
    <td width="90">Name</td><td>:</td><td>{name}</td>
    </tr>
    <tr>
        <td>Email</td><td>:</td><td>{email}</td>
    </tr>
    
    <tr>
        <td>Country </td><td>:</td><td>{country}</td>
    </tr>
    <tr>
        <td>Phone</td><td>:</td><td>{phone}</td>
    </tr>
    <tr>
        <td>Arrival Date</td><td>:</td><td>{arrival_date}</td>
    </tr>
    <tr>
        <td>Departure Date</td><td>:</td><td>{departure_date}</td>
    </tr>
    <tr>
        <td>No. of Guest</td><td>:</td><td>{guest}</td>
    </tr>
    
    
    <tr>
        <td style="vertical-align: top;">Messages</td>
        <td style="vertical-align: top;">:</td>
        <td>{message}</td>
    </tr>
</table>
<!-- END Bmail -->