<!-- BEGIN the_email_block -->
<div style="width:800px;">
	<p>Dear {name},</p>
    <br/>
    <p>Thank you, we have received your deposit payment for the booking below:</p>
	<p style="display:none;">Thank you for doing the upfront payment. We will wait for the rest of the reservation payment before you check-in. Here are the details of your prepayment.</p>
	<div class="detail" style="">
    	<h2 style="font-size:20px;">Reservation Detail</h2>
    	<div id="book-detail" style="margin-bottom:20px;">
            <div></div>
            <div class="half guest-detail"  style="float: left; width:50%">
            	<p style="margin: 0 0 5px 0;height: 20px;">
                    <span style="width: 150px;float: left;">Booking ID</span>
                    <span style="width:20px;float: left;">:</span>
                    <span style="float: left;">{book_id}</span>
                   
                </p>
                <p style="margin: 0 0 5px 0;height: 20px;">
                    <span style="width: 150px;float: left;">Booking Date</span>
                    <span style="width:20px;float: left;">:</span>
                    <span style="float: left;">{book_date}</span>
                   
                </p>
            </div>
            <div style="clear:both;"></div>
        </div>
                
        <table id="booking-for"  class="table-history" style="border-spacing: 0px;width: 100%;margin-bottom: 20px;border-collapse: collapse;">
            <tr style="background: #ccc;">
                <td style="padding: 10px;border: solid 1px #bbb;width:70%;"><b>Villa</b></td>
                <td style="padding: 10px;border: solid 1px #bbb;width:15%; text-align:center;"><b>Night</b></td>
                <td style="padding: 10px;border: solid 1px #bbb;width:15%; text-align:center;"><b>Total (USD)</b></td>
            </tr>
            
            <!-- BEGIN list_book_block -->
            <tr>
                <td style="padding: 10px;border: solid 1px #bbb;">
                    <span>
                       {villa_name}{desc_disc}
                           <br>
                           <b>Reservation Date: {arrival_date} - {derpature_date}	</b>
                    </span>
                </td>
                <td style="padding: 10px;border: solid 1px #bbb; text-align:center;">{night}</td>
                <td style="padding: 10px;border: solid 1px #bbb; text-align:center;">{total}</td>
            </tr>
            <!-- END list_book_block -->
            <tr>
                <td class="text-right" colspan="2"  style="padding: 10px;border: solid 1px #bbb;"><b>Total</b></td>
                <td  style="padding: 10px;border: solid 1px #bbb; text-align:center;">{sub_total}</td>
            </tr>
            {surcharge_temp}
             <tr>
                <td class="text-right" colspan="2" style="padding: 10px;border: solid 1px #bbb;"><b>Deposit Paid</b></td>
                <td style="padding: 10px;border: solid 1px #bbb; text-align:center;">{downpayment}</td>
            </tr>        
        </table>
        
        <table style="border-spacing: 0px;border: solid 1px #bbb;width: 100%;margin-top:20px;">
            <tr style="background:#ccc">
                <td colspan="2" style="font-size: 16px; font-weight:bold;padding: 10px;border-bottom: solid 1px #bbb;">Booking Details</td>
            </tr>
            <tr style="border-top:solid 1px #bbb;">
                <td style="width:30%;padding :10px; border-right:solid 1px #bbb;">Name</td>
                <td style="width:70%;padding :10px;">{name}</td>
            </tr>
            <tr>
                <td style="width:30%;padding :10px; border-right:solid 1px #bbb; border-top:solid 1px #bbb;">Email</td>
                <td style="width:70%;padding :10px; border-top:solid 1px #bbb;">{email}</td>
            </tr>
            <tr>
                <td style="width:30%;padding :10px; border-right:solid 1px #bbb; border-top:solid 1px #bbb;">Country</td>
                <td style="width:70%;padding :10px; border-top:solid 1px #bbb;">{country}</td>
            </tr>
            <tr>
                <td style="width:30%;padding :10px; border-right:solid 1px #bbb; border-top:solid 1px #bbb;">Phone</td>
                <td style="width:70%;padding :10px; border-top:solid 1px #bbb;">{phone}</td>
            </tr>
            <tr>
                <td style="width:30%;padding :10px; border-right:solid 1px #bbb; border-top:solid 1px #bbb;">No. of Guest</td>
                <td style="width:70%;padding :10px; border-top:solid 1px #bbb;">{guest}</td>
            </tr>
            <tr>
                <td style="width:30%;padding :10px; border-right:solid 1px #bbb; border-top:solid 1px #bbb;">Special Requirements</td>
                <td style="width:70%;padding :10px; border-top:solid 1px #bbb;">{message}</td>
            </tr>
            <tr>
                <td style="width:30%;padding :10px; border-right:solid 1px #bbb; border-top:solid 1px #bbb;">Additional Service</td>
                <td style="width:70%;padding :10px; border-top:solid 1px #bbb;">{additional_service}</td>
            </tr>
        </table>
        
        <div class="detail" style="">
    	<h2 style="font-size:20px;">Paypal Detail</h2>
    	<div id="book-detail" style="margin-bottom:20px;">
            <div></div>
            <div class="half guest-detail"  style="float: left; width:50%">
            	<p style="margin: 0 0 5px 0;height: 20px;">
                    <span style="width: 150px;float: left;">Paypal ID</span>
                    <span style="width:20px;float: left;">:</span>
                    <span style="float: left;">{paypal_id}</span>
                   
                </p>
                <p style="margin: 0 0 5px 0;height: 20px;">
                    <span style="width: 150px;float: left;">Receiver Email</span>
                    <span style="width:20px;float: left;">:</span>
                    <span style="float: left;">{receiver_email}</span>
                   
                </p>
                <p style="margin: 0 0 5px 0;height: 20px;">
                    <span style="width: 150px;float: left;">Payment Date</span>
                    <span style="width:20px;float: left;">:</span>
                    <span>{payment_date}</span>
                   
                 </p>   
            </div>
            <div class="half guest-detail"  style="float: left; width:50%">
            	
            </div>
            <div style="clear:both;"></div>
        </div>
        <div>
        

            <p style="margin:0 0 25px 0;">Thank you</p>
            <p style="margin:0 0 5px 0;">
            <img style="width: 150px;margin:0 0 5px 0;" src="{logo_sukhavati}" /></p>
            <p style="margin:0 0 5px 0;">Aus Phone: {phone_sukhavati}</p>
            <p style="margin:0 0 5px 0;">Bali Phone: {phone_sukhavati_bali}</p>
            <p style="margin:0 0 5px 0;">Email: <a style="color:#D83400;" href="mailto:{email_sukhavati}">{email_sukhavati}</a></p>            
         </div>
         <div><p style="margin:0 0 20px 0; display:none;"><a style="color:#D83400;" href="{link_check_reservation}">Continue with Full Payment</a></p></div>
    </div><!--end Detail -->    
</div>
<!-- END the_email_block -->
