<!-- BEGIN the_email_block -->
<div style="width:800px;">
	<p style="margin: 0 0 5px 0;">Dear {name},</p>
   	<p style="margin: 0 0 5px 0;">We have received the final payment for your booking, please find below the receipt:</p>
	<div class="detail" style="">
    	<h2 style="font-size:20px;">Reservation Detail</h2>
    	<div id="book-detail" style="margin-bottom:20px;">
            <!--<p><h2>Booking Code: {book_id}</h2></p>-->
            <div></div>
            <div class="half guest-detail"  style="float: left; width:50%">
            	<p style="margin: 0 0 5px 0;height: 20px;">
                    <span style="width: 150px;float: left;">Booking ID</span>
                    <span style="width:20px;float: left;">:</span>
                    <span style="float: left;">{book_id}</span>
                   
                </p>
                <p style="margin: 0 0 5px 0;height: 20px;">
                    <span style="width: 150px;float: left;">Booking Date</span>
                    <span style="width:20px;float: left;">:</span>
                    <span style="float: left;">{book_date}</span>
                   
                </p>
                <p style="margin: 0 0 5px 0;height: 20px;">
                    <span style="width: 150px;float: left;">Name</span>
                    <span style="width:20px;float: left;">:</span>
                    <span>{name}</span>
                   
                 </p>   
                <p style="margin: 0 0 5px 0;height: 20px;">
                    <span style="width: 150px;float: left;">Phone</span>
                    <span style="width:20px;float: left;">:</span>
                    <span style="float: left;">{phone}</span>
                   
                </p>
            </div>
            <div class="half guest-detail"  style="float: left; width:50%">
            	<p style="margin: 0 0 5px 0;height: 20px;">
                    <span style="width: 150px;float: left;">Email</span>
                    <span style="width:20px;float: left;">:</span>
                    <span style="float: left;">{email}</span>
                   
                </p>
                <p style="margin: 0 0 5px 0;height: 20px;">
                    <span style="width: 150px;float: left;">Country</span>
                    <span style="width:20px;float: left;">:</span>
                    <span style="float: left;">{country}</span>
                   
                 </p>   
                <p style="margin: 0 0 5px 0;height: 20px;">
                    <span style="width: 150px;float: left;">Person</span>
                    <span style="width:20px;float: left;">:</span>
                    <span style="float: left;">{guest}</span>
                   
                </p>
            </div>
            <div style="clear:both;"></div>
        </div>
                
        <table id="booking-for"  class="table-history" style="border-spacing: 0px;width: 100%;margin-bottom: 20px;border-collapse: collapse;">
            <tr style="background: #ccc;">
                <td style="padding: 10px;border: solid 1px #bbb;width:70%;"><b>Villa</b></td>
                <td style="padding: 10px;border: solid 1px #bbb;width:15%;"><b>Night</b></td>
                <td style="padding: 10px;border: solid 1px #bbb;width:15%;"><b>Total (USD)</b></td>
            </tr>
            
            <!-- BEGIN list_book_block -->
            <tr>
                <td style="padding: 10px;border: solid 1px #bbb;">
                    <span>
                       {villa_name}
                           <br>
                           <b>Reservation Date: {arrival_date} - {derpature_date}	</b>
                    </span>
                </td>
                <td style="padding: 10px;border: solid 1px #bbb;">{night}</td>
                <td style="padding: 10px;border: solid 1px #bbb;">{total}</td>
            </tr>
            <!-- END list_book_block -->
            <tr>
                <td class="text-right" colspan="2"  style="padding: 10px;border: solid 1px #bbb;text-align: right;"><b>Grand Total</b></td>
                <td  style="padding: 10px;border: solid 1px #bbb;">{grand_total}</td>
            </tr>
            <tr>
                <td class="text-right" colspan="2" style="padding: 10px;border: solid 1px #bbb;text-align: right;"><b>Deposit ({down_payment_presentase})</b></td>
                <td style="padding: 10px;border: solid 1px #bbb;">{downpayment}</td>
            </tr>
            <tr>
                <td class="text-right" colspan="2"  style="padding: 10px;border: solid 1px #bbb;text-align: right;"><b>Full Payment</b></td>
                <td  style="padding: 10px;border: solid 1px #bbb;">{full_payment}</td>
            </tr> 
            <tr>
                <td class="text-right" colspan="2"  style="padding: 10px;border: solid 1px #bbb;text-align: right;"><b>Rest Payment</b></td>
                <td  style="padding: 10px;border: solid 1px #bbb;">{rest_payment}</td>
            </tr>          
        </table>
        
        <p style="margin:0 0 25px 0;">We will email the booking voucher in pdf format to you in the next email. Please print the voucher and present it on your arrival.</p>

		<p style="margin:0 0 25px 0;">Thank you</p>

        <p style="margin:0 0 5px 0;">Sukhavati</p>
        <p style="margin:0 0 5px 0;">Aus Phone: {phone_sukhavati}</p>
        <p style="margin:0 0 5px 0;">Bali Phone: {phone_sukhavati_bali}</p>
        <p style="margin:0 0 5px 0;">Email: {email_sukhavati}</p>
        
        
        
       <!-- <div class="detail" style="">
    	<h2 style="font-size:20px;">Paypal Detail</h2>
    	<div id="book-detail" style="margin-bottom:20px;">
            <div></div>
            <div class="half guest-detail"  style="float: left; width:50%">
            	<p style="margin: 0 0 5px 0;height: 20px;">
                    <span style="width: 150px;float: left;">Paypal ID</span>
                    <span style="width:20px;float: left;">:</span>
                    <span style="float: left;">{paypal_id}</span>
                   
                </p>
                <p style="margin: 0 0 5px 0;height: 20px;">
                    <span style="width: 150px;float: left;">Receiver Email</span>
                    <span style="width:20px;float: left;">:</span>
                    <span style="float: left;">{receiver_email}</span>
                   
                </p>
                <p style="margin: 0 0 5px 0;height: 20px;">
                    <span style="width: 150px;float: left;">Payment Date</span>
                    <span style="width:20px;float: left;">:</span>
                    <span>{payment_date}</span>
                 </p>   
            </div>
            <div class="half guest-detail"  style="float: left; width:50%">
            	
            </div>
            <div style="clear:both;"></div>
        </div>-->
    </div><!--end Detail -->    
</div>
<!-- END the_email_block -->
