<!-- BEGIN list_block -->
    <!-- BEGIN booking_block -->
    <div class="wrapper form table list-reservation-history old-data all-mode">
        <div style="float: left;" class="block_action" rel='{check}'>
            <label class="first-lbl">{id_booking}</label>
            <br style="clear: both;" />
            <span class="span_action">
                <a class="button a_action_{check} a_action" style="display: none;" name="detail-booking" rel="{check}"></a> 
                <a class="button a_action_{check} a_action" style="display: none;" name="delete-booking" rel="{check}"></a>
                <!--<a class="button a_action_{check} a_action" style="display: none;" name="cancel-booking" rel="{check}"></a> -->
               
            </span>
        </div>
        <div  class="det-book">
            <label>Arrival: {arrival_date}  <br /> Derpature: {derpature_date} </label>
			<!--<label>-->{villa_label}<!--</label>-->
            <label>{night}</label>
            <label>{order_by}</label>
            <label class="lrh_{check}">{status}</label>
            <label>{total}</label>
            
            
        </div>
    </div>
    <!-- END booking_block -->
<!-- END list_block -->