<!-- BEGIN mainBlock -->
<div id="contentWrapper">
	<div id="content-type" class="villa_reservation">
        <div class="headsUp custom">
			<div class="overlay-calendar"></div>
            <div class="clear"></div>
            <h2>Villa Reservation</h2>
            <div class="the_header" style="margin-top:-1px; border:solid 1px #ccc; background:#f5f5f5;">
                <div class="left">
                    <select name="villa-id" class="max-200">
                      {roomTypeOpt}
                    </select>
                </div>
                <div class="right navigation">
                	<span>Search: </span>
                    <select class="chzn-select" id="search_type">
                    	<option value="by_month">By Month</option>
                    	<option value="by_year">By Year</option>
                    </select>
                
                    <span class='fc-text-arrow fc-button-prev' id="the_prev_calendar"></span>
                    <select class="chzn-select" id="the_months">
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                    <select name="select_year"></select>
                    <select class="chzn-select" id="the_status">
                        <option value="all">All Status</option>
                        <option value="1">Check Availability</option>
                        <option value="2">Awaiting Down Payment</option>
                        <option value="3">Awaiting Full Payment/Awaiting Balance Payment</option>
                        <option value="4">Confirm</option>
                        <option value="5">Uncofirm</option>
                        <option value="0">Canceled</option>
                    </select>
                    
                    
                    <span  id="the_next_calendar" class='fc-text-arrow fc-button-next-custom'></span>
                </div> 
                <div class="clear"></div>
            </div>
            
            <div class="wrapper form table list-reservation-history header bg-abu-list all-mode" id="accom-book-history">
                <label class="first-lbl"><strong>ID Booking</strong></label>
                <div class="det-book">
                    <label><strong>Period of stay</strong></label>
                    <label><strong>Villa</strong></label>
                    <label><strong>Nights</strong></label>
                    <label><strong>Order by</strong></label>
					<label><strong>Status</strong></label>
                    <label><strong>Total</strong></label>
                </div>
            </div>
            <!-- BEGIN viewContent -->
            {list_reservation_history_all}
            <!--<div class="wrapper form table list-reservation-history center old-data">
            	Please select villa first...
            </div>-->
            
              <!--<div class="wrapper form table list-reservation-history">
                  <div style="float: left;" class="block_action" rel='{check}'>
                      <label class="first-lbl">1398009600{id_booking}</label>
                      <br style="clear: both;" />
                      <span style="float: left; margin-top: 5px; height: 12px;">
                          <a href="{http}{supplier_site_url}/program-package-edit/{check}.html" class="button a_action_{check} a_action" style="display: none;">edit</a>

                          <a href="{http}{supplier_site_url}/program-package-delete/{check}.html" class="button a_action_{check} a_action" style="display: none;">delete</a>
                      </span>
                  </div>
                  <div  class="det-book">
                      <label>Arrival: 25 Nov 2013  <br /> Derpature: 27 Nov 2013{period_stay}</label>
                      <label>3{night}</label>
                      <label>Adi Juliartha(Administrator){order_by}</label>
                      <label>1200{total}</label>
                  </div>
              </div>
              
              <div class="wrapper form table list-reservation-history">
                  <div style="float: left;" class="block_action" rel='{check}'>
                      <label class="first-lbl">1398009610{id_booking}</label>
                      <br style="clear: both;" />
                      <span style="float: left; margin-top: 5px; height: 12px;">
                          <a href="{http}{supplier_site_url}/program-package-edit/{check}.html" class="button a_action_{check} a_action" style="display: none;">edit</a>
                          <a href="{http}{supplier_site_url}/program-package-delete/{check}.html" class="button a_action_{check} a_action" style="display: none;">delete</a>
                      </span>
                  </div>
                  <div  class="det-book">
                      <label>Arrival: 26 Nov 2013  <br /> Derpature: 27 Nov 2013{period_stay}</label>
                      <label>3{night}</label>
                      <label>Ni Nyoman Murdia{order_by}</label>
                      <label>2000{total}</label>
                  </div>
              </div>-->
              <!-- END viewContent -->
             
            
              
			  <div class="wrapper form table grand-total bg-abu-list">
              	<label><strong>Grand Total</strong></label>
                <label id="grand-total-label">{grand_total}</label>
              </div>	
              {pagging_list}
                <!--<div class="wrapper form table list-reservation-history cont-pagging">
 					<ul class="list_pagging">
                    	<li rel="1">1</li>
                        <li rel="2">2</li>
                        <li rel="3">3</li>
                    </ul>             
              </div>-->
              
                          
              <div class="clear"></div>	
			  <input type="hidden" name="site_url" value="http://{site_url}" />	            
        </div>
    </div>
</div>
<div class="just-overlay"></div>
<div class="detail-reservation" id="show-detail">
	<div class="loader-blue abu-bg"></div>
</div>


<div id="message-are-you-sure">
	<div class="text">Are you sure to delete book: <span class="book-id"></span> ?</div>
	<input type="button" value="Yes" name="yes-delete" /><input type="button" value="No" name="no-delete" />
</div>


<div class="detail-reservation" style="display:none;">
	<div class="header">
    	<div class="left"><h2>Booking ID : 1398397517</h2></div>
    	<div class="right">
        	<div class="booking-status">		
                <div class="waiting-payment-notice" id="booking-status">
                    <span class="booking-status-icon"></span>
                    <div id="booking-status-message">Waiting Payment</div>
                </div>
                <ul style="display: none;">
                    <li class="check-availability" >
                        <span></span>
                        <div>Check Availability</div>
                    </li>
                    <li class="waiting-dp-payment" >
                        <span></span>
                        <div>Awaiting Down Payment</div>
                    </li>
                    <li class="waiting-full-payment" >
                        <span></span>
                        <div>Awaiting Full Payment/Balance Payment</div>
                    </li>
                    <li class="unconfirmed">
                        <span></span>
                        <div>Unconfirmed</div>
                    </li>
                    <li class="confirmed">
                        <span></span>
                        <div>Confirmed</div>
                    </li>
                    <li class="canceled">
                        <span></span>
                        <div>Canceled</div>
                    </li>  
                </ul>
        	</div>
    	</div>
        <div class="clear"></div>
    </div><!-- end heder -->
    
    <h2>Booking For</h2>
    <div class="the-detail header-now">
    	<div class="villa">Villa</div>
        <div class="night">Night</div>
        <div class="total">Total</div>
        <div class="clear"></div>
    </div>
    <div class="the-detail bt-none">
    	<div class="villa">
        	<span>
                   White Tara - Living Villas, Double Occupancy
                   <br>
                   <b>Reservation Date: 28 Apr 2014 - 29 Apr 2014	</b>
            </span>
        </div>
        <div class="night">2</div>
        <div class="total">2100</div>
        <div class="clear"></div>
    
    </div>
    <div class="the-detail bt-none">
    	<div class="villa">
        	<span>
                   Amitabhas - Living Villas, Double Occupancy
                   <br>
                   <b>Reservation Date: 28 Apr 2014 - 29 Apr 2014	</b>
            </span>
        </div>
        <div class="night">2</div>
        <div class="total">2100</div>
        <div class="clear"></div>
    
    </div>
    <div class="desc_gt">
    	<div>Grand Total</div>
     	<div>4200</div>
        <div class="clear"></div>
    </div>
    
    
    <h2>Booking Details</h2>
    <table id="table-detail-booking">
    	<tr>
        	<td>Name</td>
            <td>Email</td>
            <td>Country</td>
            <td>Phone</td>
            <td>Guest</td>
        </tr>
        
        <tr>
        	<td>I Gde Coba Booking Double</td>
            <td>adibookingdouble@gmail.com</td>
            <td>hihihi</td>
            <td>081 916716879</td>
            <td>10</td>
        </tr>
    </table>
    
    <h2>Message</h2>
    <div class="message">
    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
    
    <input type="hidden" name="booking_status" />
    <input type="button" id="change-booking-status" value="Update Current Status" class="just-button" />
</div>


<script>
jQuery("#search_type").change(function(){
	var type = jQuery(this).val();
	if(type=='by_year')jQuery("#the_months").fadeOut(70);
	else jQuery("#the_months").fadeIn(70);
});

jQuery("[name=villa-id],#search_type,#the_months,[name=select_year],#the_status").change(function(){
	get_booking_history(1);
});





ShowEditDelete();
function get_booking_history(page){
	var villa_id 	= jQuery("[name=villa-id]").val();
	var type_search	= jQuery("#search_type").val();
	var month	 	= jQuery("#the_months").val();
	var year	 	= jQuery("[name=select_year]").val();
	var status      = jQuery("#the_status").val();
	
	if(villa_id !=''){
		jQuery(".overlay-calendar").fadeIn();
		var url  = jQuery("[name=site_url]").val()+'/villa-reservation/';
		var data = new Object;
			data.act = 'use-ajax';
			data.do_act = 'get-list-booking-history';
			data.type_search = type_search;
			data.villa_id = villa_id;
			data.month = month;
			data.year = year;
			data.status = status;
			data.page = page;
		jQuery.post(url,data,function(response){
			jQuery(".old-data").remove();
			result = jQuery.parseJSON(response);
			jQuery(".list-reservation-history.header").after(result.temp);
			//if(villa_id=='all')jQuery(".old-data, .list-reservation-history.header, .table.grand-total").addClass('all-mode');
			jQuery(".old-data, .list-reservation-history.header, .table.grand-total").addClass('all-mode');
			//else jQuery(".old-data, .list-reservation-history.header, .table.grand-total").removeClass('all-mode');
			jQuery("#grand-total-label").text(result.grand_total);
			jQuery("div.wrapper.form.table.grand-total").after(result.pagging);
			
			ShowEditDelete();
			bind_detail_event();
			bind_pagging();
			jQuery(".overlay-calendar").fadeOut();
		});	
	}
	
	
}


set_select_month_now()
function set_select_month_now(){
	var d = new Date();
	var m = d.getMonth() + 1;
	jQuery("#the_months").val(m);
}
bind_pagging();
function bind_pagging(){
	jQuery("ul.list_pagging li").click(function(){
		if(!jQuery(this).hasClass('selected')){
			var page = jQuery(this).attr("rel");
			get_booking_history(page);	
		}	
	});	
}
bind_detail_event();
function bind_detail_event(){
	jQuery("[name=detail-booking]").unbind();
	jQuery("[name=detail-booking]").click(function(){
		var book_id = jQuery(this).attr("rel");
		get_detail_history(book_id);
	});
	
	jQuery('.just-overlay').click(function(){
		jQuery(".just-overlay, #show-detail, .loader-blue.abu-bg, #message-are-you-sure").fadeOut();
	});
	
	
	jQuery('[name=delete-booking]').click(function(){
		var book_id  = jQuery(this).attr('rel');
		jQuery('#message-are-you-sure input[type="button"]:nth-child(2)').attr('rel',book_id);
		jQuery('#message-are-you-sure .book-id').text(book_id);
		jQuery('#message-are-you-sure,.just-overlay').fadeIn(80);
	});
	
	
	jQuery('[name=yes-delete]').click(function(){
		var book_id = jQuery(this).attr('rel');
		jQuery(".just-overlay, #message-are-you-sure").fadeOut(80);
		jQuery('.overlay-calendar').fadeIn(80);	
		if(book_id!=''){
			jQuery(".mini_box").fadeOut();
			var url  = jQuery("[name=site_url]").val()+'/villa-reservation/';
			var book_id  = jQuery(this).attr('rel');
			var data = new Object;
				data.act = 'use-ajax';
				data.do_act = 'change-status-reservation-and-detail';
				data.book_id = book_id;
				data.status_id = 10;
			//console.log(data);	
			jQuery.post(url,data,function(response){
				var result = jQuery.parseJSON(response);
				if(result.process=='success'){
					jQuery('.list-reservation-history').each(function(){
						var rel = jQuery(this).find('.block_action').attr('rel');
						if(rel==book_id){
							jQuery(this).fadeOut(80,function(){
								jQuery(this).remove();
								jQuery('#message-are-you-sure .book-id').text('');
								jQuery('.overlay-calendar').fadeOut(80);	
							});	
						}			
					});	
				}else{
					alert('delete process is failed. Please confirm to admin.');
				}
				jQuery(".just-overlay").fadeOut(500);
			});
		}
	});
	
	jQuery('[name=no-delete]').click(function(){
		jQuery(".just-overlay, #message-are-you-sure").fadeOut(80);
	});
	
	
}

function get_detail_history(book_id){
	jQuery(".old-history").remove();
	jQuery(".just-overlay, #show-detail, .loader-blue.abu-bg").fadeIn();
	
	var url = jQuery("[name=site_url]").val()+'/villa-reservation/'
	var data 			= new Object();
		data.act		= 'use-ajax';
		data.do_act 	= 'get-single-detail-booking-history';
		data.book_id	= book_id;
		
	jQuery.post(url,data,function(response){
		var result = jQuery.parseJSON(response);
		if(result.process=='success'){
			jQuery("#show-detail .loader-blue.abu-bg").after(result.data);
			jQuery(".loader-blue.abu-bg").fadeOut();
			bind_button_status(result.status,result.deposit);
		}else{	}	
	});	

}

function bind_button_status(status,deposit){
	jQuery('.booking-status').click(function(){
		var status = jQuery("[name=old_booking_status]").val();
		
		var selector = jQuery(this).find('ul');
		var cls = jQuery('#booking-status',this).attr('class').replace('-notice','');
		if(selector.is(':hidden') && status!=0){
			selector.find('li').css('display','block');
			selector.find('li.'+cls).css('display','none');
			selector.slideDown(200);
		}else selector.slideUp(200);	
		
	});
	  
	jQuery('.booking-status ul li').click(function(){
		var cls = jQuery(this).attr('class');
		var text = 'Unconfirmed';
		var book_stat = '4';

		if(cls=='canceled'){ text = 'Canceled'; book_stat = 0}
		else if(cls=='check-availability'){ text = 'Check availability'; book_stat = 1}
		else if(cls=='waiting-dp-payment'){ text = 'Awaiting Down Payment'; book_stat = 2}
		else if(cls=='waiting-full-payment'){ text = 'Awaiting Full Payment'; book_stat = 3}
		else if(cls=='waiting-balance-payment'){ text = 'Awaiting Balance Payment'; book_stat = 3}
		else if(cls=='confirmed'){ text = 'Confirmed'; book_stat = 4}
		else if(cls=='unconfirmed'){ text = 'Unconfirmed'; book_stat = 5}
		else if(cls=='receive-dp-payment'){ text = 'Receive Down Payment'; book_stat = 6}
		
		jQuery('#booking-status').removeClass().addClass(cls+'-notice');
		jQuery('#booking-status-message').text(text);
		jQuery('[name=booking_status]').val(book_stat);
	});
	//console.log(status);
	
	var text = 'Unconfirmed';
	if (status==1) {jQuery("ul li.check-availability").fadeOut();text = 'Check Availability';cls = 'check-availability'}
	if (status==2) {jQuery("ul li.waiting-dp-payment").fadeOut();text = 'Awaiting Down Payment';cls = 'waiting-dp-payment'}
	if (status==3) {
		if(deposit==100){jQuery("ul li.waiting-full-payment").fadeOut();text = 'Awaiting Full Payment';	cls = 'waiting-full-payment';}
		else{jQuery("ul li.waiting-balance-payment").fadeOut();text = 'Awaiting Balance Payment';cls = 'waiting-balance-payment';}
	}
	if (status==4) {jQuery("ul li.confirmed").fadeOut();text = 'Confirmed';cls = 'confirmed'}
	if (status==5) {jQuery("ul li.unconfirmed").fadeOut();text = 'Unconfirmed';cls = 'unconfirmed'}
	if (status==6) {jQuery("ul li.receive-dp-payment").fadeOut();text = 'Receive Down Payment';cls = 'receive-dp-payment'}
	if (status==0) {jQuery("ul li.canceled").fadeOut();text = 'Canceled';cls = 'canceled'}
	jQuery('#booking-status').removeClass().addClass(cls+'-notice');
	jQuery('#booking-status-message').text(text);
	jQuery('[name=booking_status]').val(status);
	
	
	
	
	jQuery("#change-booking-status").click(function (){
		var h = jQuery("#show-detail .old-history").height() + 20;
		jQuery(".loader-blue.abu-bg").fadeIn().css('height',h+'px');
		var status_id = jQuery("[name=booking_status]").val();
		if(status_id==2){
			var text = 'Save changes on booking status? A confirmation email will be sent to the guest.';
			var type = 'action';
			mini_box_display(text,type);	
		}else{
			do_change_status();
		}
		
		
	});
	
	jQuery(".do-change-status").unbind('click');
	jQuery(".do-change-status").click(function (){
		var value = jQuery(this).val();
		if(value=='Yes'){
			do_change_status();
		}else{
			jQuery(".mini_box, .loader-blue.abu-bg").fadeOut();
		}	
	});	
	
	
	jQuery('[name=edit-book-detail]').unbind('click');
	jQuery('[name=edit-book-detail]').click(function(){
		set_other_detail_value();
		jQuery('.fix-val').fadeOut(80);
		jQuery('.dinamic-val').fadeIn(80);
	});
	
	
	jQuery('[name=save-book-detail]').click(function(){
		var url  = jQuery("[name=site_url]").val()+'/villa-reservation/';
		var book_id  = jQuery("[name=book_id]").val();
		var name = jQuery('#show-detail [name=name]').val();
		var email = jQuery('#show-detail [name=email]').val();
		var country = jQuery("#show-detail [name=country]").val();
		var phone 	= jQuery("#show-detail [name=phone]").val();
		var guest 	= jQuery("#show-detail [name=guest]").val();
		var message = jQuery("#show-detail [name=message]").val();
			
		var additional_service 	= jQuery(".additional_service:checked").map(function(_, el) {return $(el).val();}).get();
		var additional_service_other = jQuery("[ name=other_ads]").val();
		if(additional_service_other!='')additional_service.push(additional_service_other);
		var additional_cost 	= jQuery("#show-detail [name=additional_cost]:checked").val();
		var heard_about_us		= jQuery("#show-detail [name=heard_about_us]").val();		
		
		var data = new Object;
			data.act = 'use-ajax';
			data.do_act = 'update-detail-booking';
			data.book_id = book_id;
			data.name  			= name;
			data.email 			= email;
			data.country 		= country;
			data.phone 			= phone;			
			data.guest			= guest;	
			data.message 		= message;
			data.additional_service = additional_service;
			data.additional_cost 	= additional_cost;	
			data.heard_about_us 	= heard_about_us;
		//console.log(data);
		var h = jQuery('#show-detail .old-history').height();	
		jQuery(".loader-blue.abu-bg").css('height',(h+20)+'px').fadeIn(80);
		jQuery.post(url,data,function(response){
			var result = jQuery.parseJSON(response);
			if(result.process=='success'){
				jQuery('#show-detail .name').text(name);
				jQuery('#show-detail .email').text(email);
				jQuery('#show-detail .country').text(country );
				jQuery('#show-detail .phone').text(phone);
				jQuery('#show-detail .guest').text(guest);
				jQuery('#show-detail .message ').text(message );
				jQuery('#show-detail .ads').text(additional_service);
				if(additional_cost==1) var adc_txt = 'Yes';
				else var adc_txt = 'No';
				jQuery('#show-detail .add_cost').text(adc_txt);
				jQuery('#show-detail .heard_about_us').text(heard_about_us);
				
				jQuery('.list-reservation-history').each(function(index, element) {
                    var rel = jQuery(this).find('.block_action').attr('rel');
					if(rel==book_id) jQuery(this).find('.det-book label:nth-child(4)').text(name);					
                });				
				
				jQuery('.dinamic-val,.other_ads').fadeOut(80);
				jQuery('.fix-val').fadeIn(80);
				jQuery(".loader-blue.abu-bg").fadeOut(80);
			}else{
				jQuery(".mini_box").text('Failed update booking detail. Please contact the administrator')
				jQuery(".mini_box .info_type").fadeIn();
				jQuery(".mini_box").fadeIn();
			}
			//jQuery(".just-overlay, #show-detail, .loader-blue.abu-bg").fadeOut(500);
		});	
	});
	
	jQuery('[name=cancel-edit-book-detail]').unbind('click');
	jQuery('[name=cancel-edit-book-detail]').click(function(){
		jQuery('.dinamic-val,.other_ads').fadeOut(80);
		jQuery('.fix-val').fadeIn(80);
	});
	
	jQuery('.additional_service_other').unbind('click');	
	jQuery('.additional_service_other').change(function(){
		if(jQuery(this).is(':checked')) jQuery('.other_ads').fadeIn(80).val('');
		else jQuery('.other_ads').fadeOut(80).val('');
	});
	
	
	jQuery('#cancel-show-booking').unbind('click');
	jQuery('#cancel-show-booking').click(function(){
		jQuery(".just-overlay, #show-detail, .loader-blue.abu-bg").fadeOut(500);
	});
	
	jQuery('#update-booking').click(function(){
		do_change_new()	
	});
}


function set_other_detail_value(){
	var ads = jQuery('#show-detail .ads ').text();
	var vca = jQuery('#show-detail .add_cost').text();
	var hauf = jQuery('#show-detail .heard_about_us').text();
	
	if(ads !=''){
		var obj_ads = ads.split(',');
		jQuery.each(obj_ads, function( index, value ) {
			var this_val = jQuery.trim(value);
			var hads = 0;
			jQuery('#show-detail .list-additional-service li').each(function(index, element) {
                var ev = jQuery.trim(jQuery(this).find('.additional_service').val());
				if(ev==this_val) {
					console.log(ev+'=='+this_val);
					jQuery(this).find('.additional_service').attr('checked','checked');
					hads++;
				}
            });
			
			if(hads==0 && this_val!='-'){
				jQuery('#show-detail .additional_service_other').attr('checked','checked');	
				jQuery('#show-detail .other_ads').fadeIn(80).val(this_val);	
			}
		});
	}
	
	if(vca !=''){
		if(vca=='Yes')jQuery('#yes_additional_cost').attr('checked','checked');
		else if(vca=='No')jQuery('#no_additional_cost').attr('checked','checked');
	}
	
	if(hauf !=''){
		jQuery('[name=heard_about_us] option[value="'+hauf+'"]').attr('selected','selected');
	}
	
}

function do_change_new(){
	var h = jQuery('#show-detail .old-history').height();	
	jQuery(".loader-blue.abu-bg").css('height',(h+20)+'px').fadeIn(80);
	//jQuery(".mini_box").fadeOut();
	var url  = jQuery("[name=site_url]").val()+'/villa-reservation/';
	var book_id  = jQuery("[name=book_id]").val();
	var status_id = jQuery("[name=booking_status]").val();
	var fname = jQuery('#show-detail [name=fname]').val();
	var lname = jQuery('#show-detail [name=lname]').val();
	var email = jQuery('#show-detail [name=email]').val();
	var adult 	= jQuery("#show-detail [name=adult]").val();
	var child 	= jQuery("#show-detail [name=child]").val();
	var phone 	= jQuery("#show-detail [name=phone]").val();
	var message = jQuery("#show-detail [name=message]").val();
	//var country = jQuery("#show-detail [name=country]").val();

	//var guest 	= jQuery("#show-detail [name=guest]").val();
	
		
	/*var additional_service 	= jQuery(".additional_service:checked").map(function(_, el) {return $(el).val();}).get();
	var additional_service_other = jQuery("[ name=other_ads]").val();
	if(additional_service_other!='')additional_service.push(additional_service_other);
	var additional_cost 	= jQuery("#show-detail [name=additional_cost]:checked").val();
	var heard_about_us		= jQuery("#show-detail [name=heard_about_us]").val();	*/
	
	
	var data = new Object;
		data.act = 'use-ajax';
		data.do_act = 'change-status-reservation-and-detail';
		data.book_id = book_id;
		data.status_id 	= status_id;
		data.fname     	= fname;
		data.lname		= lname;
		data.email 		= email;
		data.adult		= adult;	
		data.child 		= child;
		data.phone 		= phone;			
		data.message 	= message;	
	jQuery.post(url,data,function(response){
		var result = jQuery.parseJSON(response);
		if(result.process=='success'){
			//var name_status = 	get_name_status(result.status);
			var name_status = result.status_txt;
			jQuery('.lrh_'+book_id).text(name_status); 
			jQuery('.list-reservation-history').each(function(index, element) {
				var rel = jQuery(this).find('.block_action').attr('rel');
				if(rel==book_id) jQuery(this).find('.det-book label:nth-child(4)').text(fname+' '+lname);					
			});		
			
		}else{
			jQuery(".mini_box").text('Failed change status. Please contact the administrator')
			jQuery(".mini_box .info_type").fadeIn();
			jQuery(".mini_box").fadeIn();
		}
		jQuery(".loader-blue.abu-bg").css('height',(h-20)+'px').fadeOut(80);		
		jQuery(".just-overlay, #show-detail, .loader-blue.abu-bg").fadeOut(500);
	});
		
		
}


function do_change_status(){
	jQuery(".mini_box").fadeOut();
	var url  = jQuery("[name=site_url]").val()+'/villa-reservation/';
	var book_id  = jQuery("[name=book_id]").val();
	var status_id = jQuery("[name=booking_status]").val();
	var data = new Object;
		data.act = 'use-ajax';
		data.do_act = 'change-status-reservation';
		data.book_id = book_id;
		data.status_id = status_id;
		
	jQuery.post(url,data,function(response){
		var result = jQuery.parseJSON(response);
		if(result.process=='success'){
			var name_status = 	get_name_status(result.status);
			jQuery('.lrh_'+book_id).text(name_status); 
		}else{
			jQuery(".mini_box").text('Failed change status. Please contact the administrator')
			jQuery(".mini_box .info_type").fadeIn();
			jQuery(".mini_box").fadeIn();
		}
		jQuery(".just-overlay, #show-detail, .loader-blue.abu-bg").fadeOut(500);
	});
}


function mini_box_display(text,type){
	if(type=='action'){
		jQuery(".mini_box .info_type").fadeOut();
		jQuery(".mini_box .action_type").fadeIn();
	}else{
		jQuery(".mini_box .action_type").fadeOut();
		jQuery(".mini_box .info_type").fadeIn();
	}
	jQuery(".mini_box p").text(text);		
	jQuery(".mini_box").fadeIn();
}

function get_name_status(status){
	if(status==1)return	'Check Availability';
	else if(status==2) return 'Waiting Down Payment';
	else if(status==3) return 'Waiting Full Payment';
	else if(status==4) return 'Confirmed';
	else if(status==5) return 'Unconfirmed';
	else if(status==6) return 'Receive Down Payment';
	else if(status==0) return 'Canceled';
}


</script>
<!-- END mainBlock -->
