<!-- BEGIN pageAddNew -->
<h1>{title_Form}</h1>
<style>
.exist-img{
	border:1px solid #ccc;
	padding:1px;
	margin:4px;
}
.a-ei{
	display:inline-block;
	position: relative;
}
.exist-img.selected{
	border:1px solid #000;
}
.a-ei input[type=radio]{
	position: absolute;
	cursor:pointer;
	left:0;
	top:0;
	z-index:1;
	width:50px;
	height:50px;
	opacity:0;
}
.error_red{
	display:block;
	padding:5px;
	background-color: #E8AEB6;
    border: 1px solid #FF0000;
    color: #990000;
}
.error_green{
	display:block;
	padding:5px;
	background-color: #F0FBF4;
    border: 1px solid #4FC682;
    color: green;
}
</style>

<script type="text/javascript">
	function trim(str) {		
	    var	str = str.replace(/^\s\s*/, ''),
	            ws = /\s/,
	            i = str.length;
	    while (ws.test(str.charAt(--i)));
	    return str.slice(0, i + 1);
	}
	
	$(document).ready(function(){
		$('.radio_exist_img').click(function(){
			var id = $(this).attr('rel');
			$('.exist-img').removeClass('selected');
			$('#img_'+id).addClass('selected');

		});

		$('#combo_article').change(function(){
			var title = $("#combo_article option:selected").text();
			//$('input#title').val(title);
		});

		//validasi
		$('input[name=save_changes]').click(function(){
			var article = $('#combo_article option:selected').val();
			if (trim(article)==''){
				$('#combo_article').addClass('error');
				//alert('error');
				//return false;
			}
			/*
			var img = $('[type=file]').val();
			if ( (trim(img)=='') && $('input.radio_exist_img').is(':not(:checked)')) ){
				alert('Please choose an image!');
				return false;
			}	
			*/		
		});
	
	})
</script>

<div class="tab_container">
    <div class="single_content">
	{alert}
        <form method="post" action="#" enctype="multipart/form-data" >
	     {is_edit_all}
	     {is_saved}
            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                        {button}
                    </ul>   
                </div>
           </div>
	    <!-- BEGIN loopPage -->
	    <div class="list_edit">
        <fieldset style="border-bottom:none; margin-bottom:-10px;">
                {error}
        </fieldset>
        <div style="display:none;">
        	<input type="hidden" name="post_id[{i}]" value="{post_id}" class="medium_textbox" id="post_id" />
			<input type="hidden" name="app_id[{i}]" value="{app_id}" class="medium_textbox" id="app_id" />
			<input type="hidden" name="index[{i}]" value="{i}" class="medium_textbox" id="index_{i}" />
			<input type="hidden" name="order[{i}]" value="{val_order}" class="medium_textbox" id="order_{i}" />
        </div>
        <fieldset style="border:none;display: none;">
        	<p><label>Display on article (required):</label></p>        	
        	<select id="combo_article" name="article_id[{i}]" style="min-width:320px;">        		
        		{staff_option_article}
        	</select>       	
        </fieldset>
		<fieldset style="border:none;">
                <p><label>Name:</label></p>				
                <input type="text" name="title[{i}]" value="{val_title}" class="medium_textbox" id="title" style="min-width:310px;"/>
        </fieldset>
        
        <fieldset style="border:none;">
                <p><label>Position:</label></p>				
                <input type="text" name="sub_title[{i}]" value="{val_subtitle}" class="medium_textbox" id="sub_title" style="min-width:310px;"/>
        </fieldset>
        
		<fieldset>
        <p><label>Desc:</label></p>				
				<textarea style="width:300px;" class="tinymce" name="url[{i}]">{val_url}</textarea>
		</fieldset>
		
        <fieldset title="Staff images">	       
            {avatar}
            <p>Select an image file on your computer (2MB max):</p>
			<input type="file" name="image[{i}]" /><br />      
			<div style="display: none;">
			<p>Or use existing image</p>  
			{staff_existing_image}  
			</div> 
        </fieldset>
        
        
	    </div>
	    <!-- END loopPage -->
            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                       {button}
                    </ul>   
                </div>
           </div>
        </form>
	
    </div>
</div>
<!-- END pageAddNew -->
