<!-- BEGIN mainBlock -->
<script type="text/javascript">
	jQuery(document).ready(function(){
		//formButtons();
		{jsAction}
	});
</script>
<div id="contentWrapper">
	<div class="notifBlockSaved" style="display:none; margin-bottom:10px; padding:10px; background:#93FF93; font-size:13px; color:#000;">
			{notif_message}
	</div>
	<div class="notifFailedSaved" style="display:none; margin-bottom:10px; padding:10px; background:#ffd504; font-size:13px; color:#000;">
			{notif_message}
	</div>
	<div id="content-typeEdit">
        	<div class="headsUp">
			<h2>Gallery {title_h2}</h2>
			<form method="post" action="" id="theEditForm"  name="theEditForm" enctype="multipart/form-data">
			<!-- BEGIN editContent -->
			<input type="hidden" name="pilih[{i}]" id="pilih{i}" value="{pilih}" />
			<input name="image_id[{i}]" id="image_id{i}" type="hidden" value="{image_id}" />
			{separate}
			<div class="wrapper form" style="border-bottom:solid 1px #ccc;">
				<label>Image Title</label>
				<input type="text" class="text required" id="title{i}" name="title[{i}]" value="{title}" style="width:300px;" />
			</div>
			{existingImage}
			<div class="wrapper form" style="border-bottom:solid 1px #ccc;">
				<label>New Image</label>
				<input type="file" id="image{i}" name="image[{i}]" style="color: #444; float: left; background: #fff; border: #ccc solid 1px; font-size: 13px; " />
				&nbsp;&nbsp; Maximum File Size 2 MB
			</div>
			<!-- END editContent -->
			<div class="bottonContainer">
				{button_save}
				<a href="{http}{supplier_site_url}/gallery/" class="button"><img src="{http}{template_url}/img/button-cancel.png" alt="button-cancel" width="75" height="31"/></a>
			</div>
			<div class="clear"></div>
			</form>
		</div>
        </div>
        <!-- id="content-type" END ========================= --> 
</div>
<!-- END mainBlock -->