<!-- BEGIN mainBlock -->
<script type="text/javascript">
		jQuery(document).ready(function(){
			//formButtons();
			{jsAction}
		});
</script>
<div id="contentWrapper">
	<form method="post" action="" id="theEditForm"  name="theEditForm" enctype="multipart/form-data">
	{notif_message}
	<!-- BEGIN deleteContent -->
		<input type="hidden" name="delId[{i}]" id="delId{i}" value="{delId}" />
	<!-- END deleteContent -->
        <div id="content-type">
        	<div class="headsUp">
        		<h2>Gallery</h2>
        		<div class="bottonContainer">
				<input class="btn_new" name="prc" value="new" type="submit">
				<input class="btn_edit" name="prc" value="edit" type="submit">
				<input class="btn_delete" name="prc" value="delete" type="submit">
        		</div>
        		<div class="wrapper form table" style="margin-top:-1px; border-bottom:solid 1px #ccc; border-top:solid 1px #ccc; background:#f5f5f5;">
        			<input type="checkbox" name="checkall" class="checkbox" onclick="checkUncheckAll(this);" title="Check All/Uncheck All"/>
        			<label style="width:160px; margin-right:10px;"><strong>Thumbnail</strong></label>
        			<label style="width:auto; margin-right:10px;"><strong>Image Title</strong></label>
        		</div>
        		<!-- BEGIN viewContent -->
        		<div class="wrapper form table" style=" border-bottom:solid 1px #ccc;">
        			<input type="checkbox" name="pilih[]" class="checkbox" value="{check}" />
        			<label style="width:160px; margin-right:10px;">{imgs}</label>
        			<label style="width:auto; margin-right:10px;">{title}</label>        			
        			<a href="{http}{supplier_site_url}/gallery-edit/{check}.html" class="button">edit</a>
				<a href="{http}{supplier_site_url}/gallery-delete/{check}.html" class="button">delete</a>
        		</div>
			<!-- END viewContent -->
        		<div class="bottonContainer">
				<input class="btn_new" name="prc" value="new" type="submit">
				<input class="btn_edit" name="prc" value="edit" type="submit">
				<input class="btn_delete" name="prc" value="delete" type="submit">
        		</div>
        		<div class="clear"></div>
			
        	</div>
        </div>
	</form>
        <!-- id="content-type" END ========================= -->
</div>
<!-- END mainBlock -->