<!-- BEGIN mainBlock -->
<script type="text/javascript">
	jQuery(document).ready(function(){
		//formButtons();
		{jsAction}
		
		jQuery('.otherCheckbox').click(function(){ 
			var dayArry = new Array();
			var i = 0;
			
			jQuery(this).toggleClass('selected');
			jQuery(this).parent().find('.selected').each(function(){
				var rel    = jQuery(this).attr('rel');
				dayArry[i] = rel;
				i++;
			});
			
			if(dayArry!=''){
				var jSonString = jQuery.toJSON(dayArry);
			}else{
				var jSonString = '';
			}
			jQuery(this).parent().find('.jsonValue').val(jSonString);
		});
		
		function selectLikeOnDatabase(){
			jQuery('.jsonValue').each(function(){
				var theJSON = jQuery(this).val();
				var target  = jQuery(this).parent();
				if(trim(theJSON)!=''){
					var array   = jQuery.evalJSON(theJSON);
					jQuery.each(array , function(index,value){
						jQuery(target).find('.otherCheckbox[rel='+value+']').click();
					});
				}
			});
		}	
		selectLikeOnDatabase();
	});
</script>


<div id="contentWrapper">
	<div class="notifBlockSaved" style="display:none; margin-bottom:10px; padding:10px; background:#93FF93; font-size:13px; color:#000;">
			{notif_message}
	</div>
	<div class="notifFailedSaved" style="display:none; margin-bottom:10px; padding:10px; background:#ffd504; font-size:13px; color:#000;">
			{notif_message}
	</div>
	<div id="content-typeEdit">
        	<div class="headsUp">
			<h2>Surcharge {title}</h2>
			<form method="post" action="" id="theEditForm"  name="theEditForm" enctype="multipart/form-data">
			<!-- BEGIN editContent -->
			<input type="hidden" name="pilih[{i}]" id="pilih{i}" value="{pilih}" />
			<input name="surecharge_ID[{i}]" id="surecharge_ID{i}" type="hidden" value="{surecharge_ID}" />
			{separate}
            
            <!--
			<div class="wrapper form bt-abu" style="border-bottom:solid 1px #ccc;">
				<label>Room Category</label>
				<select name="roomtype[{i}]" class="required">
                	<option value="">select room category</option>
                    {room_category}
                </select>
			</div>-->
            
			<script type="text/javascript">
				$(function() {
					/*$("#date_start{i}").datepicker();
					$("#date_finish{i}").datepicker();*/
					jQuery(".input-calender").datepicker({ dateFormat : 'mm/dd/yy'});
					jQuery( "#date_start{i}" ).datepicker( "option", "minDate", 0 );
					jQuery( "#date_finish{i}" ).datepicker( "option", "minDate", 1 );
					
					jQuery( "#date_start{i}" ).change(function(){
						var d1 = new Date(jQuery(this).val());
							d1.setDate(d1.getDate()+1);
						jQuery(this).parent().parent().parent().find("#date_finish{i}" ).datepicker( "option", "minDate", d1 );
					});	
					
				});
			</script>
			<div id="choiceTemplate" class="wrapper form bb-abu">
				<input id="answercount" name="answercount" type="hidden" value="1" />
				<label>Date From</label>
				<input type="text" class="text required date input-calender" id="date_start{i}" name="date_start[{i}]" value="{date_start}" style="width:70px;" />
				<label style="margin-left:10px; width:30px;">To</label>
				<input type="text" class="text required date input-calender" id="date_finish{i}" name="date_finish[{i}]" value="{date_finish}" style="width:70px;" />				
                <input type="checkbox" value="all_time" name="all_time[{i}]" {all_time} style="margin: 6px 5px 5px 30px;" /> <span>All Time</span>
			</div>
            <div class="wrapper form bb-abu">
				<label>Day Of Week</label>
                <span class="otherCheckbox sun" rel="sun">Sun</span>
                <span class="otherCheckbox mon" rel="mon">Mon</span>
                <span class="otherCheckbox tue" rel="tue">Tue</span>
                <span class="otherCheckbox wen" rel="wed">Wed</span>
                <span class="otherCheckbox thu" rel="thu">Thu</span>
                <span class="otherCheckbox fri" rel="fri">Fri</span>
                <span class="otherCheckbox sat" rel="sat">Sat</span>
                <input type="text" class="text jsonValue required" id="dow{i}" name="dow[{i}]" value='{dow}' style="width:200px; display:none;" />
			</div>
            <div class="wrapper form bb-abu">
				<label>Surecharge Description</label>
                <textarea name="desc[{i}]" class="required">{surechargeDesc}</textarea>
                
				<!--<select>
                	<option value="">select description</option>
                    {surechargeDesc}
                </select>-->
			</div>
            <div class="wrapper form">
				<label>Charge<br />Ammount</label>
				<input type="text" class="text required" id="ammount{i}" name="ammount[{i}]" value="{ammount}" style="width:80px;" />
                <select name="lammount_unit[{i}]" class="required" style="margin-left:10px;">
                	<option value="">select</option>
                    {lammount_unit}
                </select>
			</div>
            
            
			<!-- END editContent -->
			<div class="bottonContainer">
				{button_save}
				<a href="http://{supplier_site_url}/surcharge/" class="button"><img src="http://{template_url}/img/button-cancel.png" alt="button-cancel" width="75" height="31"/></a>
			</div>
			<div class="clear"></div>
			</form>
		</div>
        </div>
        <!-- id="content-type" END ========================= --> 
</div>
<!-- END mainBlock -->