@charset "utf-8";
/* CSS Document */

body{
	font-family:'gandhi_sansregular';
	font-size:14px;
	color:#535353;
}

h1, h2, h3, h4, h5, h6 {
}
h1 {
}
h2 {
	font-size:20px;font-family:'gandhi_sansbold';
    margin-bottom: 20px;
}
h3 {
	font-size:18px;
	font-family:'gandhi_sansbold'; font-weight:normal;
}
h4 {
}
h5 {
}
h6 {
}

p{ margin:15px 0; line-height:20px;}
b{ font-family:'gandhi_sansbold'; font-weight:normal;}

.wrapper{
    /*min-width: 1440px;*/
    width: 100%;
}
.container{
	width:100%;
}
.header{
	width:100%;
}
.header.home{
	/*min-height:680px;*/
}
.header.page{
	padding-top:140px;
}
.header-fixed{
    position: fixed;
    top: 0;
    width: 100%;
	z-index:100;
}
nav.top-menu{
	margin: 0px auto; width: 100%;
	background:none repeat scroll 0 0 rgba(255, 64, 0, 0.8);;
	height:40px;
}
nav.top-menu ul{
    margin: 0 20px;
}

nav.top-menu ul li{
    display: inline-block;
    margin-right: 55px;
    padding: 8px 8px 9px;
}

nav.top-menu ul li:last-child{
	margin:0px;
}
nav.top-menu ul li a{
	color:#FFF;
	font-size:18px;
	font-family:'Century Gothic';
	text-decoration:none;
}
nav.top-menu ul li a.active,
nav.top-menu ul li a:hover{
	text-decoration:underline;
}
.header-top{
	margin: 0px auto; text-align: center;
	background:none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
	height:100px;
}
.header-top nav{
	
}
.header-top nav.left{
    float: left;
    margin-left: 20px;
    margin-top: 60px;
}
.header-top nav.right{
	float:right;
	margin-top: 60px;
	margin-right:20px;
}
.header-top nav ul{}
.header-top nav ul li{
	float:left;
    margin-right: 35px;
}

.header-top nav ul li:last-child{
	margin-right:0px;
	
}
.header-top nav ul li a{
	color:#878787;
	font-size:14px;
	text-decoration:none;
}
.header-top nav ul li a.active,
.header-top nav ul li a:hover{
	text-decoration:underline;
}
.header-top img.logo{
	margin:0 auto;
	margin-top:20px;
	
}
.header-static .header-top{}

.header .slider{
    height: 680px;
    margin: 0 auto;
    position: relative;
    /*width: 1440px;*/
	background:url(../images/z-image1.png) no-repeat center;
}

.header .slider .content{
    height: 680px;
    position: relative;
}
.header .slider .hide-left,
.header .slider .hide-right{
	position:absolute;
	background:#00;
	width:70px;
	height:680px;
	display:none;
}

.header .slider .hide-left{
	left:0px;
	background:url(../images/header-left.png) no-repeat;
}
.header .slider .hide-right{
	right:0px;
	background:url(../images/header-right.png) no-repeat;
}

.header .slider .info-left,
.header .slider .info-right{
	position:absolute;
	bottom:75px;
}

.header .slider .info-left{
	left:0px;
	text-shadow:1px 1px 0 rgba(0, 0, 0, 0.5);
}

.header .slider .info-left h1{
	font-family:'Century Gothic';
	font-weight:bold;
	font-style:italic;
	font-size:52px;
	color:#FFF;
}
.header .slider .info-left p{
	font-family:'Century Gothic';
	font-size:24px;
	color:#FFF;
	line-height:34px;
	margin:0px;
}
.header .slider .info-right{
	right:0px;
	text-shadow:1px 1px 0 rgba(0, 0, 0, 0.5);
	font-family:'Times New Roman';
	font-size:32px;
	color:#FFF;
	font-style:italic;
	text-align:right;
	font-weight:bold;
}
.header .slider .info-right span{
    float: right;
    font-family: 'gandhi_sansregular';
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    margin-top: 5px;
}

blockquote.style1{
  	background-image: url(../images/blockquote1.png);
  	background-position: left 8px;
  	background-repeat: no-repeat;
  	text-indent: 16px;
}
blockquote.style1 p{
	display: block;
 	background-image: url(../images/blockquote2.png);
 	background-repeat: no-repeat;
 	background-position: right 50px;
	line-height:42px;
	margin:0px;
}

.content-page{
	margin:0 auto;
	background:#F0F0E1;
	height:506px;
}

.content{
	margin:0 auto;
	width:1299px;
}
.content-left{
	float:left;
	width:460px;
    margin-left: 20px;
    padding: 20px 0;
	margin-right:10px;
}


.block-mini{
    float: left;
    height: 430px;
    position: relative;
    width: 445px;
}

.custom-scrollbar {
	height: 430px;
	width: 445px;
}
.scrollable .viewport{
	width:400px !important;
}
.scrollable.default-skin .scroll-bar.vertical{
	background:#999999;
}

.scrollable.default-skin .scroll-bar .thumb{
	border-radius:0px;
	background:#666666;
	cursor:pointer;
}

ul.sub-menu{float: left; width:100%; margin: 20px 0; border-top:solid 1px #BDBDAE;}
ul.sub-menu li{ border-bottom:solid 1px #BDBDAE; padding: 10px 0 10px 5px;}
ul.sub-menu li a{
	text-decoration:none;
	color:#535353;
}
.ul.navigation li a:hover{
	text-decoration:underline;
}

ul.navigation{float: left;margin-bottom: 20px;}
ul.navigation li{display:inline-block;}
ul.navigation li a{
	font-size:11px;
	text-decoration:none;
	
	color:#79796A;
}
.ul.navigation li a:hover{
	text-decoration:underline;
}

.content-right{
	float:left
}
.content-right img{
	position:absolute;
	width:834px;
}
.footer{color:#777777; margin-top: 20px;}
.footer .top{padding:20px; height:150px;}
.footer .top .video{
    float: left;	width:200px;
    margin-right: 30px;
}
.footer .top .news{
    float: left;	
	width:200px;
    margin-right: 60px;
}
.footer .top .news h3{
	margin:10px 0px;
}
.footer .top .newsletter{
    float: left;	
	width:225px;
    margin-right: 90px;
}
.footer .top .newsletter form{
    margin-top: 10px;
}
.footer .top .newsletter form label{
    float: left;
    margin-bottom: 8px;
    width: 100%;
}
.footer .top .newsletter form input[type="text"]{
	border: solid 1px #AAAAAA;
	width:150px;
	float:right;
    height: 20px;
    padding: 0 5px;
	font-family:'gandhi_sansregular';
	font-size:14px;
	color:#535353;
}

.footer .top .newsletter form input[type="submit"]{
    background: none repeat scroll 0 0 #777777;
    border: medium none;
    color: #FFFFFF;
    margin-left: 63px;
    padding: 5px;
	font-family:'gandhi_sansbold';
	cursor:pointer;
}
.footer .top .social{
    float: left;	
	width:200px;
}
.footer .top .social .social-block{
	float:left;
	margin:10px 0;
}

.footer .top .social .social-block a{
	text-decoration:none;
	color:#777777;
	background:url(../images/social.png) left no-repeat;
    float: left;
    height: 20px;
	background-position: 0px 0px;
    padding-left: 30px;
	margin-bottom:8px;
}
.footer .top .social .social-block a.Instagram{ background-position:0px -25px;}
.footer .top .social .social-block a.Twitter{ background-position:0px -54px;}
.footer .top .social .social-block a.Facebook{ background-position:0px -80px;}
.footer .top .banner{
    float: left;	width:200px;
}
.footer .middle{ text-align:center; font-size:14px; border:solid 1px #DFDFD0; border-left:none; border-right:none; padding:20px 0;}
.footer .bottom{ text-align:center; font-size:12px; padding:20px 0;}


