<!-- BEGIN mainBlock -->
<script type="text/javascript">
	jQuery(document).ready(function(){
		//formButtons();
		{jsAction}
	});
</script>
<div id="contentWrapper">
	<div class="notifBlockSaved" style="display:none; margin-bottom:10px; padding:10px; background:#93FF93; font-size:13px; color:#000;">
			{notif_message}
	</div>
	<div class="notifFailedSaved" style="display:none; margin-bottom:10px; padding:10px; background:#ffd504; font-size:13px; color:#000;">
			{notif_message}
	</div>
	<div id="content-typeEdit">
        	<div class="headsUp">
			<h2>Room Type {title}</h2>
			<form method="post" action="" id="theEditForm"  name="theEditForm" enctype="multipart/form-data">
			<!-- BEGIN editContent -->
			<input type="hidden" name="pilih[{i}]" id="pilih{i}" value="{pilih}" />
			<input name="acco_type_id[{i}]" id="acco_type_id{i}" type="hidden" value="{acco_type_id}" />
			{separate}
			<div class="wrapper form" style="border-bottom:solid 1px #ccc;">
				<label>Name</label>
				<input type="text" class="text required" id="name{i}" name="name[{i}]" value="{name}" />
			</div>
			<div class="wrapper form" style="border-bottom:solid 1px #ccc;">
				<label>Brief</label>
				<textarea name="brief[{i}]" id="brief{i}" style="width:640px;height:150px;">{brief}</textarea>
			</div>
			<!-- END editContent -->
			<div class="bottonContainer">
				{button_save}
				<!--a href="#" class="button submit"><img src="http://{template_url}/img/button-save.png" alt="button-save" width="75" height="31"/></a-->
				<a href="http://{supplier_site_url}/type/" class="button"><img src="http://{template_url}/img/button-cancel.png" alt="button-cancel" width="75" height="31"/></a>
			</div>
			<div class="clear"></div>
			</form>
		</div>
        </div>
        <!-- id="content-type" END ========================= --> 
</div>
<!-- END mainBlock -->