/*!
 * FullCalendar v1.6.3 Stylesheet
 * Docs & License: http://arshaw.com/fullcalendar/
 * (c) 2013 Adam Shaw
 */


.fc {
	direction: ltr;
	text-align: left;
	}
	
.fc table {
	border-collapse: collapse;
	border-spacing: 0;
	}
	
html .fc,
.fc table {
	font-size: 1em;
	}
	
.fc td,
.fc th {
	padding: 0;
	vertical-align: top;
	}

#container-calendar{position:relative;}
#container-calendar .overlay-calendar {position:absolute;width:100%;height:94%;top:48px;z-index: 100;opacity: 0.7;/* IE 8 */ -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
filter: alpha(opacity=70);-moz-opacity: 0.7;-khtml-opacity: 0.7;background:url('img/loading.gif') no-repeat center white;display:none;}
#calendar {padding: 23px;border: 1px solid #ccc;border-top: none;border-bottom: none;}
/* Header
------------------------------------------------------------------------*/
#container-calendar > div.the_header > div.left {margin: 10px;}
#container-calendar > div.the_header > div.right.navigation {margin: 10px;}
#container-calendar > div.the_header {border: solid 1px #ccc;  background: #F5F5F5;}
#container-calendar > div.the_header select {padding: 2px;}

#calendar .main-title{float:left;}
#calendar .main-title h2{font-size: 18px;font-weight: normal;}
.fc-header{width: 300px;float: right;}
.fc-header td {
	white-space: nowrap;
	}

.fc-header-left {
	width: 25%;
	text-align: left;
	}
	
.fc-header-center {
	text-align: center;
	}
	
.fc-header-right {
	width: 25%;
	text-align: right;
	}
	
.fc-header-title {
	display: inline-block;
	vertical-align: top;
	margin-top: 15px;
	}
	
.fc-header-title h2 {
	margin-top: 0;
	white-space: nowrap;
	color: #000;
	font-weight: normal;
	font-size: 16px;
	}
	
.fc .fc-header-space {
	padding-left: 10px;
	}
	
	
/* buttons edges butting together */

.fc-header .fc-button {
	margin-right: -1px;
	}
	
.fc-header .fc-corner-right,  /* non-theme */
.fc-header .ui-corner-right { /* theme */
	margin-right: 0; /* back to normal */
	}
	
/* button layering (for border precedence) */
	
.fc-header .fc-state-hover,
.fc-header .ui-state-hover {
	z-index: 2;
	}
	
.fc-header .fc-state-down {
	z-index: 3;
	}

.fc-header .fc-state-active,
.fc-header .ui-state-active {
	z-index: 4;
	}
	
	
	
/* Content
------------------------------------------------------------------------*/
	
.fc-content {
	clear: both;
	zoom: 1; /* for IE7, gives accurate coordinates for [un]freezeContentHeight */
	}
	
.fc-view {
	width: 100%;
	overflow: hidden;
	}
	
	

/* Cell Styles
------------------------------------------------------------------------*/
.fc-border-separate thead{background:#eee; padding:5px 0;}
.fc th.fc-day-header{padding:5px 0;}
.fc-widget-header,    /* <th>, usually */
.fc-widget-content {  /* <td>, usually */
	border: 1px solid #aaa;
	color:#000;
	}
	
.fc-state-highlight { /* <td> today cell */ /* TODO: add .fc-today to <th> */
	background: #fcf8e3;
	}
	
.fc-cell-overlay { /* semi-transparent rectangle while dragging */
	background: #bce8f1;
	opacity: .3;
	filter: alpha(opacity=30); /* for IE */
	}
	


/* Buttons
------------------------------------------------------------------------*/

.fc-button {
	position: relative;
	display: inline-block;
	padding: 0 14px;
	overflow: hidden;
	line-height: 1.8em;
	white-space: nowrap;
	cursor: pointer;
	}
.fc-header-right{position:relative;}	
.fc-button.fc-button-today{color: #000;background-color: #B8DFFE;position: absolute;top: 15px;left: 0;}
.fc-button.fc-button-prev, .fc-button.fc-button-next{margin-top:10px;}
.fc-button.fc-button-prev{padding-left:80px;}
.fc-state-default { /* non-theme */
	/*border: 1px solid;*/
	}

.fc-state-default.fc-corner-left { /* non-theme */
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	}

.fc-state-default.fc-corner-right { /* non-theme */
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	}

/*
	Our default prev/next buttons use HTML entities like &lsaquo; &rsaquo; &laquo; &raquo;
	and we'll try to make them look good cross-browser.
*/

.fc-text-arrow {
	/*margin: 0 .1em;
	font-size: 2em;
	font-family: "Courier New", Courier, monospace;
	vertical-align: baseline;*/ /* for IE7 */
	
	background:url('img/arrow-calendar.png') no-repeat 0;
	width:11px;
	height:20px;
	float:left;
	margin-top: 4px;
	cursor: pointer;
	}
	
#the_months {margin-left: 10px;}
	
.fc-button-prev.fc-text-arrow{	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg)}
	
.the_header .main-title	{float:left;}
.the_header .main-title h2 {font-size: 18px;font-weight: normal;color: #FF7F00;float: left;}
.navigation{float:right;}
.the_header .navigation {float: right;width: 200px;margin: 13px 0 10px 0;}
@-moz-document url-prefix() {
	.the_header .navigation {float: right;width: 310px;margin: 13px 0 10px 0;}
}

#the_months_chosen {margin: 4px 10px 0 10px;}
#the_years_chosen {margin: 4px 5px 0 0px;}
.fc-button-next-custom{float:right;}
.the_header .chosen-container .chosen-results{max-height:300px;}
.the_header .chosen-search{display:none;}

		
.fc-button.fc-button-next.fc-corner-right{padding-right:0;}
/*.fc-button-prev .fc-text-arrow,
.fc-button-next .fc-text-arrow { 
	font-weight: bold;
	}*/
	
/* icon (for jquery ui) */
	
.fc-button .fc-icon-wrap {
	position: relative;
	float: left;
	top: 50%;
	}
	
.fc-button .ui-icon {
	position: relative;
	float: left;
	margin-top: -50%;
	*margin-top: 0;
	*top: -50%;
	}
	
/*
  button states
  borrowed from twitter bootstrap (http://twitter.github.com/bootstrap/)
*/

.fc-state-default {
	/*background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	color: #333;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);*/
	}

.fc-state-hover,
.fc-state-down,
.fc-state-active,
.fc-state-disabled {
	/*color: #333333;
	background-color: #e6e6e6;*/
	}

.fc-state-hover {
	/*color: #333333;
	text-decoration: none;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	   -moz-transition: background-position 0.1s linear;
	     -o-transition: background-position 0.1s linear;
	        transition: background-position 0.1s linear;*/
	}

.fc-state-down,
.fc-state-active {
	/*background-color: #cccccc;
	background-image: none;
	outline: 0;
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);*/
	}

.fc-state-disabled {
	/*cursor: default;
	background-image: none;
	opacity: 0.65;
	filter: alpha(opacity=65);
	box-shadow: none;*/
	}

	

/* Global Event Styles
------------------------------------------------------------------------*/

.fc-event-container > * {
	z-index: 8;
	}

.fc-event-container > .ui-draggable-dragging,
.fc-event-container > .ui-resizable-resizing {
	z-index: 9;
	}
	 
.fc-event {background-color: #d8d8d8; /* default BACKGROUND color */color: #fff;/* default TEXT color */font-size: 11px;cursor: default;margin-top:-32px;margin-left: -2px;height: 102px;padding: 0 5px;	background-size: 106px 111px !important;}
.date-label {font-size: 20px;text-align: right;margin: 5px 0px;}
.fc-event.not-available{background: #3a87ad;}
.fc-event.available{background: #698C00;}
.fc-event.available.passed{background-color: #d8d8d8;}
.fc-event.your-booking{background: #3a87ad;}
.fc-event.available.startselected{background: url(img/start-date.png) no-repeat #698C00;}
fc-event-container .fc-event.available:nth-child(6n) {background:pink; }/*{background-position-x:5px;}*/
.fc-event.available.selected{background: #FF6600;}
.fc-event.available.selected.endselected, .fc-event.available.hover-now{background: url(img/end-date.png) no-repeat #698C00;}
.fc-event.no-check-in.hover-now{background: url(img/end-date.png) no-repeat #47c5e9;}
.fc-event.book{background:#ff4700;}
.fc-event.book-hold{background:#fa9771;}
.fc-event.start-booked{background: url(img/start-book.png) no-repeat #698C00;}
.fc-event.start-booked.passed{background: url(img/start-book.png) no-repeat #d8d8d8;}
.fc-event.start-booked.book-hold{background: url(img/start-book-hold.png) no-repeat #698C00;}
.fc-event.start-booked.book-hold.passed{background: url(img/start-book-hold.png) no-repeat #d8d8d8;}

.fc-event.start-booked.end-booked.start-book-hold.end-book-hold.book-hold{background: url(img/end-start-book-hold.png) no-repeat;}
.fc-event.start-booked.end-booked.end-book-hold{background: url(img/end-book-hold-start-booked.png) no-repeat;}

.fc-event.start-booked.start-book-hold.end-booked{background: url(img/end-booked-start-book-hold.png) no-repeat;}


.fc-event.end-booked{background: url(img/end-book.png) no-repeat #698C00;}
.fc-event.end-booked.passed{background: url(img/end-book.png) no-repeat #d8d8d8;}
.fc-event.end-booked.book-hold{background: url(img/end-book-hold.png) no-repeat #698C00;}
.fc-event.end-booked.book-hold.passed{background: url(img/end-book-hold.png) no-repeat #d8d8d8;}

.fc-event.available.start-booked.hover-now{background: url(img/end-date.png), url(img/start-book.png);background-repeat: no-repeat, no-repeat;}
.fc-event.available.start-booked.book-hold.hover-now{background: url(img/end-date.png), url(img/start-book-hold.png);background-repeat: no-repeat, no-repeat;}

.fc-event.available.end-booked.startselected{background: url(img/start-date.png), url(img/end-book.png);background-repeat: no-repeat, no-repeat;}
.fc-event.available.end-booked.book-hold.startselected{background: url(img/end-book-hold.png), url(img/start-date.png);background-repeat: no-repeat, no-repeat;}

.fc-event.start-booked.end-booked{background: url(img/end-start-book.png) no-repeat;}
.title-manage-rate{position:relative;}
.small-loading{position: absolute;right: 5px;top: 3px;width: 18px;height: 18px;background: url('img/small-loading.gif') no-repeat;display: none;}


.fc-event.no-check-in{background-color:#47c5e9;}
.fc-event.no-check-out {background-color: #0984a7;}
.fc-event.end-booked.no-check-in{background: url(img/end-book.png) no-repeat #47c5e9;}
.fc-event.end-booked.book-hold.no-check-in{background: url(img/end-book-hold.png) no-repeat #47c5e9;}

.fc-event.no-check-out.startselected{background: url(img/start-date.png) no-repeat #0984a7;}
.fc-event.no-check-out.start-booked.book-hold{background: url(img/start-book-hold.png) no-repeat #0984a7;}

.fc-event.no-check-in-out{background:#8d5d5f;}
.fc-event.maintenance{background:#a67c52;}

a.fc-event {
	text-decoration: none;
	}
	
a.fc-event,
.fc-event-draggable {
	cursor: pointer;
	}
	
.fc-rtl .fc-event {
	text-align: right;
	}
.fc-event-inner {position: absolute;bottom: 7px;left: 7px;margin-right: 5px;}	
/*.fc-event-inner {
	width: 100%;
	height: 100%;
	overflow: hidden;
	}*/
	
.fc-event-time,
.fc-event-title {
	padding: 0 1px;
	color:#3A3838;
	}
	
.fc .ui-resizable-handle {
	display: block;
	position: absolute;
	z-index: 99999;
	overflow: hidden; /* hacky spaces (IE6/7) */
	font-size: 300%;  /* */
	line-height: 50%; /* */
	}
	
	
	
/* Horizontal Events
------------------------------------------------------------------------*/

.fc-event-hori {
	border-width: 1px 0;
	margin-bottom: 1px;
	}

.fc-ltr .fc-event-hori.fc-event-start,
.fc-rtl .fc-event-hori.fc-event-end {
	/*border-left-width: 1px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;*/
	}

.fc-ltr .fc-event-hori.fc-event-end,
.fc-rtl .fc-event-hori.fc-event-start {
	/*border-right-width: 1px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;*/
	}
	
/* resizable */
	
.fc-event-hori .ui-resizable-e {
	top: 0           !important; /* importants override pre jquery ui 1.7 styles */
	right: -3px      !important;
	width: 7px       !important;
	height: 100%     !important;
	cursor: e-resize;
	}
	
.fc-event-hori .ui-resizable-w {
	top: 0           !important;
	left: -3px       !important;
	width: 7px       !important;
	height: 100%     !important;
	cursor: w-resize;
	}
	
.fc-event-hori .ui-resizable-handle {
	_padding-bottom: 14px; /* IE6 had 0 height */
	}
	
	
	
/* Reusable Separate-border Table
------------------------------------------------------------*/

table.fc-border-separate {
	border-collapse: separate;
	}
	
.fc-border-separate th,
.fc-border-separate td {
	border-width: 1px 0 0 1px;
	}
	
.fc-border-separate th.fc-last,
.fc-border-separate td.fc-last {
	border-right-width: 1px;
	}
	
.fc-border-separate tr.fc-last th,
.fc-border-separate tr.fc-last td {
	border-bottom-width: 1px;
	}
	
.fc-border-separate tbody tr.fc-first td,
.fc-border-separate tbody tr.fc-first th {
	border-top-width: 0;
	}
	
	

/* Month View, Basic Week View, Basic Day View
------------------------------------------------------------------------*/

.fc-grid th {
	text-align: center;
	}

.fc .fc-week-number {
	width: 22px;
	text-align: center;
	}

.fc .fc-week-number div {
	padding: 0 2px;
	}
	
.fc-grid .fc-day-number {
	float: right;
	padding: 5px;
	font-family: verdana;
	font-size: 20px;
	}
	
.fc-grid .fc-other-month .fc-day-number {
	opacity: 0.3;
	filter: alpha(opacity=30); /* for IE */
	/* opacity with small font can sometimes look too faded
	   might want to set the 'color' property instead
	   making day-numbers bold also fixes the problem */
	}
	
.fc-grid .fc-day-content {
	clear: both;
	padding: 2px 2px 1px; /* distance between events and day edges */
	}
	
/* event styles */
	
.fc-grid .fc-event-time {
	font-weight: bold;
	}
	
/* right-to-left */
	
.fc-rtl .fc-grid .fc-day-number {
	float: left;
	}
	
.fc-rtl .fc-grid .fc-event-time {
	float: right;
	}
	
	

/* Agenda Week View, Agenda Day View
------------------------------------------------------------------------*/

.fc-agenda table {
	border-collapse: separate;
	}
	
.fc-agenda-days th {
	text-align: center;
	}
	
.fc-agenda .fc-agenda-axis {
	width: 50px;
	padding: 0 4px;
	vertical-align: middle;
	text-align: right;
	white-space: nowrap;
	font-weight: normal;
	}

.fc-agenda .fc-week-number {
	font-weight: bold;
	}
	
.fc-agenda .fc-day-content {
	padding: 2px 2px 1px;
	}
	
/* make axis border take precedence */
	
.fc-agenda-days .fc-agenda-axis {
	border-right-width: 1px;
	}
	
.fc-agenda-days .fc-col0 {
	border-left-width: 0;
	}
	
/* all-day area */
	
.fc-agenda-allday th {
	border-width: 0 1px;
	}
	
.fc-agenda-allday .fc-day-content {
	min-height: 34px; /* TODO: doesnt work well in quirksmode */
	_height: 34px;
	}
	
/* divider (between all-day and slots) */
	
.fc-agenda-divider-inner {
	height: 2px;
	overflow: hidden;
	}
	
.fc-widget-header .fc-agenda-divider-inner {
	background: #eee;
	}
	
/* slot rows */
	
.fc-agenda-slots th {
	border-width: 1px 1px 0;
	}
	
.fc-agenda-slots td {
	border-width: 1px 0 0;
	background: none;
	}
	
.fc-agenda-slots td div {
	height: 20px;
	}
	
.fc-agenda-slots tr.fc-slot0 th,
.fc-agenda-slots tr.fc-slot0 td {
	border-top-width: 0;
	}

.fc-agenda-slots tr.fc-minor th,
.fc-agenda-slots tr.fc-minor td {
	border-top-style: dotted;
	}
	
.fc-agenda-slots tr.fc-minor th.ui-widget-header {
	*border-top-style: solid; /* doesn't work with background in IE6/7 */
	}
	


/* Vertical Events
------------------------------------------------------------------------*/

.fc-event-vert {
	border-width: 0 1px;
	}

.fc-event-vert.fc-event-start {
	border-top-width: 1px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	}

.fc-event-vert.fc-event-end {
	border-bottom-width: 1px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	}
	
.fc-event-vert .fc-event-time {
	white-space: nowrap;
	font-size: 10px;
	}

.fc-event-vert .fc-event-inner {
	position: relative;
	z-index: 2;
	}
	
.fc-event-vert .fc-event-bg { /* makes the event lighter w/ a semi-transparent overlay  */
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: .25;
	filter: alpha(opacity=25);
	}
	
.fc .ui-draggable-dragging .fc-event-bg, /* TODO: something nicer like .fc-opacity */
.fc-select-helper .fc-event-bg {
	display: none\9; /* for IE6/7/8. nested opacity filters while dragging don't work */
	}
	
/* resizable */
	
.fc-event-vert .ui-resizable-s {
	bottom: 0        !important; /* importants override pre jquery ui 1.7 styles */
	width: 100%      !important;
	height: 8px      !important;
	overflow: hidden !important;
	line-height: 8px !important;
	font-size: 11px  !important;
	font-family: monospace;
	text-align: center;
	cursor: s-resize;
	}
	
.fc-agenda .ui-resizable-resizing { /* TODO: better selector */
	_overflow: hidden;
	}
	
/*Edit by Adi*/	
.wrap-manage-rate {background: #FFF;-moz-box-shadow: 0 0 5px #000;-webkit-box-shadow: 0 0 5px #000;box-shadow: 0 0 5px #000;display: block;height: 230px;left: 115px;padding: 10px;
position: absolute;top: -60px;width: auto;height: auto;z-index: 10;font-size: 12px;width: 320px;display:none;}
.wrap-manage-rate h2{font-size: 18px;font-weight: normal;padding-bottom: 5px;margin-bottom: 10px;border-bottom: solid 1px;}
.wrap-manage-rate p.desc-date{margin-bottom: 10px;}
.wrap-manage-rate p.label{margin-bottom: 5px;}
.wrap-manage-rate .chosen-container {margin-bottom:8px;min-width: 155px;}	
.wrap-manage-rate .btn_popup{background: #FF8000;color: #000;font-size: 14px;padding: 8px 20px;border: none;border-radius: 8px;-webkit-border-radius: 8px;-moz-border-radius: 8px;margin-bottom: 12px;}
#selecto_rates_chosen{min-width:310px;margin-bottom:20px;}
#confirm_cancel{cursor:pointer;text-decoration:underline;color:#FF8000;}
.wrap-manage-rate span.arrow{background: url(img/icon150.png) left no-repeat !important;bottom: -15px;height: 21px;position: absolute;width: 32px;left: 149px;}
.reason-text{border: 1px solid #757584;padding: 3px 5px;margin-bottom: 8px;width: 308px;}
.rate-text{width:193px; border: 1px solid #757584; padding:2px; margin-bottom:20px;}
#dialog-box-change-status{margin:-90px 0 0 -230px;}
#dialog-box-change-status .sub-title{margin: 20px 0;line-height: 15pt;}
.get_file_calender{margin: 10px 0;}
.main-title.ical-title{margin-top:40px;}
.main-title.ical-title h2{font-size: 18px;font-weight: normal;color: #FF7F00;float: left;}
.main-title.ical-title .border{margin-top: 10px;width: 780px;height: 1px;float: right;border-bottom: solid 1px#B8DFFE;}
.link_ics_cont{margin-bottom:40px;}
#newrate select{padding:2px; width:200px; border: 1px solid #757584;  margin-bottom:10px;}
.list-status{border: 1px solid #ccc;border-top: none;padding: 0 20px 30px 20px;font-size: 11px;margin-bottom: 60px;}
.border-top-status {border-top: solid 1px #ccc;margin-bottom: 10px;}
.list-status .status {float: left;height: 20px;margin-right: 10px; }
.list-status .status .status-image {float: left;background:url(../img/list-status-villa.png) no-repeat;width: 20px;height: 20px;margin-right: 3px;}
#available-status > .status-image {background-position: -25px 0px;}
#booked-status > div.status-image {background-position: -50px 0;}
#bookhold-status > div.status-image {background-position: -75px 0;}
#nocheckin-status > div.status-image {background-position: -100px 0;}
#nocheckout-status > div.status-image {background-position: -125px 0;}
#nocheckinout-status > div.status-image {background-position: -150px 0;}
#maintenance-status > div.status-image {background-position: -175px 0;}

/*for dialog*/
#dialog-overlay,.boxs-overlay,.default-overlay{background: #000000;position: fixed;top: 0;left: 0;z-index: 120;width: 100%;height: 100%;filter: alpha(opacity=80);-moz-opacity: 0.8;-khtml-opacity: 0.8;opacity: 0.8;display:none;}
#theClose, .default-close-box{position: absolute;width: 25px;height: 25px;top: -10px;right: -22px;background: url('../img/close.png') no-repeat ; background-size: 20px;}
.new-boxs{position: fixed;top: 50%;left: 50%;padding: 30px;width: 400px;z-index: 121;background: #fff;border-radius: 10px;-webkit-border-radius: 10px;-moz-border-radius: 10px;display: none;}
#failed-box.new-boxs{margin:-40px 0 0 -230px;}
.main-btn {background-color: #FF8000;border-radius: 8px;padding: 5px 35px;margin: 15px 0 10px 0;font-size: 15px;color: #FFFFFF;cursor: pointer;}
.main-btn:hover{text-decoration:none;}
.opt-pop-up {margin-top: 25px;text-align: right;}