<!-- BEGIN mainBlock -->
	<div id="sidebar">
		<ul class="list-menu">
			<li name=""><a href="{http}{site_url}/">Home</a></li>
			<li name="season"><a href="{http}{site_url}/season/">Season Period</a></li>
			<li name="rate"><a href="{http}{site_url}/rate/">Rate</a></li>
            <li name="villa-reservation"><a href="{http}{site_url}/villa-reservation/">{villa_badge} Reservation</a></li>
            <!--<li class="menu have-sub">
            	<a href="#" >
                	{all_badge}
                Reservation</a>
            	<ul>
                	<li name="villa-reservation" class="sub-menu">                	
                    	<a href="{http}{site_url}/villa-reservation/">
	                        {villa_badge}
                        	Villa Reservation
                        </a>
                    </li>
                	<li name="program-reservation" class="sub-menu prog-reser">
                    	<a href="{http}{site_url}/program-reservation/">
                        {prog_badge}
                        Program Reservation
                        </a>
                    </li>
                </ul>	
            </li>-->
            <!--<li name="program-package"><a href="{http}{site_url}/program-package/">Program Package</a></li>-->
            <li name="surcharge"><a href="{http}{site_url}/surcharge/">Surcharge</a></li>
            <li name="early-bird"><a href="{http}{site_url}/early-bird/">Early Bird Promo</a></li>
            <li name="discount-promo"><a href="{http}{site_url}/discount-promo/">Discount Promo</a></li>
            <!--<li name="special-offer"><a href="{http}{site_url}/special-offer/">Special Offer</a></li>
            <li name="additional-service"><a href="{http}{site_url}/additional-service/">Additional Service</a></li>-->
            <li name="allotment"><a href="{http}{site_url}/allotment/">Calendar</a></li>
            <li name="dashboard"><a href="{url_admin}">Back to Dashboard</a></li>
            <!--<li name="cancellation-policy"><a href="{http}{site_url}/cancellation-policy/">Cancellation Policy</a></li>
			<li name="cancelation"><a href="{http}{site_url}/cancelation/">Cancellation</a></li>-->
		</ul>
        <input type="hidden" name="selected-menu" value="{selected_menu}" />
	</div>
<!-- END mainBlock -->