<!-- BEGIN mainBlock -->
	<div id="sidebar">
		<div class="top">&nbsp;</div>
		<ul>
			<li><a href="http://http://{site_url}/">Home</a></li>
			<li><a href="http://http://{site_url}/info/">Info and Price</a></li>
			<li><a href="http://http://{site_url}/description/">Description</a></li>
			<li style="display:none;"><a href="http://http://{site_url}/rate/">Rate</a></li>
			<li><a href="http://http://{site_url}/gallery/">Gallery</a></li>
		</ul>
		<div class="bot">&nbsp;</div>
	</div>
<!-- END mainBlock -->