<!-- BEGIN pageAddNew -->
 <script>
$(document).ready(function() {
function trim(str) {
		var	str = str.replace(/^\s\s*/, ''),
			ws = /\s/,
			i = str.length;
		while (ws.test(str.charAt(--i)));
		return str.slice(0, i + 1);
	}

return_colorbox_view_image();

function return_colorbox_view_image (){
	$("a[rel='view_image']").colorbox();
	$('.inline').colorbox({inline:true, width:'50%'});
	$('.iframe_new').colorbox({iframe:true, width:'560px', height:'340px'});
}

});
</script>


<script type="text/javascript">
$(document).ready(function(){
	///*
	$('.thecategory_parent').change(function(){
		var rel = $(this).attr("rel");
		var val = $(this).val();
		if (val==14){
			$('.block_video_'+rel).css('display','block');
			$('.block_image_'+rel).css('display','none');
		}else if (val==16){
			$('.block_video_'+rel).css('display','none');
			$('.block_image_'+rel).css('display','block');
		}else{
			$('.block_video_'+rel).css('display','none');
			$('.block_image_'+rel).css('display','block');
		}
	})
	//*/
});
</script>

<style>
.td_line_up{
	text-align:left; padding:0px 0 5px 0; background:url({template_url_imgs}/VRHLine4.png) top no-repeat 
}

.td_additional_title{
	vertical-align:top; text-align:left; padding:5px 0 5px 10px; 
}

.td_package_title{
	vertical-align:top; text-align:left; padding:5px 0 5px 10px;  width:250px;
}
.td_colspan_5{
	 vertical-align: top;
}
.td_checkbox{
	vertical-align:top; width: 26px; text-align:left; padding:5px 15px 5px 5px; 
}

.td_price{
	vertical-align:top; width:120px; vertical-align:top; text-align:right; padding:5px 15px 5px 15px; 
}

.td_qty{
	vertical-align:top; width: 56px; text-align:center; padding:5px 0 5px 0; 
}

.td_day{
	vertical-align:top; width: 56px; text-align:center; padding:5px 0 5px 0; 
}

.td_tot_price{
	vertical-align:top; text-align:right; padding:5px 10px 5px 0; 
}
.td_line_bottom{
	text-align:left; padding:0px 0 5px 0; background:url({template_url_imgs}/VRHLine4.png) top no-repeat;
	border-bottom: 1px solid #BBBBBB;
	padding: 0px;
}
table.table_additional_service h4{
	margin: 0px;
}

table.table_additional_service p{
	margin: 0px;
}
table.table_additional_service a{
	text-decoration: none;
}
</style>

<h1>{app_title}</h1>
<ul class="tabs" style="border-bottom:none;">{gallery_tabs}</ul>
<div class="tab_container">
    <div class="single_content">
	{alert}
        <form method="post" action="#" enctype="multipart/form-data">
	     {is_edit_all}
	     {is_saved}
            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                        {button}
                    </ul>   
                </div>
           </div>
	    <!-- BEGIN loopPage -->
	    <div class="list_edit" {am_style_background}>	
	<!--  		
    <input type="checkbox" checked="checked" name="select[]" class="title_checkbox select" value="{post_id}" />
    -->
    <input type="hidden" name="post_id[{post_index}]" value="{post_id}">
    <input type="hidden" name="article_id[{post_index}]" value="{post_id}">
		<fieldset>
			<div class="blockSurechargeDescription">
			<p>Category<br></p>
		    <p>
			<select name="thecategory_parent[{post_index}]" rel="{post_index}" class="thecategory_parent">
		    <option value="0">Category</option>
		    {thecategory_parent_option}
		    </select>
			</p>
			<p>Name<br></p>
		    <p>
			<input type="text" value="{val_thetitle}" name="thetitle[{post_index}]" class="textbox">
			</p>
			
			<!-- 
			<div class="block_image_{post_index}" style="{display_image}">
			-->
			<div class="block_image_{post_index}">
			<p>Image<br></p>
		    <p>
		    {exit_image}
		    <input type="file" name="theimage[{post_index}]"> 
		    </p>
		    </div>
		    
		    <div class="block_video_{post_index}" style="{display_video}">
		    <p>Embed Video<br></p>
		    <p>
		    {exit_embed}
			<textarea class="textarea" name="theembed[{post_index}]" style="resize: vertical; width: 100%;">{val_theembed}</textarea>
			</p>
			</div>
		    
			<p style="display: none;">Description<br></p>
		    <p style="display: none;">
		    { textarea }
		    </p>
		    
		</div>
		</fieldset>
       	</div>
	    <!-- END loopPage -->
            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                       {button}
                    </ul>   
                </div>
           </div>
        </form>
	
    </div>
</div>
<!-- END pageAddNew -->