<!-- BEGIN Bgallery_block -->
<style>

.scrollable .overview, 
.scrollable .viewport{
    width: 100% !important;
}

</style>
<div class="content-page-mask">
<span class="loading"></span>
</div>
            	<div class="content">
                    <div class="content-right {gallery_status}">
                    	{image}
                    </div>
                    <div class="content-left">
                		{navigation}
                        <div class="block-mini">
                        	<div class="default-skin  custom-scrollbar" id="default-skin-demo">
                            	<h2 class="title">{title}</h2>
								{description}
								{categories}
                            </div>
                        </div>
                    </div>
            	</div>
<!-- END Bgallery_block -->