<!-- BEGIN detail_gallery -->
<div id="layout-bottom" class="gallery-template">
	<div id="content">
		<h1>PHOTO GALLERY</h1>
		<div class="container-list-gallery">
			<div id="list-gallery" class="list-gallery middle-right-content" style="height:693px;">
				<!-- BEGIN item_gallery -->
				<div class="item-gallery">
					<img data-lazy="{src_item_gallery}">
				</div>
				<!-- END item_gallery -->
			</div>
			<div class="span-number">
				<span id="curr-num-slide" class="number-slide">1</span>/<span id="all-num-slide" class="number-slide">10</span>
			</div>			
		</div>
		
		<div id="list-gallery-nav" class="list-gallery-nav middle-right-content">
			<!-- BEGIN item_gallery_nav -->
			<div class="item-gallery-nav">
				<img data-lazy="{src_item_gallery_nav}">
			</div>
			<!-- END item_gallery_nav -->
		</div>
	</div>
	
</div>
<!-- END detail_gallery -->