<!-- BEGIN mainBlock -->
<script type="text/javascript">
	jQuery(document).ready(function(){
		//formButtons();
		var minComm = parseInt('{min_commision}');
		var isNew   = '{title}';
		if(isNew=='New'){
			jQuery('.commisionInput').val(minComm);
			jQuery('.radioYes').attr('checked',true);
		}
		jQuery('.commisionInput').keyup(function(){
			var tisVal = parseInt(jQuery(this).val());
			var tisID  = jQuery(this).attr('id');
	
			if(tisVal<minComm){
				jQuery('.minCommNotif.'+tisID).fadeIn();
				jQuery('.button.dummy').css('display','inline');
				//jQuery('.button.submit').css('display','none');
				jQuery('.btn_save').css('display','none');
			}else{
				jQuery('.minCommNotif.'+tisID).fadeOut();
				jQuery('.button.dummy').css('display','none');
				//jQuery('.button.submit').css('display','inline');
				jQuery('.btn_save').css('display','inline');
			}
		});
		
		jQuery('.button.dummy').click(function(){
			alert('please check again the form');
		});
		
		{jsAction}
	});
</script>
<div id="contentWrapper">
	<div class="notifBlockSaved" style="display:none; margin-bottom:10px; padding:10px; background:#93FF93; font-size:13px; color:#000;">
			{notif_message}
	</div>
	<div class="notifFailedSaved" style="display:none; margin-bottom:10px; padding:10px; background:#ffd504; font-size:13px; color:#000;">
			{notif_message}
	</div>
	<div id="content-typeEdit">
        	<div class="headsUp">
			<h2>Rate {title}</h2>
			<form method="post" action="" id="theEditForm"  name="theEditForm" enctype="multipart/form-data">
			<!-- BEGIN editContent -->
			<input type="hidden" name="pilih[{i}]" id="pilih{i}" value="{pilih}" />
			<input name="rate_id[{i}]" id="rate_id{i}" type="hidden" value="{rate_id}" />
			{separate}
			<div class="wrapper form bt-abu-true" style="border-bottom:solid 1px #ccc;">
				<label>Room Category</label>
                <select name="acco_type_cat_id[{i}]" id="acco_type_cat_id{i}" class="required">
	                {room_category}
                </select>
				
			</div>
			<div class="wrapper form" style="border-bottom:solid 1px #ccc;">
				<label class="mid-width" style="float:left">Low Season (USD)&nbsp;</label>
				<input type="text" class="text required number" id="low_season{i}" name="low_season[{i}]" value="{low_season}" style="width:100px;" />
                <span style="float:left;"> &nbsp;/ 7+ Nights &nbsp;</span><input type="text" class="text required number" id="low_additional{i}" name="low_additional[{i}]" value="{low_additional}" style="width:100px;" />
                <div class="clear"></div>
			</div>
			<div class="wrapper form" style="border-bottom:solid 1px #ccc;">
				<label class="mid-width" style="float:left">High Season (USD)&nbsp;</label>
				<input type="text" class="text required number" id="high_season{i}" name="high_season[{i}]" value="{high_season}"  style="width:100px;" /><span style="float:left; "> &nbsp;/ 7+ Nights &nbsp;</span><input type="text" class="text required number" id="high_additional{i}" name="high_additional[{i}]" value="{high_additional}" style="width:100px;" />
                <div class="clear"></div>
			</div>
            <div class="wrapper form" >
				<label  class="mid-width" style="float:left">Peak Season (USD)&nbsp;</label>
				<input type="text" class="text required number" id="peak_season{i}" name="peak_season[{i}]" value="{peak_season}"  style="width:100px;" /><span style="float:left; padding-top:4px;"> &nbsp;/ 7+ Nights &nbsp;</span><input type="text" class="text required number" id="peak_additional{i}" name="peak_additional[{i}]" value="{peak_additional}" style="width:100px;" />
                <div class="clear"></div>
			</div>
            
            
			<div class="wrapper form" style="border-bottom:solid 1px #ccc;  display: none;">
				<label>Allotment</label>
				<input type="text" class="text required digits" id="allotment{i}" name="allotment[{i}]" value="{allotment}" style="width:100px;" />
			</div>
			<div class="wrapper form" style="border-bottom:solid 1px #ccc;  display: none;">
				<label>Commission</label>
				<input type="text" class="commisionInput" class="text required number" id="commision{i}" name="commision[{i}]" value="{commision}" style="width:50px;" />
                <span style="margin:2px 0 0 5px;"> % (min. commission is {min_commision}%)</span> 
                <span style="padding:2px 0 0 5px; color:#a00; font-size:10px; font-weight:bold; display:none;" class="minCommNotif commision{i}">please set the commision is equal or larger than the min. commision</span>
			</div>
			<div class="wrapper form" style="border-bottom:solid 1px #ccc;  display: none;">
				<label>Breakfast</label>
				<input name="breakfast[{i}]" id="breakfast{i}" value="0" {check0} class="inputbox" size="1" type="radio">
				<label for="breakfast0">No</label>
				<input class="radioYes" name="breakfast[{i}]" id="breakfast1{i}" value="1" {check1} class="inputbox" size="1" type="radio">
				<label for="breakfast1">Yes</label>
			</div>
			<!-- END editContent -->
			<div class="bottonContainer">
            	<a href="#" class="button dummy" style="display:none;"><img src="{http}{template_url}/img/button-save.png" alt="button-save" width="75" height="31"/></a>
				{button_save}
				<a href="{http}{supplier_site_url}/rate/" class="button"><img src="{http}{template_url}/img/button-cancel.png" alt="button-cancel" width="75" height="31"/></a>
			</div>
			<div class="clear"></div>
			</form>
		</div>
        </div>
        <!-- id="content-type" END ========================= --> 
</div>
<!-- END mainBlock -->