<!-- BEGIN mainBlock -->
<script type="text/javascript">
	jQuery(document).ready(function(){
		//formButtons();
		var minComm = parseInt('{min_commision}');
		var isNew   = '{title}';
		if(isNew=='New'){
			jQuery('.commisionInput').val(minComm);
			jQuery('.radioYes').attr('checked',true);
		}
		jQuery('.commisionInput').keyup(function(){
			var tisVal = parseInt(jQuery(this).val());
			var tisID  = jQuery(this).attr('id');
	
			if(tisVal<minComm){
				jQuery('.minCommNotif.'+tisID).fadeIn();
				jQuery('.button.dummy').css('display','inline');
				//jQuery('.button.submit').css('display','none');
				jQuery('.btn_save').css('display','none');
			}else{
				jQuery('.minCommNotif.'+tisID).fadeOut();
				jQuery('.button.dummy').css('display','none');
				//jQuery('.button.submit').css('display','inline');
				jQuery('.btn_save').css('display','inline');
			}
		});
		
		jQuery('.button.dummy').click(function(){
			alert('please check again the form');
		});
		
		{jsAction}
	});
</script>
<div id="contentWrapper">
	<div class="notifBlockSaved" style="display:none; margin-bottom:10px; padding:10px; background:#93FF93; font-size:13px; color:#000;">
			{notif_message}
	</div>
	<div class="notifFailedSaved" style="display:none; margin-bottom:10px; padding:10px; background:#ffd504; font-size:13px; color:#000;">
			{notif_message}
	</div>
	<div id="content-typeEdit">
       	<div class="headsUp">
			<h2>Additional Service Category {title}</h2>
			<form method="post" action="" id="theEditForm"  name="theEditForm" enctype="multipart/form-data">
			<!-- BEGIN editContent -->
			<input type="hidden" name="pilih[{i}]" id="pilih{i}" value="{pilih}" />
			<input name="asc_id[{i}]" id="asc_id{i}" type="hidden" value="{asc_id}" />
			{separate}
			
			<div class="wrapper form bt-abu-true" style="border-bottom:solid 1px #ccc;">
				<label>Name</label>
				<input type="text" class="text required number" id="name{i}" name="name[{i}]" value="{name}" />
			</div>            
            
			<div class="wrapper form" >
				<label>Description</label>
                <textarea  name="description[{i}]" style="height:100px; width:600px;">{description}</textarea>
			</div>
			
			<!-- END editContent -->
			<div class="bottonContainer">
            	<a href="#" class="button dummy" style="display:none;"><img src="{http}{template_url}/img/button-save.png" alt="button-save" width="75" height="31"/></a>
				{button_save}
				<a href="{http}{supplier_site_url}/special-offer-category/" class="button"><img src="{http}{template_url}/img/button-cancel.png" alt="button-cancel" width="75" height="31"/></a>
			</div>
			<div class="clear"></div>
			</form>
		</div>
   </div>
        <!-- id="content-type" END ========================= --> 
</div>
<!-- END mainBlock -->