<!-- BEGIN mainBlock -->
<script type="text/javascript">
		jQuery(document).ready(function(){
			//formButtons();
			{jsAction}
			
			jQuery('.button.singleEdit').click(function(){
				jQuery(this).parent().find('.checkbox').attr('checked', true);
				jQuery('.btn_edit').click();
			});
			jQuery('.button.singleDelete').click(function(){
				jQuery(this).parent().find('.checkbox').attr('checked', true);
				jQuery('.btn_delete').click();
			});
			ShowEditDelete();
		});
</script>
<div id="contentWrapper">
	<form method="post" action="" id="theEditForm"  name="theEditForm" enctype="multipart/form-data">
	{notif_message}
	<!-- BEGIN deleteContent -->
		<input type="hidden" name="delId[{i}]" id="delId{i}" value="{delId}" />
	<!-- END deleteContent -->
        <div id="content-type">
        	<div class="headsUp">
        		<h2>Special Offer Category</h2>
        		<div class="bottonContainer">
				<input class="btn_new"    name="prc" value="new" type="submit">
				<input class="btn_edit"   name="prc" value="edit" type="submit">
				<input class="btn_delete" name="prc" value="delete" type="submit">
        		</div>
        		<div class="wrapper form table" style="margin-top:-1px; border-bottom:solid 1px #ccc; border-top:solid 1px #ccc; background:#f5f5f5;">
        			<input type="checkbox" name="checkall" class="checkbox" onclick="checkUncheckAll(this);" title="Check All/Uncheck All"/>
					<label><strong>Name</strong></label>
					<div class="value" style="width:70%;">
						<label style="width:70%"><strong>Decription</strong></label>
        			</div>
        		</div>
                
        		<!-- BEGIN viewContent -->
        		<div class="wrapper form table" >
                    <input type="checkbox" name="pilih[]" class="checkbox" value="{check}" />
                    <div style="float: left;" class="block_action" rel='{check}'>
                        <label>{name}</label>
                        <br style="clear: both;" />
                        <span style="float: left; margin-top: 5px; height: 12px;">
                            <a href="{http}{supplier_site_url}/special-offer-category-edit/{check}.html" class="button a_action_{check} a_action" style="display: none;">edit</a>
                            <a href="{http}{supplier_site_url}/special-offer-category-delete/{check}.html" class="button a_action_{check} a_action" style="display: none;">delete</a>
                        </span>
                    </div>
					<div class="value" style="width:70%;">
        				<label style="width:70%">{decription}</label>
        			</div>
        		</div>
				<!-- END viewContent -->
                
        		<div class="bottonContainer">
				<input class="btn_new" name="prc" value="new" type="submit">
				<input class="btn_edit" name="prc" value="edit" type="submit">
				<input class="btn_delete" name="prc" value="delete" type="submit">
        		</div>
        		<div class="clear"></div>
			
        	</div>
        </div>
	</form>
        <!-- id="content-type" END ========================= -->
</div>
<!-- END mainBlock -->