<!-- BEGIN mainBlock -->
	<script type="text/javascript">
		jQuery(document).ready(function(){
			formButtons();
			{jsAction}
			
			var theAjaxUrl = '{http}{site_url}/apps/ajaxed/class.ajaxed.php';
			var selItem    = 0;
			bindEffect();
			selectLikeOnDatabase();
			sortItems();
			
			
			function sortItems(){
				var theJSON = jQuery('[name=facilitiesJSON]').val();
				var array   = jQuery.evalJSON(theJSON);
				jQuery.each(array , function(index,value){
					var key = 'theFacilities-'+value;
					if(index==0){
						jQuery('#'+key).prependTo('#facilitiesSelectionContainer');
					}else{
						jQuery('#'+key).insertAfter('#facilitiesSelectionContainer .one:eq('+(index-1)+')');
					}
				});
				jQuery('#facilitiesSelectionContainer .one').unbind();
				bindEffect();
				jQuery('#facilitiesSelectionContainer .one').removeClass('hover');
			}
			
			
			
			function selectLikeOnDatabase(){
				var theJSON = jQuery('[name=facilitiesJSON]').val();
				if(trim(theJSON)!=''){
					var array   = jQuery.evalJSON(theJSON);
					jQuery.each(array , function(index,value){
						var key = 'theFacilities-'+value;
						jQuery('#'+key).click();
					});
				}
			}		
			
			
			function bindEffect(){
				jQuery('#facilitiesSelectionContainer .one').mouseenter(function(){
					jQuery(this).addClass('hover');
				}).mouseleave(function(){
					jQuery(this).removeClass('hover');
				}).click(function(){
					jQuery(this).toggleClass('selected');
					var theID = jQuery(this).attr('id');
					JSONdata(theID);
				});
			}
			
			jQuery('[name=newFacilities]').keyup(function(){
				highlightMathes();
			}).keypress(function(event){
				if (event.which == '13') {
					doSelectOrAdd();
				}
			});
			jQuery('.addNewFacilitiesButton').click(function(){
				doSelectOrAdd();
			}).css('cursor','pointer');
			
			
			function highlightMathes(){
				var text = trim(jQuery('[name=newFacilities]').val());
				if(text!=''){
					jQuery('#facilitiesSelectionContainer .one').each(function(){
						var rel = jQuery(this).attr('rel');
						var rep = rel.replace(text,'<strong>'+text+'</strong>');
						jQuery(this).find('p').html(rep);
					});
				}else{
					jQuery('#facilitiesSelectionContainer .one').each(function(){
						var rel = jQuery(this).attr('rel');
						jQuery(this).find('p').html(rel);
					});
				}
			}
			function doSelectOrAdd(){
				var found = 0;
				var sel   = '';
				var text  = trim(jQuery('[name=newFacilities]').val());
				jQuery('#facilitiesSelectionContainer .one').each(function(){
					var rel = trim(jQuery(this).attr('rel'));
					if(text == rel){ 
						found = 1; 
						sel   = jQuery(this).attr('id');
					}
				});
				
				if(found==1){
					jQuery('#'+sel).click();
					jQuery('[name=newFacilities]').val('');
					highlightMathes();
					//JSONdata(sel);
				}else{
					if(text!==''){ ajaxAddNew(); }
				}
			}
			
			function ajaxAddNew(){
				jQuery('#ajaxLoaderIjo').css('display','block');
				var text = trim(jQuery('[name=newFacilities]').val());
				jQuery.post(theAjaxUrl, { 
					act : "facilitiesAdd", 
					name : text
				}, function(data){
					if(trim(data)=='error'){
						alert('there are some error');
					}else if(trim(data)=='exist'){
						alert('data already exist');
					}else{
						jQuery('#facilitiesSelectionContainer .clear').before( trim(data) );
						jQuery('#facilitiesSelectionContainer .brandNew').css('display','none');
						jQuery('#facilitiesSelectionContainer .brandNew').slideDown(function(){
							jQuery('#facilitiesSelectionContainer .one').unbind();
							bindEffect();
							jQuery('#facilitiesSelectionContainer .brandNew').click();
							jQuery('#facilitiesSelectionContainer .one').removeClass('brandNew');
							jQuery('[name=newFacilities]').val('');
						});
					}
					jQuery('#ajaxLoaderIjo').css('display','none');
				});
			}
			
			function JSONdata(tgID){
				var tgID;
				var i = 0;
				var idArry = new Array();
				
				var status = jQuery('#'+tgID).hasClass('selected');
				if(status){
					jQuery('#'+tgID).append('<span>'+(selItem+1)+'</span>');
					selItem++;
				}else{
					var dIndex = trim(jQuery('#'+tgID).find('span').text());
					jQuery('#facilitiesSelectionContainer .one.selected').each(function(){
						var cIndex = trim(jQuery(this).find('span').text());
						if(cIndex>dIndex){
							jQuery(this).find('span').text(cIndex-1);
						}
					});
					
					jQuery('#'+tgID).find('span').remove();
					selItem--;
				}
				
				jQuery('#facilitiesSelectionContainer .one.selected').each(function(){
					var cIndex = trim(jQuery(this).find('span').text());
					var tmp = jQuery(this).attr('id');
					var prt = tmp.split('-');
					var id  = prt[1];
					idArry[(parseInt(cIndex)-1)] = parseInt(id);
					i++;
				});
				if(idArry!=''){
					var jSonString = jQuery.toJSON(idArry);
				}else{
					var jSonString = '';
				}
				jQuery('[name=facilitiesJSON]').val(jSonString);
				
				sortItems();
			}
		});
	</script>

	<div id="contentWrapper">
        <div class="notifBlockSaved" style="display:none; margin-bottom:10px; padding:10px; background:#ffd504; font-size:13px; color:#a00;">
        	Data Saved
        </div>

        <div id="content-description">
        	<div class="headsUp">
				<h2>Facilities</h2>
				<form method="post" action="" id="theEditForm" name="theEditForm" enctype="multipart/form-data">
				<div class="wrapper form" style="border-bottom:solid 1px #ccc; display:none;">
					<textarea name="theFacilities" style="width:730px; height:200px;">{theFacilities}</textarea>
				</div>
                
                <div class="wrapper form" style="border-bottom:solid 1px #ccc;">
                	<input type="text" name="facilitiesJSON" value="{facilitiesJSON}" style="width:90%; margin-bottom:20px; display:none;" />
                    
                    <div id="facilitiesSelectionContainer" >
                    	{theFacilitiesList}                        
                        <div class="clear"></div>
                    </div>
                    <input type="text" name="newFacilities" class="newFacilitiesInput" value="" />  <input type="button" name="addNewFacilities" value="add new" class="addNewFacilitiesButton" /> <img style="float:left; margin-top:6px; display:none;" src="{http}{template_url}/img/ajax-ijo.gif" id="ajaxLoaderIjo"/>               
                	<div class="clear"></div>
                </div>
                
				<div class="bottonContainer">
					<a href="#" class="button submit"><img src="{http}{template_url}/img/button-save.png" alt="button-save" width="75" height="31"/></a>
					<a href="{http}{supplier_site_url}/" class="button"><img src="{http}{template_url}/img/button-cancel.png" alt="button-cancel" width="75" height="31"/></a>
				</div><div class="clear"></div>
				
				</form>
			</div>
        </div>
        <!-- id="content-description" END ========================= --> 
	</div>
<!-- END mainBlock -->