<!-- BEGIN mainBlock -->
	<script type="text/javascript">
		jQuery(document).ready(function(){
			formButtons();
			{jsAction}			
		});
	</script>
	<div id="contentWrapper">
		<div class="notifBlockSaved" style="display:none; margin-bottom:10px; padding:10px; background:#ffd504; font-size:13px; color:#a00;">
			Data Saved
		</div>
		<div class="notifFailedSaved" style="display:none; margin-bottom:10px; padding:10px; background:#ffd504; font-size:13px; color:#000;">
			Data failed to saved
		</div>
		<div id="content-info">
			<div class="headsUp">
				<h2>Hotel Info</h2>
				<form method="post" action="" id="theEditForm" name="theEditForm" enctype="multipart/form-data">
				<div class="wrapper form" style="border-bottom:solid 1px #ccc;">
					<label>Name</label>
					<input name="name" style="width:400px;" value="{acco_name}">
				</div>
				<div class="wrapper form" style="border-bottom:solid 1px #ccc;">
					<label>Star</label>
					<select name="star">
						<option value="">select star</option>
						{acco_star}
					</select>
				</div>
				{existingImage}
				<div class="wrapper form" style="border-bottom:solid 1px #ccc;">
					<label>New Image</label>
					<input type="file" id="image" name="image" style="color: #444; float: left; background: #fff; border: #ccc solid 1px; font-size: 13px; " />
				</div>
				<div class="wrapper form" style="border-bottom:solid 1px #ccc;">
					<label>Address</label>
					<textarea name="theAddress" style="width:640px; height:175px;">{acco_address}</textarea>
				</div>
				<div class="bottonContainer">
					<a href="#" class="button submit"><img src="{http}{template_url}/img/button-save.png" alt="button-save" width="75" height="31"/></a>
					<a href="{http}{supplier_site_url}/" class="button"><img src="{http}{template_url}/img/button-cancel.png" alt="button-cancel" width="75" height="31"/></a>
				</div><div class="clear"></div>
				
				</form>
			</div>
		</div> 
	</div>
<!-- END mainBlock -->