<!-- BEGIN mainBlock -->
<script type="text/javascript">
jQuery(document).ready(function(){ activateAjaxUpload(); });
</script>

    	<h1>FEED {logout_link} <a class="profileLnk" style="border-left: 1px solid rgb(255, 255, 255); padding-left: 10px; margin-left: 10px;" href="{http}{site_url}/profile/">profile</a> <a class="profileLnk" href="{http}{site_url}/">back to feeds</a></h1>
        <div id="onYourMindWrapper">
        	<div class="top"></div>
            <textarea name="whatsOnYourMind">Whats On Your Mind?</textarea>
        	<div class="bot"></div>
        </div>
        
        <div id="embedTabs">
        	<span class="label" style="background:#fff;">Attach :</span> 
            <a id="attImg">
                <div class="info">
                	<span>Picture</span>
                </div>
                <img src="{http}{template_url}/book-img/ico-embed-img.png" />
            </a> 
            <a id="attUrl">
            	<div class="info">
                	<span>URL</span>
                </div>
                <img src="{http}{template_url}/book-img/ico-embed-url.png" />
            </a> 
            <a id="attVid">
            	<div class="info">
                	<span>Video</span>
                </div>
                <img src="{http}{template_url}/book-img/ico-embed-video.png" />
            </a> 
        </div>
        
        <div id="imgForm">
        	<a class="closeThis"><img src="{http}{template_url}/book-img/close-button.gif" /></a>
        	<label>Select an image file on your computer.</label>
          <div style="display:none;" id="rawFile">
			<input type="file" name="raw" />
			<a class="addMore"><img src="{http}{template_url}/book-img/ico-add-more.png" />add file</a>
			<!-- <a class="removeMore"><img src="{http}{template_url}/book-img/ico-rem-more.png" /> remove file</a> -->
		</div>
		
		<!-- 
		<div class="file" id="file-1">
			<input type="file" name="file_1" />
			<a class="addMore"><img src="{http}{template_url}/book-img/ico-add-more.png" />add file</a>
			<a class="removeMore"><img src="{http}{template_url}/book-img/ico-rem-more.png" /> remove file</a> 
		</div>
		-->
		
    		<!--List Files-->
		<ul id="files">
		  <li class="empty">&nbsp;</li>
		</ul>
		<div id="uploadButtonWrapper">
		  <!-- Upload Button-->
		  <div id="upload" ><img src="{http}{template_url}/book-img/add-button.gif" /></div>
		  <img id="imageUploadProgress" src="{http}{template_url}/book-img/ajax-loader.gif" />
		</div>
		<input type="hidden" name="uplodedFilesList" value=""/>
        </div>
        
        <div id="urlForm">
        	<a class="closeThis"><img src="{http}{template_url}/book-img/close-button.gif" /></a>
        	<label>URL :</label>
          <input type="url" name="embedUrl" />
        </div>
        
        <div id="vidForm">
        	<a class="closeThis"><img src="{http}{template_url}/book-img/close-button.gif" /></a>
		<label>URL or Embed Code :</label>
          <div class="topBorder"></div>
		<textarea name="embedVid" /></textarea>
		<div class="botBorder"></div>
        </div>
        
        <input type="button" class="active" name="shareNow" value="SHARE" />
	   <input type="hidden" name="actURL" value="{http}{site_url}/feedPost/" />
	   <input type="hidden" name="redURL" value="{http}{site_url}/" />
        <input type="hidden" name="isSinglePage" value="yes" />
	   
        <div id="postsCont">            
            {theFeed}
		  <input type="hidden" name="thePostID" value="{thePID}"/>
		  <div class="clear"></div>
            
            <!-- comment list start here ============================================================================== -->
            <h2 class="comments">Comments</h2>
            <div id="commentsWrapper">
		     {theComments}
               <div class="clear" id="insertBeforeThis"></div>
            </div>
            
            <div id="commentFormWrapper">
               <textarea name="yourCommentInput" ></textarea>
               <p><input type="button" name="addComment" value="Add Comment" /> </p>
            </div>
            <!-- comment list end here ============================================================================== -->
        </div>

<!-- END mainBlock -->
