<!-- BEGIN mainBlock -->
	<script type="text/javascript">
		jQuery(document).ready(function(){
			jQuery('.infoIcon[original-title!=]').tipsy({
				html : true
			});
		});
	</script>
	<div id="contentWrapper">
		<div id="content-home">
			<div class="headsUp">
				<h2>Hotel</h2>
				<div class="wrapper">
					<img src="{acco_img}" alt="two" width="168" height="117"/>
					<h3>{acco_name}</h3>
					<p style="padding:10px 0px;">{acco_star} Star Hotel</p>
					<p>Address:</p>
		           	<p>{acco_address}</p>
				</div><div class="clear"></div>
				<div class="bot">&nbsp;</div>
			</div>
	
			<div class="tabsContainer">
	        	<div class="theTabs">
	            	<a id="tab-rateAndRoomType" class="active" >Rate & Room Type</a>
	                <a id="tab-descrtiption">Description</a>
	                <a id="tab-photoGallery">Photo Gallery</a>
	                <a id="tab-facilities">Facilities</a>
	            </div>
	            <div class="content">
	            	<div class="oneContent" id="content-rateAndRoomType">
	                	<div class="tHead one">Room Type</div>
						<div class="tHead two">Low Season <img class="infoIcon"  original-title="<strong>Low Season Period</strong><br />{lowPeriod}" src="{http}{template_url}/img/info-icon.gif" /><span>(USD/Night)</span></div>
						<div class="tHead two">High Season <img class="infoIcon" original-title="<strong>High Season Period</strong><br />{highPeriod}" src="{http}{template_url}/img/info-icon.gif" /><span>(USD/Night)</span></div>
						<div class="tHead two">Peak Season <img class="infoIcon" original-title="<strong>Peak Season Period</strong><br />{peakPeriod}" src="{http}{template_url}/img/info-icon.gif" /><span>(USD/Night)</span></div>
						{roomType}
	                </div>
	                <div class="oneContent" id="content-descrtiption">
	                	<p>{description}</p>
	                </div>
	                <div class="oneContent" id="content-photoGallery">
	                	{thumbs}
	                </div>
	                <div class="oneContent" id="content-facilities">
	                	<p>{facilities}</p>
	                </div>
	            </div>
	        </div><div class="clear"></div>
		</div>
	    <!-- id="content-home" END ========================= -->

	</div>
<!-- END mainBlock -->
