<!-- BEGIN mainBlock -->
{jquery.ui.css}
{jquery_ui}
{validationEngine.jquery}
{jquery.form}
{jquery.validationEngine}
{jquery.validationEngine-en}
<script>
$(document).ready(function(){
	function trim(str) {
		var	str = str.replace(/^\s\s*/, ''),
			ws = /\s/,
			i = str.length;
		while (ws.test(str.charAt(--i)));
		return str.slice(0, i + 1);
	}
	
	$("#confirmation").validationEngine();
	$("#termspayment").click(function(){
		$(".Error").css("display","none");
	});
	
	$("#confirmation").submit(function(){
		var term=$("#termspayment:checked").val();
		var thaUrl 	= "http://{url}/front-product-ajax";
		if($("#confirmation").validationEngine("validate") == true){
			if(term == 1){				
				return true;
			}else{
				$(".Error").css("display","");
				return false;
			}
		}else{
			$(".Error").css("display","none");
			return false;
		}
	});
	
	
	$("#type").change(function(){ 
		    var value = $("#type option:selected").val();
			if(value=="payments_bank_transfer"){
				$(".tbnonstyle").slideDown("fast");
				$("#nocheque").css("display","none");
				$("#filesrc").css("display","");
				$("#destination-bank").css("display","");
				$("#account-number").css("display","");
				$(".formError").remove();
				$(".Error").css("display","none");
			}else if(value=="payments_cheque"){
				$(".tbnonstyle").slideDown("fast");
				$("#nocheque").css("display","");
				$("#filesrc").css("display","none");
				$("#destination-bank").css("display","none");
				$("#account-number").css("display","none");
				$(".formError").remove();
				$(".Error").css("display","none");
			}else{
				$(".tbnonstyle").slideUp("fast");
			}
	});
});

$(function() {
	$("#inDateTrans").datepicker();
});
</script>
{jdelay}
<style>
	.red:hover, a.red{
		text-decoration: none;
		cursor: pointer;
		color: #5C5243;
	}
	.Error .ErrorContent {
	    background: none repeat scroll 0 0 #EE0101;
	    border: 2px solid #DDDDDD;
	    border-radius: 6px 6px 6px 6px;
	    box-shadow: 0 0 6px #000000;
	    color: #FFFFFF;
	    font-family: tahoma;
	    font-size: 11px;
	    padding: 4px 10px;
	    position: relative;
	    width: 150px;
	    z-index: 5001;
	}
	
	#blockterm a,#blockterm a:hover{
		color:#5C5243;
		text-decoration:underline;	
	}
	
	.contentsR{
		background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
    	border: 1px solid #CCCCCC; 
    	min-height: 400px;   	
	}
	table.tb_paymentType{
		background: none repeat scroll 0 0 #EEEEEE;
	    margin-top: -18px;
	    padding: 5px 10px;
	    width: 100%;
	    font-weight: bold;
	}
	.btn-sendConfirmation {
		position:relative;
		left:-8px;
		background : #AA6FB1;
		/*background: linear-gradient(rgba(99, 64, 86, 0.5), rgba(76, 49, 65, 0.7)) repeat scroll 0 0 transparent;	*/	
	    border: 1px solid #4E3043;
	    border-radius: 5px;
	    -webkit-border-radius: 5px;
	    box-shadow: 0 1px rgba(255, 255, 255, 0.4) inset, 0 2px 1px rgba(0, 0, 0, 0.1);
	    color: white;
	    cursor: pointer;	   
	    font-size: 14px;	    
	    padding: 8px 50px;
	    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
	    transition: all 0.3s ease-out 0s;
	    width: 100%;
	}
	.tbnonstyle td{
		text-align: left;
		padding: 10px;		
	}
	.tbnonstyle td input[type=text] {
		padding:4px;
	}
	.tbnonstyle td input[type=checkbox] {
		position:relative;
		left:-8px;
	}
	
</style>
<!-- B Contents -->
<div class="caption star"> {title}</div>
<div class="contentsR">
<!-- <div id="alertForm1" style="display:none;background:#fdafaf;border:1px solid #fdafaf; padding:5px; width:64%; text-align:left; margin-bottom:10px;margin-top:10px">
Failed Send Payment Confirmation
</div>
<div id="alertForm2" style="display:none;background:#fdafaf;border:1px solid #fdafaf; padding:5px; width:64%; text-align:left; margin-bottom:10px;margin-top:10px">
The Order Was Paid
</div>
<div id="alertForm3" style="display:none;background:#84FF90;border:1px solid #84FF90; padding:5px; width:64%; text-align:left; margin-bottom:10px;margin-top:10px">
Confirmation Order Successfully
</div> -->
{status}
<br />
<div class="blokCertificate1">
  <form id="confirmation" action="" method="post" enctype="multipart/form-data">
  <table class="tb_paymentType">
	      <input type="hidden" name="order_id" id="order_id" value="{lorder_id}">
	      <input type="hidden" name="status" id="status" value="2">
    <tr {displayhiddenTr}>
	  <td class="rigth" style="width: 100px;">Payment Type </td>
	  <td class="left" style="width:400px;">
	    <select name="type" id="type" style="padding:4px;width:auto;">
					<option value="">Choose payment type</option>
                    <option value="payments_bank_transfer">Bank transfer</option>
                  
       </select>  <!--  <option value="payments_cheque">Cheque</option>-->
	  </td>
	</tr>
    </table>
 <table class="tbnonstyle" style="display:none">
<input type="hidden" name="order_id" id="order_id" value="{lorder_id}">
	      <input type="hidden" name="status" id="status" value="2">
     
    <tr {displayhiddenTr} id="nocheque" style="display:none">
	  <td class="rigth" width="129">Cheque No. </td>
	  <td class="left" style="width:400px;">
	    <input style="width:217px" type="text" class="validate[required] input_large" name="no_cheque" id="no_cheque" value="">
	  </td>
	</tr>
	<tr {displayhiddenTr}>
	  <td class="rigth">{nameNamepaid} </td>
	  <td class="left" style="width:400px;">
	    <input style="width:217px" type="text" class="validate[required] input_large" name="name_paid" id="name_paid" value="">
	  </td>
	</tr>
	<tr {displayhiddenTr}  id="destination-bank" style="display:none">
	  <td class="rigth">{nameDestinationbank} </td>
	  <td class="left">
	    <input style="width:217px" type="text" class="validate[required] input_large" name="destination_bank" id="destination_bank" value="">
	  </td>
	</tr>
	<tr {displayhiddenTr} id="account-number" style="display:none">
	  <td class="rigth">{nameDestinationaccount} </td>
	  <td class="left">
	    <input style="width:217px" type="text" class="validate[required] input_large" name="account_number" id="account_number" value="">
	  </td>
	</tr>
	<tr {displayhiddenTr}>
	  <td class="rigth">{nameDateTrans} </td>
	  <td class="left">
	  <input id="inDateTrans" type="text" style="width: 100px; text-align: center;" name="DateTrans" value="dd/mm/YYYY" class="validate[required,custom[dateFormat],past[01/012010]] input_large">
	  </td>
	</tr>
	<tr {displayhiddenTr} id="filesrc" style="display:none">
	  <td class="rigth">{textalertBrowseTransferReceiptFile} </td>
	  <td class="left"><input type="file" style="float:left; width:217px; margin:2px 10px 2px 0px;" name="file" id="file" class="validate[required] input_large"></td>
	</tr>
       
	<tr {displayhiddenTr}>
	  <td class="rigth"></td>
	  <td class="left" style="position:relative;">
       <div class="Error" style=" margin-left: 50px;padding-left: 10px;position: absolute;text-align: left;z-index: 1200;">
	        <div class="ErrorContent">
	        * Please check the box to provide your consent.
	        <br>
	        </div>
	    </div>
	    <input type="checkbox" value="1" name="termspayment" id="termspayment"  style="margin:5px 0 5px 10px;"/> <span style="margin-left:5px;">
	     I have read and agree with the <a href="{link_terms_conditions}" class="red readmores" style="text-decoration:underline">{textTerm1}</a></span>
	    
	    <script type="text/javascript">
		$(document).ready(function() {
		  $(".readmores").fancybox({
		  'titlePosition'		: 'inside',
		  'transitionIn'		: 'none',
		  'transitionOut'		: 'none'
		  });
		});
		
		</script>
		<div style="display:none;">
		  <div id="blockterm" style="width:920px;padding: 10px;">
		    <h2>{namet}</h2>
		    <span style="color:#5C5243;">{descriptiont}</span>
		  </div>
		</div>
	  </td>
	</tr>
       
	<tr {displayhiddenTr}>
	  <td class="rigth"></td>
	  <td class="left">
		{setConfirmationOK}
	    <div class="saddcart" style="float:left; margin:10px;">
	    <div class="saddcartT">
	    <input type="submit" value="Send confirmation" name="sConCheck" id="sConCheck" class="snonstyle btn-sendConfirmation"  />
	    </div>
	    <div class="saddcartR">
	    </div>
	    </div>
	  </td>
	</tr>  
  </table>
  </form>
</div>

</div>
<!-- E Contents -->
<!-- END mainBlock -->
