<!-- BEGIN Pmail -->
<table width="100%" style="background-color:#666" cellpadding="1" cellspacing="1">
<tr>
            <td colspan="4" style="background-color:#CCC">Payment Confirmation</td>
        </tr>
        <tr>
            <td style="background-color:#FFF">Date:</td>
            <td style="background-color:#FFF" colspan="3">{date}</td>
        </tr>
        <tr>
            <td width="16%"  style="background-color:#FFF">Name Paid:</td>
            <td width="84%" style="background-color:#FFF" colspan="3">{name}</td>
        </tr>
         <tr>
            <td style="background-color:#FFF">Paymer Email:</td>
            <td style="background-color:#FFF" colspan="3">{payer_email}</td>
        </tr>
    </table>
<!-- END Pmail -->