<!-- BEGIN Bmail -->
<p>{greeting}</p>
<p>{greeting2}</p>
	{product_items}
	
    <table width="100%" cellpadding="0" cellspacing="0">
    <tr>
		<td style="background-color:#CCC"><strong>Billing Addrress</strong></td>
        <td style="background-color:#FFF">&nbsp;</td>
        <td style="background-color:#CCC"><strong>Shipping Address</strong></td>
    </tr>
	<tr>
		<td width="50%"  style="background-color:#FFF;padding:0;" valign="top">
			<table width="100%" style="background-color:#666;" cellpadding="0" cellspacing="1">
				<tr>
					<td width="45%" style="background-color:#FFF">Name</td>
               		<td width="55%" style="background-color:#FFF">{name_member}</td>
               	</tr>
               	<tr>
					<td style="background-color:#FFF">Address First Line</td>
               		<td style="background-color:#FFF">{address1_member}</td>
               	</tr>
               	<tr>
					<td style="background-color:#FFF">Address Second Line</td>
               		<td style="background-color:#FFF">{address2_member}</td>
               	</tr>
               	<tr>
					<td style="background-color:#FFF">Address Third Line</td>
               		<td style="background-color:#FFF">{address3_member}</td>
               	</tr>
               	<tr>
               		<td style="background-color:#FFF">City</td>
               		<td style="background-color:#FFF">{city_member}</td>
               	</tr>
               	<tr>
               		<td style="background-color:#FFF">Region</td>
               		<td style="background-color:#FFF">{region_member}</td>
               	</tr>
               	<tr>
               		<td style="background-color:#FFF">Postal Code</td>
               		<td style="background-color:#FFF">{postalcode_member}</td>
               	</tr>
               	<tr>
               		<td style="background-color:#FFF">Country</td>
               		<td style="background-color:#FFF">{country_member}</td>
               	</tr>
               	<tr>
               		<td style="background-color:#FFF">Primary Phone Number </td>
               		<td style="background-color:#FFF">{phone1_member}</td>
               	</tr>
               	<tr>
               		<td style="background-color:#FFF">Alternative Phone Number</td>
               		<td style="background-color:#FFF">{phone2_member}</td>
               	</tr>
               	<tr>
               		<td style="background-color:#FFF">Email</td>
               		<td style="background-color:#FFF">{email_member}</td>
               	</tr>
			</table>
		</td>
        	<td rowspan="10"> </td>
		<td width="50%" valign="top" style="padding:0;">
			<table width="100%" style="background-color:#666" cellpadding="0" cellspacing="1">
				<tr>
					<td width="48%"  style="background-color:#FFF">Name</td>
               		<td width="52%"  style="background-color:#FFF">{name_shipping}</td>
               	</tr>
               	<tr>
					<td  style="background-color:#FFF">Address First Line</td>
               		<td  style="background-color:#FFF">{address1}</td>
               	</tr>
               	<tr>
					<td  style="background-color:#FFF">Address Second Line</td>
               		<td  style="background-color:#FFF">{address2}</td>
               	</tr>
               	<tr>
					<td  style="background-color:#FFF">Address Third Line</td>
               		<td  style="background-color:#FFF">{address3}</td>
               	</tr>
               	<tr>
               		<td  style="background-color:#FFF">City</td>
               		<td style="background-color:#FFF">{city}</td>
               	</tr>
               	<tr>
               		<td style="background-color:#FFF">Region</td>
               		<td style="background-color:#FFF">{region}</td>
               	</tr>
               	<tr>
               		<td style="background-color:#FFF">Postal Code</td>
               		<td style="background-color:#FFF">{postalcode}</td>
               	</tr>
               	<tr>
               		<td style="background-color:#FFF">Country</td>
               		<td style="background-color:#FFF">{country}</td>
               	</tr>
               	<tr>
               		<td style="background-color:#FFF">Primary Phone Number </td>
               		<td style="background-color:#FFF">{phone1}</td>
               	</tr>
               	<tr>
               		<td style="background-color:#FFF">Alternative Phone Number</td>
               		<td style="background-color:#FFF">{phone2}</td>
               	</tr>
               	<tr>
               		<td style="background-color:#FFF">Email</td>
               		<td style="background-color:#FFF">{email}</td>
               	</tr>
			</table>
		</td>
	</tr>
	</table><br />
	<table width="100%" style="background-color:#666" cellpadding="1" cellspacing="1">
     	<tr>
            <td colspan="4" style="background-color:#CCC">Payment</td>
        </tr>
        <tr>
            <td width="11%"  style="background-color:#FFF">Name</td>
            <td width="89%" style="background-color:#FFF" colspan="3">{name_payer}</td>
        </tr>
         <tr>
            <td style="background-color:#FFF">Method</td>
            <td style="background-color:#FFF" colspan="3">{method}</td>
        </tr>
         <tr>
            <td  style="background-color:#FFF">Account Number</td>
            <td style="background-color:#FFF" colspan="3">{account_number}</td>
        </tr>
         <tr>
            <td style="background-color:#FFF">Bank</td>
            <td style="background-color:#FFF" colspan="3">{bank_payment}</td>
        </tr>
         <tr>
            <td style="background-color:#FFF">Paymer Email</td>
            <td style="background-color:#FFF" colspan="3">{payer_email}</td>
        </tr>
        <tr>
            <td style="background-color:#FFF">Messages</td>
            <td style="background-color:#FFF" colspan="3">{text}</td>
        </tr>
    </table>
<!-- END Bmail -->