<!-- BEGIN pageAddNew -->
{jquery_ui_css}
{upload_js}
<script>
	$(document).ready(function() {
		//slidedown trackstock
		//$("#trackstock option:selected").removeAttr("selected");
		/*$("#trackstock").change(function(){ 
		    var value = $("#trackstock option:selected").val();
		    var theDiv = $(".is" + value);
		    
		    theDiv.slideDown().removeClass("hidden");
		    theDiv.siblings('[class*=is]').slideUp(function() { $(this).addClass("hidden"); });
		});*/
	
		//slidedown unique product
		//$("#unique option:selected").removeAttr("selected");
		//toggle_unique();
	});
	
	//	function Trim String
	function trim(str) {
		var	str = str.replace(/^\s\s*/, ''),
			ws = /\s/,
			i = str.length;
		while (ws.test(str.charAt(--i)));
		return str.slice(0, i + 1);
	}


</script>
<style type="text/css">
	.select_dialog{
		border:1px solid #CD0A0A;
		 background: url("images/ui-bg_glass_95_fef1ec_1x400.png") repeat-x scroll 50% 50% #FEF1EC;
	}

	.hidden {
	    display: none;
	}
	
	div.button {
			height: 20px;	
			width: 89px;
			font-size: 12px;
    		font-weight: bold;
			text-align: center; padding-top: 10px;
		}
	
	div.button.hover {
		//	color: #95A226;	
		}
		
	
	.example { padding: 0 0px;  width: 100px; }
	
	.tbody{color:#FFFFFF;}
	div#users-contain { width: 350px; margin: 20px 0; }
	div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
	div#users-contain table td, div#users-contain table th { border: 1px solid #EF451E; padding: .6em 10px; text-align: left; }
	.ui-dialog .ui-state-error { padding: .3em; }
	.validateTips { border: 1px solid transparent; padding: 0.3em; }
	
	.variantDetailsBox.added {
	background-color: #EF835C;
	font-weight: bold;
	border-color: #EF451E;
    border-radius: 3px 3px 3px 3px;
    float: left;
    margin: 5px;
    padding: 5px;
    border: 1px solid #F6F6F6;
    padding: 2px 4px;
    text-align: center;}
    
    .variantDetailsBox{
    background-color: #f6f6f6;
    font-weight: bold;
    border-radius: 3px 3px 3px 3px;
    padding: 5px;
    padding:2px 4px;
    float:left;
    margin:5px;
	border: 1px solid #D4D4D4;
    text-align: center;
    border-color: #D4D4D4;
    }
    
    a.tagvariantoption:link{
		background-color:#d4d4d4;padding:2px 4px;border-color:#0f6a6a;color:#fff;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;font-size:.9em;font-weight:bold;border:none;margin:0 0 3px 0;text-decoration:line-through;display:block;text-align:center;
	}

	.variantDetailsPrice{color:#bababa;clear:both;text-shadow:1px 1px 0 #fff; margin: 0;padding:0;border:none;}
	.tagvariantoption.tagvariantoptionadded {
	    display: block;
	    text-decoration: none;
	    background-color: #EF451E;
	    border: medium;
	    border-radius: 2px 2px 2px 2px;
	    color: #FFFFFF;
	    font-size: 0.9em;
	    margin: 0 0 3px;
	    padding: 2px 4px;
	    text-align: center;
	    cursor:pointer;
	}
	a.tagvariantoption{
	    display: block;
	    text-decoration: line-through;
	    background-color: #D4D4D4;
	    border: medium none;
	    border-radius: 2px 2px 2px 2px;
	    color: #FFFFFF;
	    font-size: 0.9em;
	    margin: 0 0 3px;
	    padding: 2px 4px;
	    text-align: center;
	    cursor:pointer;
	}
	
	.variantDetailsBox input {
	    color: #BABABA;
	   	text-decoration: line-through;
    	text-align: right;
    	color:#bababa;clear:both;text-shadow:1px 1px 0 #fff;
    	margin: 0 3px;
	}
	.variantDetailsBox.added input {
	    color: #000000;
	   	text-decoration: none;
    	text-align: right;
    	color:#000000;clear:both;text-shadow:1px 1px 0 #fff;
    	margin: 0 3px;
	}
	
	.variantDetailsBox.added .variantDetailsPrice {
    	color: #1C511A;
    	text-shadow: 1px 1px 0 #C4EBC3;
	}
	
	span.number_of_options_selected {
    	color: #8C8C8C;
	}
	
</style>
<h1>{app_title}</h1>
<ul class="tabs">
   {tab}
</ul>
<div class="tab_container">

	{alert}
        <form method="post" action="#">
	     {is_edit_all}
	     {is_saved}
            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                        {button}
                    </ul>   
                </div>
           </div>
	    <!-- BEGIN loopPage -->
	    <script type="text/javascript">
		//Tabs
		$(document).ready(function() {
			//When page loads...
			$(".tabcontent_{i}").hide(); //Hide all content
			$(".catcontent_{i}").hide(); //Hide all content
			$("ul#cat_tab_{i} li:first").addClass("active").show(); //Activate first category tab
			$("ul#tag_tab_{i} li:first").addClass("active").show(); //Activate first tag tab
			$(".catcontent_{i}:first").show(); //Show first category tab content
			$(".tabcontent_{i}:first").show(); //Show first tag tab content
			
			//On Click Category Tab Event
			$("ul#cat_tab_{i} li").click(function() {
		
				$("ul#cat_tab_{i} li").removeClass("active"); //Remove any "active" class
				$(this).addClass("active"); //Add "active" class to selected tab
				$(".catcontent_{i}").hide(); //Hide all tab content
		
				var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
				$(activeTab).fadeIn(); //Fade in the active ID content
				return false;
			});
			
			$("ul#tag_tab_{i} li").click(function() {
				$("ul#tag_tab_{i} li").removeClass("active"); //Remove any "active" class
				$(this).addClass("active"); //Add "active" class to selected tab
				$(".tabcontent_{i}").hide(); //Hide all tab content
		
				var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
				$(activeTab).fadeIn(); //Fade in the active ID content
				return false;
			});
			
			//ON new category textbox click
			$("input[name=new_category[{i}]]").focus(function(){
				$(this).val("");
			});
			
			$("input[name=new_category[{i}]]").blur(function(){
				$(this).val($(this).val()==''?'New category name':$(this).val());
			});
			
			//ON new tag textbox click
			$("input[name=new_tag[{i}]]").focus(function(){
				$(this).val("");
			});
			
			$("input[name=new_tag[{i}]]").blur(function(){
				$(this).val($(this).val()==''?'New tag':$(this).val());
			});
			
			//Add Category Button Click
			$("input[name=add_category_btn[{i}]]").click(function(){
			    if($("input[name=new_category[{i}]]").val()!="New category name" && $("input[name=new_category[{i}]]").val()!=""){
				
				var parent=$("select[name=parent[{i}]]").val();
				var name=$("input[name=new_category[{i}]]").val();
				var description="";
				var rule="categories";
				var group="{group}";
				var selected=$("span#selected_category_{i}").text();
				
				$(this).attr("disabled","disabled");
				$(this).val("Adding...");
				var parameter="parent="+parent+"&name="+name+"&description="+description+"&rule="+rule+"&group="+group+"&index={i}&insert_rules=true&selected="+selected;
				$.post("taxonomy.php",parameter,function(data){
				    $("#all_categories_{i}").html(data);
							 
				});
				var parameter2="rule="+rule+"&group="+group+"&index={i}&update_parent=true";
				$.post("taxonomy.php",parameter2,function(data){
				    $("#select_parent_{i}").html(data);
							 
				});
				$(this).val("Add");
				$(this).removeAttr('disabled');
				$("input[name=new_category[{i}]]").val("New category name");
			    }
			});
			
			//Add Tags Button Click
			$("input[name=add_tag[{i}]]").click(function(){
			   
			   var input_tags=$("input[name=new_tag[{i}]]").val();
			   var taglabel=input_tags.split(",");
			   if(input_tags!='' && input_tags!='New tags'){
			      
			      $(this).attr("disabled","disabled");
			      $(this).val("Adding...");
			      
			      for(i=0;i<taglabel.length;i++){
				 var count_child=$(".tag_index_{i}").size();
				 
				 var thetag="<div class=\"tag_list tag_index_{i} clearfix\" id=\"the_tag_list_{i}_"+count_child+"\">";
				 thetag+="<div class=\"tag_name\">"+$.trim(taglabel[i])+"</div>";
				 thetag+="<div class=\"tag_action\">";
				 thetag+="<a href=\"javascript:;\" id=\"remove_tag_"+count_child+"\" onclick=\"$('the_tag_list_{i}_"+count_child+"').animate({'backgroundColor':'#FF6666' },500);$('#the_tag_list_{i}_"+count_child+"').remove();\">X</a>";
				 thetag+="</div>";
				 thetag+="<input type=\"hidden\" name=\"tags[{i}][]\" value=\""+$.trim(taglabel[i])+"\" />";
				 thetag+="</div>";
				 
				 if(count_child==0){
				    
				    $("#tag_list_{i}").html('');
				    $("#tag_list_{i}").append(thetag);
				 }else{
				   $(".tag_index_{i}:first").before(thetag);
				 }
			      }
			      
			      $(this).val("Add");
			      $(this).removeAttr('disabled');
			      var input_tags=$("input[name=new_tag[{i}]]").val("New tags");
			   }
			});
		});
	    </script>
	    <div class="list_edit">
	    <fieldset>
		    <p>Product Code</p>
		    <p><input type="text" class="textbox" id="code_{i}" name="code[{i}]" value="{product_code}" /></p>
		</fieldset>
	    <fieldset>
		    <p>Product Title</p>
		    <p><input type="text" class="textbox" name="title[{i}]" value="{title}" /></p>
		    {sef_scheme}
		</fieldset>
		<fieldset>
			<p>Describe this Product</p>
		    <p>{textarea}</p>
		</fieldset>
		<fieldset>
		    <div class="categories_tags clearfix">
			<div class="categories">
			    <h2>Categories</h2>
			    <div class="tags_cat_content clearfix" >
					<div class="tags_cat_nav">
					    <ul class="cat_tab" id="cat_tab_{i}">
						<li><a href="#all_categories_{i}">All Categories</a></li>
						<li><a href="#mostused_category_{i}">Most Used</a></li>
					    </ul>
					</div>
					<div class="tags_cat_val">
					   <div id="all_categories_{i}" class="catcontent_{i}">
						{all_categories}
					   </div>
					   <div id="mostused_category_{i}" class="catcontent_{i}">
						{most_used_categories}
					   </div>
					</div>
				{add_new_category}
			    </div>  
			</div>
			<div class="tags">
			    <h2>Tags</h2>
			    <div class="tags_cat_content clearfix">
				<div class="tags_cat_nav">
				   <ul class="tag_tab" id="tag_tab_{i}">
					<li><a href="#the_tags_{i}" id="add_tags_button_{i}">Add Tags</a></li>
					<li><a href="#mostused_tabs_{i}">Most Used</a></li>
				    </ul>
				</div>
				<div class="tags_cat_val">
				   <div id="the_tags_{i}" class="tabcontent_{i}">
					{all_tags}
				   </div> 
				   <div id="mostused_tabs_{i}" class="tabcontent_{i}">
					{most_used_tags}
				   </div>
				</div>
				{add_new_tag}
			    </div>
			</div>
		</div>	
		</fieldset>
		
		<fieldset>
		    {prices_setting}
		    {variants_setting}
		    <script>
		    $(document).ready(function() {
		    	run_dialog()
		    	variant_edit_box();
		    	addoption();
		    	remove_option();
		    	E_remove_option();
		    	option_variant();
		    	add_new_variant();
		    	running_delete();
		    	del_variant();
		    	to_edit_variant();
		    	add_link_variant();
				remove_class_link_variant();
				delete_link_variant();
				toggle_unique();

				$("#trackstock_{i}").change(function(){ 
				    var value = $("#trackstock_{i} option:selected").val();
				    var theDiv = $(".is" + value);
				    
				    theDiv.slideDown().removeClass("hidden");
				    theDiv.siblings('[class*=is]').slideUp(function() { $(this).addClass("hidden"); });
				});
				
		    	function trim(str) {
		    		var	str = str.replace(/^\s\s*/, ''),
		    			ws = /\s/,
		    			i = str.length;
		    		while (ws.test(str.charAt(--i)));
		    		return str.slice(0, i + 1);
		    	}

		    	//	function unique toogle
			   	 function toggle_unique(){
			   		$("#unique_{i}").change(function(){ 
			   		    var value = $("#unique_{i} option:selected").val();
			   		    var theDiv = $(".is" + value);
			   		    
			   		    theDiv.slideDown().removeClass("hidden");
			   		    theDiv.siblings('[class*=is]').slideUp(function() { $(this).addClass("hidden"); });
			   		});
			   	 }
		    	
			//	function option to edit n delete variant
				function variant_edit_box(){
						$('#variant_product_{i}').change(function(){
						var variant_selected=$('#variant_product_{i} option:selected').val();
				
							if(variant_selected=='nothink'){
								$('.edit_variant_{i}').html('');
								$('.delete_variant_{i}').html('');
								$('.setvariable_{i}').html('');
							}else if(variant_selected=='Create new variant'){
								$('.edit_variant_{i}').html('');
								$('.delete_variant_{i}').html('');
								$('.setvariable_{i}').html('');
							}
							else{
								$('.edit_variant_{i}').html('<a rel=\"'+variant_selected+'\" id=\"link_edit_variant_{i}\" style=\"text-decoration:underline;cursor:pointer\"></a>');
								$('.setvariable_{i}').html('<a rel=\"'+variant_selected+'\" id=\"link_edit_variant_setvariable_{i}\" style=\"text-decoration:underline;cursor:pointer\"><b>edit</b></a>');
								$('.delete_variant_{i}').html('<a rel=\"'+variant_selected+'\" id=\"link_delete_variant_{i}\" style=\"text-decoration:underline;cursor:pointer\"><b>delete</b></a>');
				
								/* running_edit();
								running_delete();
								setvariable('parent');
								setvariable('child');
								to_edit_variant();	
								del_variant();	*/
								running_delete()
								running_edit();
								setvariable('parent');
								setvariable('child');
								to_edit_variant();
								variant_edit_box();
								
							}
					});
				}

				// Run Dialog Add New Variant
				function run_dialog(){
				    $('#create-user_{i}').click(function() {
				      $('#dialog_{i}').dialog('open');
				    })
			    }
			    
				//Function Add New variant
				function add_new_variant(){
					var name = $("#name_{i}")
				    allFields = $([]).add(name),
				
				    //	function to show tips
				    function updateTips(t) {
				      tips.text(t).effect("highlight",{},1500);
				    }
				
				    //	function to check length the charater 
				    function checkLength(o,n,min,max) {
				
				      if ( o.val().length > max || o.val().length < min ) {
				        o.addClass('ui-state-error');
				        updateTips("Length of " + n + " must be between "+min+" and "+max+".");
				        return false;
				      } else {
				        return true;
				      }
				
				    }
				
				    function checkRegexp(o,regexp,n) {
				      if ( !( regexp.test( o.val() ) ) ) {
				        o.addClass('ui-state-error');
				        updateTips(n);
				        return false;
				      } else {
				        return true;
				      }
				
				    }
				    
				    $("#dialog_{i}").dialog({
				      bgiframe: true,
				      autoOpen: false,
				      resizable: false,
				      height:420,
				      weight:400,
				      modal: true,
				      buttons: {
				        'Create Variant': function() {
				          var bValid = true;
				          allFields.removeClass('ui-state-error');
				
				          bValid = bValid && checkLength(name,"name",1,16);
				         // bValid = bValid && checkLength(option,"option",1,16);
				
				         // bValid = bValid && checkRegexp(name,/^[a-z]([0-9a-z_])+$/i,"Variant may consist of a-z, 0-9, underscores, begin with a letter.");
				         // bValid = bValid && checkRegexp(option,/^[a-z]([0-9a-z_])+$/i,"Option may consist of a-z, 0-9, underscores, begin with a letter.");
				              
				          if (bValid) {
				            $('#users tbody').append('<tr>' +
				              '<td>' + name.val() + '</td>' + 
				              '</tr>'); 
				
							//variant post data
							var name_val = $('#name_{i}').val();
							var tmp='';
							 $('#allvariant_{i}').find('option').each(function() {
				                tmp=tmp+','+$(this).val();
				        	});
				
						   if($('#allvariant_{i} option').val() == null || $('#allvariant_{i} option').val() == ''){
						    	$('#allvariant_{i}').addClass('select_dialog');
							}else{
								$('#allvariant_{i}').removeClass('select_dialog');
								
							var thaUrl 	= '{thaUrl}';
					    	jQuery.post(thaUrl,{ 
					    		pKEY:'add_variant_product',
					    		names:name_val,
					    		sub_variant:tmp,
				              },function(data){
				            	  $(".select_parent").each(function () {
				            		$('.select_parent').html(data);
				            		//del_variant();
				            		run_dialog();
				            		//toggle_unique();
				            		variant_edit_box();
				            	  });
					        });
				            //end script
				            $('#allvariant_{i}').removeClass('select_dialog');
				            $('#allvariant_{i} option').remove();
				            $("#variant_product_{i} option:selected").removeAttr("selected");
				           $(this).dialog('close');
				           
				          }
				         }
				        },
				        Cancel: function() {
				          $('#name_{i}').val('');
				          $('#name_{i}').removeClass('ui-state-error');
				          $("#variant_product_{i} option:selected").removeAttr("selected");
				          $('#allvariant_{i} option').remove();
					      $('#allvariant_{i}').removeClass('select_dialog');
				          $(this).dialog('close');
	
				        }
				      },
				      close: function() {
				    	  $('#name_{i}').val('');
				    	  $('#name_{i}').removeClass('ui-state-error');
				          $("#variant_product_{i} option:selected").removeAttr("selected");
				          $('#allvariant_{i} option').remove();
				          $('#allvariant_{i}').removeClass('select_dialog');
				      }
				    });
				}

			//	Add text to selected option
			function addoption(){
			  $("#addoption_{i}").click(function() {
				var exist=false;
			  	var val = $("#sub_variant_{i}").val();
				  	$("#allvariant_{i} option").each(function (i) {
					  	var value= $(this).val();
						if(value==val){
							exist=true;
						}
					 });
					 if(val!=''){
						 if(!exist){
							$("<option />", { 'value': val, text: val }).appendTo("#allvariant_{i}");
						}
					 }
			  });
			  }
			  
			//	Remove text to selected option
			function remove_option(){
			    $("#removeoption_{i}").click(function() {
			    	$("#allvariant_{i} option:selected").remove();
			    });
			}

			//	Running Edit Variant
			function running_edit() {
				 $('#link_edit_variant_{i}').click(function() {
					$('#edit_variant_dialog_{i}').dialog('open');
				 });
			}

			function to_edit_variant(){
		    	var E_name = $("#E_name_{i}");
		         allFields = $([]).add(E_name);
		         //tips = $("#validateTips");

				// function to show tips
		        function updateTips(t) {
		          tips.text(t).effect("highlight",{},1500);
		        }

		        //	function to check length the charater 
		        function checkLength(o,n,min,max) {

		          if ( o.val().length > max || o.val().length < min ) {
		            o.addClass('ui-state-error');
		            updateTips("Length of " + n + " must be between "+min+" and "+max+".");
		            return false;
		          } else {
		            return true;
		          }

		        }

				//	jquery regexp
		        function checkRegexp(o,regexp,n) {
		            if ( !( regexp.test( o.val() ) ) ) {
		              o.addClass('ui-state-error');
		              updateTips(n);
		              return false;
		            } else {
		              return true;
		            }

		          }

				//    function form modal edit variant
		    	$("#edit_variant_dialog_{i}").dialog({
		    		  bgiframe: true,
		    	      autoOpen: false,
		    	      resizable: false,
		    	      height:450,
		    	      weight:400,
		    	      modal: true,
		    	      buttons: {
		    	        'Edit Variant': function() {
		    				var bValid = true;
		            		allFields.removeClass('ui-state-error');
		            		bValid = bValid && checkLength(E_name,"name",1,16);
		            		bValid = bValid && checkRegexp(E_name,/^[a-z]([0-9a-z_])+$/i,"Variant may consist of a-z, 0-9, underscores, begin with a letter.");

		            		if (bValid) {
		                        $('#users tbody').append('<tr>' +
		                          '<td>' + E_name.val() + '</td>' + 
		                          '</tr>'); 
		                        
			    				var variant_id= $('#link_edit_variant_{i}').attr('rel');
			    				var name_val = $('#E_name_{i}').val();
			    				var tmp='';
			    				 $('#E_allvariant_{i}').find('option').each(function() {
			    	                tmp=tmp+','+$(this).val();
			    	        	});

			    				if($('#E_allvariant_{i} option').val() == null || $('#E_allvariant_{i} option').val() == ''){
			    				    $('#E_allvariant_{i}').addClass('select_dialog');
			    				}else{
			    					$('#E_allvariant_{i}').removeClass('select_dialog');
				    	        	
				    				var thaUrl 	= '{thaUrl}';
				    		    	jQuery.post(thaUrl,{ 
				    		    		pKEY:'edit_variant_product',
				    		    		name_post:name_val,
				    		    		sub_variant_post:tmp,
				    		    		id_variant:variant_id
				    	              },function(data){
				    	            	  $(".select_parent").each(function () {
				    		              	$('.elect_parent').html(data);	
						            		run_dialog();
						            		variant_edit_box();
				    	            	  });

				    		        });
				    	            //end script
				    	           $('#E_allvariant_{i}').removeClass('select_dialog');
				    	           $('#E_allvariant_{i} option').remove();
				    	           $("#variant_product_{i} option:selected").removeAttr("selected");
				    	           $(this).dialog('close');
			            		}
		            		} 
			    	      },
			    	        Cancel: function() {
			    	          $('#E_name_{i}').val('');
		         			  $('#E_name_{i}').removeClass('ui-state-error');
			      	          $('#E_allvariant_{i}').removeClass('select_dialog');
			                  $('#E_allvariant_{i} option').remove();
			    	          $(this).dialog('close');
			    	        }
		    	      },
		    	      close: function() {
		   	           $('#E_name_{i}').val('');
		 			   $('#E_name_{i}').removeClass('ui-state-error');
		    	       $('#E_allvariant_{i}').removeClass('select_dialog');
		               $('#E_allvariant_{i} option').remove();
		    	      }
		    	    });
		    	}

			function setvariable(keys) {
				var explode='';
				var count=0;
				 $('#link_edit_variant_setvariable_{i}').click(function() {
					 var variant_id= $('#link_edit_variant_setvariable_{i}').attr('rel');
					 var thaUrl 	= '{thaUrl}';
					 //$('#loader_variant').html('<p><img src="{urlcss}lumonata-plugins/shopping_cart/images/loading_data.gif" width="20" /></p>');
					 $('#loader_variant_{i}').css('display','')
					 jQuery.post(thaUrl,{ 
				    		pKEY:'setvariable_variant_product',
				    		variant_idpost:variant_id,
				    		keys_post:keys
			           },function(data){
			        	   
			               if(keys=='parent'){
			        	  		$('#E_name_{i}').val(data);
			               }
			               if(keys=='child'){
			            	   explode = data.split(',');
			            	   count = data.split(',').length-1;
			            	   for(j=0;j<count;j++){
			                	   	if(trim(explode[j])==''){
			                    	   
			                    	}else{
			            		   		$("<option />", { 'value': explode[j], text: explode[j] }).appendTo("#E_allvariant_{i}");
			            		   		
			                    	}
			            	   }
			               }
			               $('#loader_variant_{i}').css('display','none')
			
				        });
					 $('#link_edit_variant_{i}').click();
					 running_edit();
				 });
			}

			
			function option_variant(){
				$("#E_addoption_{i}").click(function() {
					var exist=false;
					var val = $("#E_sub_variant_{i}").val();
					  	$("#E_allvariant option_{i}").each(function (i) {
						  	var value= $(this).val();
							if(value==val){
								exist=true;
							}
						 });
						 if(val!=''){
							 if(!exist){
								$("<option />", { 'value': val, text: val }).appendTo("#E_allvariant_{i}");
							}
						 }
				});
			}

			function E_remove_option(){
			    $("#E_removeoption_{i}").click(function() {
			    	$("#E_allvariant_{i} option:selected").remove();
			    });
			}

			function running_delete() {
				 $('#link_delete_variant_{i}').click(function() {
					 $('#delete_variant_dialog_{i}').dialog('open');
				 });
			}

			function del_variant(){
				 $("#delete_variant_dialog_{i}").dialog({
				      bgiframe: true,
				      autoOpen: false,
				      resizable: false,
				      height:170,
				      weight:800,
				      modal: true,
				      buttons: {
				        'YES, delete variant': function() {
				          var thaUrl 	= '{thaUrl}';
				          var variant_id= $('#link_delete_variant_{i}').attr('rel');
					    	jQuery.post(thaUrl,{ 
					    		pKEY:'del_variant_product',
					    		variant_idpost:variant_id
				              },function(data){
				            	  $(".select_parent").each(function () {
									$('.select_parent').html(data);	
									//variant_edit_box();
									run_dialog();
				            		variant_edit_box();
					              });
				            		//toggle_unique();
					        });
				           $(this).dialog('close');
				           
				          },Cancel: function() {
				            $(this).dialog('close');
				          }
				        }
				   })
			}


			function add_link_variant(){
			 $("#add_link_variant_{i}").click(function() {
				  var variant_select=$('#variant_product_{i} option:selected').val();
				  if(variant_select=='nothink'){
					  delete_link_variant();
					 remove_class_link_variant();
				  }else{
						 var thaUrl 	= '{thaUrl}';
						 jQuery.post(thaUrl,{ 
					    		pKEY:'add_link_variant',
					    		variant_selectVal:variant_select,
					    		index:'{i}'
				           },function(data){
				        	   var variant_parent = $('#variant_product_{i} option:selected').val();
				        	   var variant_check_first=jQuery('#the_variant_table_{i} tr#delete_variant_add_link_{i}_'+variant_parent).length;
				        	   if(variant_check_first<1){
				        		   jQuery('#table_variants_delete_row_1_{i}').after(data);
						       }
				        	   
				        	   $('#table_variants_delete_row_{i}').css('display','none');
				        	   delete_link_variant();
				        	   remove_class_link_variant();
				        	   
					 });
				  }
			  });
			}

			function delete_link_variant(){
				$(".link_variants_delete_{i}").click(function() {
					var post_idvariant = $(this).attr('rel');
					var id_to_remove = 'delete_variant_add_link_{i}_'+post_idvariant;
					$('#'+id_to_remove).remove();
					$("#delete_variant_grid_form_{i}_"+post_idvariant).dialog("open");
						
					
					var record_sub_variant=jQuery('#the_variant_table_{i} tr.variantlist').length;
					if(record_sub_variant<1){
						 $('#table_variants_delete_row_{i}').attr('style','');
					}
				})
			}


			function remove_class_link_variant(){
				 $('.tagvariantoption').click(function() {
					//var post_typevariant = $('#variant_typeid').val();
					//alert(post_typevariant);
					var post_tagidvariant = $(this).attr('rel');
					var explode_tag = post_tagidvariant.split('_');
					var post_selected_count='number_of_options_selected_{i}_'+explode_tag[1];
					var post_selected = $('#'+post_selected_count).attr('rel');
					var id_to_removetag = 'variantDetailsBox_'+explode_tag[0]+'_'+explode_tag[2];
					var id_to_remove_linktag='tagvariantoption_'+explode_tag[0]+'_'+explode_tag[2];
					var id_to_remove_price='variantDetailsPrice_'+explode_tag[0]+'_'+explode_tag[2];
					var gridoption='var_gridoptions_{i}_'+explode_tag[1];
					var value_option = $('#'+gridoption).val();
					var id_to_disable_var_price='var_price_'+explode_tag[0]+'_'+explode_tag[2];

					if ($('#'+id_to_remove_linktag).is('.tagvariantoption.tagvariantoptionadded')) {
					    $('#'+id_to_remove_linktag).removeClass('tagvariantoption tagvariantoptionadded');
					    $('#'+id_to_remove_linktag).addClass('tagvariantoption');
					    $('#'+id_to_removetag).removeClass('variantDetailsBox added');
						$('#'+id_to_removetag).addClass('variantDetailsBox');
						$('#'+id_to_disable_var_price).attr("disabled","disabled");
						//explode value
						var tmp_value_option='';
						var explode_value = value_option.split(',');
			        	var count_explode = value_option.split(',').length;

			             for(k=0;k<count_explode;k++){
			                 if(explode_value[k]==explode_tag[1]){
			                	 tmp_value_option=tmp_value_option;
			                 }else{
			                	 tmp_value_option=explode_value[k]+','+tmp_value_option;
			                 } 
			             }
			            this_tmp_value_option = rtrim(tmp_value_option,',');
			            $('#'+gridoption).val(this_tmp_value_option);
			            recount_variant_selected(explode_tag[0]);
			            exit();
					}else{
						$('#'+id_to_removetag).removeClass('variantDetailsBox');
						$('#'+id_to_removetag).addClass('variantDetailsBox added');
					    $('#'+id_to_remove_linktag).removeClass('tagvariantoption');
						$('#'+id_to_remove_linktag).addClass('tagvariantoption tagvariantoptionadded');
						tmp_value_option=value_option+','+explode_tag[2];
						$('#'+id_to_disable_var_price).attr("disabled","");

						if($('#'+gridoption).val()==''){
							this_tmp_value_option=ltrim(tmp_value_option,',');
							$('#'+gridoption).val(this_tmp_value_option);
						}else{
							$('#'+gridoption).val(tmp_value_option);
						}
						recount_variant_selected(explode_tag[0]);
						exit();
						
					}
					
				})
			}

			function recount_variant_selected(indexi){
				jQuery('#the_variant_table_'+indexi+' tr').each(function(){
					var n_items=jQuery(this).find('.variantDetailsBox.added').length;
					jQuery(this).find('.number_of_options_selected').text('('+n_items+' selected)');
				});
				
			}

			function rtrim(str, chars) {
				chars = chars || "\\s";
				return str.replace(new RegExp("[" + chars + "]+$", "g"), "");
			}

			function ltrim(str, chars) {
				chars = chars || "\\s";
				return str.replace(new RegExp("^[" + chars + "]+", "g"), "");
			}

			
			upload_gallery();
			return_colorbox ();
		    function upload_gallery(){
		    	//$('.button.upload').click(function(){
		    		var button = $("#button1_{i}"), interval;
		    		var post_index = $("#button1_{i}").attr('rel');
			 		var tmp_id = jQuery('#tmp_id_'+post_index).val();
			 		var thaUpload = new AjaxUpload(button, {
			 			action: '{thaUrl}', 
			 			name: 'myfile',
			 			onSubmit : function(file, ext){
			 				// If you want to allow uploading only 1 file at time, you can disable upload button
			 				//this.disable();
			 				$('#loader_'+post_index).css('display','');
			 				var code_index = $("#code_{i}").val();
				             thaUpload.setData({ 
				            	 post_id:post_index,
				            	 code:code_index
				             });
		
			 			},
			 			onComplete: function(file, response){

			 				if(trim(response)=="success"){
				 				
			 					$('#loader_'+post_index).css('display','none');
			 					get_product_images(post_index);
			 					//avatarChangeLink_run();
			 					//the error is here
			 				}else{
			 					//NOTHINK TO DO
			 				}	
			 			}
			 		});   
		    //	});
		   }

			function get_product_images(post_index){
			   	var tmp_id = jQuery('#tmp_id_'+post_index).val();
			   	var thaUrl 	= '{thaUrl}';
			   	jQuery.post(thaUrl,{ 
			   		pKEY:'get_product_images',
			              val_tmp_id:tmp_id,
			              product_index:post_index
			       },function(data){
						//alert(data);
				       	if(trim(data)!='error'){
				       		jQuery('#key_product_images_'+post_index).after(data);
				       		return_colorbox();
				       	}else{
				        	//alert("Error");
				       	}
			       });
			}
			
			//view images thumbnail
			function return_colorbox (){
		       	$("a[rel='view_colorbox_elastic']").colorbox();
			}
			
			});
		    </script>
		    {product_options}
			{add_images}
		</fieldset>
	    </div>
	    <!-- END loopPage -->
            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                       {button}
                    </ul>   
                </div>
           </div>
        </form>
        </div>
<!-- END pageAddNew -->