<!-- BEGIN contactLayout -->
		<script type="text/javascript" src="{json_url}" ></script>
		{aditional_js}
		<script>
		jQuery(document).ready(function(){
			if(jQuery.browser.mozilla || jQuery.browser.safari || jQuery.browser.webkit || (jQuery.browser.msie && parseInt(jQuery.browser.version)>=7) ){
				contact_send_ajax();
			}else{
				contact_send_default();
			}
			//f1715e
			//contact_send_default();
			
			
			var txtSend = 'Send My Message';
			var txtSuccess = 'Your message has been sent successfully';
			var txtFailed  = 'Somethings wrong, please try again later!';
			function setNormal(target){
				var target;
				jQuery(target).find('span').css('display','inline');
				jQuery(target).find('img').css('display','none');
				
				jQuery(target).find('span').text(txtSend);
				jQuery(target).animate({width:'140px', backgroundColor:'#EE3F34', fontSize:'28px', color:'#fff', paddingTop:'2px', paddingBottom:'4px'},500, function(){
					contact_send_ajax();
				});
			}
			function setLoading(target){
				var target;
				jQuery(target).find('span').css('display','none');
				jQuery(target).find('img').css('display','inline');
				jQuery(target).animate({width:'140px', backgroundColor:'#fefefe', fontSize:'inherit', color:'#fff', paddingTop:'2px', paddingBottom:'4px'},500);
			}
			function setSuccess(target){
				var target;
				jQuery(target).find('span').css('display','inline');
				jQuery(target).find('img').css('display','none');
				jQuery(target).animate({width:'250px', backgroundColor:'#CCFF99', fontSize:'20px', color:'#333', paddingTop:'5px', paddingBottom:'6px'},500,function(){
					jQuery(target).find('span').text(txtSuccess);
					window.setTimeout(function(){
						setNormal(target);
					},5000);
				});
			}
			function setFailed(target){
				var target;
				jQuery(target).find('span').css('display','inline');
				jQuery(target).find('img').css('display','none');
				jQuery(target).animate({width:'260px', backgroundColor:'#FFCC66', fontSize:'20px', color:'#333', paddingTop:'5px', paddingBottom:'6px'},500,function(){
					jQuery(target).find('span').text(txtFailed);
					window.setTimeout(function(){
						setNormal(target);
					},5000);
				});
			}			
			
			
			function contact_send_default(){
				jQuery('#send_the_contact_form_now').click(function(){
					jQuery('#theContactForm').submit();
				}).css('width','auto');
			}
			function contact_send_ajax(){
				jQuery('#send_the_contact_form_now').click(function(){					
					var reqLabel = '<span class="requiredLabel"><span>this field is required</span></span>';
					var reqInvalid = '<span class="requiredLabel"><span>this field value is invalid</span></span>';
					
					var valUrl = 'http://{site_url}/validate-first/';
					var thaUrl = 'http://{site_url}/contact-send/';
					var theName = jQuery('[name=theName]').val();
					var theEmail = jQuery('[name=theEmail]').val();
					var theMessages = jQuery('[name=theMessages]').val();
					var justCode = jQuery('[name=justCode]').val();
					var empty = false;
					
					
					jQuery('span.requiredLabel').remove();
					jQuery('input.required, textarea.required').each(function(){
						var val = trim(jQuery(this).val());
						if(val==''){
							empty = true;
							jQuery(this).parent().prepend(reqLabel);
						}
					});
					
					
					if(empty == false){
						setLoading('#send_the_contact_form_now');
						jQuery('#send_the_contact_form_now').unbind();
						
						jQuery.post(valUrl,{ 
							justCode : justCode,
							theEmail : theEmail
						}, function(data){
							var retData = jQuery.evalJSON(data);
							var allValid = true;
							
							if(retData.email != 'valid'){
								allValid=false;
								jQuery('[name=theEmail]').parent().prepend(reqInvalid);
							}
							if(retData.code != 'valid'){
								allValid=false;
								jQuery('[name=justCode]').parent().prepend(reqInvalid);
							}
							
							if(allValid){
								jQuery.post(thaUrl,{ 
									itsMail  : 'true that',
									theName : theName,
									theEmail : theEmail,
									theMessages : theMessages
								}, function(data){
									alert(data);
									if(trim(data)=='success'){
										jQuery('[name=theName], [name=theEmail], [name=theMessages], [name=justCode]').val('');
										//alert('your mail is successfully sent.');
										setSuccess('#send_the_contact_form_now');
									}else{
										//alert('something is wrong, please try again later.');
										setFailed('#send_the_contact_form_now');
									}
									//contact_send_ajax();
									reloadCaptcha();
								});
							}else{
								setNormal('#send_the_contact_form_now');
								//contact_send_ajax();
								reloadCaptcha();
							}
						});
					}
				});
				
				function reloadCaptcha(){
					var theIMG = '<img class="capchaCode" src="http://{site_url}/val-image.php?'+(new Date()).getTime()+'" height="30" width="90" style="float:left;" />';
					jQuery('img.capchaCode').remove();
					jQuery('.justForCaptcha').parent().prepend(theIMG);
				}
			}
		});
		
		function trim(str) {
			var	str = str.replace(/^\s\s*/, ''),
				ws = /\s/,
				i = str.length;
			while (ws.test(str.charAt(--i)));
			return str.slice(0, i + 1);
		}
		
		function validateEmail(address) {
		   var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
		   var address;
		   if(reg.test(address) == false) {
			  alert('Invalid Email Address');
			  return false;
		   }
		}
		</script>
		<div id="portfolioHead">
    		<h1>CONTACT US</h1>
        </div>
        
        <div id="contactContent">
        	<div class="left">
            	<p>If you have any question or just want to say hi, please use the contact form. If you need to get a proposal for your project, we will need more information from you. Please fill our <a href="http://{site_url}/project-worksheet/">Project Worksheet</a> to help us identifying your need.</p>
				<p>Please note that fields with <img src="http://{template_url}/img/asterisk.png" style="vertical-align:middle;" /> are required.</p>
            </div>
            <div class="right">
            	<form id="theContactForm" method="post" action="">
                    <input type="hidden" name="send" value="yahoi" />
                    <p>                    
                        <label><img class="asterix" src="http://{template_url}/img/asterisk.png" />Name:</label>
                        <input type="text" name="theName" class="required" value="{theName}" />
                    </p>
                    <p>
                        <label><img class="asterix" src="http://{template_url}/img/asterisk.png" />Email:</label>
                        <input type="text" name="theEmail" class="required" value="{theEmail}" />
                    </p>
                    <p>
                        <label><img class="asterix" src="http://{template_url}/img/asterisk.png" />How can we help?</label>
                        <textarea name="theMessages" class="required">{theMessages}</textarea>
                    </p>
                    <p style="padding-bottom:0px; margin-bottom:0px;">
                        <label><img class="asterix" src="http://{template_url}/img/asterisk.png" />Please type the code below:</label>
                    </p>
                    <div style="margin-bottom:10px;">
                        <img class="capchaCode" src="http://{site_url}/val-image.php" height="30" width="90" style="float:left;" /> <div style="float:left; position:relative; display:block;" class="justForCaptcha"><input type="text" name="justCode" class="code required" style="vertical-align:top;" /></div>
                        <div class="clear"></div>
                    </div>
                    <p>
                        <a class="buttonReplace big" href="#send_now" id="send_the_contact_form_now" style="line-height:1em; width:140px; text-align:center;"><span>Send My Message</span><img style="display:none; vertical-align:top;" class="loadingImage" src="http://{template_url}/img/loading.gif" /></a>
                        <div class="clear"></div>
                    </p>
                </form>
            </div>
            <div class="left contactDetails">
            	<h2>OUR CONTACT DETAILS</h2>
                <p>Just in case you need our contact detail, you can find it below. Don't forget to make an appointment if you wish to visit our office.</p>
                <table>
                	<tr>
                    	<td style="text-align:center; width:22px;"><img src="http://{template_url}/img/ico-address.png" /></td>
                        <td>
                        	KCBJ Building, South Wing<br />
                            Jalan Raya Kuta 127<br />
                            Kuta, Bali 80361<br />
                            Indonesia
                    	</td>
                    </tr>
                    <tr>
                    	<td style="text-align:center; width:22px;"><img src="http://{template_url}/img/ico-phone.png" /></td>
                        <td>
                        	+62 361 754 926
                    	</td>
                    </tr>
                    <tr>
                    	<td style="text-align:center; width:22px;"><img src="http://{template_url}/img/ico-email.png" /></td>
                        <td>
                        	<a href="#">inquiry@lumonata.com</a>
                    	</td>
                    </tr>
                </table>
            </div>
            
            <div class="clear"></div>
            
            <div class="lineTop ourLocation">
            	<h2>OUR MAP</h2>
                <div class="mapsWrapper" style="background:#fff;">
                	<iframe width="100%" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.id/maps?hl=en&amp;ie=UTF8&amp;q=lumonata+maps&amp;fb=1&amp;gl=id&amp;hq=lumonata&amp;hnear=0x2dd2409b0e5e80db:0xe27334e8ccb9374a,Denpasar&amp;cid=0,0,13558802449717865574&amp;ll=-8.709704,115.179806&amp;spn=0.019089,0.029998&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
                </div>
                <div class="clear"></div>
            </div>
        </div>
<!-- END contactLayout -->