<!-- BEGIN Bmail1 -->
<p>{header_email}</p>
<p>{greeting1}</p>
<p>{greeting2}</p>
<table>
    <tr>
		<td>Product</td>
        <td>Item Price</td>
        <td>QTY</td>
        <td>Total</td>
    </tr>
	    <tr>
			<td>
				<strong>{qty_product}</strong>
					<br>{parent} : {child}
			</td>
			<td>{item_price}</td>
			<td>{qty_product}</td>
			<td>{total}</td>
		</tr>
	 <tr>
		<td colspan="3" align="left" >Subtotal:</td>
		<td>{subtotal}</td>
	</tr>
	 <tr>
		<td colspan="3" align="left" >Shipping:</td>
		<td>{shipping}</td>
	</tr>
	 <tr>
		<td colspan="3" align="left" >Tax:</td>
		<td>{tax}</td>
	</tr>
	 <tr>
		<td colspan="3" align="left" >Tax Shipping:</td>
		<td>{shippingtax}</td>
	</tr>
	 <tr>
		<td colspan="3" align="left" >Grand Total:</td>
		<td>{grandtotal}</td>
	</tr>
	<tr>
		<td colspan="2">
			<table>
				<tr>
					<td width="50%">Name</td>
               		<td>{name_member}</td>
               	</tr>
               	<tr>
					<td>Address First Line</td>
               		<td>{address1_member}</td>
               	</tr>
               	<tr>
					<td>Address Second Line</td>
               		<td>{address2_member}</td>
               	</tr>
               	<tr>
					<td>Address Third Line</td>
               		<td>{address3_member}</td>
               	</tr>
               	<tr>
               		<td>City</td>
               		<td>{city_member}</td>
               	</tr>
               	<tr>
               		<td>Region</td>
               		<td>{region_member}</td>
               	</tr>
               	<tr>
               		<td>Postal Code</td>
               		<td>{postalcode_member}</td>
               	</tr>
               	<tr>
               		<td>Country</td>
               		<td>{country_member}</td>
               	</tr>
               	<tr>
               		<td>Primary Phone Number </td>
               		<td>{phone1_member}</td>
               	</tr>
               	<tr>
               		<td>Alternative Phone Number</td>
               		<td>{phone2_member}</td>
               	</tr>
               	<tr>
               		<td>Email</td>
               		<td>{email_member}</td>
               	</tr>
			</table>
		</td>
		<td colspan="2">
			<table>
				<tr>
					<td width="50%">Name</td>
               		<td>{name_shipping}</td>
               	</tr>
               	<tr>
					<td>Address First Line</td>
               		<td>{address1}</td>
               	</tr>
               	<tr>
					<td>Address Second Line</td>
               		<td>{address2}</td>
               	</tr>
               	<tr>
					<td>Address Third Line</td>
               		<td>{address3}</td>
               	</tr>
               	<tr>
               		<td>City</td>
               		<td>{city}</td>
               	</tr>
               	<tr>
               		<td>Region</td>
               		<td>{region}</td>
               	</tr>
               	<tr>
               		<td>Postal Code</td>
               		<td>{postalcode}</td>
               	</tr>
               	<tr>
               		<td>Country</td>
               		<td>{country}</td>
               	</tr>
               	<tr>
               		<td>Primary Phone Number </td>
               		<td>{phone1}</td>
               	</tr>
               	<tr>
               		<td>Alternative Phone Number</td>
               		<td>{phone2}</td>
               	</tr>
               	<tr>
               		<td>Email</td>
               		<td>{email}</td>
               	</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>Name:</td>
		<td colspan="3">{name_payer}</td>
	</tr>
	 <tr>
		<td>Method:</td>
		<td colspan="3">{method}</td>
	</tr>
	 <tr>
		<td>Account Number:</td>
		<td colspan="3">{account_number}</td>
	</tr>
	 <tr>
		<td>Bank:</td>
		<td colspan="3">{$bank_payment}</td>
	</tr>
	 <tr>
		<td>Paymer Email:</td>
		<td colspan="3">{$email_payment}</td>
	</tr>
	
    <tr>
        <td style="vertical-align: top;">Messages</td>
        <td style="vertical-align: top;">:</td>
        <td>{text}</td>
    </tr>
</table>
<!-- END Bmail1 -->