<!-- BEGIN mainBlock -->
	<div id="contentWrapper">

        
        
        <div id="content-seasonPeriod">
        	<div class="headsUp">
        		<h2>Season Period</h2>
        		
        		<div class="bottonContainer">
        			<a href="#" class="button"><img src="http://{template_url}/img/button-new.png" alt="button-save" width="75" height="31"/></a>
					<a href="#" class="button"><img src="http://{template_url}/img/button-edit.png" alt="button-cancel" width="75" height="31"/></a>
					<a href="#" class="button"><img src="http://{template_url}/img/button-delete.png" alt="button-cancel" width="75" height="31"/></a>
        		</div>
        		<div class="wrapper form table" style="margin-top:-1px; border-bottom:solid 1px #ccc; border-top:solid 1px #ccc; background:#f5f5f5;">
        			<input type="checkbox" class="checkbox" value="" /> <label><strong>Season Period</strong></label>
        		</div>
        		
        		
        		<div class="wrapper form table" style=" border-bottom:solid 1px #ccc;">
        			<input type="checkbox" class="checkbox" value="" /> <label>Low Season</label> <a href="#" class="button">edit</a> <a href="#" class="button">delete</a>
        		</div>
        		<div class="wrapper form table" style=" border-bottom:solid 1px #ccc;">
        			<input type="checkbox" class="checkbox" value="" /> <label>High Season</label> <a href="#" class="button">edit</a> <a href="#" class="button">delete</a>
        		</div>
        		
        		
        		<div class="bottonContainer">
        			<a href="#" class="button"><img src="http://{template_url}/img/button-new.png" alt="button-save" width="75" height="31"/></a>
					<a href="#" class="button"><img src="http://{template_url}/img/button-edit.png" alt="button-cancel" width="75" height="31"/></a>
					<a href="#" class="button"><img src="http://{template_url}/img/button-delete.png" alt="button-cancel" width="75" height="31"/></a>
        		</div>
        		<div class="clear"></div>
        	</div>
        </div>
        <!-- id="content-seasonPeriod" END ========================= --> 
        
        

	        
	</div>
<!-- END mainBlock -->