<!-- BEGIN dpBlock -->
<h1>VILLA IS AVAILABLE</h1>
<div class="border"></div>	
<div class="content">
     <p class="center"><strong>{villa_name}</strong> that you are booking on <strong>{book_date}</strong> is available.&nbsp;To confirm your booking please continue with the required payment below.&nbsp;</p>
     <p class="center">Payment are securely processed via Paypal. Should you need assistance in other method of payment, please contact us to <a class="underline">reservation@villavedas.com</a></p>
     
     <div id="detail-booking">
     	<div class="dbf">
        	<div class="label">Booking for</div>
            <div class="value">{villa_name}</div>
            <div class="clear"></div>
        </div>
     	<div class="dbf">
        	<div class="label">Price per night</div>
            <div class="value">{price_per_day}</div>
            <div class="clear"></div>
        </div>
        <div class="dbf">
        	<div class="label">Adult</div>
            <div class="value">{adult} person(s)</div>
            <div class="clear"></div>
        </div>
        <div class="dbf">
        	<div class="label">Children</div>
            <div class="value">{child} person(s)</div>
            <div class="clear"></div>
        </div>
        <div class="dbf">
        	<div class="label">Special Notes</div>
            <div class="value">{special_note}</div>
            <div class="clear"></div>
        </div>
        <div class="dbf">
        	<div class="label">Check In</div>
            <div class="value">{check_in}</div>
            <div class="clear"></div>
        </div>
        <div class="dbf">
        	<div class="label">Check Out</div>
            <div class="value">{check_out}</div>
            <div class="clear"></div>
        </div>
                <div class="dbf">
        	<div class="label">No of night(s)</div>
            <div class="value">{night}</div>
            <div class="clear"></div>
        </div>
        <div class="dbf gray">
        	<div class="label">Total Price</div>
            <div class="value">{total}</div>
            <div class="clear"></div>
        </div>
        <div class="dbf gray">
        	<div class="label">Required Deposit</div>
            <div class="value">{deposite}</div>
            <div class="clear"></div>
        </div>
     </div>
     
     
</div>			
<!-- END dpBlock -->