<!-- BEGIN category_article -->
{menu_top_right}
<div id="layout-top" class="{have_top_menu}">      
 <!--  <div id="full-background" style="background-image:url({category_background}); background-repeat: no-repeat;background-size: cover;background-position: center center;"></div>-->
   <div class="content-detail black">
        <div class="layer-top"></div>
        <h1 class="big">{title_category}</h1>
        <div class="line-white about-us"></div>
        <div class="brief">
            {detail_category}
        </div>
        
        <div class="bottom-read-more">
            <a class="bottom-read-more" href="#">READ MORE</a>
        </div>
        <div class="layer-bottom"></div>
   </div> 
</div>

<!--start layout right -->
{detail_article}
<!-- end layout right -->


<!-- END category_article -->