<!-- BEGIN detail_article -->
{menu_top_right}
<div id="layout-bottom" class="{class_page}">
    <!--start content -->
    <div id="content">
        <!-- detail content -->
        <div id="detail-content" class="{have_menu_top}">
            <h1 class="big" {hidden}>{title}</h1>
            <div class="line-black" {hidden}></div>
            <div class="brief" {margin_top}>
               {detail_content}
            </div>  
            {thumb_article}         
        </div>	
        <!-- end detail content -->
    </div>    
    <!-- end content -->
</div>
<!-- END detail_article -->