<!-- BEGIN just_text_image -->
<div id="layout-top" class="have-menu-top">      
   <div class="content-detail black" id="just_text_image">
        <div class="layer-top" {with_layer}></div>
        <div class="brief">
            {detail_content}
        </div>
        <div class="layer-bottom" {with_layer}></div>
   </div> 
</div>
<!-- END just_text_image -->