<!-- BEGIN category_article -->
<div id="layout-top" class="have-menu-top">      
   <div class="content-detail black page-like-category-article">
        <div class="layer-top"></div>
        <h1 class="big">{title_category}</h1>
        <div class="line-white about-us"></div>
        <div class="brief">
            {detail_category}
        </div>
        <div class="layer-bottom"></div>
   </div> 
</div>
<!-- END category_article -->