/*Font*/
body {font-family: 'Lato'; font: 400 0.813em/1.38 Lato;color: rgb(0, 0, 0);}
/*Layout*/
#left {position: fixed; top: 20px; left: 20px; bottom: 20px; width: 180px; z-index: 1;background-color: rgba(240, 240, 222, 0.9);}
/*#right {position: absolute;top: 20px;left: 20px; right: 20px;}*/
#right {position: absolute;top: 20px;left: 20px; right: 20px;bottom: 20px;z-index: 1;margin-left: 180px;}
#right.fixpos{position:fixed; bottom:20px;}
#line-bottom {position: fixed;bottom: 0;width: 100%;height: 20px;background: #fff;z-index: 1;}
#line-top{position: fixed;top: 0;width: 100%;height: 20px;background: #fff;z-index: 2;}
/*#full-background {position: fixed;right: 20px;left: 20px;top: 20px;bottom: 20px;}*/
/*#full-background{position: absolute;width: 100%;height: 100%;opacity:0;}*/
#full-background{position: absolute;top: 20px;left: 20px;opacity:0;right: 20px;bottom: 20px;}
#full-background.fixbg{position:fixed;}
#layout-top.contact-us{opacity:0;}
#horizontal-header {position: fixed;top: 20px;left: 20px; right:20px;z-index: 34;height: 80px;background-color: rgba(240, 240, 222, 0.9); display:none;}
.black-overlay,.black-overlay-popup-info {position:fixed; top:0; bottom:0; left:0; right:0; z-index:10;display:none; background-color:#000;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter: alpha(opacity=70);-moz-opacity:0.7;-khtml-opacity: 0.7;opacity: 0.7;}
.black-overlay.with-loader {background:url('images/big-loader-black.gif') no-repeat; background-color: #000;background-position:center center;}


#popup-container{z-index:11;width: 100%;height: 100%; visibility:hidden;}
#popup-container .floating-content{visibility:visible;}

/*Horizontal Header*/
div#horizontal-header img{float: left;width: 80px;margin: 10px;}
#horizontal-header div#mobile-menu {float: right;}
a.top-menu {padding: 35px 1px 0 0; margin-bottom: 4px; margin-top: 22px; float: right; width: 60px; background:url(images/bg-menu-mobile.png) no-repeat;	background-position: top center; text-align: center; cursor:pointer;}
#horizontal-header div#mobile-menu ul{background-color: rgba(240, 240, 222, 1); position: fixed;left: 10px; right: 10px;display:none;}
#horizontal-header div#mobile-menu ul li{padding: 10px 0;text-align:center; border-top: solid 1px #BDBDAE;}

/*Sidebar*/
img#logo-web {display: block;  width: 86px;  height: auto;  margin: 25px auto 0;  overflow: hidden;}
div#side-bar .devider {height: 1px;margin: 20px 10px 0 10px;background-color: rgb(189, 189, 174);}
div#menu-top {margin: 0 10px;}
ul.menu li{text-align:center;margin-top: 15px;}
ul.menu li a{text-transform:uppercase;}
a {font-size: 1em;color: rgb(0, 0, 0);}
a.reservation {margin: 20px;padding: 5px;width: 120px;float: left;text-align: center;border: solid 1px;}
a.reservation:hover{background:#000; color:#fff;}
.clear{clear:both;}
div#container-bottom-sb {position: absolute;bottom: 30px;width: 100%;}
#container-bottom-sb .menu a {font-size: 0.923em;}
#container-bottom-sb ul.menu li{margin-top:10px;}
.social {margin-top: 15px;height: 16px;text-align:center;}
.social img{width:16px;margin: 0 5px;}
img.tripadvisor {width: 25px; margin: -4px 6px;}

p.copyright {margin-top: 15px;font-size: 0.923em;  font-weight: 300;  line-height: 1.38;  text-align: center;  color: rgb(155, 155, 140);}
p.copyright a{color: rgb(155, 155, 140);}
#mobile-menu{display:none;}
#side-bar a.top-menu {width: 100%;}
#side-bar  #mobile-menu{position:relative;z-index: 2;}
#side-bar  #mobile-menu ul {position: absolute; left: 80px; top: 0; width: 200px; background-color: rgba(240, 240, 222, 1);display: none;}
#side-bar  #mobile-menu ul li{padding:10px 0;/* font-size:10px; */ text-align:center;border-top: solid 1px #BDBDAE;}
#side-bar  #mobile-menu ul li:first-child{border-top:none;}
#mobile-menu ul a{text-transform:uppercase;}

#mobile-menu-height {position:relative;margin-top: 30px;}
#mobile-menu-height ul {position:absolute; left: 180px;  top: 0;  width: 200px;  background-color: rgba(240, 240, 222, 1);}
#mobile-menu-height ul li {padding: 10px 0;text-align: center;border-top: solid 1px #BDBDAE;}

#mobile-menu-height ul li a{text-transform: uppercase;}
#mobile-menu-height ul li:first-child{border-top:none;}

#menu-top.mmh-mode, #container-bottom-sb.mmh-mode{display:none;}
#mobile-menu-height, #mobile-menu-height ul {display:none;}
#mobile-menu-height a.reservation{margin:20px 30px;}

div#mobile-social-height {position: absolute;  bottom: 30px; width: 100%; display:none;}

/*Start hide menu
#menu-top ul li:nth-child(5) {display: none;}
#container-bottom-sb ul li:first-child {display: none;}

.mobilenav.no-reservation ul li:nth-child(5),
.mobilenav.no-reservation ul li:nth-child(7),
.mobilenav.no-reservation ul li:nth-child(8) {display: none;}
End hide menu*/
/*Right*/
#layout-bottom{background-image:url(images/mozaik.png); background-repeat:repeat-y; background-position:top right;background-position-y: -121px;/*margin:0 0 20px 180px;*/margin:0 0 20px 0;}
div#content {margin-right: 110px;}
div#detail-content {margin-top: 0; }
div#detail-content h1{padding-top:70px;font-size: 32px;font-weight: 300;text-align: center;}
div#detail-content.have-menu-top h1{padding-top:120px;}
div#detail-content.no-top-menu h1 {margin-top:0;padding-top: 30px;}
div#detail-content .brief {padding-bottom:30px;}
.line-black {border-top: solid 1px #000; width: 160px; margin: 10px auto 30px auto;}
.brief {width: 90%; margin: 0 auto;}
.brief p {margin-bottom: 30px; font-size: 18px; line-height: 160%; width: 80%;margin: 0 auto 30px auto;}
.brief strong {font-weight: bold;}
.brief table{margin-bottom: 30px; font-size: 18px; line-height: 160%; width: 80%;margin: 0 auto 30px auto;border-collapse: collapse;}
.brief table, .brief th, .brief td {border: 1px solid black;}
.brief table#tbl-rate{text-align:center;}

#layout-top .brief p {width:90%;}
.brief h2 {font-size: 24px; font-weight: 300; margin-top: 20px; margin-bottom: 40px; text-align: center;}
.brief ul {margin-bottom:30px;margin-left: 20px;}
.brief ul li{list-style-type: circle; list-style: initial; width: 80%; margin: 0 auto; font-size: 18px;  line-height: 160%;}
div#list-room {width: 90%; margin: 0 auto;}
div#list-room .room {width: 50%; float: left; height: 480px; background: #FFF;margin-top: 2px;}
div#list-room .room .content {height: 100%; background: #bbb;margin: 1px;position:relative;}
div#list-room .room .thumb {position: absolute;top: 0;left: 0;width: 100%;height: 70%;}
div#list-room .room .desc {position: absolute; top: 70%; height: 30%; margin-bottom: 1px; background: #F0F0E1;overflow: hidden;}
div#list-room .room .desc .style-desc {padding: 10px; overflow: hidden; font-size: 16px; line-height: 160%;}
.layer-top {position: absolute; top: 0; height: 50%; width: 100%;z-index: -1;
    background: rgba(0, 0, 0, 0);
    background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.60) 42.61904761904762%) rgba(222, 222, 222, 0);
    background:    -moz-linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.60) 42.61904761904762%) rgba(222, 222, 222, 0);
    background:      -o-linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.60) 42.61904761904762%) rgba(222, 222, 222, 0);
    background:     -ms-linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.60) 42.61904761904762%) rgba(222, 222, 222, 0);
    background:         linear-gradient(360deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.60) 42.61904761904762%) rgba(222, 222, 222, 0);
    background-repeat: repeat-x;
}
.layer-bottom {position: absolute; bottom: 0; height: 30%; width: 100%;z-index: 1;
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.60) 74.76190476190476%);
    background-image:    -moz-linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.60) 74.76190476190476%);
    background-image:      -o-linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.60) 74.76190476190476%);
    background-image:     -ms-linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.60) 74.76190476190476%);
    background-image:         linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.60) 74.76190476190476%);
}

#layout-top .layer-top, #layout-top .layer-bottom{opacity:0;}
.button-make-reservation {padding: 20px 0; text-align: center; margin: 50px 0;}
.button-make-reservation a {padding:20px;font-size: 20px;border: solid 1px #000;text-align: center;}

.content-detail.black h1.big {font-size: 58px;line-height: 1.38;color:#fff;font-weight: 300;text-align: center;margin-top: 35px;}
#layout-top .content-detail.black h1{margin-top:50px;}
#layout-top.have-menu-top .content-detail.black h1{margin-top:75px;}
.content-detail {z-index: 1; position: absolute;/*margin-left: 180px;*/ height: 100%; top: 0;}
#layout-top .content-detail {width:100%}
.line-white {width: 160px; border-top:solid 1px #fff; margin: 15px auto;}
.line-black {width:160px; border-top:solid 1px #000;margin: 20px auto 40px;}
.content-detail.black, .content-detail.black a {color: #fff;}
.content-detail.black .brief {width:79%;margin: 30px auto 0 auto;line-height: 170%;font-size: 18px;font-weight: 300;text-align: center;}
div#detail-content .brief img{width:auto;  max-width: 100%;}
.bottom-read-more {position: absolute; bottom: 20px; left: 50%; width: 100px; height: 50px; margin-left: -50px;text-align: center;z-index: 2;}
.bottom-read-more a{background:url(images/arrow-down.svg) no-repeat;background-position: top center;background-size: 58px;padding-top: 50px;}
.brief-complete {margin-right: 100px;}
.style-brief-complete {width: 70%; font-size: 18px; line-height: 140%; margin: 0 auto;}
.style-brief-complete p{margin-bottom:20px}

div#menu-top-right {text-align:center;background-color: #8A8A7B;position: fixed;left: 200px;right: 20px;z-index: 2;}
div#menu-top-right ul li {display:inline-block;margin: 0 10px;font-size: 18px;font-weight: 300;line-height: 140%;padding: 10px 0 7px 0;}
div#menu-top-right ul li a{color:#fff;}
div#menu-top-right ul li.selected a{color:#CCCCBF}
div#menu-top-right ul li.selected{border-bottom: solid 3px #F1F1E4;}
.title-thumb {position: absolute; bottom: 10px; left: 10px; font-size: 18px; text-transform: uppercase; color: #fff;z-index: 2;}
div#location { height: 100%;/*margin-left:180px;*/}

.floor-plan-page{}
.floor-plan-page div#detail-content h1{display:none;}
.floor-plan-page .line-black{display:none;}
.floor-plan-page div#detail-content .brief p:first-child img{margin-top:100px}

/*Home Page*/
.logo-yak {position: absolute;width: 350px;height: 100px;overflow: hidden;right: 0;bottom: 0;}
img.yak {position: absolute;width: 350px; margin-top: -65px;}

/*Contact Page*/
div#layout-top.contact-us .content-detail {right: 0;left: 0;}
/*form#fcontact-us {width: 700px; margin: 130px auto 0; background: rgba(255, 255, 255, 0.3);}*/
/*form#fcontact-us {width: 700px; background: rgba(255, 255, 255, 0.3);position: absolute;bottom: 40px;left: 50%;margin-left: -350px;}*/
/*form#fcontact-us {width: 700px; background: rgba(255, 255, 255, 0.3);position: absolute;left: 50%;margin-left: -350px;bottom: none;top: 200px;}*/
form#fcontact-us {width: 700px; background: rgba(255, 255, 255, 0.3);margin:60px auto 0;}
form#fcontact-us .field-cont .half{width:50%;float:left;}
form#fcontact-us .field-cont .half p {margin: 15px 0 0 20px;}
form#fcontact-us .field-cont .half p input {width:100%;margin-top: 5px;padding: 11px; color:#000;border: solid 1px #fff;}
form#fcontact-us .field-cont .half:nth-child(2) p {margin-right:20px}
form#fcontact-us .field-cont .full{width:100%;padding: 15px 20px;}
form#fcontact-us .field-cont .full textarea#message {width:100%; height:200px;padding:11px;color:#000;margin-top:5px;border: solid 1px #fff;}
form#fcontact-us .field-cont .full img{width:100px;float:left; height:40px}
form#fcontact-us .field-cont .full input#verCode {padding:11px;float:left;width:100px;color:#000;border: solid 1px #fff;}
input#btn_contactUs {background-color: rgb(119, 97, 41);  font-size: 1.231em;  color: rgb(255, 255, 255); padding: 10px 55px; margin: 5px 20px 20px;}
form#fcontact-us .field-cont .full.p-5{padding-top:5px;}
form#fcontact-us .field-cont .half p input.error,form#fcontact-us .field-cont .full textarea#message.error,form#fcontact-us .field-cont .full input#verCode.error{border-color:red;}
.loading-small{width:auto;}
form#fcontact-us .field-cont.datetime-field-cont{position:relative;}

/*Reservation Page*/
.reservation-page section{position: absolute; top: 0; right: 0; left: 0; bottom: 0;}
section#sec-form  h1.big {font-size: 64px;line-height: 1.38;color: #fff;font-weight: 300;text-align: center;margin-top: 80px;}
.reservation-page section h1.medium{font-size: 36px;font-weight: 300;color: #fff;margin-top: 50px;text-align: center;}
div#cont-reservation {position: absolute;right: 0; left: 0; bottom: 0; top: 250px;}
div#form {position: absolute; width: 780px;/* height: 240px;*/ top: 50%; left: 50%; margin-top: -120px; margin-left: -390px; background: rgba(255, 255, 255, 0.3);padding-bottom: 10px;}
input{box-sizing:inherit;-webkit-appearance: none; -moz-appearance: none;}
input.txt-50 {padding: 0 10px;  background-color: rgb(242, 242, 242);  font-size: 1.231em;  font-weight: 400;  line-height: 1.38;  color: rgb(0, 0, 0); width: 360px; margin: 20px; padding: 10px;float: left; border:solid 1px rgb(242, 242, 242);}
input.txt-50:nth-child(2) {margin-left:0;}
input.txt-25 {width: 170px; margin: 0  20px; padding: 11px;font-size: 1.231em;font-weight: 400;float: left;border:solid 1px rgb(242, 242, 242);background:rgb(242, 242, 242);}
input.txt-25:nth-child(4){margin-left:0px;}
select.select-50 { background: url('images/select-arrows.svg') rgb(242, 242, 242);  background-repeat: no-repeat;  background-size: auto auto;  background-position: right center;  color: rgb(0, 0, 0);  padding: 10px;  width: 360px;font-size: 1.231em;
font-weight: 400;border:solid 1px rgb(242, 242, 242);}
select,button{-webkit-appearance: none; -moz-appearance: none;}
input#cIn,input#cOut{cursor:pointer}
input.txt-50.error,select.select-50.error{border:solid 1px red;} 
input.btn-100 {width: 742px;  height: 60px; background-color: rgb(119, 97, 41);  font-size: 1.231em;  color: rgb(255, 255, 255); margin: 30px 20px 10px 20px;float: left;}
.info-state {float: left; margin: 0 20px;color:rgb(204, 14, 14);}
.info-state.error-info , .notif-span.error-info{border: solid 1px #D8000C; color: #D8000C; padding: 10px 30px 10px 40px;background:  url(images/error.png) no-repeat #FFBABA;background-position: 10px 6px;}
.info-state.success-info, .notif-span.success-info {color: #4F8A10;   background: url(images/success.png) no-repeat #DFF2BF;padding: 10px 30px 10px 40px;border: solid 1px #4F8A10;background-position: 10px 6px;background-size:24px;}
span.notif-span.nspan-reserform.error-info, span.notif-span.nspan-reserform.success-info {float: left; margin: 0px 20px 20px;}

section#sec-book-info .info-state {margin: 10px 10px 0 10px;}
div#result-availability {position: absolute; top: 0; bottom: 0; width: 75%;}
div#result-availability.scroll{overflow-y: scroll;}
div#your-stay { position: absolute; top: 0; right: 0; bottom: 0; width: 25%; background: rgba(0,0,0,0.5);color: #fff;}
div#list-available-villa {margin-top: 50px;}
.villa {height: 250px;}
.thumb-villa {float: left;width: 40%; height: 100%; background: url('images/default-villa.png') no-repeat #fff;background-position:center center;}
.desc-villa {float: left;width: 60%; background: #696960; height: 100%; color:#fff;overflow:hidden;}
.villa:nth-child(2n+2) .desc-villa{background:#595950;}
.villa:nth-child(2n+2) .thumb-villa{background-color:#eee;}
.desc-villa .title{margin:20px 0;}
.desc-villa .title label{font-size:20px;margin-left: 15px;}
.desc-villa .dvc{margin: 0 15px 20px 15px; font-size: 16px; font-weight: 300; line-height: 160%;}
.dvc-other { font-size: 16px;font-weight: 300; line-height: 160%;}
.dvc-other span.price {margin-left:15px;margin-right:20px;}
.dvc-other a:nth-child(2){color:rgb(255, 214, 0); margin-right:20px;}
.dvc-other a:nth-child(3){border:solid 1px rgb(255, 214, 0); color: rgb(255, 214, 0); padding: 10px;}
.dvc-other a:nth-child(3):hover{background:rgb(255, 214, 0); color:#000;}
div#your-stay h2 {font-size:16px;margin: 20px;}
/*.desc-stay {margin: 0 20px;}*/
.desc-stay p {line-height:160%;margin: 0 20px;}
div#calendars.cout-act {left: initial;right: 20px;}
div#calendars.cout-act .just-triangular {left: 50%;}
.big-loader{height: 100%;position: fixed;width: 100%;background:url('images/big-loader.gif') no-repeat #fff;background-position: center center;z-index:9999;opacity:0.7; top:0;left: 0; display:none;}

#result-availability::-webkit-scrollbar {width: 6px;}
#result-availability::-webkit-scrollbar-track { background:rgba(0,0,0,0.75)}
#result-availability::-webkit-scrollbar-thumb {border-radius: 10px;-webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.75); background:rgba(255,255,255,0.75)}
input.btn-yellow {border: solid 1px rgb(255, 214, 0);color: rgb(255, 214, 0);padding: 10px 30px;background:none;}
input.btn-yellow:hover{background:rgb(255, 214, 0); color:#000;}

.bottom-cont {position: absolute; bottom: 20px; right: 20px;}
.block-info {background-color: rgba(255, 255, 255, 0.05);clear:both;width:100%; float:left;margin-top:20px;padding-bottom: 20px;}
.block-info p {margin: 0 20px;line-height: 160%;}

form.book-info {margin: 100px auto 0;width: 780px;}
form.book-info .w50 {width:50%;float:left;padding: 10px;}
form.book-info .w25 {width:25%;float:left;padding: 10px;}
form.book-info .w100 {width:100%;float:left;padding: 10px;}

form.book-info .w50 input{width: 100%;padding: 15px; border:solid 1px #fff;}
form.book-info input.error{border: solid 1px red !important;}
form.book-info .w25 input{width: 100%;padding: 15px;border:solid 1px #fff;}
form.book-info .w100 textarea{width: 100%;padding: 15px;height:120px;}
input.btn-100-gray {width: 100%;height: 60px;background-color: rgb(119, 97, 41);font-size: 1.231em;color: rgb(255, 255, 255);float: left;}
.popup-info {position: fixed; font-size: 16px;  padding:20px; top:50%; left:50%;background-color: rgba(240, 240, 222, 0.9);border: solid 3px rgb(119, 97, 41);z-index: 11; display:none;}
.popup-info.small{width: 300px; text-align: center; margin-top:-60px; margin-left:-150px;}
.popup-info .close {position: absolute; width: 20px; height: 20px; top: -10px; right: -10px;background:url('images/close-info.png') no-repeat; cursor:pointer;}
option[default] { display:none; }
p.min-stay-info {width: 70%;margin: 100px auto 0;line-height: 160%;text-align: center; color: #fff;font-size: 16px;}
.discount-thumb {position: absolute;color: rgb(255, 214, 0);padding: 10px;background: rgba(0,0,0,0.3);}
.discount-thumb .green{color: rgb(14, 184, 14);}
.success-inquiry-page {color: #fff;}
.success-inquiry-page .line-black {border-color:#fff;}
.content-detail.black.page-like-category-article {width: 100%;}
.content-detail.black.page-like-category-article .brief p {font-size: 20px;}

.small-popup-info {position: fixed;top: 50%;left: 50%; width: 300px; height: 100px; margin-left:-150px; margin-top:-50px; background: rgba(226, 226, 209, 0.99);display:none;z-index:99999;}
.small-popup-info .header-spf {padding:5px 10px; background:rgba(0,0,0,0.5); color:#fff;}
.small-popup-info .desc-spf {margin-top:15px; padding:5px 10px;}
.small-popup-info .close-spf {position:absolute; top:-10px; right:-10px; width:20px; height:20px;background:url('../../../lumonata-plugins/reservation/img/close-floating-div.png') no-repeat;background-size: 20px;cursor:pointer;}


.reservation-form-page h1.big{text-transform:uppercase; }

/*Payment Page*/
#bd-payment{background-color: rgb(226, 226, 208);}
div#payment {width: 640px; margin: 50px auto;}
div#logo {float: left; width: 100px; text-align:left;}
div#logo img.image {max-width:80px;}
div#payment div#content {width: 540px; margin:0;float: left;padding: 30px;border: 5px solid rgb(255, 255, 255);}
div#payment h1 {font-size: 2.5em;font-weight: 300;line-height: 1.38; text-align:center;padding-bottom: 30px;}
div#payment #content .border {width: 150px;  height: 1px;  margin: 0 auto;  background-color: rgb(102, 102, 102);}
div#payment #content .content {margin: 30px 0 0; font-size: 1.2em;line-height: 1.68;}
div#payment #content .content p{margin-bottom:20px;}
div#payment #content .content p.center{text-align:center;}
div#payment #content .content p strong{font-weight: bold;font-size:0.9em}
div#payment a.underline {text-decoration: underline;}
div#detail-booking .dbf{border-bottom: solid 1px rgb(189, 189, 175);}
div#detail-booking .dbf .label{float:left;width:50%;padding: 15px;font-weight: 700;}
div#detail-booking .dbf .value{float:left;width:50%;padding: 15px;}
div#detail-booking .dbf.gray {background: rgb(189, 189, 175);border-bottom: 1px solid rgb(145, 145, 130);}
div#detail-booking .term {padding: 15px 10px;}
div#detail-booking .term input[type="checkbox"] {margin-right:5px;}
div#detail-booking .btn-payment input{width: 100%;height: 80px;margin-top: 10px;background-color: rgb(118, 96, 45);font-size: 1em;font-weight: 400;line-height: 1.38;text-align: center;color: rgb(255, 255, 255);}
.mini-popup {position: fixed;top: 50%;left: 50%; width: 300px; height: 150px; margin-left: -150px; margin-top: -100px; background:rgb(226, 226, 208); z-index: 99;display:none;}
.close {position: absolute; right: -13px; top: -13px; width: 25px; height: 25px; cursor: pointer; }
div#alert-payment h3{margin:25px 0 10px;text-align:center; font-weight:bold; font-size:18px}
.border-title {width: 100px; margin: 0 auto 20px; border-bottom: solid 1px #000;}
.error-desc{width:90%; text-align:center;margin:0 auto;}

/*Just Text Image Page*/
div#just_text_image {width: 100%;}
div#just_text_image .brief h1{margin-top: 75px;font-size: 64px;  line-height: 1.38;  color: #fff;  font-weight: 300;  text-align: center;  margin-top: 35px;}
div#just_text_image .brief p{margin:0; width:100%;}

/*Gallery Page*/
.middle-right-content{width:90%;margin:0 auto}
.gallery-template h1{font-size:32px;font-weight:300;text-align:center;padding:30px 0}
.list-gallery{height:auto !important;/*height:calc(100vh - (40px + 104px + (120px + 10px)));*/overflow: hidden;}
.list-gallery-nav{height: 130px;/*overflow: hidden;*/}
.list-gallery-nav .slick-list {margin-left: -5px;}
.slick-slide img {width: 100%;/* height: 100%; */margin: 0 auto;}
.slick-slide { max-height: 100%;}
.item-gallery-nav img {max-width: 100%;padding: 10px 5px 0 5px;}
.slick-prev:before, .slick-next:before {content: '';}
.slick-prev, .slick-next {background: url('images/arrow.png') no-repeat rgba(0, 0, 0, 0.78);width: 40px;height: 40px;background-size: 16px;background-position: center center;/* background-color: #F5F5F5; *//* border-radius: 40px; */z-index: 1;/* top: 73px; */margin-top: -20px;}
.slick-prev {left: 0;transform: rotate(180deg);top: 50%;}
.slick-next {right: 0;/* transform: rotate(180deg); */top: 50%;margin-top: 0px;}
.span-number {display: none;}

/*Responsive*/
@media screen and (max-width: 1440px) {
	form#fcontact-us {bottom: 40px;top: initial;}
    /*.slick-prev, .slick-next {width: 20px; height: 20px;top: 53px;}
    .slick-next{top: 63px;}*/
}

@media screen and (max-width: 1279px){
	.terms-conditions-page div#detail-content .brief div{overflow-x: scroll;margin: 0 auto;width: 80%;}
	.terms-conditions-page div#detail-content .brief #tbl-rate{min-width: 700px;margin-bottom: 0;}
}

@media screen and (max-width: 1250px){
	form.book-info {width: 85%;}
}



@media screen and (max-width: 1180px){
	.desc-villa .dvc {display: none;}
	.dvc-other span.price {float: left;margin: 10px 0 10px 15px;}
	.dvc-other a:nth-child(2) {float: left;margin: 10px 0 10px 15px;}
	.dvc-other a:nth-child(3) {float: left;margin: 0px 0 0 15px;}
}

@media screen and (max-width: 1024px){
    #cont-reservation #form{position:relative;margin:0 auto; left:auto; right:auto; top:auto; bottom:auto;width:90%;}
    #cont-reservation #form input.txt-50{margin:3.3%;width:45%;}
    #cont-reservation #form input.txt-50:nth-child(2){margin-left:0}
    #cont-reservation #form input.txt-25{width:20.835%; margin:0 3.3%;}
    #cont-reservation #form input.txt-25:nth-child(4){margin-left:0;}
    #cont-reservation #form select.select-50{width:45%; margin-left:0px;}
    #cont-reservation #form input.btn-100{width:93.34%; margin:3% 3.33%;}

    .item-gallery-nav img {padding: 5px 2.5px 0 2.5px;}

    .slick-prev,.slick-next{width:30px;height:30px;background-size:10px}
    .slick-prev{margin-top:-15px}
    .list-gallery-nav .slick-list {margin-left: -2.5px;}
}

@media screen and (max-width: 960px){
	form#fcontact-us {width: 80%; }
	
	#sec-book-info #result-availability {width: 70%;}
	#sec-book-info #your-stay {width: 30%;}
	#sec-book-info form.book-info{margin: 50px auto 0;}
	img.yak {width: 250px;  margin-top: -45px;}
	.logo-yak {width: 250px;height: 75px;}
}

@media screen and (max-width: 768px) {
    .item-gallery-nav img{padding:3px 1.5px 0 1.5px}
    .list-gallery-nav .slick-list{margin-left:-1.5px}
}
@media screen and (max-width: 750px) {
	form.book-info .w50 input{padding:10px;}
	form.book-info .w25 input{padding:10px;}
}

@media screen and (max-width: 640px) {
	#left{top: 10px; left: 10px; bottom: 10px;width: 80px;}
	#right{top: 10px;left: 10px; right: 10px;bottom: 10px;margin-left: 80px;}
	#right.fixpos{bottom:10px;}
	#line-bottom,#line-top {height: 10px;}
	#full-background{right: 10px;left: 10px;top: 10px;bottom: 10px;}
	/*#full-background{right: 0;left: 0;top: 0;bottom: 0;}*/
	#horizontal-header {top: 10px;left: 10px; right:10px;}
	#mobile-menu{display:block;}
	div#menu-top {display: none;}
	img#logo-web {width: 60px;}
	#right-content .content-detail.black h1 {font-size:36px;}
	#right-content .content-detail.black .brief{font-size:16px;}
	div#container-bottom-sb {display: none;}
	/*.content-detail{margin-left:80px;}*/
	/*div#location {margin-left:80px; }*/
	div#menu-top-right{left: 90px;right: 10px;}
	
	.content-detail.black h1.big{font-size:48px;}
	section#sec-form h1.big{font-size:48px;}
	div#content{margin-right:0px;}
	#layout-top .brief p{font-size:16px;}
	#layout-bottom{/*margin-left:80px;*/background:none;}
	.bottom-read-more{bottom: 10px;}
	.bottom-read-more a{background-size: 50px;padding-top: 35px;font-size: 12px;}
	.brief p{font-size:16px;}
	.brief ul li{font-size:16px;}
	.brief table{font-size:16px;}
	div#detail-content.have-menu-top h1{padding-top: 90px;/*font-size: 26px;*/}
	
	div#list-room .room{width:100%;}
	.button-make-reservation a{padding: 10px;font-size: 14px;}
	
	div#form {width: 400px; /*height: 145px;*/ height: auto; margin-top: -72px; margin-left: -200px;}
	/*section#sec-form { left: 80px;}*/
	
	input.txt-50 {width: 192px; margin: 5px; font-size: 1em;}
	input.txt-50:nth-child(2){width:193px;}
	input.txt-25 {width: 94px; margin: 0 5px;font-size: 1em;}
	select.select-50 {width: 192px; font-size: 1em;}
	input.btn-100 {width: 390px; margin: 10px 5px; height: 40px; font-size: 1em;}
	/*.reservation-page section{left:80px;}*/
	div#result-availability {width: 65%;}
	div#your-stay {width: 35%;}
	.thumb-villa {width: 100%;}
	.desc-villa {width: 100%;height: 200px;}
	.desc-villa .dvc {display: none;}
	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {width: 3px;}
	.mCSB_scrollTools .mCSB_draggerRail{width:1px}
	div#mCSB_1_container {margin-right: 10px;}
	.mCSB_scrollTools{width:10px}
	.reservation-page section h1.medium {font-size: 24px; margin-top: 30px;}
	div#list-available-villa { margin-top: 30px;}
	.desc-villa .title label {margin-left:0}
	.desc-villa .title {text-align:center;margin: 10px 0;}
	.dvc-other span.price,.dvc-other a:nth-child(2){float: left; margin:5px 0; width: 100%; text-align: center;}
	.dvc-other a:nth-child(3) {position: absolute; bottom: 0; left: 50%;margin-left: -64px;}
	.dvc-other {position: relative;height: 125px;}
	/*form#fcontact-us {width: 400px; margin-left: -200px;}*/
	span.notif-span {float: left; margin: 0 20px 20px;}
	input#btn_contactUs{float:left;}
	
}

@media screen and (max-width: 480px) {
	#left{display:none;}
	#right{margin-left: 0;}
	#right,#full-background{min-height:600px;}/*test aja*/
	#horizontal-header{display:block;}
	div#right-content{top:90px;left:10px;}
	div#menu-top-right{left: 10px;top: 90px;display:none;}
	div#menu-top-right ul li{font-size:14px;}
	have-menu-top .layer-top {top: 119px;}
	#right-content .layer-top{height:70%;}
	.content-detail.black {margin-left: 0;}
	div#location {margin-left:0;margin-top: 80px; }
	.have-menu-top .content-detail.black h1.big {margin-top: 140px;}
	#layout-top .content-detail.black h1{margin-top:100px;}	
	#layout-bottom {margin-left: 0;}
	div#detail-content.have-menu-top h1 {padding-top: 150px;font-size:26px;}
	div#detail-content.no-top-menu h1{padding-top: 110px;font-size:26px;}
	.brief{width:100%;}
	.brief p{width:100%;font-size:14px;}
	.brief table{font-size:14px;}
	.brief ul li{font-size:14px;margin:0;}
	div#list-room .room .desc .style-desc{font-size:14px;}
	.brief h2{font-size:18px;}
	section#sec-form {left: 0;}
	section#sec-form h1.big{margin-top:140px;font-size:26px;}
	
	.reservation-page section {left: 0; top: 80px;}
	.desc-stay p {font-size: 12px;}
	.reservation-page section h1.medium {font-size: 18px;}
	.thumb-villa {height: 200px;}
	.desc-villa .title label {font-size: 14px;}
	.dvc-other span.price, .dvc-other a:nth-child(2) {font-size: 14px; line-height: 140%;}
	.dvc-other a:nth-child(3) {padding: 5px; margin-left: -59px;}
	.dvc-other {height: 110px;}
	.desc-villa .title {margin: 10px 0 5px 0;}
	.desc-villa {height: 170px;}
	form#fcontact-us {position: relative; margin: 80px auto;left: inherit;}
	div#layout-top.contact-us h1.big{font-size:26px; margin-top: 100px;}
	form#fcontact-us .field-cont .half p input {padding: 8px;}
	form#fcontact-us .field-cont .half {width:100%;}
	form#fcontact-us .field-cont .half:nth-child(1) p{margin-right: 20px;}
	#layout-top.contact-us #full-background{position:fixed; left:10px; right:10px; width:auto;}
	div#list-room{width:100%;}
	
	.bottom-cont {position: relative; right: auto; margin: 20px; /* text-align: center; */height: 40px;bottom:  auto;}
	
	#sec-book-info #your-stay {width: 100%;height: 200px;}
	#sec-book-info #your-stay .desc-stay {width:50%;float:left;}
	#sec-book-info #your-stay .block-info {width:50%; float:left; clear: none; margin: 0; background:none;}
	#sec-book-info #your-stay input.btn-yellow {border: none;position: absolute; top: 0; right: 0; padding: 0;}
	#sec-book-info #your-stay .bottom-cont {margin: 10px;}
	#sec-book-info #result-availability {width: 100%; /*top: 200px;*/}
	#sec-book-info form.book-info {margin-top: 30px;}
	
	img.yak {width: 200px;  margin-top: -40px;}
	.logo-yak {width: 200px;height: 60px;}
	.floor-plan-page div#detail-content .brief p:first-child img{margin-top: 160px;}
	
	.terms-conditions-page div#detail-content .brief div{overflow-x: scroll;margin: 0 auto;width: 100%;}
	.terms-conditions-page div#detail-content .brief #tbl-rate{min-width: 700px;}


    .list-gallery-nav{display:none}
    .slick-prev,.slick-next{background-color:rgba(0,0,0,0.2)}
    .slick-prev{bottom:0;top:inherit;left:5%}
    .slick-next{top:inherit;bottom:-15px;right:5%}
    .gallery-template{padding-top:100px}

    .container-list-gallery {position: relative;}
    .span-number {position: absolute; bottom: 7px; left: 50%; width: 50px; margin-left: -25px; text-align: center; color: #fff;}
    .span-number {display: block;}
}

@media screen and (max-width: 415px){
	#sec-book-info #your-stay {width: 100%;height: 175px;}
	#sec-book-info #your-stay .desc-stay {width:100%;float:left;}
	#sec-book-info #your-stay .block-info {width:100%; float:left; }
	#sec-book-info #your-stay {height: 340px;}
	/*#sec-book-info #result-availability {top: 340px;}*/
	#sec-book-info #your-stay .bottom-cont {margin: 20px;}
}


@media screen and (max-width: 410px){
	div#result-availability {width: 100%; /*top: 175px;*/}
	div#your-stay {width: 100%; height: 175px;}
	.desc-stay p {float: left; width: 50%;}
	/*div#your-stay h2 {margin: 10px 8px 5px;}*/
	input.btn-yellow {border: none;}
	.bottom-cont {position: absolute;top: 5px;right: 0;margin: 8px -1px;}
	.desc-stay {margin: 0 8px;}
	
}

@media screen and (max-width: 320px){
	.have-menu-top .content-detail.black h1 {margin-top: 160px;font-size: 36px;}
	#layout-top .brief p{font-size:14px;}
	.content-detail.black h1.big{font-size:36px;}
	.layer-top{height: 60%;}
	div#list-room .room{height:255px;}
	div#list-room .room .desc .style-desc{padding:10px;}
	div#detail-content.no-top-menu h1{font-size:22px;}
	div#form {/*height: 260px;*/ width: 280px; margin-top: -130px; margin-left: -140px;padding-bottom:0;}
	/*input.txt-50 {width: 260px !important; margin: 10px !important;}
	input.txt-50:nth-child(2){margin-top:0 !important;}
	input.txt-25 {margin: 0 10px; width: 125px;}
	select.select-50 {width: 260px; margin: 10px;}
	input.btn-100 {margin: 5px 10px 10px 10px; width: 260px;}*/
	
	/*div#result-availability {width: 100%; top: 110px;}
	div#your-stay {width: 100%; height: 110px;}
	.desc-stay p {float: left; width: 50%;}
	div#your-stay h2 {margin: 10px 20px 5px;}*/
	form#fcontact-us {width: 265px;}
}

/*Validasi for height monitor*/
@media screen and (max-height: 880px) {
	/*form#fcontact-us.reservation-form{margin-bottom:100px;}*/	
	.pdd-btm{padding-bottom:100px;}
}

@media screen and (max-height: 100px) {
	img#logo-web{width: 70px;}
}

/*For Hidden*/
/*div#menu-top ul.menu li:nth-child(2),div#menu-top ul.menu li:nth-child(4){display:none;}
.reservation{display:none}
#mobile-menu ul li:nth-child(2),#mobile-menu ul li:nth-child(4),#mobile-menu ul li:nth-child(7){display:none;}
#mobile-menu-height ul li:nth-child(2),#mobile-menu-height ul li:nth-child(4),#mobile-menu-height ul li:nth-child(7){display:none;}*/