<!-- BEGIN thumb_article -->
                <div id="list-room">
                	<!-- BEGIN thumb_article_block -->
                    <div class="room">
                        <div class="content">
                            <div class="thumb" style="background:url({image_thumb}) no-repeat; background-size:cover;-webkit-background-size: cover;background-position: center center;">
                            	<div class="title-thumb">{thumb_title}</div>
                                <div class="layer-bottom"></div>
                            </div> 
                            <div class="desc">
                                <div class="style-desc">
                                    {thumb_desc}
                                </div>                                        	
                            </div>                                   
                        </div>
                    </div>
                    <!-- END thumb_article_block -->  
                    <div class="clear"></div>
                </div>
<!-- END thumb_article -->
