<!-- BEGIN mainBlock -->
<script type="text/javascript">
	jQuery(document).ready(function(){
		//formButtons();
		{jsAction}
		
	});
</script>


<div id="contentWrapper">
	<div class="notifBlockSaved" style="display:none; margin-bottom:10px; padding:10px; background:#93FF93; font-size:13px; color:#000;">
			{notif_message}
	</div>
	<div class="notifFailedSaved" style="display:none; margin-bottom:10px; padding:10px; background:#ffd504; font-size:13px; color:#000;">
			{notif_message}
	</div>
	<div id="content-typeEdit">
        	<div class="headsUp">
			<h2>Season {title}</h2>
			<form method="post" action="" id="theEditForm"  name="theEditForm" enctype="multipart/form-data">
			<!-- BEGIN editContent -->
			<input type="hidden" name="pilih[{i}]" id="pilih{i}" value="{pilih}" />
			<input name="season_id[{i}]" id="season_id{i}" type="hidden" value="{season_id}" />
			{separate}
			<div class="wrapper form bt-abu-true" style="border-bottom:solid 1px #ccc;">
				<label>Season</label>
				{season_name}
			</div>
			<script type="text/javascript">			
				jQuery(function($) {
					jQuery(".input-calender").datepicker({ dateFormat : 'mm/dd/yy'});
					jQuery( "#date_start{i}" ).datepicker( "option", "minDate", 0 );
					jQuery( "#date_finish{i}" ).datepicker( "option", "minDate", 1 );
					
					jQuery( "#date_start{i}" ).change(function(){
						var d1 = new Date(jQuery(this).val());
							d1.setDate(d1.getDate()+1);
						jQuery(this).parent().parent().parent().find("#date_finish{i}" ).datepicker( "option", "minDate", d1 );
					});	
					
					
				});
			</script>
			<div id="choiceTemplate" class="wrapper form" style="border-bottom:solid 1px #ccc;" >
				<input id="answercount" name="answercount" type="hidden" value="1" />
				<label>From</label>
				<input type="text" class="text required date input-calender" id="date_start{i}" name="date_start[{i}]" value="{date_start}" style="width:110px;" />
				<label style="margin-left:10px; width:30px;">To</label>
				<input type="text" class="text required date input-calender" id="date_finish{i}" name="date_finish[{i}]" value="{date_finish}" style="width:110px;" />
				<!--<label style="margin-left:10px; width:75px;">Cut of Date</label>
				<input type="text" class="text required digits" id="cut_of_date{i}" name="cut_of_date[{i}]" value="{cut_of_date}" style="width:20px;" /><span class="dba"> days before arrival</span>-->
			</div>
            <div id="choiceTemplate" class="wrapper form" >
            	<label>Minimum Stay</label>
                <input type="text" class="text" id="min_stay{i}" name="min_stay[{i}]" value="{min_stay}" style="width: 110px;" />
            </div>
            
			<!-- END editContent -->
			<div class="bottonContainer">
				{button_save}
				<a href="http://{supplier_site_url}/season/" class="button"><img src="http://{template_url}/img/button-cancel.png" alt="button-cancel" width="75" height="31"/></a>
			</div>
			<div class="clear"></div>
			</form>
		</div>
        </div>
        <!-- id="content-type" END ========================= --> 
</div>
<!-- END mainBlock -->