.tipsy { padding: 10px; font-size: 11px; line-height: 1.4em; background-repeat: no-repeat;  background-image: url(../images/tipsy.png); }
.tipsy strong { font-size: 1.2em; }
  .tipsy-inner { padding: 7px 8px 8px 8px; background-color: #023435; color: white; max-width: 350px; text-align: center; }
  .tipsy-inner { -moz-border-radius:1px; -webkit-border-radius:1px; }
  .tipsy-north { background-position: top center; }
  .tipsy-south { background-position: bottom center; }
  .tipsy-east { background-position: right center; }
  .tipsy-west { background-position: left center; }
