<!-- BEGIN mainBlock -->
<script type="text/javascript">
	jQuery(document).ready(function(){
		//formButtons();
		var minComm = parseInt('{min_commision}');
		var isNew   = '{title}';
		if(isNew=='New'){
			jQuery('.commisionInput').val(minComm);
			jQuery('.radioYes').attr('checked',true);
		}
		jQuery('.commisionInput').keyup(function(){
			var tisVal = parseInt(jQuery(this).val());
			var tisID  = jQuery(this).attr('id');
	
			if(tisVal<minComm){
				jQuery('.minCommNotif.'+tisID).fadeIn();
				jQuery('.button.dummy').css('display','inline');
				//jQuery('.button.submit').css('display','none');
				jQuery('.btn_save').css('display','none');
			}else{
				jQuery('.minCommNotif.'+tisID).fadeOut();
				jQuery('.button.dummy').css('display','none');
				//jQuery('.button.submit').css('display','inline');
				jQuery('.btn_save').css('display','inline');
			}
		});
		
		jQuery('.button.dummy').click(function(){
			alert('please check again the form');
		});
		
		{jsAction}
		
		jQuery(".input-calender").datepicker({ dateFormat : 'mm/dd/yy'});
		jQuery( "#date_start{i}" ).datepicker( "option", "minDate", 0 );
		jQuery( "#date_finish{i}" ).datepicker( "option", "minDate", 1 );
		
		jQuery( "#date_start{i}" ).change(function(){
			var d1 = new Date(jQuery(this).val());
				d1.setDate(d1.getDate()+1);
			jQuery(this).parent().parent().parent().find("#date_finish{i}" ).datepicker( "option", "minDate", d1 );
		});
		
		jQuery(".inputs-calender").datepicker({ dateFormat : 'mm/dd/yy'});
		jQuery( "#start_publish{i}" ).datepicker( "option", "minDate", 0 );
		jQuery( "#end_publish{i}" ).datepicker( "option", "minDate", 1 );
		
		jQuery( "#start_publish{i}" ).change(function(){
			var d1 = new Date(jQuery(this).val());
				d1.setDate(d1.getDate()+1);
			jQuery(this).parent().parent().parent().find("#end_publish{i}" ).datepicker( "option", "minDate", d1 );
		});
		
		//setup before functions
		var typingTimer;                //timer identifier
		var doneTypingInterval = 5000;  //time in ms, 5 second for example
		
		//on keyup, start the countdown
		$('.qty_additional_service').keyup(function(){
			clearTimeout(typingTimer);
			var value = jQuery(this).parent().find(".get_price_additional_service").val();  
			var qty = jQuery(this).val();
			var days = 0;
			if(jQuery(this).parent().find(".days_additional_service").size() > 0 ) days = jQuery(this).parent().find(".days_additional_service").val();
			
			if(qty =='' || !jQuery.isNumeric(qty)) qty=0;
			typingTimer = setTimeout(get_price(value,qty,days,jQuery(this)), doneTypingInterval);
		});
		
		$('.days_additional_service').keyup(function(){
			clearTimeout(typingTimer);
			var value = jQuery(this).parent().find(".get_price_additional_service").val();  
			var qty = jQuery(this).parent().find(".qty_additional_service").val();  
			var days = jQuery(this).val();
			//if(jQuery(this).parent().find(".days_additional_service").size() > 0 ) days = jQuery(this).parent().find(".days_additional_service").val();
			
			if(qty =='' || !jQuery.isNumeric(qty)) qty=0;
			typingTimer = setTimeout(get_price(value,qty,days,jQuery(this)), doneTypingInterval);
		});
		
		//on keydown, clear the countdown 
		$('.qty_additional_service').keydown(function(){
			clearTimeout(typingTimer);
		});
		
		$('.days_additional_service').keydown(function(){
			clearTimeout(typingTimer);
		});
		
		//user is "finished typing," do something
		jQuery(".get_price_additional_service").change(function(){
			if(jQuery(this).is(':checked')){
				jQuery(this).parent().find(".qty_additional_service, .days_additional_service").fadeIn(70);  
			}else{
				jQuery(this).parent().find(".qty_additional_service, .days_additional_service").val('').fadeOut(70);  
				jQuery(this).parent().find(".sub_total_addtional_service").text('');  
			}
		});
	});
	
	function get_price(value,qty,days,element) {
		var url = jQuery('[name=site_url]').val()+'/booking-engine/';
		var data = new Object();
			data.act = 'special-offer';
			data.do_act = 'get_addtional_service_price';
			data.val_id  = value;
			data.val_qty = qty;
			data.val_day = days;
		jQuery.post(url,data, function(response){
			jQuery(element).parent().find('.sub_total_addtional_service').text(response);
		});	
	}
	
</script>
<div id="contentWrapper">
	<div class="notifBlockSaved" style="display:none; margin-bottom:10px; padding:10px; background:#93FF93; font-size:13px; color:#000;">
			{notif_message}
	</div>
	<div class="notifFailedSaved" style="display:none; margin-bottom:10px; padding:10px; background:#ffd504; font-size:13px; color:#000;">
			{notif_message}
	</div>
	<div id="content-typeEdit">
       	<div class="headsUp">
			<h2>Special Offer {title}</h2>
			<form method="post" action="" id="theEditForm"  name="theEditForm" enctype="multipart/form-data">
			<!-- BEGIN editContent -->
            <input type="hidden" name="site_url"  value="{site_url}" />
			<input name="pilih[{i}]" type="hidden" value="{pilih}" />
			<input name="so_id[{i}]" id="so_id{i}" type="hidden" value="{so_id}" />
			{separate}
            
            <div class="wrapper form bt-abu-true" >
				<label>Category</label>
                {parent}
			</div>
            
            <div class="wrapper form bt-abu-true" >
				<label>Room Category</label>
                <select name="acco_type_cat_id[{i}]" id="acco_type_cat_id{i}" class="required">
	                {room_category}
                </select>
			</div>
            
            <div class="wrapper form bt-abu-true" >
				<label>Image Thumbnail</label>
                <input type="file"  accept="image/*" name="file_{i}">
			</div>
            
             <div class="wrapper form bt-abu-true list-field" >
				<div class="small">
                    <label>Day(s)</label>
                    <input type="text" id="days{i}" name="days[{i}]" value="{days}">
                </div>
                <div class="small">
                	<label>Night(s)</label>
                    <input type="text" id="nights{i}" name="nights[{i}]" value="{nights}">
                </div>                
                <div class="medium">
                	<label>Price (USD)</label>
                    <input type="text" id="price{i}" name="price[{i}]" value="{price}">
                </div>
                <div class="clear"></div>                
			</div>
            
            <div class="wrapper form bt-abu-true">
            	<span class="sp-mr">Booking period is</span>
				<input type="text" class="text required number small" id="period_day_arrival{i}" name="period_day_arrival[{i}]" value="{period_day_arrival}" />
                <span class="sp-ml">days prior to arrival</span>
			</div>
            
            <div class="wrapper form bt-abu-true list-field" >
                <div class="medium">
                	<label>Start Date</label>
                    <input type="text" class="text input-calender" id="start_date{i}" name="start_date[{i}]" value="{start_date}">
                </div>                
                <div class="medium">
                	<label>Valid Through Date</label>
                    <input type="text" class="text input-calender" id="date_finish{i}" name="date_finish[{i}]" value="{date_finish}">
                </div>
                <div class="clear"></div>                
			</div>
            
			<div class="wrapper form bt-abu-true" >
				<label>Description</label>
                <textarea  name="description[{i}]" style="height:100px; width:600px;">{description}</textarea>
			</div>
            
            <div class="wrapper form bt-abu-true" >
				<label>Published</label>
                <input type="checkbox" value="published" name="publish" class="checkbox" {publish}><span class="sp-ml">Yes</span>
			</div>
            
            <div class="wrapper form bt-abu-true list-field" >
                <div class="medium">
                	<label>Start Publishing</label>
                    <input type="text" class="text inputs-calender" id="start_publish{i}" name="start_publish[{i}]" value="{start_publish}">
                </div>                
                <div class="medium">
                	<label>Finish Publishing</label>
                    <input type="text" class="text inputs-calender" id="end_publish{i}" name="end_publish[{i}]" value="{end_publish}">
                </div>
                <div class="clear"></div>                
			</div>
            
            <div class="wrapper form bt-abu-true">
				<label>Link</label>
				<input type="text" class="text required number" id="link{i}" name="link[{i}]" value="{link}" />
			</div>
            
            <div class="wrapper form bt-abu-true">
            	<div class="table_additional_service">
                	<div class="header bb-abu">
                    	<div class="additional-name">Additional Service</div>
                        <div class="action"></div>
                        <div class="action"></div>
                        <div class="price">Price(USD)</div>
                        <div class="small">Qty.</div>
                        <div class="small">Day.</div>
                        <div class="total">Total(USD)</div>
                        <div class="clear"></div>
                    </div>
                    {additional_service_list}
	                <!--<div class="list_additional_service">
                    	<ul>
                        	<li class="bb-abu">Extra</li>
                        	<li>Spa
                            	<ul>
                                    <li>
                                    	<label>Thai Massage</label>
                                        <div class="list_price">
                                        	<div class="price_additonal_service">
                                            	<input type="checkbox" class="checkbox" /> 
                                            	<span>60minutes - 100.00</span>
                                                <input type="text" value="2" />    
                                                <span class="sub_total_addtional_service">200.00</span>
                                                <div class="clear"></div>
                                            </div>
                                            
                                            <div class="price_additonal_service">
                                            	<input type="checkbox" class="checkbox" /> 
                                            	<span>90minutes - 150.00</span>
                                                <input type="text" value="2" />    
                                                <span class="sub_total_addtional_service">150.00</span>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                        <div class="clear"></div>                                    
                                    </li>
                                    <li>Balinese Massage</li>
                                </ul>
                            </li>
                        </ul>
                    </div>-->
                </div>
            	
            	<!--<table class="table_additional_service" cellspacing="0" cellpadding="0" style="">
                    <tr>
                        <th class="additional_name" >Additional Service</th>
                        <th class="action"></th>
                        <th class="action"></th>
                        <th class="price">Price(USD)</th>
                        <th class="small">Qty.</th>
                        <th class="small">Day</th>
                        <th class="total">Total(USD)</th>
                    </tr>
                    {additional_service_list}
                </table>-->
            </div>
            
            
            
           <!-- <div class="wrapper form bt-abu-true" >
				<label>Use Time</label>
                <input type="checkbox" name="use_time[{i}]" {use_time} />
			</div>-->
            
           
            {cont_additional_price}
            {clone_container}
            {btn_add_price}
            
            <script>
            	jQuery("[name='use_time[{i}]']").click(function(){
					if (this.checked) {
						jQuery(".price_cont_{i}.use-time").fadeIn(70, function(){
							jQuery('.clone-price-cont').fadeIn(70);
							jQuery(".price_cont_{i}.not-use-time").fadeOut(70).removeClass('show-div"');

						});
						
					}else {
						jQuery(".price_cont_{i}.use-time").fadeOut(70,function(){
							console.log('masuk sini');
							jQuery(".price_cont_{i}.use-time").removeClass('show-div');
							jQuery('.clone-price-cont').fadeOut(70);
							jQuery(".price_cont_{i}.not-use-time").fadeIn(70).removeClass('hide-div');
								
						});
						
					}					
				});
				
				jQuery(".add_price_{i}").click(function(){
					var clone = jQuery('.the_price_cont').clone().appendTo($(".clone-price-cont"));
					jQuery(clone).removeClass('the_price_cont');
					jQuery(clone).find(':input').val('');
					jQuery(clone).find('.not-use-time').remove();
				});
				
            </script>
            
            
			
			<!-- END editContent -->
			<div class="bottonContainer">
            	<a href="#" class="button dummy" style="display:none;"><img src="{http}{template_url}/img/button-save.png" alt="button-save" width="75" height="31"/></a>
				{button_save}
				<a href="{http}{supplier_site_url}/special-offer/" class="button"><img src="{http}{template_url}/img/button-cancel.png" alt="button-cancel" width="75" height="31"/></a>
			</div>
			<div class="clear"></div>
			</form>
		</div>
   </div>
        <!-- id="content-type" END ========================= --> 
</div>
<!-- END mainBlock -->