#calendars {font-family: 'Lato';background: rgb(119, 97, 41);margin: 0;visibility:hidden;z-index: -1001; left:-9999px;height: 0;/*overflow: hidden;*/position: absolute;top: 66px;}
#calendars.show-calendar{z-index: 1001;left: 20px;height:auto;}
.src-date-from.select div.nav-date-picker, .src-date-to.select div.nav-date-picker, #select-date-to div.nav-date-picker, #select-date-from div.nav-date-picker
{position: absolute;bottom: -8px; left: 50%; margin-left: -4px; border-left: 8px solid transparent; border-right: 8px solid transparent; border-bottom: 8px solid #9c33c1;}
div.overlay-calendar {position: fixed; width: 100%; height: 100%; /*background: black;*/ top: 0; left: 0; z-index: 1000; /*opacity: 0.5;*/ display:none;}
.just-triangular {position: absolute;top: -4px;  left: 21%;  margin-left: -4px; border-left: 6px solid transparent; border-right: 6px solid transparent;  border-bottom: 6px solid rgb(119, 97, 41);}