div.timeframe_calendar {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: center;
  text-shadow: none;
  position:relative;
}
div#calendars_container {
    margin: 3px;
    background: #fff;
	padding: 0 1px;
	position: relative;
}
div.dummy-caption {
    height: 36px;
    background: #333333;
    position: absolute;
    width: 100%;
	left: 0;
}
/* Menu */
div.timeframe_calendar ul.timeframe_menu {
  list-style-type: none;
  font-weight: bold;
  margin: auto;
  padding: 0 0 6px;
  width: 100%;
  position: absolute;
  z-index: 99;
  top: 5px;
}
div.timeframe_calendar ul.timeframe_menu li {
  display: inline;
}
div.timeframe_calendar ul.timeframe_menu li a {
  display: inline-block;
  height: 20px;
  padding: 2px 0 0;
  text-decoration: none;
  width: 20px;
 /* box-shadow:         0 1px 2px #999;
  -webkit-box-shadow: 0 1px 2px #999;
  -moz-box-shadow:    0 1px 2px #999;*/
}
div.timeframe_calendar ul.timeframe_menu li a.previous, div.timeframe_calendar ul.timeframe_menu li a.next {
 /* background: #fff;
  color: #468966;*/
}
/*div.timeframe_calendar ul.timeframe_menu li a.previous:hover, div.timeframe_calendar ul.timeframe_menu li a.next:hover {
  background: #ccc;
}
div.timeframe_calendar ul.timeframe_menu li a.previous:active, div.timeframe_calendar ul.timeframe_menu li a.next:active {
  background: #aaa;
}*/
div.timeframe_calendar ul.timeframe_menu li a.disabled, div.timeframe_calendar ul.timeframe_menu li a.disabled:hover, div.timeframe_calendar ul.timeframe_menu li a.disabled:active {
	background:none !important;
  /*background: #fff;
  color: #ccc;
  cursor: default;*/
}
div.timeframe_calendar ul.timeframe_menu li a.today {
  background: #468966;
  color: #eee;
}
div.timeframe_calendar ul.timeframe_menu li a.today:hover {
  /*background: #246744;*/
}
div.timeframe_calendar ul.timeframe_menu li a.today:active {
  background: #024522;
}
div.timeframe_calendar ul.timeframe_menu li a.previous {
	background: url(../images/sr-icon.png) no-repeat;left: 2px;z-index: 999;cursor: pointer;top: 3px;background-position: 0px -252px;
  /*
  span.prev-custom {width: 20px; height: 27px;position: absolute;background: url(../images/sr-icon.png) no-repeat;left: 2px;z-index: 999;cursor: pointer;top: 3px;background-position: 0px -250px;}
span.next-custom {width: 20px; height: 27px;position: absolute;background: url(../images/sr-icon.png) no-repeat;right: 2px;z-index: 999;cursor: pointer;top: 3px;background-position: -45px -250px;}
  */
}
div.timeframe_calendar ul.timeframe_menu li a.next {
	background: url(../images/sr-icon.png) no-repeat;right: 2px;z-index: 999;cursor: pointer;top: 3px;background-position: -45px -252px;
 /* border-top-right-radius:             10px;
  border-bottom-right-radius:          10px;
  -webkit-border-top-right-radius:     10px;
  -webkit-border-bottom-right-radius:  10px;
  -moz-border-radius-topright:         11px;
  -moz-border-radius-bottomright:      11px;*/
}

/* Calendar*/
div.timeframe_calendar table {
  display: inline;
  display: inline-block;
  font-size: 15px;
  margin:0px 5px;
}
.reservation-form div.timeframe_calendar table {color: #000;}
div.timeframe_calendar #calendars_calendar_0 {
	/*margin-right:10px;*/
}
/* Month names */
div.timeframe_calendar table caption {
  color: #fff;
  font-size: 16px;
  padding: 9px 8px;
  position: relative;
  text-align: center;
}
/* Cell sizes */
div.timeframe_calendar thead th, div.timeframe_calendar tbody td {
  height: 30px;
  margin: 0;
  width: 35px;
  font-weight: normal;
  font-size: 14px;
  border: solid 1px #fff;
}
/* Weekday letters */
div.timeframe_calendar thead {
  background: #fff;
  color: #000;
  border: solid 1px #fff;
}
/* Days */
div.timeframe_calendar tbody {
  background: #fff;
  /*box-shadow:         0px 2px 6px #999;
  -webkit-box-shadow: 0px 2px 6px #999;
  -moz-box-shadow:    0px 2px 6px #999;*/
  border: solid 1px #fff;
}
div.timeframe_calendar tbody td {
  cursor: pointer;
  font-size: 12px;
}
/* Hover states not available in IE */
div.timeframe_calendar tbody td.selectable:hover {
  background-color: #fff;  border:solid 1px rgb(119, 97, 41);
}

/*div.timeframe_calendar tbody tr td:first-child.selectable:hover{border-left-color:#fff;}*/

div.timeframe_calendar tbody td.selected:hover, div.timeframe_calendar tbody td.stuck:hover {
  background-color: #ccc;  border:solid 1px #ccc;
}
/* Selected states */
div.timeframe_calendar tbody td.selected {
  background-color: #ccc;  border:solid 1px #ccc;
}
div.timeframe_calendar tbody td.stuck {
  background-color: #ccc;
  border:solid 1px #ccc;
}
/* Range markers */
div.timeframe_calendar tbody td.startrange, div.timeframe_calendar tbody td.endrange, div.timeframe_calendar tbody td.startendrange {
  cursor: col-resize;
}
div.timeframe_calendar tbody td.startrange {
	color:#fff;
	/*background: url(../images/bg-p.png) repeat;*/
	background:rgb(119, 97, 41);
	border: solid 1px rgb(119, 97, 41);
  /*background-image: url(../images/start.png);*/
}
div.timeframe_calendar tbody td.startrange:hover, div.timeframe_calendar tbody td.endrange:hover{border: solid 1px rgb(119, 97, 41);}

div.timeframe_calendar tbody td.endrange {
	color:#fff;
	background:rgb(119, 97, 41);
	/*background: url(../images/bg-p.png) repeat;*/
	border: solid 1px rgb(119, 97, 41);
  /*background-image: url(../images/end.png);*/
}
div.timeframe_calendar tbody td.startendrange {
	color:#fff;
	background: url(../images/bg-p.png) repeat;
	border: solid 1px rgb(119, 97, 41);
  /*background-image: url(../images/startend.png);*/
}
/* Today */
div.timeframe_calendar tbody td.today {
 /* background-color: #468966;
  color: #eee;*/
}
div.timeframe_calendar tbody td.today_selected {
  /*background-color: #b64926;*/
}
div.timeframe_calendar tbody td.today_stuck {
 /* background-color: #8e2800;*/
}
/* Post/pre-month */
div.timeframe_calendar tbody td.beyond {
  background-color: #fff;
  background-image: none;
  color: #ccc;
  font-size:0;
}
td.post.beyond.selectable.beyond_selected.selected {background: #fff;}
td.pre.beyond.selectable.beyond_selected.selected {background: #fff;}
div.timeframe_calendar tbody td.beyond_selected {
  background-color: #999;
}
div.timeframe_calendar tbody td.beyond_stuck {
  background-color: #fff;
  border-color:#fff;
}
div.timeframe_calendar tbody td.beyond_stuck div{visibility:hidden;}

div.timeframe_calendar tbody td.unselectable {
  color: #ccc;
  cursor: default;
}
/* Clear button */
div.timeframe_calendar tbody td span.clear {
  color: transparent;
  /*display: block;*/
  height: 0;
  position: absolute;
  width: 0;
  display: none !important;
}
div.timeframe_calendar tbody td span.clear span {
  background-image: url(../images/closebox.png);
  cursor: pointer;
  display: block;
  height: 30px;
  left: -18px;
  position: relative;
  text-indent: -10000px;
  top: -18px;
  width: 30px;
}
div.timeframe_calendar tbody td span.clear span.active {
  background-image: url(../images/closebox_selected.png);
}
span.prev-custom {width: 20px; height: 27px;position: absolute;background: url(../images/sr-icon.png) no-repeat;left: 2px;z-index: 999;cursor: pointer;top: 3px;background-position: 0px -250px;}
span.next-custom {width: 20px; height: 27px;position: absolute;background: url(../images/sr-icon.png) no-repeat;right: 2px;z-index: 999;cursor: pointer;top: 3px;background-position: -45px -250px;}
span.prev-custom.disabled{display:none;}
td.active.selectable.startrange , div.timeframe_calendar tbody td.endrange{position:relative;cursor: pointer;}
td.active.selectable.startrange:hover , div.timeframe_calendar tbody td.endrange:hover{background:#fff; color:#000; border:solid 1px rgb(119, 97, 41);}


td.post.beyond.selectable.beyond_selected.selected.startrange {border-color: #fff;}
td.post.beyond.selectable.beyond_selected.selected {border-color: #fff;cursor: auto;}
td.pre.beyond.selectable.beyond_selected.selected {border-color: #fff;}
/*selected style*/
/*td.active.selectable.selected.startrange .rightArrow {position:absolute; width:8px; height:10px; background:#fff; right:-9px; top:11px;}*/
td.active.selectable.startrange .rightArrow{position:absolute; width: 0; height: 0; right: -5px; top:11px;border-top: 5px solid transparent;   border-bottom: 5px solid transparent; border-left: 5px solid rgb(119, 97, 41);}
td.active.selectable.startrange:hover .rightArrowSmall
{position:absolute; width: 0; height: 0; right: -4px; top: 12px;border-top: 4px solid transparent;  border-bottom: 4px solid transparent; border-left: 4px solid #fff;}

/*table tbody tr td.active.selectable.startrange:first-child:hover .rightArrowSmall{right:0px;}*/


div.timeframe_calendar tbody td.endrange .leftArrow{position:absolute; width: 0; height: 0; left: -5px; top:11px;border-top: 5px solid transparent; border-bottom: 5px solid transparent; border-right: 5px solid rgb(119, 97, 41);}
div.timeframe_calendar tbody td.endrange:hover .leftArrowSmall{position:absolute; width: 0; height: 0; left: -3px; top: 12px;border-top: 4px solid transparent;   border-bottom: 4px solid transparent; border-right: 4px solid #fff;
}

.post.beyond.selectable.beyond_selected.selected{border-color:#fff;}
.post.beyond.selectable.beyond_selected.selected div{visibility:hidden;}
.pre.beyond.selectable.beyond_stuck.stuck.startrange, .pre.beyond.selectable.beyond_stuck.stuck.endrange,
.post.beyond.selectable.beyond_stuck.stuck.endrange
{border-color:#fff;background:#fff;}
td.post.beyond.selectable {cursor: auto;}
td.post.beyond.selectable:hover{background:#fff;border-color:#fff;}
div.timeframe_calendar tbody td.stuck.active.selectable:hover{border:solid 1px rgb(119, 97, 41);background:#fff; color:#000;}
div.timeframe_calendar ul.timeframe_menu li:first-child {float:left;margin: 3px 0 0 10px;}
div.timeframe_calendar ul.timeframe_menu li:last-child {float:right;margin: 3px 10px 0 0;}
div.timeframe_calendar ul.timeframe_menu li:nth-child(2),div.timeframe_calendar ul.timeframe_menu li:nth-child(3) {display:none;}
