<!-- BEGIN the_email_block -->
<div style="width:800px;">
	<p>We have change your status reservation to canceled. Please contact administrator to change your reservation status. Here is your detail booking.</p>
	<div class="detail" style="">
    	<h2 style="font-size:20px;">Reservation Detail</h2>
    	<div id="book-detail" style="margin-bottom:20px;">
            <!--<p><h2>Booking Code: {book_id}</h2></p>-->
            <div></div>
            <div class="half guest-detail"  style="float: left; width:50%">
            	<p style="margin: 0 0 5px 0;height: 20px;">
                    <span style="width: 150px;float: left;">Booking ID</span>
                    <span style="width:20px;float: left;">:</span>
                    <span style="float: left;">{book_id}</span>
                   
                </p>
                <p style="margin: 0 0 5px 0;height: 20px;">
                    <span style="width: 150px;float: left;">Booking Date</span>
                    <span style="width:20px;float: left;">:</span>
                    <span style="float: left;">{book_date}</span>
                   
                </p>
                <p style="margin: 0 0 5px 0;height: 20px;">
                    <span style="width: 150px;float: left;">Name</span>
                    <span style="width:20px;float: left;">:</span>
                    <span>{name}</span>
                   
                 </p>   
                <p style="margin: 0 0 5px 0;height: 20px;">
                    <span style="width: 150px;float: left;">Phone</span>
                    <span style="width:20px;float: left;">:</span>
                    <span style="float: left;">{phone}</span>
                   
                </p>
            </div>
            <div class="half guest-detail"  style="float: left; width:50%">
            	<p style="margin: 0 0 5px 0;height: 20px;">
                    <span style="width: 150px;float: left;">Email</span>
                    <span style="width:20px;float: left;">:</span>
                    <span style="float: left;">{email}</span>
                   
                </p>
                <p style="margin: 0 0 5px 0;height: 20px;">
                    <span style="width: 150px;float: left;">Country</span>
                    <span style="width:20px;float: left;">:</span>
                    <span style="float: left;">{country}</span>
                   
                 </p>   
                <p style="margin: 0 0 5px 0;height: 20px;">
                    <span style="width: 150px;float: left;">Person</span>
                    <span style="width:20px;float: left;">:</span>
                    <span style="float: left;">{guest}</span>
                   
                </p>
            </div>
            <div style="clear:both;"></div>
        </div>
                
        <table id="booking-for"  class="table-history {the_prog_hidden}" style="border-spacing: 0px;border: solid 1px #bbb;width: 100%; margin-bottom:20px;">
            <tr style="background:#ccc">
                <td style="padding :10px; border-right:solid 1px #bbb;"><b>Program</b></td>
                <td style="width:120px;padding :10px; border-right:solid 1px #bbb;text-align:center;"><b>Type Occupancy</b></td>           
                <td style="width:100px;padding :10px;text-align:center;"><b>Total (USD)</b></td>
            </tr>
            <tr style="border-top:solid 1px #bbb;">
                <td style="padding: 10px 0px; margin:0; border-right:solid 1px #bbb; vertical-align:top;">{list_prog}</td>
                <td class="center w_100" style="width:150px;padding: 10px 0px; margin:0; border-right:solid 1px #bbb;text-align:left;vertical-align: top;">{list_prog_price}</td>
                <td class="center w_80" style="width:100px;padding: 10px 0px; margin:0;;text-align:center;">{list_total}</td>
            </tr>
            <tr>
                <td  style="padding :10px ;border-top:solid 1px #bbb; border-right:solid 1px #bbb;" colspan="2">Total</td>
                <td  style="padding :10px;border-top:solid 1px #bbb;text-align:center;">{sub_total}</td>
            </tr>
            {surcharge_temp}
           <tr>
                <td  style="padding :10px;border-top:solid 1px #bbb; border-right:solid 1px #bbb;" colspan="2">Deposit ({dp_presentase})</td>
                <td  style="padding :10px;border-top:solid 1px #bbb;text-align:center;">{down_payment}</td>
            </tr>
        </table>    
    </div><!--end Detail -->    
</div>
<!-- END the_email_block -->
