<!-- BEGIN the_email_block -->
<div style="width:800px;">
	<p style="margin:0 0 25px ;">Dear {name}</p>
    <p>Thank you, we have received your deposit payment for the booking below:</p>
	<div class="detail" style="">
    	<h2 style="font-size:20px;">Reservation Detail</h2>
    	<div id="book-detail" style="margin-bottom:20px;">
            <div></div>
            <div class="half guest-detail"  style="float: left; width:50%">
            	<p style="margin: 0 0 5px 0;height: 20px;">
                    <span style="width: 150px;float: left;">Booking ID</span>
                    <span style="width:20px;float: left;">:</span>
                    <span style="float: left;">{book_id}</span>
                   
                </p>
                <p style="margin: 0 0 5px 0;height: 20px;">
                    <span style="width: 150px;float: left;">Booking Date</span>
                    <span style="width:20px;float: left;">:</span>
                    <span style="float: left;">{book_date}</span>
                   
                </p>
                <p style="margin: 0 0 5px 0;height: 20px;">
                    <span style="width: 150px;float: left;">Name</span>
                    <span style="width:20px;float: left;">:</span>
                    <span>{name}</span>
                   
                 </p>   
                <p style="margin: 0 0 5px 0;height: 20px;">
                    <span style="width: 150px;float: left;">Phone</span>
                    <span style="width:20px;float: left;">:</span>
                    <span style="float: left;">{phone}</span>
                   
                </p>
            </div>
            <div class="half guest-detail"  style="float: left; width:50%">
            	<p style="margin: 0 0 5px 0;height: 20px;">
                    <span style="width: 150px;float: left;">Email</span>
                    <span style="width:20px;float: left;">:</span>
                    <span style="float: left;">{email}</span>
                   
                </p>
                <p style="margin: 0 0 5px 0;height: 20px;">
                    <span style="width: 150px;float: left;">Country</span>
                    <span style="width:20px;float: left;">:</span>
                    <span style="float: left;">{country}</span>
                   
                 </p>   
                <p style="margin: 0 0 5px 0;height: 20px;">
                    <span style="width: 150px;float: left;">Person</span>
                    <span style="width:20px;float: left;">:</span>
                    <span style="float: left;">{guest}</span>
                   
                </p>
            </div>
            <div style="clear:both;"></div>
        </div>
                
        <table id="booking-for"  class="table-history" style="border-spacing: 0px;border: solid 1px #bbb;width: 100%; margin-bottom:20px;">
            <tr style="background:#ccc">
                <td style="padding :10px; border-right:solid 1px #bbb;"><b>Program</b></td>
                <td style="width:100px;padding :10px; border-right:solid 1px #bbb;text-align:center;"><b>Program Price</b></td>
                <td style="width:80px;padding :10px; border-right:solid 1px #bbb;text-align:center;"><b>Excess Day</b></td>
                <td style="width:80px;padding :10px; border-right:solid 1px #bbb;text-align:center;"><b>Villa Price</b></td>
                <td style="width:80px;padding :10px;text-align:center;"><b>Total</b></td>
            </tr>
            
            <!-- BEGIN list_book_block -->
            <tr style="border-top:solid 1px #bbb;">
                <td style="padding: 10px 0px; margin:0; border-right:solid 1px #bbb;">{list_prog}</td>
                <td class="center w_100" style="width:100px;padding: 10px 0px; margin:0; border-right:solid 1px #bbb;text-align:center;">{list_prog_price}</td>
                <td class="center w_80" style="width:80px;padding: 10px 0px; margin:0; border-right:solid 1px #bbb;text-align:center;">{list_excess_day}</td>
                <td class="center w_80" style="width:80px;padding: 10px 0px; margin:0; border-right:solid 1px #bbb;text-align:center;">{list_price_villa}</td>
                <td class="center w_80" style="width:80px;padding: 10px 0px; margin:0;;text-align:center;">{list_total}</td>
            </tr>
            <!-- END list_book_block -->
            <tr>
                <td  style="padding :10px 22px;border-top:solid 1px #bbb; border-right:solid 1px #bbb;text-align:right;" colspan="4">Grand Total</td>
                <td  style="padding :10px;border-top:solid 1px #bbb;text-align:center;">{grand_total}</td>
            </tr>
            <tr>
                <td  style="padding :10px 22px;border-top:solid 1px #bbb; border-right:solid 1px #bbb;text-align:right;" colspan="4">Deposit ({dp_presentase})</td>
                <td  style="padding :10px;border-top:solid 1px #bbb;text-align:center;">{down_payment}</td>
            </tr>
        </table>   
        
        
        <div class="detail" style="">
    	<h2 style="font-size:20px;">Paypal Detail</h2>
    	<div id="book-detail" style="margin-bottom:20px;">
            <div></div>
            <div class="half guest-detail"  style="float: left; width:50%">
            	<p style="margin: 0 0 5px 0;height: 20px;">
                    <span style="width: 150px;float: left;">Paypal ID</span>
                    <span style="width:20px;float: left;">:</span>
                    <span style="float: left;">{paypal_id}</span>
                   
                </p>
                <p style="margin: 0 0 5px 0;height: 20px;">
                    <span style="width: 150px;float: left;">Receiver Email</span>
                    <span style="width:20px;float: left;">:</span>
                    <span style="float: left;">{receiver_email}</span>
                   
                </p>
                <p style="margin: 0 0 5px 0;height: 20px;">
                    <span style="width: 150px;float: left;">Payment Date</span>
                    <span style="width:20px;float: left;">:</span>
                    <span>{payment_date}</span>
                   
                 </p>   
            </div>
            <div class="half guest-detail"  style="float: left; width:50%">
            	
            </div>
            <div style="clear:both;"></div>
        </div>
        <div>
        	<p  style="margin:0 0 25px 0;">Please be informed that final payment is due on {due_date}, our system will automatically send the invoice to the final payment {cronjob_days} days before those due date.</p>

            <p style="margin:0 0 25px 0;">Thank you</p>
            <p style="margin:0 0 5px 0;">
            <img style="width: 150px;margin:0 0 5px 0;" src="{logo_sukhavati}" /></p>
            <p style="margin:0 0 5px 0;">Aus Phone: {phone_sukhavati}</p>
            <p style="margin:0 0 5px 0;">Bali Phone: {phone_sukhavati_bali}</p>
            <p style="margin:0 0 5px 0;">Email: <a style="color:#D83400;" href="mailto:{email_sukhavati}">{email_sukhavati}</a></p>            
         </div>
         <div><p style="margin:0 0 20px 0; display:none;"><a style="color:#D83400;" href="{link_check_reservation}">Continue with Full Payment</a></p></div>
    </div><!--end Detail -->    
</div>
<!-- END the_email_block -->
