<!-- BEGIN the_email_block -->
<div style="width:800px;font-family:'latoregular','sans-serif';" >
	<p style="margin:0 0 25px ;">Dear {name},</p>
    <p>Thank you we have received your deposit payment for the booking below:</p>
	<div class="detail" style="">
    	<h2 style="font-size:20px;">Reservation Detail</h2>
    	<div id="book-detail" >
            <div></div>
            <div class="half guest-detail"  style="float: left; width:50%">
            	<p style="margin: 0 0 5px 0;height: 20px;">
                    <span style="width: 150px;float: left;">Booking ID</span>
                    <span style="width:20px;float: left;">:</span>
                    <span style="float: left;">{book_id}</span>
                   
                </p>
                <p style="margin: 0 0 5px 0;height: 20px;">
                    <span style="width: 150px;float: left;">Booking Date</span>
                    <span style="width:20px;float: left;">:</span>
                    <span style="float: left;">{book_date}</span>
                   
                </p>
                
            </div>
            <div style="clear:both;"></div>
        </div>
        <br />        
        <table id="booking-for" cellspacing="0" cellpadding="0" border="0"    class="table-history {the_prog_hidden}" style="{prog_hidden}border-spacing: 0px;border: solid 1px #bbb;width: 100%;">
            <tr style="background:#ccc">
                <td style="padding :10px; border-right:solid 1px #bbb;"><b>Program</b></td>
                <td style="width:120px;padding :10px; border-right:solid 1px #bbb;text-align:center;"><b>Type Occupancy</b></td>
                <td style="width:80px;padding :10px;text-align:center;"><b>Total</b></td>
            </tr>
            <tr style="border-top:solid 1px #bbb;">
                <td style="padding: 10px 0px; margin:0; border-right:solid 1px #bbb;">{list_prog}</td>
                <td class="center w_100" style="width:120px;padding: 10px 0px; margin:0; border-right:solid 1px #bbb;text-align:center;vertical-align: top;">{list_prog_price}</td>
                <td class="center w_80" style="width:80px;padding: 10px 0px; margin:0;;text-align:center;vertical-align: top;">{list_total}</td>
            </tr>
            <tr>
                <td  style="padding :10px;border-top:solid 1px #bbb; border-right:solid 1px #bbb;" colspan="2">Total</td>
                <td  style="padding :10px;border-top:solid 1px #bbb;text-align:center;">{sub_total}</td>
            </tr>
            {surcharge_temp}
            <tr>
                <td  style="padding :10px;border-top:solid 1px #bbb; border-right:solid 1px #bbb;" colspan="2">Deposit ({down_payment_presentase})</td>
                <td  style="padding :10px;border-top:solid 1px #bbb;text-align:center;">{downpayment}</td>
            </tr>
            
        </table>
        <br />
        <table cellspacing="0" cellpadding="0" border="0"  style="border-spacing: 0px;border: solid 1px #bbb;width: 100%;">
            <tr style="background:#ccc">
                <td colspan="2" style="font-size: 16px; font-weight:bold;padding: 10px;border-bottom: solid 1px #bbb;">Booking Details</td>
            </tr>
            <tr style="border-top:solid 1px #bbb;">
                <td style="width:30%;padding :10px; border-right:solid 1px #bbb;">Name</td>
                <td style="width:70%;padding :10px;">{name}</td>
            </tr>
            <tr>
                <td style="width:30%;padding :10px; border-right:solid 1px #bbb; border-top:solid 1px #bbb;">Email</td>
                <td style="width:70%;padding :10px; border-top:solid 1px #bbb;">{email}</td>
            </tr>
            <tr>
                <td style="width:30%;padding :10px; border-right:solid 1px #bbb; border-top:solid 1px #bbb;">Country</td>
                <td style="width:70%;padding :10px; border-top:solid 1px #bbb;">{country}</td>
            </tr>
            <tr>
                <td style="width:30%;padding :10px; border-right:solid 1px #bbb; border-top:solid 1px #bbb;">Phone</td>
                <td style="width:70%;padding :10px; border-top:solid 1px #bbb;">{phone}</td>
            </tr>
            <tr>
                <td style="width:30%;padding :10px; border-right:solid 1px #bbb; border-top:solid 1px #bbb;">No. of Guest</td>
                <td style="width:70%;padding :10px; border-top:solid 1px #bbb;">{guest}</td>
            </tr>
            <tr>
                <td style="width:30%;padding :10px; border-right:solid 1px #bbb; border-top:solid 1px #bbb;">Special Requirements</td>
                <td style="width:70%;padding :10px; border-top:solid 1px #bbb;">{message}</td>
            </tr>
            <tr>
                <td style="width:30%;padding :10px; border-right:solid 1px #bbb; border-top:solid 1px #bbb;">Additional Service</td>
                <td style="width:70%;padding :10px; border-top:solid 1px #bbb;">{additional_service}</td>
            </tr>
        </table>
        <br />       
        
        <div class="detail" style="">
    	<h2 style="font-size:20px;">Paypal Detail</h2>
    	<div id="book-detail" style="margin-bottom:20px;">
            <div></div>
            <div class="half guest-detail"  style="float: left; width:50%">
            	<p style="margin: 0 0 5px 0;height: 20px;">
                    <span style="width: 150px;float: left;">Paypal ID</span>
                    <span style="width:20px;float: left;">:</span>
                    <span style="float: left;">{paypal_id}</span>
                   
                </p>
                <p style="margin: 0 0 5px 0;height: 20px;">
                    <span style="width: 150px;float: left;">Receiver Email</span>
                    <span style="width:20px;float: left;">:</span>
                    <span style="float: left;">{receiver_email}</span>
                   
                </p>
                <p style="margin: 0 0 5px 0;height: 20px;">
                    <span style="width: 150px;float: left;">Payment Date</span>
                    <span style="width:20px;float: left;">:</span>
                    <span>{payment_date}</span>
                   
                 </p>   
            </div>
            <div class="half guest-detail"  style="float: left; width:50%">
            	
            </div>
            <div style="clear:both;"></div>
        </div>
        <div>
        	<p  style="margin:0 0 25px 0;">Please be informed that final payment is due on {due_date}, our system will automatically send the invoice to the final payment {cronjob_days} days before those due date.</p>

            <p style="margin:0 0 25px 0;">Thank you</p>
            <p style="margin:0 0 5px 0;">
            <img style="width: 150px;margin:0 0 5px 0;" src="{logo_sukhavati}" /></p>
            <p style="margin:0 0 5px 0;">Aus Phone: {phone_sukhavati}</p>
            <p style="margin:0 0 5px 0;">Bali Phone: {phone_sukhavati_bali}</p>
            <p style="margin:0 0 5px 0;">Email: <a style="color:#D83400;" href="mailto:{email_sukhavati}">{email_sukhavati}</a></p>            
         </div>
         <div><p style="margin:0 0 20px 0; display:none;"><a style="color:#D83400;" href="{link_check_reservation}">Continue with Full Payment</a></p></div>
    </div><!--end Detail -->    
</div>
<!-- END the_email_block -->
