<!-- BEGIN the_email_block0 -->
<div style="width:100%;">
	<div class="detail" style="">
    	<h2 style="font-size:20px;">Invoice Detail</h2>
    	<div id="book-detail" style="margin-bottom:20px;">
        	<table>
            	<tr>
                	<td style="width:50%">
                    	 <div class="half guest-detail">
                            <p style="margin: 0 0 5px 0;height: 20px;">
                                <span style="width: 150px;float: left;">Booking ID</span>
                                <span style="width:20px;float: left;">:</span>
                                <span style="float: left;">{book_id}</span>
                               
                            </p>
                            <p style="margin: 0 0 5px 0;height: 20px;">
                                <span style="width: 150px;float: left;">Booking Date</span>
                                <span style="width:20px;float: left;">:</span>
                                <span style="float: left;">{book_date}</span>
                               
                            </p>
                            <p style="margin: 0 0 5px 0;height: 20px;">
                                <span style="width: 150px;float: left;">Name</span>
                                <span style="width:20px;float: left;">:</span>
                                <span>{name}</span>
                               
                             </p>   
                            <p style="margin: 0 0 5px 0;height: 20px;">
                                <span style="width: 150px;float: left;">Phone</span>
                                <span style="width:20px;float: left;">:</span>
                                <span style="float: left;">{phone}</span>
                               
                            </p>
                        </div>
                    </td>
                    <td style="width:50%">
                    	<div class="half guest-detail" >
                            <p style="margin: 0 0 5px 0;height: 20px;">
                                <span style="width: 150px;float: left;">Email</span>
                                <span style="width:20px;float: left;">:</span>
                                <span style="float: left;">{email}</span>
                               
                            </p>
                            <p style="margin: 0 0 5px 0;height: 20px;">
                                <span style="width: 150px;float: left;">Country</span>
                                <span style="width:20px;float: left;">:</span>
                                <span style="float: left;">{country}</span>
                               
                             </p>   
                            <p style="margin: 0 0 5px 0;height: 20px;">
                                <span style="width: 150px;float: left;">Person</span>
                                <span style="width:20px;float: left;">:</span>
                                <span style="float: left;">{guest}</span>
                               
                            </p>
                            <p style="margin: 0 0 5px 0;height: 20px;"></p>
                        </div>
                    
                    </td>
                </tr>
            </table>
        </div>
                
        <table id="booking-for"  class="table-history" style="border-spacing: 0px;width: 100%;margin-bottom: 20px;border-collapse: collapse;">
            <tr style="background: #ccc;">
                <td style="padding: 10px;border: solid 1px #bbb;width:70%;"><b>Villa</b></td>
                <td style="padding: 10px;border: solid 1px #bbb;width:15%;text-align:center;"><b>Night</b></td>
                <td style="padding: 10px;border: solid 1px #bbb;width:15%;text-align:center;"><b>Total (USD)</b></td>
            </tr>
            
            <!-- BEGIN list_book_block0 -->
            <tr>
                <td style="padding: 10px;border: solid 1px #bbb;">
                    <span>
                       {villa_name}{desc_disc}
                           <br>
                           <b>Reservation Date: {arrival_date} - {derpature_date}	</b>
                    </span>
                </td>
                <td style="padding: 10px;border: solid 1px #bbb;text-align:center;">{night}</td>
                <td style="padding: 10px;border: solid 1px #bbb;text-align:center;">{total}</td>
            </tr>
            <!-- END list_book_block0 -->
            <tr>
                <td class="text-right" colspan="2"  style="padding: 10px;border: solid 1px #bbb;text-align: right;"><b>Total</b></td>
                <td  style="padding: 10px;border: solid 1px #bbb;text-align:center;">{sub_total}</td>
            </tr>
            {surcharge_temp}
            <tr>
                <td class="text-right" colspan="2" style="padding: 10px;border: solid 1px #bbb;text-align: right;"><b>Deposit ({down_payment_presentase})</b></td>
                <td style="padding: 10px;border: solid 1px #bbb;text-align:center;">{downpayment}</td>
            </tr>       
        </table>

		<p style="margin:0 0 25px 0;">Thank you</p>

        <p style="margin:0 0 5px 0;"><img src="{logo_sukhavati}" style="margin-bottom: 10px;width: 200px;" /></p>
        <p style="margin:0 0 5px 0;">Aus Phone: {phone_sukhavati}</p>
        <p style="margin:0 0 5px 0;">Bali Phone: {phone_sukhavati_bali}</p>
        <p style="margin:0 0 5px 0;">Email: {email_sukhavati}</p>
    </div><!--end Detail -->    
</div>
<!-- END the_email_block0 -->
