<!-- BEGIN list_block -->
    <!-- BEGIN booking_block -->
    <div class="wrapper form table list-reservation-history old-data  all-mode" id="program-book-history">
        <div class="block_action" rel='{check}'>
            <label class="first-lbl">{id_booking}</label>
            
            <br style="clear: both;" />
            <span class="span_action">
            	<a class="button a_action_{check} a_action" style="display: none;" name="detail-booking" rel="{check}"></a> 
            	<a class="button a_action_{check} a_action" style="display: none;" name="delete-booking" rel="{check}"></a> 
                <span style="display: none;" class="button a_action">|</span>  
            </span>
        </div>
        <div  class="det-book">
            <label>
            	{list_prog}
            	<!--<span>
                    <b>{name_program}</b><br>
                    <small>Dates:{arrival_date} - {derpature_date}</small><br>
                    <small>Villa:</small> {villa_label}
                </span>-->
            </label>
            <label>{list_prog_price}</label>
		    <label style="width:150px !important;" class="lrh_{check}">{list_status}</label>
            <label style="width:70px !important;">{list_total}</label>
        </div>
    </div>
    <!-- END booking_block -->
<!-- END list_block -->