<!-- BEGIN single_history_block -->
<div class="old-history">
	<div class="loader-blue abu-bg"></div>
	<div class="header">
    	<div class="left"><h2>Booking ID : {book_id}</h2></div>
    	<div class="right">
        	<div class="booking-status">		
                <div class="waiting-payment-notice" id="booking-status">
                    <span class="booking-status-icon"></span>
                    <div id="booking-status-message">Waiting Payment</div>
                    <span class="status-arrow"></span>
                </div>
                <ul style="display: none;">
                    <li class="check-availability" >
                        <span></span>
                        <div>Check Availability</div>
                    </li>
                    <li class="waiting-dp-payment" >
                        <span></span>
                        <div>Waiting Down Payment</div>
                    </li>
                    <!--<li class="waiting-full-payment" >
                        <span></span>
                        <div>Waiting Full Payment</div>
                    </li>-->
                    <li class="confirmed">
                        <span></span>
                        <div>Confirmed</div>
                    </li>
                    <li class="unconfirmed">
                        <span></span>
                        <div>Unconfirmed</div>
                    </li>
                    <li class="canceled">
                        <span></span>
                        <div>Canceled</div>
                    </li>  
                </ul>
        	</div>
    	</div>
        <div class="clear"></div>
    </div><!-- end heder -->
    
    <h2>Booking For</h2>
    <table id="table-booking-for-program" class="table-single-detail-booking">
    	<tr>
        	<td>Program</td>
            <td class="w_150">Type Occupancy</td>
            <td class="center w_80">Total (USD)</td>
        </tr>
        <tr>
        	<td>{list_prog}</td>
            <td class="w_150">{list_prog_price}</td>
            <td class="center w_80">{list_total}</td>
        </tr>
        <tr>
        	<td colspan="2">Total</td>
            <td class="center">{sub_total}</td>
        </tr>
        {surcharge_temp}
        {downpayment}
        {fullpayment}
        {restpayment}
    </table>    
    <table style="border-spacing: 0px;border: solid 1px #bbb;width: 100%;margin-top:20px;">
    	<tr style="background:#ccc">
        	<td style="font-size: 16px; font-weight:bold;padding: 10px;border-bottom: solid 1px #bbb;">Booking Details</td>
            <td style="font-size: 14px; padding: 10px;border-bottom: solid 1px #bbb;color:#FF5C26;text-align: right;">
            	<a name="edit-book-detail" class="fix-val">Edit</a>
               <!-- <a name="save-book-detail" class="dinamic-val">Save</a>-->
                <a name="cancel-edit-book-detail" class="dinamic-val">Cancel</a>
            </td>
            
        </tr>
    	<tr style="border-top:solid 1px #bbb;">
        	<td style="width:30%;padding :10px; border-right:solid 1px #bbb;">Name</td>
            <td style="width:70%;padding :10px;"><span class="name fix-val">{name}</span><input type="text" class="dinamic-val" name="name" value="{name}" /></td>
        </tr>
        <tr>
        	<td style="width:30%;padding :10px; border-right:solid 1px #bbb; border-top:solid 1px #bbb;">Email</td>
            <td style="width:70%;padding :10px; border-top:solid 1px #bbb;"><span class="email fix-val">{email}</span><input type="text" class="dinamic-val" name="email" value="{email}" /></td>
        </tr>
        <tr>
        	<td style="width:30%;padding :10px; border-right:solid 1px #bbb; border-top:solid 1px #bbb;">Country</td>
            <td style="width:70%;padding :10px; border-top:solid 1px #bbb;"><span class="country fix-val">{country}</span><input type="text" class="dinamic-val" name="country"  value="{country}" /></td>
        </tr>
        <tr>
        	<td style="width:30%;padding :10px; border-right:solid 1px #bbb; border-top:solid 1px #bbb;">Phone</td>
            <td style="width:70%;padding :10px; border-top:solid 1px #bbb;"><span class="phone fix-val">{phone}</span><input type="text" class="dinamic-val" name="phone" value="{phone}" /></td>
        </tr>
        <tr>
        	<td style="width:30%;padding :10px; border-right:solid 1px #bbb; border-top:solid 1px #bbb;">No. of Guest</td>
            <td style="width:70%;padding :10px; border-top:solid 1px #bbb;"><span class="guest fix-val">{guest}</span><input type="text" class="dinamic-val" name="guest" value="{guest}" /></td>
        </tr>
        <tr>
        	<td style="width:30%;padding :10px; border-right:solid 1px #bbb; border-top:solid 1px #bbb;">Special Requirements</td>
            <td style="width:70%;padding :10px; border-top:solid 1px #bbb;"><span class="message fix-val">{message}</span><textarea class="dinamic-val" name="message">{message}</textarea></td>
        </tr>
        <tr>
        	<td style="width:30%;padding :10px; border-right:solid 1px #bbb; border-top:solid 1px #bbb;">Additional Service</td>
            <td style="width:70%;padding :10px; border-top:solid 1px #bbb;">
            	<span class="ads fix-val">{additional_service}</span>
            	<ul class="list-additional-service dinamic-val">
                    <li><input type="checkbox" class="additional_service" value="Detox"  id="detox" {checked_detox} /> <label for="detox">Detox</label></li>
                    <li><input type="checkbox" class="additional_service" value="Stress Relief" id="stress_relief" {checked_stress_relief}  /> <label for="stress_relief">Stress Relief</label></li>
                    <li><input type="checkbox" class="additional_service" value="Weight Loss" id="weight_lost" {checked_weight_lost} /> <label for="weight_lost">Weight Loss</label></li>
                    <li><input type="checkbox" class="additional_service" value="Meditation" id="meditation" {checked_meditation}  /> <label for="meditation">Meditation</label></li>
                    <li><input type="checkbox" class="additional_service" value="Chronic Pain" id="chronic_pain" {checked_chronic_pain} /> <label for="chronic_pain">Chronic Pain</label></li>
                    <li><input type="checkbox" class="additional_service_other" value="Others"  id="other" {checked_other} /> <label for="other">Others</label></li>
                </ul>
                <input type="text" class="other_ads" name="other_ads" value="{other_ads}"/>
            </td>
        </tr>
        <!--<tr>
        	<td style="width:30%;padding :10px; border-right:solid 1px #bbb; border-top:solid 1px #bbb;">VIP Customs Assistance</td>
            <td style="width:70%;padding :10px; border-top:solid 1px #bbb;">
            	<span class="add_cost fix-val">{additional_cost}</span>
            	<ul class="list-additional-cost small dinamic-val">
                    <li><input type="radio" name="additional_cost" title="Yes" value="1" id="yes_additional_cost" {yes_ac} /><label for="yes_additional_cost">Yes</label></li>
                    <li><input type="radio" name="additional_cost" title="No" value="0" id="no_additional_cost" {no_ac} /><label for="no_additional_cost">No</label></li>
                </ul>    
            </td>
        </tr>-->
        <tr>
        	<td style="width:30%;padding :10px; border-right:solid 1px #bbb; border-top:solid 1px #bbb;">Heard about us from </td>
            <td style="width:70%;padding :10px; border-top:solid 1px #bbb;">
            	<span class="heard_about_us fix-val">{heard_about_us}</span>
            	 <select name="heard_about_us" class="dinamic-val">
                    <option value="">Select from</option>
                    <option value="Google Search" {Google Search}>Google Search</option>
                    <option value="Trip Advisor" {Trip Advisor}>Trip Advisor</option>
                    <option value="Refferal from past guest" {Refferal from past guest}>Refferal from past guest</option>
                    <option value="Magazine" {Magazine}>Magazine</option>
                    <option value="Social Media" {Social Media}>Social Media</option>
                    <option value="Other" {Other}>Other</option>
                </select>
            </td>
        </tr>
    </table> 
    
    <input type="hidden" name="booking_status" value="{book_status}" />
    <input type="hidden" name="old_booking_status" value="{book_status}" />
    <input type="hidden" name="book_id" value={book_id} />
    <!--<input type="button" id="change-booking-status" value="Update Current Status" class="just-button" />-->
    <input type="button" id="update-booking" value="Update" class="just-button" />
    <input type="button" id="cancel-show-booking" value="Cancel" class="just-button" />
</div>

<div class="mini_box">
	<p>Do you relly do this event? This event will send email to your guest.</p>
    <div class="action_type">
    	<input class="do-change-status" value="No" type="button" />
        <input class="do-change-status" value="Yes" type="button" />
        
    </div>
    
    <div class="info_type">
    	<input class="do-change-status" value="Cancel" type="button" />
    </div>
    
    
</div>

<!-- END single_history_block -->