<!-- BEGIN email_wdp_block -->
<div style="font-family:'latoregular','sans-serif';">
    <p style="margin: 0; text-align: center;font-size: 30px; font-weight: 300;font-family:'latoregular',sans-serif;margin-bottom:25px;">VILLA IS AVAILABLE</p>
    <table cellpadding="0" cellspacing="0" style="margin:10px 0 ;padding: 0;width:100%;">
        <tr>
            <td style="width:35%;"></td>
            <td style="width:30%;padding-bottom:25px;">
                <table style="width: 100%;">
                    <tr>
                        <td style="border-bottom:solid 1px #000;"></td>
                    </tr>
                </table>
            </td>
            <td style="width:35%;"></td>
        </tr>
    </table>
    
    <p style="margin:15px 0;font-family:'latoregular',sans-serif;">Dear {guest_name},</p>
    <p style="margin:15px 0;font-family:'latoregular',sans-serif;">Greetings from Villa Vedas. </p>
    <p style="margin:15px 0;font-family:'latoregular',sans-serif;">We are pleased to inform you that {villa_name} is available for ({check_in}/{check_out}).</p>
    <p style="margin:15px 0 0 0;font-family:'latoregular',sans-serif;">Please click the below link to be redirected to our secure online payment page. The link will expire after 3 days.</p>
    <table cellpadding="0" cellspacing="0" width="600" style="padding:0 0 15px 0; margin:0;">
        <tr>
            <td style="word-break:break-all;"><p style="margin:15px 0;"><a href="{url_payment}" style="max-width: 600px;display: block;word-wrap: break-word; font-size:14px;font-family:'latoregular',sans-serif;">{url_payment}</a></p></td>
        </tr>
    </table>
    {best_regrads}
</div>
<!-- END email_wdp_block -->