<!-- BEGIN Bmail -->
<p>You got new message from the contact form :</p>
<table>
	<tr>
    <td width="90">Full Name</td><td>:</td><td>{full_name}</td>
    </tr>
    <tr>
        <td>Email</td><td>:</td><td>{email}</td>
    </tr>
     <tr>
        <td>Phone</td><td>:</td><td>{phone}</td>
    </tr>
    <tr>
        <td>Check In</td><td>:</td><td>{cIn}</td>
    </tr>
    <tr>
        <td>Check Out*</td><td>:</td><td>{cOut}</td>
    </tr>
    <tr>
        <td style="vertical-align: top;">Messages</td>
        <td style="vertical-align: top;">:</td>
        <td>{message}</td>
    </tr>
</table>
<!-- END Bmail -->