<!-- BEGIN Bsocial_media_admin -->
<script>
function isValidEmailAddress(emailAddress) {  
	alert (emailAddress);
    var pattern = new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);  
    return pattern.test(emailAddress);  
}
</script>


<h1>{app_title}</h1>
<div class="tab_container">
    <div class="single_content">
	{alert}
        <form method="post" action="#" enctype="multipart/form-data">
	     {is_edit_all}
	     {is_saved}
	    <!-- BEGIN loopPage -->
	    <div class="list_edit" style="border: none;">
		<!-- 
		<h1 style="font-size: 16px;margin: 0;padding: 5px 5px 5px 21px;">Reservation Id : {surecharge_desc_ID}</h1>
		 -->		

    	<input type="hidden" name="article_id" value="{article_id}">

		
		<fieldset>
			<div class="additional_data">
                    <h2 id="discussion_settings_0">Instagram</h2>
                    <div style="display: block;" id="discussion_settings_details_0" class="additional_content">
                    <input type="hidden" name="name[]" value="instagram"/>
					<p style="display: none;">Logo:<br>
						{val_instagram_logo_img}
						<input type="file" name="logo[]">
						<input type="hidden" name="logo_sef[]" value="{val_instagram_logo}"/>
					</p>
					<p>Title:<br>
						<input type="text" name="title[]" class="textbox" value="{val_instagram_title}">
					</p>
					<p>URL:<br>
						<input type="text" name="url[]" class="textbox" value="{val_instagram_url}">
					</p>
                    </div>
                </div>
		</fieldset>
		
		<fieldset>
			<div class="additional_data">
                    <h2 id="discussion_settings_0">Twitter</h2>
                    <div style="display: block;" id="discussion_settings_details_0" class="additional_content">
                    <input type="hidden" name="name[]" value="twitter"/>
					<p style="display: none;">Logo:<br>
						{val_twitter_logo_img}
						<input type="file" name="logo[]">
						<input type="hidden" name="logo_sef[]" value="{val_twitter_logo}"/>
					</p>
					<p>Title:<br>
						<input type="text" name="title[]" class="textbox" value="{val_twitter_title}">
					</p>
					<p>URL:<br>
						<input type="text" name="url[]" class="textbox" value="{val_twitter_url}">
					</p>
                    </div>
                </div>
		</fieldset>
        
          <fieldset>
			<div class="additional_data">
                    <h2 id="discussion_settings_0">TripAdvisor</h2>
                    <div style="display: block;" id="discussion_settings_details_0" class="additional_content">
                    <input type="hidden" name="name[]" value="tripadvisor"/>
					<p style="display: none;">Logo:<br>
						{val_tripadvisor_logo_img}
						<input type="file" name="logo[]">
						<input type="hidden" name="logo_sef[]" value="{val_tripadvisor_logo}"/>
					</p>
					<p>Title:<br>
						<input type="text" name="title[]" class="textbox" value="{val_tripadvisor_title}">
					</p>
					<p>URL:<br>
						<input type="text" name="url[]" class="textbox" value="{val_tripadvisor_url}">
					</p>
                    </div>
                </div>
		</fieldset>
		
		<fieldset>
			<div class="additional_data">
                    <h2 id="discussion_settings_0">Facebook</h2>
                    <div style="display: block;" id="discussion_settings_details_0" class="additional_content">
                    <input type="hidden" name="name[]" value="facebook"/>
					<p style="display: none;">Logo:<br>
						{val_facebook_logo_img}
						<input type="file" name="logo[]">
						<input type="hidden" name="logo_sef[]" value="{val_facebook_logo}"/>
					</p>
					<p>Title:<br>
						<input type="text" name="title[]" class="textbox" value="{val_facebook_title}">
					</p>
					<p>URL:<br>
						<input type="text" name="url[]" class="textbox" value="{val_facebook_url}">
					</p>
                    </div>
                </div>
		</fieldset>
		
        
      
		
		<!--<fieldset>
			<div class="additional_data">
                    <h2 id="discussion_settings_0">Member</h2>
                    <div style="display: block;" id="discussion_settings_details_0" class="additional_content">
                    <input type="hidden" name="name[]" value="member"/>
					<p style="display: none;">Logo:<br>
						{val_member_logo_img}
						<input type="file" name="logo[]">
						<input type="hidden" name="logo_sef[]" value="{val_member_logo}"/>
					</p>
					<p>Title:<br>
						<input type="text" name="title[]" class="textbox" value="{val_member_title}">
					</p>
					<p>URL:<br>
						<input type="text" name="url[]" class="textbox" value="{val_member_url}">
					</p>
                    </div>
                </div>
		</fieldset>-->
		
	
       	</div>
	   
	    <!-- END loopPage -->
            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                       {save_changes_botton}
                    </ul>   
                </div>
           </div>
        </form>
	
    </div>
</div>
<!-- END Bsocial_media_admin -->