<!-- BEGIN Bsocial2nd_block -->
<a href="{tripadvisor_url}" class="TripAdvisor" title="{tripadvisor_title}" target="_blank">{tripadvisor_title}</a>
<a href="{instagram_url}" class="Instagram" title="{instagram_title}" target="_blank">{instagram_title}</a>
<a href="{twitter_url}" class="Twitter" title="{twitter_title}" target="_blank">{twitter_title}</a>
<a href="{facebook_url}" class="Facebook" title="{facebook_title}" target="_blank">{facebook_title}</a>
<!-- END Bsocial2nd_block -->