<!-- BEGIN Bscript -->
<!--<div id="dialog-box-change-status" class="new-boxs" >
    <div class="loader"></div>
    <div class="dialog-content">
        <a href="#" class="button" id="theClose"></a>
        <h2>Changes Booking Status</h2>				
        <div class="sub-title">Please confirm you wish to cancel this booking (BOOKID: - to -)</div>				
    </div>
    <div class="opt-pop-up">
        <a id="yes-change-status" type="button" class="main-btn" rel="yes">Yes</a>
    </div>
    <input type="hidden" name="rtype" />
</div>-->


<script type="text/javascript">
$(document).ready(function(){
	var date = new Date();
	var d = date.getDate();
	var m = date.getMonth()+1;
	var month = date.getMonth();
	var y = date.getFullYear();
	var url = jQuery('[name=url-data]').val();
	var villa_id = jQuery('[name=villa-id]').val();
	jQuery('.overlay-calendar').fadeIn();
	get_CalendarVariable(villa_id,y,m,month,url);
	//bind_combo_month_year()
	bind_navigation_calendar();
	
});

function go_to_search_calendar(){
	var m = jQuery("#the_months").val();
	var month = parseInt(m)-1;
	var y = jQuery("#the_years").val();
	var url = jQuery('[name=url-data]').val();
	var villa_id = jQuery('[name=villa-id]').val();
	get_CalendarVariable(villa_id,y,m,month,url);
}

function set_button_event(){
	/*jQuery(".fc-button-next").click(function(){
		jQuery("#confirm_cancel").trigger( "click" );
		jQuery('.overlay-calendar').fadeIn();
		var villa_id = jQuery('[name=villa-id]').val();
		var dc = $("#calendar").fullCalendar('getDate');
		var y = dc.getFullYear();
		var m = dc.getMonth()+1;
		var month = dc.getMonth();
		var url = jQuery('[name=url-data]').val();
		get_CalendarVariable(villa_id,y,m,month,url);
		//if startdate isset
		var ss	 = jQuery("[name=startDate]").val();		
		if(ss != '') bindAvailableMouseOver();
	});	
	
	jQuery(".fc-button-prev").click(function(){
		console.log('ds');
		jQuery("#confirm_cancel").trigger( "click" );
		jQuery('.overlay-calendar').fadeIn();
		var villa_id = jQuery('[name=villa-id]').val();
		var dc = $("#calendar").fullCalendar('getDate');
		var y = dc.getFullYear();
		var m = dc.getMonth()+1;
		var month = dc.getMonth();
		var url = jQuery('[name=url-data]').val();
		get_CalendarVariable(villa_id,y,m,month,url);		
	});	*/
	
	
	jQuery("#confirm_cancel").click(function(){
		jQuery("#newrate").fadeOut();
		resert_selected();
		/*var ss	 = jQuery("[name=startDate]").val('');
		var es	 = jQuery("[name=endDate]").val('');*/
		
		
	});
	jQuery("[name=confirm_changes]").unbind('click');
	jQuery("[name=confirm_changes]").click(function(){
		var manage_status = jQuery("[name=manage_status]").val();
		var status		= jQuery("[name=selecto_status]").val();
		if(manage_status !='booking' && manage_status !='book-hold' && manage_status !='book-owner'){
			jQuery("[name=confirm_changes]").prop('disabled', true);
			jQuery('.small-loading').fadeIn();
			var ss	 		= jQuery("[name=startDate]").val();
			var es	 		= jQuery("[name=endDate]").val();
			var accom_id	= jQuery("[name=villa-id]").val();
			var reason		= jQuery("[name=reason]").val();
			var rate		= jQuery("[name=rates]").val();
			var days      	= (jQuery("[name=endDate]").val() - jQuery("[name=startDate]").val()) /86400 ;
			var url			= jQuery("[name=site-url]").val();
			var dd = {
							act: 'calendar',
							do_act:'manage_rate_availability',
							accom_id:accom_id,
							ss:ss,
							es:es,
							days:days,
							status:status,
							reason:reason,
							rate:rate
						};
						
			console.log(dd);			
			jQuery.post(url,dd,function(data){
				if(trim(data)=='success'){
					if(status==0){//if status not available
						change_to_booking(manage_status,rate);
					}else if(status ==1){//if status available
						change_to_available(manage_status,rate);
					}else if(status ==2){//no check in
						change_to_no_check_in(rate);
					}else if(status ==3){//no check out
						change_to_no_check_out(manage_status,rate);
					}else if(status==4){//no check in out
						change_to_no_check_in_out(manage_status,rate);
					}else if(status==5){;
						change_the_status('book-hold','Booking Hold',rate)	
					}else if(status==6){;
						change_the_status('book-owner','Owner',rate)	
					}else if(status==7){
						 change_to_maintenance(manage_status,rate);
					}					
					jQuery("[name=startDate]").val('');
					jQuery("[name=endDate]").val('');
					jQuery("[name=manage_status]").val('');
				}else{
					console.log(data);
				}
				
				jQuery('.small-loading').fadeOut();
				jQuery("#newrate").fadeOut();
				jQuery("[name=confirm_changes]").prop('disabled', false);
			});		
		}else if((manage_status =='booking' || manage_status =='book-hold' || manage_status =='book-owner')
				&& (status=='1' || status =='2' || status=='3' || status=='4' || status=='7')
			){
			var book_id = jQuery('[name=book_id]').val();
			var startDate = jQuery.date(jQuery("[name=startDate]").val()); 
			var endDate   = jQuery.date(jQuery("[name=endDate]").val()); 
			jQuery('#dialog-box-change-status .sub-title').text("Please confirm you wish to cancel this booking ("+book_id+": "+startDate+" to "+endDate+")");
			jQuery(".default-overlay").fadeIn();
			jQuery("#dialog-box-change-status").fadeIn();		
		}else if(/*not_passed(jQuery("[name=startDate]").val()) && */(manage_status =='booking' || manage_status =='book-hold' || manage_status =='book-owner')
				&& (status=='0' || status =='5' || status=='6')){
			var book_id = jQuery('[name=book_id]').val();
			var startDate = jQuery.date(jQuery("[name=startDate]").val()); 
			var endDate   = jQuery.date(jQuery("[name=endDate]").val()); 
			jQuery('#dialog-box-change-status .sub-title').text("Are you sure to changes status this booking ("+book_id+": "+startDate+" to "+endDate+")?");
			jQuery(".default-overlay").fadeIn();
			jQuery("#dialog-box-change-status").fadeIn();		
		}
		
		//end if
			
	});
	bind_again();
	
	jQuery("#dialog-box-change-status #theClose").click(function(e){
		jQuery("#dialog-box-change-status").fadeOut();	
		jQuery(".default-overlay").fadeOut();	
		e.preventDefault();
	});
	
	jQuery("#yes-change-status").click(function(){
		var manage_status = jQuery("[name=manage_status]").val();
		change_status_global(manage_status);
		jQuery("#dialog-box-change-status").fadeOut();	
		jQuery(".default-overlay").fadeOut();	
	});
	
}


function change_status_global(manage_status){
	jQuery(this).prop('disabled', true);
	jQuery('.small-loading').fadeIn();
	var ss	 		= jQuery("[name=startDate]").val();
	var es	 		= jQuery("[name=endDate]").val();
	var accom_id	= jQuery("[name=villa-id]").val();
	var status		= jQuery("[name=selecto_status]").val();
	var reason		= jQuery("[name=reason]").val();
	var rate		= jQuery("[name=rates]").val();
	var days      	= (jQuery("[name=endDate]").val() - jQuery("[name=startDate]").val()) /86400 ;
	var url			= jQuery("[name=site-url]").val();
	var dd = {
					act: 'calendar',
					do_act:'manage_rate_availability',
					accom_id:accom_id,
					ss:ss,
					es:es,
					days:days,
					status:status,
					reason:reason,
					rate:rate
				};
	jQuery.post(url,dd,function(data){
		if(trim(data)=='success'){
			//console.log(status);
			if(status==0){//if status not available
				change_to_booking(manage_status,rate);
			}else if(status ==1){//if status available
				change_to_available(manage_status,rate);
			}else if(status ==2){//no check in
				change_to_no_check_in(rate);
			}else if(status ==3){//no check out
				change_to_no_check_out(manage_status,rate);
			}else if(status==4){//no check in out
				change_to_no_check_in_out(manage_status,rate);
			}else if(status==5){;
				change_the_status('book-hold','Booking Hold',rate)	
			}else if(status==6){;
				change_the_status('book-owner','Owner',rate)	
			}else if(status==7){
				 change_to_maintenance(manage_status,rate);
			}					
			jQuery("[name=startDate]").val('');
			jQuery("[name=endDate]").val('');
			jQuery("[name=manage_status]").val('');
		}else{
			console.log(data);
		}
		
		jQuery('.small-loading').fadeOut();
		jQuery("#newrate").fadeOut();
		jQuery("[name=confirm_changes]").prop('disabled', false);
	});
	
}



function change_the_status(class_names,text_title,rate){
	console.log('dsd23');
	//console.log(class_names);
	//console.log(text_title);
	var manage_status = jQuery("[name=manage_status]").val();
	var rate_text = '$ '+rate;
	if(manage_status==''){
		jQuery('a.available.selected').each(function(){
			jQuery(this).addClass(class_names).removeClass('available selected');
			if(rate !='' && rate!=0) jQuery(this).find('.fc-event-inner .fc-event-title').text(rate_text);	
		});	
		/*if(jQuery('a.startselected').hasClass('no-check-out')){
			jQuery('a.startselected').find('.fc-event-inner .fc-event-title').text('No Check Out');					
		}else if(jQuery('a.startselected').prev().hasClass('end-booked') || jQuery('a.startselected').prev().hasClass('passed') || jQuery('a.startselected').prev().hasClass('no-check-in')){
			jQuery('a.startselected').find('.fc-event-inner .fc-event-title').text(text_title);					
		}else{
			jQuery('a.startselected').find('.fc-event-inner .fc-event-title').text('Available');						
		}*/
		if(rate !='' && rate!=0) jQuery(this).find('.fc-event-inner .fc-event-title').text(rate_text);	
		
		jQuery('a.startselected').addClass('start-booked '+class_names );
		//validate if is have end-booked
		if(jQuery('a.startselected').hasClass("end-booked")){
			//jQuery('a.startselected').find('.fc-event-inner .fc-event-title').text(text_title);	
			if(class_names=='book-hold')jQuery('a.startselected').addClass('start-book-hold');
			
		}
		
		if(jQuery('a.startselected').prev().hasClass('passed') && jQuery('a.startselected').prev().hasClass('available')==false){
			jQuery('a.startselected').removeClass('available');//.text(text_title);
		}
		if(rate !='' && rate!=0) jQuery('a.startselected').find('.fc-event-inner .fc-event-title').text(rate_text);	
		jQuery('a.startselected').removeClass('selected startselected');		
		
		/*if(jQuery('a.endselected').hasClass('no-check-in') && jQuery('a.endselected').next().hasClass('no-check-in') ){
			jQuery('a.endselected').find('.fc-event-inner .fc-event-title').text('No Check In');					
		}else{
			jQuery('a.endselected').find('.fc-event-inner .fc-event-title').text('Available');		
		}*/
		
		//get old class
		var old_class = '';
		if(jQuery('a.endselected').hasClass('book-hold')){
			old_class =	'book-hold';
			old_title = 'Booking Hold';
		}else if(jQuery('a.endselected').hasClass('book-owner')){
			old_class =	'book-owner';
			old_title = 'Owner';
		}else if(jQuery('a.endselected').hasClass('booking')){
			old_class =	'booking';
			old_title = 'Booked';
		}
		
		jQuery('a.endselected').addClass('end-booked '+class_names);
		//if have both
		if(jQuery('a.endselected').hasClass('start-booked')){
			if(jQuery('a.endselected').next().hasClass('book-hold')){
				jQuery('a.endselected').removeClass('booking book-owner');
				if(old_class !=	'book-hold'){//only one day
					jQuery('a.endselected').addClass(old_class);	
					//jQuery('a.endselected').find('.fc-event-inner .fc-event-title').text(old_title);		
				}else{
					//jQuery('a.endselected').find('.fc-event-inner .fc-event-title').text('Booking Hold');			
				}
				
							
			}else if(jQuery('a.endselected').next().hasClass('book-owner')) {
				jQuery('a.endselected').removeClass('booking book-hold');
				if(old_class !=	'book-owner'){
					jQuery('a.endselected').addClass(old_class);
					//jQuery('a.endselected').find('.fc-event-inner .fc-event-title').text(old_title);			
				}else{
					//jQuery('a.endselected').find('.fc-event-inner .fc-event-title').text('Owner');		
				}
				//if(rate !='' && rate!=0) jQuery('a.endselected').find('.fc-event-inner .fc-event-title').text(rate_text);
			}else {
				jQuery('a.endselected').removeClass('book-owner book-hold');	
				//jQuery('a.endselected').find('.fc-event-inner .fc-event-title').text('Booked');		
				if(old_class !=	'booking'){
					jQuery('a.endselected').addClass(old_class);	
					//jQuery('a.endselected').find('.fc-event-inner .fc-event-title').text(old_title);
					//if(rate !='' && rate!=0) jQuery('a.endselected').find('.fc-event-inner .fc-event-title').text(rate_text);		
				}
				
			}
			if(class_names=='book-hold'){
				jQuery('a.endselected').addClass('end-book-hold');
				if(jQuery('a.endselected').hasClass('start-booked') && jQuery('a.endselected').hasClass('book-hold')) jQuery('a.endselected').addClass('start-book-hold');
			}
			
		}//end if end selected has start booked	
		
		if(rate !='' && rate!=0) jQuery('a.endselected').find('.fc-event-inner .fc-event-title').text(rate_text);	
		
		jQuery('a.endselected').removeClass('selected endselected hover-now');
		
		//jQuery('a.endselected').addClass('end-booked booking').removeClass('selected endselected hover-now');
		//if the previous is passed
		
	}else{
		change_old_status_custom(manage_status,class_names,text_title,'no-check-in no-check-out no-check-in-out book-hold book-owner booking maintenance','no-check-out no-check-in-out book-hold book-owner booking maintenance','no-check-in-out no-check-in book-hold book-owner booking maintenance',rate);	
		//change_old_status(manage_status,'booking','Booked','no-check-in no-check-out no-check-in-out','no-check-out no-check-in-out','no-check-in-out no-check-in');	
	}
	bind_again();
}

function change_to_booking(manage_status,rate){
	if(manage_status==''){
		var rate_text = '$ '+rate;
		jQuery('a.available.selected').each(function(){
			jQuery(this).addClass('book booking').removeClass('available selected');
			if(rate !='' && rate!=0) jQuery(this).find('.fc-event-inner .fc-event-title').text(rate_text);	
		});	
		/*if(jQuery('a.startselected').hasClass('no-check-out')){
			jQuery('a.startselected').find('.fc-event-inner .fc-event-title').text('No Check Out');					
		}else if(jQuery('a.startselected').prev().hasClass('end-booked')){
			jQuery('a.startselected').find('.fc-event-inner .fc-event-title').text('Booked');					
		}else{
			jQuery('a.startselected').find('.fc-event-inner .fc-event-title').text('Available');						
		}*/		
		if(rate !='' && rate!=0) jQuery('a.startselected').find('.fc-event-inner .fc-event-title').text(rate_text);
		
		//jQuery('a.startselected').addClass('start-booked booking').removeClass('selected startselected');	
		jQuery('a.startselected').addClass('start-booked booking');	
		if(jQuery('a.startselected').hasClass("end-booked")){
			if(rate !='' && rate!=0) jQuery('a.startselected').find('.fc-event-inner .fc-event-title').text(rate_text);	
			if(jQuery('a.startselected').hasClass('book-hold')) jQuery('a.startselected').addClass('end-book-hold');
		}
		jQuery('a.startselected').removeClass('selected startselected');		
		
		/*if(jQuery('a.endselected').hasClass('no-check-in') && jQuery('a.endselected').next().hasClass('no-check-in') ){
			//jQuery('a.endselected').find('.fc-event-inner .fc-event-title').text('No Check In');					
		}else{
		   // jQuery('a.endselected').find('.fc-event-inner .fc-event-title').text('Available');		
		}*/
		
		if(rate !='' && rate!=0) jQuery('a.endselected').find('.fc-event-inner .fc-event-title').text(rate_text);	
		
		//if have both
		jQuery('a.available.start-booked.end-booked').removeClass('available');		
		//get old class
		var old_class = '';
		if(jQuery('a.endselected').hasClass('book-hold')){
			old_class =	'book-hold';
			old_title = 'Booking Hold';
		}else if(jQuery('a.endselected').hasClass('book-owner')){
			old_class =	'book-owner';
			old_title = 'Owner';
		}else if(jQuery('a.endselected').hasClass('booking')){
			old_class =	'booking';
			old_title = 'Booked';
		}
		
		
		jQuery('a.endselected').addClass('end-booked booking');	
		if(jQuery('a.endselected').hasClass('start-booked')){		  
			if(jQuery('a.endselected').next().hasClass('book-hold')){
				jQuery('a.endselected').removeClass('booking book-owner');
				if(old_class !=	'book-hold'){//only one day
					jQuery('a.endselected').addClass(old_class);	
					//jQuery('a.endselected').find('.fc-event-inner .fc-event-title').text(old_title);		
				}else{
					//jQuery('a.endselected').find('.fc-event-inner .fc-event-title').text('Booking Hold');			
				}
				if(rate !='' && rate!=0)jQuery('a.endselected').find('.fc-event-inner .fc-event-title').text(rate_text);
							 
			}else if(jQuery('a.endselected').next().hasClass('book-owner')) {
				jQuery('a.endselected').removeClass('booking book-hold');
				if(old_class !=	'book-owner'){
					jQuery('a.endselected').addClass(old_class);
					//jQuery('a.endselected').find('.fc-event-inner .fc-event-title').text(old_title);			
				}else{
					//jQuery('a.endselected').find('.fc-event-inner .fc-event-title').text('Owner');		
				}
				if(rate !='' && rate!=0) jQuery('a.endselected').find('.fc-event-inner .fc-event-title').text(rate_text);
				
			}else {
				jQuery('a.endselected').removeClass('book-owner book-hold');	
				//jQuery('a.endselected').find('.fc-event-inner .fc-event-title').text('Booked');
				if(rate !='' && rate!=0) jQuery('a.endselected').find('.fc-event-inner .fc-event-title').text(rate_text);		
				if(old_class !=	'booking'){
					jQuery('a.endselected').addClass(old_class);	
					//jQuery('a.endselected').find('.fc-event-inner .fc-event-title').text(old_title);		
				}
				
			}
			if(jQuery('a.endselected').hasClass('book-hold')) jQuery('a.endselected').addClass('start-book-hold');
		}		
		jQuery('a.endselected').removeClass('selected endselected hover-now');
		//if the previous is passed
		if(jQuery('a.start-booked').prev().hasClass('passed') && !jQuery('a.start-booked').prev().hasClass('available')){
			//jQuery('a.start-booked').removeClass('available').text('Booked');
		}
	}else{
		change_old_status_custom(manage_status,'booking','Booked','no-check-in no-check-out no-check-in-out book-hold book-owner book booking start-book-hold end-book-hold maintenance','no-check-out no-check-in-out book-hold book-owner book booking maintenance','no-check-in-out no-check-in book-hold book-owner book booking maintenance',rate);	
	}
  
  //bind_booking_again();
  bind_again();
}


function change_to_available(manage_status,rate){
	if(manage_status==''){
		rate_text = '$ '+rate;
		jQuery('a.available.selected').each(function(){
			jQuery(this).removeClass('selected');
			if(rate !='' && rate!=0) jQuery(this).find('.fc-event-inner .fc-event-title').text(rate_text);	
		});	
		if(jQuery('a.startselected').hasClass('no-check-out')){//new
			if(rate !='' && rate!=0) jQuery('a.startselected').find('.fc-event-inner .fc-event-title').text(rate_text);	
			jQuery('a.startselected').removeClass('selected startselected no-check-out').addClass('available');
		}
		if(rate !='' && rate!=0) jQuery('a.available.startselected').find('.fc-event-inner .fc-event-title').text(rate_text);	
		jQuery('a.available.startselected').removeClass('selected startselected');
		if(rate !='' && rate!=0) jQuery('a.available.endselected').find('.fc-event-inner .fc-event-title').text(rate_text);
		jQuery('a.available.endselected').removeClass('selected endselected hover-now');
	}else{
		if(manage_status=='booking'){
			change_old_status(manage_status,'available','Available','start-booked booking end-booked book','booking end-booked book','booking start-booked book',rate);
		}else if(manage_status=='book-hold'){
			change_old_status(manage_status,'available','Available','start-booked end-booked book-hold','end-booked book-hold','start-booked book-hold',rate);
		}else if(manage_status=='book-owner'){
			change_old_status(manage_status,'available','Available','start-booked end-booked book-owner','end-booked book-owner','start-booked book-owner',rate);
		}else{
			change_old_status(manage_status,'available','Available','no-check-in no-check-out no-check-in-out maintenance','no-check-in-out maintenance','',rate);	
		}							
	}
	bind_again();	
	
}

function change_to_no_check_in(rate){
	var manage_status = jQuery("[name=manage_status]").val();
	rate_text = '$ '+rate;
	
	if(manage_status ==''){//if new selected
		jQuery('a.available.selected').each(function(){
			jQuery(this).addClass('no-check-in').removeClass('available selected');
			if(rate !='' && rate!=0) jQuery(this).find('.fc-event-inner .fc-event-title').text(rate_text);
			jQuery(this).unbind('click');	
		});	
		
		if(rate !='' && rate!=0) jQuery('a.startselected').find('.fc-event-inner .fc-event-title').text(rate_text);
		jQuery('a.startselected').unbind('click');
		if(jQuery('a.startselected').prev().hasClass('available')){
			jQuery('a.startselected').addClass('no-check-in').removeClass('selected startselected');			
		}else{
			jQuery('a.startselected').addClass('no-check-in').removeClass('available selected startselected');		
		}	
		
		if(rate !='' && rate!=0) jQuery('a.endselected').find('.fc-event-inner .fc-event-title').text(rate_text);
		jQuery('a.endselected').unbind('click');	
		jQuery('a.endselected').addClass('no-check-in').removeClass('available selected endselected hover-now');
	}else{
		change_old_status(manage_status,'no-check-in','No Check In','no-check-out no-check-in-out start-booked booking end-booked book maintenance','booking start-booked book','',rate);	
	}
	
	//bind_no_check_in();
	bind_again();	
}

function change_to_no_check_out(manage_status,rate){
	rate_text = '$ '+rate;
	//if old booking
	if(jQuery("[name=manage_status]").val()==''){//if new selected
		jQuery('a.available.selected').each(function(){
			jQuery(this).addClass('no-check-out').removeClass('available selected');
			if(rate !='' && rate!=0) jQuery(this).find('.fc-event-inner .fc-event-title').text(rate_text);
			
		});	
		//new
		//validate for prev if is end booking
		//if(jQuery('a.startselected').getTimes()==jQuery("[name=startDate]").val()){
			if(jQuery('a.startselected').prev().hasClass('end-booked')){
				if(rate !='' && rate!=0)  jQuery('a.startselected').prev().find('.fc-event-inner .fc-event-title').text(rate_text);
				jQuery('a.startselected').prev().removeClass('available');
			}
		//}
		if(rate !='' && rate!=0) jQuery('a.startselected').find('.fc-event-inner .fc-event-title').text(rate_text);
		jQuery('a.startselected').unbind('click');
		jQuery('a.startselected').addClass('no-check-out').removeClass('available selected startselected');		
		
		if(rate !='' && rate!=0) jQuery('a.endselected').find('.fc-event-inner .fc-event-title').text(rate_text);
		if(jQuery('a.endselected').next().hasClass('available')){
			jQuery('a.endselected').addClass('no-check-out').removeClass('selected endselected hover-now');			
		}else{
			jQuery('a.endselected').addClass('no-check-out').removeClass('available selected endselected hover-now');
		}						
		jQuery('a.endselected').unbind('click');
	}else{//if old selected
		console.log(manage_status);
		if(manage_status=='booking' || manage_status=='book-hold'){
			jQuery('a.'+manage_status).each(function(){
				var time = jQuery(this).getTimes();
				console.log(time);
				if(time >= jQuery("[name=startDate]").val() && time <= jQuery("[name=endDate]").val() ){
					jQuery(this).addClass('no-check-out');
					if(rate !='' && rate!=0) jQuery(this).find('.fc-event-inner .fc-event-title').text(rate_text);
					//custom booking
					if(time ==  jQuery("[name=endDate]").val() && !jQuery(this).hasClass('end-book-hold')){
						console.log('d');
						if(jQuery(this).hasClass('start-booked')) jQuery(this).removeClass('booking end-booked book no-check-in available');
						else jQuery(this).removeClass('book-hold booking end-booked book no-check-in available');
					}else if(time ==  jQuery("[name=endDate]").val() && jQuery(this).hasClass('end-book-hold')){
						console.log('ds');
						jQuery(this).removeClass('booking end-booked book-hold end-book-hold no-check-in available');
					}else {
						console.log('dsa');
						jQuery(this).removeClass('start-booked booking end-booked book-hold start-book-hold end-book-hold no-check-in available');
					}
						
					jQuery(this).unbind();
				}
			});			
		}else{
			jQuery('a.fc-event-start').each(function(){
				var time = jQuery(this).getTimes();
				if(time >= jQuery("[name=startDate]").val() && time <= jQuery("[name=endDate]").val() ){
					//validate for prev if is end booking
					if(time==jQuery("[name=startDate]").val()){
						if(jQuery(this).prev().hasClass('end-booked')){
							jQuery(this).prev().find('.fc-event-inner .fc-event-title').text('Booked');
							jQuery(this).prev().removeClass('available');
						}
					}
					jQuery(this).addClass('no-check-out').removeClass('no-check-in available no-check-in-out maintenance');
					if(rate !='' && rate!=0) jQuery(this).find('.fc-event-inner .fc-event-title').text(rate_text);	
					jQuery(this).unbind();
				}
			});	
		}
		
	}
	
	bind_again();	
	
}

function change_to_no_check_in_out(manage_status,rate){
	rate_text = '$ '+rate;
	//if old booking
	if(jQuery("[name=manage_status]").val()==''){//if new selected
		jQuery('a.available.selected').each(function(){
			jQuery(this).addClass('no-check-in-out').removeClass('available selected');
			if(rate !='' && rate!=0) jQuery(this).find('.fc-event-inner .fc-event-title').text(rate_text);	
		});	
		
		if(jQuery('a.startselected').getTimes()==jQuery("[name=startDate]").val()){
			if(jQuery('a.startselected').prev().hasClass('end-booked')){
				//jQuery('a.startselected').prev().find('.fc-event-inner .fc-event-title').text('Booked');
				jQuery('a.startselected').prev().removeClass('available');
			}
		}
		
		if(rate !='' && rate!=0) jQuery('a.startselected').find('.fc-event-inner .fc-event-title').text(rate_text);
		jQuery('a.startselected').unbind('click');
		jQuery('a.startselected').addClass('no-check-in-out').removeClass('available selected startselected');		
		
		if(rate !='' && rate!=0) jQuery('a.endselected').find('.fc-event-inner .fc-event-title').text(rate_text);
		jQuery('a.endselected').addClass('no-check-in-out').removeClass('available selected endselected hover-now');
		jQuery('a.endselected').unbind('click');
	}else{//if old selected
		change_old_status(manage_status,'no-check-in-out','No Check In/Out','available no-check-in no-check-out maintenance start-booked end-booked book-hold booking','','',rate);	

	}
	
	bind_again();	
	
}

function change_to_maintenance(manage_status,rate){
	rate_text = '$ '+rate;
	//if old booking
	if(jQuery("[name=manage_status]").val()==''){//if new selected
		jQuery('a.available.selected').each(function(){
			jQuery(this).addClass('maintenance').removeClass('available selected');
			if(rate !='' && rate!=0) jQuery(this).find('.fc-event-inner .fc-event-title').text(rate_text);	
		});	
		
		if(jQuery('a.startselected').getTimes()==jQuery("[name=startDate]").val()){
			if(jQuery('a.startselected').prev().hasClass('end-booked')){
				//jQuery('a.startselected').prev().find('.fc-event-inner .fc-event-title').text('Booked');
				jQuery('a.startselected').prev().removeClass('available');
			}
		}
		
		if(rate !='' && rate!=0) jQuery('a.startselected').find('.fc-event-inner .fc-event-title').text(rate_text);
		jQuery('a.startselected').unbind('click');
		jQuery('a.startselected').addClass('maintenance').removeClass('available selected startselected');		
		
		if(rate !='' && rate!=0) jQuery('a.endselected').find('.fc-event-inner .fc-event-title').text(rate_text);
		jQuery('a.endselected').addClass('maintenance').removeClass('available selected endselected hover-now');
		jQuery('a.endselected').unbind('click');
	}else{
		change_old_status(manage_status,'maintenance','Maintenance','available no-check-in no-check-out no-check-in-out start-booked end-booked book-hold booking','','',rate);		
	}
	bind_again();	
}

function change_old_status_custom(old_status,new_status,title,list_class,list_class_ii,list_class_iii,rate){
	//console.log(old_status);
	//console.log(new_status);
	var rate_text = '$ '+rate;
	
	jQuery('a.'+old_status).each(function(){
		var time = jQuery(this).getTimes();
		if(time >= jQuery("[name=startDate]").val() && time <= jQuery("[name=endDate]").val() ){
			var inn = 0;
			var inn_custom = 0;
			if(time == jQuery("[name=endDate]").val() /*&& jQuery(this).hasClass('start-booked')*/){
				if(jQuery(this).hasClass('no-check-in') && jQuery(this).next().hasClass('no-check-in')){
					//jQuery(this).find('.fc-event-inner .fc-event-title').text('No Check In');		
					if(rate !='' && rate!=0) jQuery(this).find('.fc-event-inner .fc-event-title').text(rate_text);		
					inn_custom++;
				}else if((jQuery(this).hasClass('no-check-out')|| jQuery(this).hasClass('no-check-in-out') ) && jQuery(this).next().hasClass('no-check-in')){
					//jQuery(this).find('.fc-event-inner .fc-event-title').text('Available');	
					if(rate !='' && rate!=0) jQuery(this).find('.fc-event-inner .fc-event-title').text(rate_text);	
					jQuery(this).addClass('available');	
					inn_custom++;
				}else if(jQuery(this).hasClass('book-owner') || jQuery(this).hasClass('booking') || jQuery(this).hasClass('book-hold')){//for all booking
					if(jQuery(this).next().hasClass('no-check-in-out')){
						//jQuery(this).find('.fc-event-inner .fc-event-title').text(title);		
					}/*else{
						jQuery(this).find('.fc-event-inner .fc-event-title').text('Available');		
					}*/
					if(rate !='' && rate!=0) jQuery(this).find('.fc-event-inner .fc-event-title').text(rate_text);					
					inn_custom++;
				}
				console.log(old_status);
				console.log(new_status);
				jQuery(this).addClass('end-booked').removeClass(list_class_ii);
				if(old_status == 'book-hold' && new_status=='booking') jQuery(this).removeClass('end-book-hold').addClass('booking');
				if(old_status == 'booking' && new_status=='book-hold') jQuery(this).addClass('end-book-hold');
				if(new_status=='book-hold'){
					if(old_status=='no-check-out' || old_status=='no-check-in' || old_status=='maintenance' || old_status == 'booking' || old_status=='no-check-in-out')jQuery(this).addClass('book-hold');
				};
				inn++;
			}else if(time == jQuery("[name=startDate]").val()){
				if(jQuery(this).hasClass('no-check-out') && !jQuery(this).prev().hasClass('no-check-out') && !jQuery(this).prev().hasClass('no-check-in')){
					jQuery(this).removeClass(list_class).addClass('start-booked '+new_status);
					//new validate
					/*if(jQuery(this).prev().hasClass('passed')){
						jQuery(this).find('.fc-event-inner .fc-event-title').text(title);		
					}else{
						jQuery(this).find('.fc-event-inner .fc-event-title').text('Available');		
					}*/
					if(rate !='' && rate!=0) jQuery(this).find('.fc-event-inner .fc-event-title').text(rate_text);
					
					inn_custom++;
				}else if(jQuery(this).hasClass('book-owner') || jQuery(this).hasClass('booking') || jQuery(this).hasClass('book-hold')){//for all booking
					jQuery(this).removeClass(list_class).addClass('start-booked '+new_status);
					/*if(jQuery(this).prev().hasClass('passed') || jQuery(this).prev().hasClass('no-check-in')){
						jQuery(this).find('.fc-event-inner .fc-event-title').text(title);		
					}else{
						jQuery(this).find('.fc-event-inner .fc-event-title').text('Available');		
					}*/
					if(rate !='' && rate!=0) jQuery(this).find('.fc-event-inner .fc-event-title').text(rate_text);					
					inn_custom++;
				}else{					
					if(jQuery(this).hasClass('no-check-out')){
						jQuery(this).addClass('start-booked').removeClass(list_class_iii+' no-check-out'); //valid check out one more again	
					}else {
						//jQuery(this).find('.fc-event-inner .fc-event-title').text(title);	
						if(rate !='' && rate!=0) jQuery(this).find('.fc-event-inner .fc-event-title').text(rate_text);
						jQuery(this).removeClass(list_class_iii).addClass('start-booked available').addClass(new_status);//coba available				
					}
				}
				if(old_status=='booking' && new_status=='book-hold') jQuery(this).addClass('start-book-hold');
				//validate if is have end-booked
				if(jQuery(this).hasClass("end-booked") && rate !='' && rate!=0)
					jQuery(this).find('.fc-event-inner .fc-event-title').text(rate_text);		
				
				inn++;
			}else{
				
			}
			
			/*else if(new_status=='booking' && old_status!='booking' && time > jQuery("[name=startDate]").val() && time < jQuery("[name=endDate]").val() ){
				jQuery(this).addClass('booking book').removeClass(list_class);
				inn++;
			}*/
			//end validate for not available
			
			if(inn==0){
				if(new_status=='booking'){//
					jQuery(this).removeClass(list_class).addClass(new_status+' book');	
						
				}else{
					jQuery(this).removeClass(list_class).addClass(new_status);		
				}
			}
			if(inn_custom==0){
				//jQuery(this).find('.fc-event-inner .fc-event-title').text(title);	
				if(rate !='' && rate!=0) jQuery(this).find('.fc-event-inner .fc-event-title').text(rate_text);		
			}			
			jQuery(this).unbind();
			
		}
		
		
	});
	
}

function change_old_status(old_status,new_status,title,list_class,list_class_ii,list_class_iii,rate){
	console.log(old_status);
	console.log(new_status);
	jQuery('a.'+old_status).each(function(){
		var time = jQuery(this).getTimes();
		if(time >= jQuery("[name=startDate]").val() && time <= jQuery("[name=endDate]").val() ){
			rate_text = '$ '+rate;
			console.log(time);
			//validate for available
			var inn = 0;
			var inn_custom = 0;
			if(new_status=='available' && time == jQuery("[name=endDate]").val() && jQuery(this).hasClass('start-booked') && !jQuery(this).hasClass('no-check-out')){
				jQuery(this).addClass(new_status).removeClass(list_class_ii);
				inn++;
				console.log('o1');
			}else if(new_status=='available' && time == jQuery("[name=startDate]").val() && jQuery(this).hasClass('end-booked') && !jQuery(this).hasClass('no-check-in')){
				jQuery(this).addClass(new_status).removeClass(list_class_iii);
				inn++;
				console.log('o2');
			}else if(new_status=='available' && time == jQuery("[name=endDate]").val() && jQuery(this).hasClass('end-booked') && jQuery(this).hasClass('no-check-in')){
				jQuery(this).addClass(new_status).removeClass(list_class+' no-check-in');
				inn++;
				console.log('o3');
			}else if(new_status=='available' && time == jQuery("[name=startDate]").val() && jQuery(this).hasClass('start-booked') && jQuery(this).hasClass('no-check-out')){
				jQuery(this).addClass(new_status).removeClass(list_class+' no-check-out');
				inn++;
				console.log('o4');
			}else if(new_status=='available' && time == jQuery("[name=startDate]").val() && jQuery(this).prev().hasClass('end-booked')){
				if(rate !='' && rate!=0) jQuery(this).prev().find('.fc-event-inner .fc-event-title').text(rate_text);
				jQuery(this).prev().addClass('available');
				console.log('o5');
			}else if(new_status=='available' && time == jQuery("[name=endDate]").val() && jQuery(this).hasClass('end-booked') && (jQuery(this).hasClass('book-hold'))){
				if(rate !='' && rate!=0) jQuery(this).prev().find('.fc-event-inner .fc-event-title').text(rate_text);
				jQuery(this).prev().addClass('available');
				console.log('o6');
			}else if(new_status=='available' && time == jQuery("[name=endDate]").val() && jQuery(this).next().hasClass('end-booked') && jQuery(this).next().hasClass('no-check-in') && (old_status=='book-hold' || old_status=='book-owner')){
					
				jQuery(this).next().addClass(new_status).removeClass(list_class+' no-check-in');
				if(rate !='' && rate!=0) jQuery(this).next().find('.fc-event-inner .fc-event-title').text(rate_text);
				console.log('o7');
			}else if(new_status=='available' && time == jQuery("[name=endDate]").val() && jQuery(this).next().hasClass('end-booked') && !jQuery(this).next().hasClass('no-check-in') && (old_status=='book-hold' || old_status=='book-owner' || old_status=='booking' )){
				if(rate !='' && rate!=0) jQuery(this).next().find('.fc-event-inner .fc-event-title').text(rate_text);
				jQuery(this).next().addClass('available');// coba
				console.log('o8');
			}else if(new_status=='available' && time == jQuery("[name=endDate]").val() && jQuery(this).next().hasClass('start-booked')
				&& (old_status=='no-check-out' )){
				if(rate !='' && rate!=0)jQuery(this).next().find('.fc-event-inner .fc-event-title').text(rate_text);
				jQuery(this).next().addClass(new_status).removeClass('no-check-out');
				console.log('o9');
			}
			
			//validate for available but passed
			if(new_status=='available' && not_passed(time)==false){
				jQuery(this).addClass('passed').removeClass(list_class);
				inn++;
				if(rate !='' && rate!=0) jQuery(this).find('.fc-event-inner .fc-event-title').text(rate_text);		
				inn_custom++;
								
			}
			if(new_status=='available' && not_passed(time)==false && !jQuery(this).next().hasClass('start-booked')){
				var next_time = jQuery(this).next().getTimes()
				if(not_passed(next_time)==false){
					jQuery(this).next().addClass('passed').removeClass(list_class);
					if(rate !='' && rate!=0)  jQuery(this).next().find('.fc-event-inner .fc-event-title').text(rate_text);			
				}
				inn_custom++;
				inn++;
			}
			if(new_status=='available' && not_passed(time)==false && jQuery(this).next().hasClass('start-booked')){
				//old_class
				var old_class='';
				var title ='';
				if(jQuery(this).next().hasClass('booking')) {
					old_class='booking';title='Booked';
				}else if(jQuery(this).next().hasClass('book-hold')) {
					old_class='book-hold';title='Booking Hold';
				}else if(jQuery(this).next().hasClass('book-owner')) {
					old_class='book-owner';title='Owner';
				}
				jQuery(this).next().removeClass(list_class).addClass('passed start-booked '+old_class);
				inn++;
				if(rate !='' && rate!=0) jQuery(this).next().find('.fc-event-inner .fc-event-title').text(rate_text);		
				inn_custom++;
			}
			
			if(new_status=='available' && not_passed(time)){
				console.log('011');
				var start_booked = false;
				if(jQuery(this).hasClass('start-booked') && time == jQuery("[name=endDate]").val()) {
					start_booked=true;
				}
				
				var end_booked_before=false;
				if(jQuery(this).hasClass('end-booked') &&  time == jQuery("[name=startDate]").val()) {
					end_booked_before=true;
				}
				
				jQuery(this).removeClass(list_class).addClass('available');
				if(start_booked){
					var old_class='';
					if(jQuery(this).next().hasClass('booking')) {
						old_class='booking';title='Booked';
					}else if(jQuery(this).next().hasClass('book-hold')) {
						old_class='book-hold';title='Booking Hold';
					}else if(jQuery(this).next().hasClass('book-owner')) {
						old_class='book-owner';title='Owner';
					}
					jQuery(this).removeClass(list_class).addClass('available start-booked '+old_class);
				}
				
				if(rate !='' && rate!=0) jQuery(this).find('.fc-event-inner .fc-event-title').text(rate_text);	
								
				if(end_booked_before){
					var prev_class= jQuery(this).prev().getThisClassCustom();
					jQuery(this).addClass('end-booked '+prev_class);	
				}
					
				if(jQuery(this).next().hasClass('start-booked')){//for booking have date passed and diffrent type book
					var old_class='';
					var title ='';
					if(jQuery(this).next().hasClass('booking')) {
						old_class='booking';title='Booked';
					}else if(jQuery(this).next().hasClass('book-hold')) {
						old_class='book-hold';title='Booking Hold';
					}else if(jQuery(this).next().hasClass('book-owner')) {
						old_class='book-owner';title='Owner';
					}
					//jQuery(this).next().removeClass(list_class).addClass('available start-booked '+old_class);coba
					//if(rate !='' && rate!=0) jQuery(this).next().find('.fc-event-inner .fc-event-title').text(rate_text);coba
				}
				
				
				inn++;
				inn_custom++;
			}
						

			/*else if(new_status=='available' && time == jQuery("[name=endDate]").val() && (jQuery(this).hasClass('book-hold'))){
				
				jQuery(this).prev().find('.fc-event-inner .fc-event-title').text('Available');
				jQuery(this).prev().addClass('available');
			}*/
			
			//end validate for available
			
			//validate for not available
			//change_old_status(manage_status,'booking','Booked','no-check-in no-check-out no-check-in-out','no-check-out no-check-in-out','no-check-in-out no-check-in');	
			if(new_status=='booking' && time == jQuery("[name=endDate]").val() /*&& jQuery(this).hasClass('start-booked')*/){
				if(jQuery(this).hasClass('no-check-in') && jQuery(this).next().hasClass('no-check-in')){
					if(rate !='' && rate!=0) jQuery(this).find('.fc-event-inner .fc-event-title').text(rate_text);		
					inn_custom++;
				}else if((jQuery(this).hasClass('no-check-out')|| jQuery(this).hasClass('no-check-in-out') ) && jQuery(this).next().hasClass('no-check-in')){
					if(rate !='' && rate!=0) jQuery(this).find('.fc-event-inner .fc-event-title').text(rate_text);	
					jQuery(this).addClass('available');	
					inn_custom++;
				}else if(jQuery(this).hasClass('book-hold')){//for book hold
					if(rate !='' && rate!=0) {
						/*if(jQuery(this).next().hasClass('no-check-in-out') || jQuery(this).prev().hasClass('no-check-out')){
							jQuery(this).find('.fc-event-inner .fc-event-title').text('Booked');		
						}else{*/
							jQuery(this).find('.fc-event-inner .fc-event-title').text(rate_text);		
						//}
						inn_custom++;
					}
					
					
				}
				jQuery(this).addClass('end-booked').removeClass(list_class_ii);
				inn++;
			}else if(new_status=='booking' && time == jQuery("[name=startDate]").val()/* && jQuery(this).hasClass('end-booked')*/){
				if(jQuery(this).hasClass('no-check-out') && !jQuery(this).prev().hasClass('no-check-out') && !jQuery(this).prev().hasClass('no-check-in')){
					jQuery(this).addClass('start-booked').removeClass(list_class);
					//new validate
					/*if(jQuery(this).prev().hasClass('passed')){
						jQuery(this).find('.fc-event-inner .fc-event-title').text('Booked');		
					}else{
						jQuery(this).find('.fc-event-inner .fc-event-title').text('Available');		
					}*/
					if(rate !='' && rate!=0) jQuery(this).find('.fc-event-inner .fc-event-title').text(rate_text);
					
					
					inn_custom++;
				}else if(jQuery(this).hasClass('book-hold')){//for book hold
					/*if(jQuery(this).prev().hasClass('passed') || jQuery(this).prev().hasClass('no-check-in')){
						jQuery(this).find('.fc-event-inner .fc-event-title').text('Booked');		
					}else{
						jQuery(this).find('.fc-event-inner .fc-event-title').text('Availables');		
					}*/
					if(rate !='' && rate!=0) jQuery(this).find('.fc-event-inner .fc-event-title').text(rate_text);
					
					inn_custom++;
				}else{					
					if(jQuery(this).hasClass('no-check-out'))jQuery(this).addClass('start-booked').removeClass(list_class_iii+' no-check-out'); //valid check out one more again
					else jQuery(this).addClass('start-booked').removeClass(list_class_iii);		
				}
				inn++;
			}else if(new_status=='booking' && old_status!='booking' && time > jQuery("[name=startDate]").val() && time < jQuery("[name=endDate]").val() ){
				jQuery(this).addClass('booking book').removeClass(list_class);
				inn++;
			}
			//end validate for not available
			
			//validate for No Check In
			if(new_status=='no-check-in' && time == jQuery("[name=startDate]").val() && jQuery(this).hasClass('end-booked') && !jQuery(this).hasClass('no-check-in')){

				jQuery(this).addClass(new_status).removeClass(list_class_ii);
				//for book hold
				if(jQuery(this).hasClass('start-book-hold')) jQuery(this).removeClass('book-hold start-book-hold').addClass('booking');
				inn++;
			}
			if(new_status=='no-check-in' && time == jQuery("[name=startDate]").val() && jQuery(this).prev().hasClass('end-booked') && !jQuery(this).prev().hasClass('no-check-in')){
				if(rate !='' && rate!=0){
					jQuery(this).find('.fc-event-inner .fc-event-title').text(rate_text);
					inn++;	
				} 
				jQuery(this).prev().addClass('available');
			}
			if(new_status=='no-check-in' && time == jQuery("[name=startDate]").val() && jQuery(this).hasClass('end-booked') && jQuery(this).hasClass('no-check-in')){
				inn++;//do nothing
			}
			
			if(new_status=='no-check-in' && time == jQuery("[name=endtDate]").val() && jQuery(this).hasClass('end-booked') && !jQuery(this).hasClass('no-check-in')){
				//for booked
				console.log('das');
				jQuery(this).addClass(new_status).removeClass(list_class_ii);				
				inn++;//do nothing
			}
			//end validate for No Check In
			
			//start validate for No Check Out
			if(new_status=='no-check-out' && time == jQuery("[name=startDate]").val() && jQuery(this).hasClass('start-booked')){
				//for booked
				jQuery(this).addClass(new_status).removeClass(list_class_ii);				
				inn++;//do nothing
			}
			
			
			//end validate for No Check Out
			
						
			//start validate for No Check In Out
			//change_old_status(manage_status,'no-check-out','No Check Out','no-check-in no-check-in-out','','');	
			if(new_status=='no-check-in-out' && time == jQuery("[name=startDate]").val() && jQuery(this).prev().hasClass('end-booked')){
				//jQuery(this).prev().find('.fc-event-inner .fc-event-title').text('Booked');
				jQuery(this).prev().removeClass('available');
			}
			//end validate for No Check In Out
			
			if(inn==0){
				console.log('masuk sin');
				jQuery(this).addClass(new_status).removeClass(list_class);	
			}
			if(inn_custom==0){
				if(rate !='' && rate!=0) jQuery(this).find('.fc-event-inner .fc-event-title').text(rate_text);		
			}			
			jQuery(this).unbind();
		}
	});	
		
}

function resert_selected(){
	jQuery("[name=startDate]").val('');
	jQuery("[name=endDate]").val('');
	jQuery("[name=manage_status]").val('');
	
	jQuery("a.available").each(function(){
		if(jQuery(this).hasClass("startselected")){ 
			jQuery(this).removeClass('startselected');
			//jQuery(this).find('.fc-event-inner .fc-event-title').text('Available');	
			
		}
		if(jQuery(this).hasClass("selected")){
			jQuery(this).removeClass('selected');
			//jQuery(this).find('.fc-event-inner .fc-event-title').text('Available');	
		}
		if(jQuery(this).hasClass("endselected")){
			jQuery(this).removeClass('endselected');
			//jQuery(this).find('.fc-event-inner .fc-event-title').text('Available');	
		}
		
		if(jQuery(this).hasClass("hover-now")){
			/*if(jQuery(this).hasClass("no-check-in")){
				jQuery(this).find('.fc-event-inner .fc-event-title').text('No Check In');
			}*/
			jQuery(this).removeClass('hover-now');	
		}	
	});
	
	jQuery("a.no-check-out").each(function(){
		if(jQuery(this).hasClass("startselected")){ 
			jQuery(this).removeClass('startselected');
			//jQuery(this).find('.fc-event-inner .fc-event-title').text('No Check Out');	
		}
	});
	//new
	jQuery("a.no-check-in").each(function(){
		if(jQuery(this).hasClass("endselected") || jQuery(this).hasClass("hover-now")){ 
			jQuery(this).removeClass('endselected hover-now');
			//jQuery(this).find('.fc-event-inner .fc-event-title').text('No Check In');	
		}
		
	});
}


function bind_again(){
	bind_booking_again();
	bind_available_again();
	bind_start_booked_available();
	bind_no_check_in();
	bind_no_check_out();
	bind_no_check_in_out();
	bind_maintenance();
}

function bind_available_again(){
	jQuery('a.available').unbind('click');
	jQuery('a.available').click(function(e){
		if(not_passed(jQuery(this).getTimes())){
			jQuery('#selecto_status').attr('disabled', false).trigger("chosen:updated");	
			var ss	 = jQuery("[name=startDate]").val();
			var es	 = jQuery("[name=endDate]").val();
			var time = jQuery(this).getTimes();
			var time_name = new Date(time * 1000).format("mm/dd/yyyy");
			
			if(ss=='' && !jQuery(this).next().hasClass('not-available') && !jQuery(this).hasClass('start-booked') && !jQuery(this).next().hasClass('no-check-out') && !jQuery(this).next().hasClass('no-check-in-out')){
				jQuery(this).addClass('startselected');	
				//jQuery(this).find('.fc-event-inner .fc-event-title').text('Selected Date');	
				jQuery(this).next().addClass("hover-now");
				//jQuery(this).next().find("div.fc-event-inner span.fc-event-title").text("End Date");	
				bindAvailableMouseOver();
				jQuery("[name=startDate]").val(time);	
				if(jQuery('.booking-panel').size() >0){
					//jQuery('.booking-panel [name=check-in]').datepicker('setDate',time_name);	
					jQuery('.booking-panel [name=check-in]').val(time_name);	
				}
			}else if(jQuery(this).hasClass('startselected') && es == 0){
				jQuery(this).removeClass('startselected');
				//jQuery(this).find('.fc-event-inner .fc-event-title').text('Available');	
				jQuery(this).removeClass("selected");
				jQuery(this).next().removeClass("hover-now");
				if(jQuery(this).next().hasClass('no-check-in')){			
					//jQuery(this).next().find("div.fc-event-inner span.fc-event-title").text("No Check In");
				}else{		
					//jQuery(this).next().find("div.fc-event-inner span.fc-event-title").text("Available");	
				}	
				jQuery("a.available").unbind('mouseover mouseout');
				if(jQuery('.booking-panel').size() >0)jQuery('.booking-panel [name=check-in]').datepicker('setDate','');
				jQuery("[name=startDate]").val('');
			}else if(jQuery(this).hasClass('endselected')){
				jQuery(this).removeClass('endselected');
				bindAvailableMouseOver();
				if(jQuery('.booking-panel').size() >0)jQuery('.booking-panel [name=check-out]').datepicker('setDate','');
				jQuery("[name=endDate]").val('');			
			}else if(ss!='' && es == '' && jQuery(this).hasClass('available') && jQuery(this).hasClass('hover-now')){
				//validate to database is have another status
				if(jQuery('.booking-panel').size() >0)jQuery('.booking-panel [name=check-out]').val(time_name);
				else show_mar_empty(jQuery(this));
				jQuery(this).addClass('endselected');
				jQuery("a.available").unbind('mouseover mouseout');
				
				var villa_id = jQuery("[name=villa-id]").val();
				var url = jQuery("[name=site-url]").val();
				var datas = {
								act : 'calendar',
								do_act:'check_available_range',
								lss:ss,
								led:time,
								lvid:villa_id
							};
				jQuery.post(url,datas,function(data){
					console.log(data);
					var result= jQuery.parseJSON(data);
					if(result.date=='available'){
						jQuery("[name=endDate]").val(time);
						var startDate = jQuery.date(jQuery("[name=startDate]").val()); 
						var endDate   = jQuery.date(jQuery("[name=endDate]").val()); 
						var days      = (jQuery("[name=endDate]").val() - jQuery("[name=startDate]").val()) /86400 ;
						if (days > 1) days = days + " nights";
						else days = days + " night";
						jQuery("span#date-range-availabel-text").text(startDate+" - "+endDate+" ("+days+")");
						validate_selecto_status();
						//jQuery("#selecto_status").attr('disabled', false).trigger("chosen:updated");
						jQuery('.title-manage-rate .small-loading').fadeOut();
					}else{
						jQuery("#confirm_cancel").trigger( "click" );
						alert('Date you selected is not available');
					}
					
				});
				
				/*jQuery(this).addClass('endselected');
				jQuery("a.available").unbind('mouseover mouseout');
				jQuery("[name=endDate]").val(time);
				if(jQuery('.booking-panel').size() >0)jQuery('.booking-panel [name=check-out]').val(time_name);
				else show_mar(jQuery(this));
				*/
			}
			
		}else{
			jQuery("[name=startDate]").val('');
		}//end if validation dicoba dulu
		
		e.preventDefault();
	});	
}

function bind_booking_again(){
	jQuery('.booking').unbind('click');
	jQuery('.booking').click(function(){
		if(!jQuery(this).hasClass('end-booked') && !jQuery(this).hasClass('hover-now')|| jQuery(this).hasClass('start-booked') &&  jQuery(this).hasClass('end-booked')){
			resert_selected();//new
			jQuery('#selecto_status').attr('disabled', true).trigger("chosen:updated");
			show_mar_custom('booking', jQuery(this));
			//var this_element = jQuery(this);
			//get book range date
			var url	= jQuery("[name=site-url]").val();
			var time = jQuery(this).getTimes();
			var accom_id	= jQuery("[name=villa-id]").val();
			var dd = {
						act: 'calendar',
						do_act: 'get-date-range',
						pkey: 'get_range_book',
						date: time,
						accom_id:accom_id
					};
			jQuery.post(url,dd,function(data){
				var data_return = jQuery.parseJSON(data);
				if(trim(data_return.data)=='success'){
					jQuery('#date-range-availabel-text').text(data_return.text);
					jQuery("[name=book_id]").val(data.book_id);
					jQuery("[name=startDate]").val(data_return.date_start);
					jQuery("[name=endDate]").val(data_return.date_end);
					jQuery("[name=reason]").val(data_return.reason);
					validate_selecto_status();
					/*if(not_passed(data_return.date_start)){*/
						jQuery('#selecto_status').attr('disabled', false).trigger("chosen:updated");	
					/*}*/
					//jQuery('#selecto_status').attr('disabled', false).trigger("chosen:updated");
					jQuery("[name=manage_status]").val('booking');
					jQuery('.small-loading').fadeOut();
				}else{
					jQuery('.small-loading').fadeOut();
					alert('something wrong happen');
					jQuery("#newrate").fadeOut();	
				}
			});	
		}
	});
	
	
	jQuery('.book-hold').unbind('click');
	jQuery('.book-hold').click(function(){
		if(!jQuery(this).hasClass('end-booked') && !jQuery(this).hasClass('hover-now')|| jQuery(this).hasClass('start-booked') &&  jQuery(this).hasClass('end-booked')){
			show_book_old('book-hold',jQuery(this));
		}
	});
	
	jQuery('.book-owner').unbind('click');
	jQuery('.book-owner').click(function(){
		if(!jQuery(this).hasClass('end-booked') && !jQuery(this).hasClass('hover-now')|| jQuery(this).hasClass('start-booked') &&  jQuery(this).hasClass('end-booked')){
			show_book_old('book-owner',jQuery(this));
		}
	});
	
	
}

function show_book_old(the_class,element){
	resert_selected();//new
	jQuery('#selecto_status').attr('disabled', true).trigger("chosen:updated");
	show_mar_custom(the_class, element);
	//var this_element = jQuery(this);
	//get book range date
	var url	= jQuery("[name=site-url]").val();
	var time = jQuery(element).getTimes();
	var accom_id	= jQuery("[name=villa-id]").val();
	var dd = {
				act: 'calendar',
				do_act: 'get-date-range',
				pkey: 'get_range_book',
				date: time,
				accom_id:accom_id
			};
	jQuery.post(url,dd,function(data){
		var data_return = jQuery.parseJSON(data);
		if(trim(data_return.data)=='success'){
			jQuery('#date-range-availabel-text').text(data_return.text);
			jQuery("[name=book_id]").val(data_return.book_id);
			jQuery("[name=startDate]").val(data_return.date_start);
			jQuery("[name=endDate]").val(data_return.date_end);
			jQuery("[name=reason]").val(data_return.reason);
			validate_selecto_status();
			/*if(not_passed(data_return.date_start)){*/
				jQuery('#selecto_status').attr('disabled', false).trigger("chosen:updated");	
			/*}*/
			console.log('mmaa');
			jQuery("[name=manage_status]").val(the_class);
			jQuery('.small-loading').fadeOut();
		}else{
			jQuery('.small-loading').fadeOut();
			alert('something wrong happen');
			jQuery("#newrate").fadeOut();	
		}
	});	
}

function bind_start_booked_available(){
	//jQuery('.start-booked.available.booking').unbind('click');
	//jQuery('.start-booked.available.booking').click(function(){
	jQuery('.start-booked').unbind('click');
	jQuery('.start-booked').click(function(){
		if(jQuery(this).hasClass('hover-now')){
			show_mar_empty(jQuery(this));
			jQuery(this).addClass('endselected');
			jQuery("a.available").unbind('mouseover mouseout');
			var time = jQuery(this).getTimes();			
			jQuery("[name=endDate]").val(time);
			
			var ss = jQuery("[name=startDate]").val();
			var villa_id = jQuery("[name=villa-id]").val();
			var url = jQuery("[name=site-url]").val();
			var datas = {
							act : 'calendar',
							do_act:'check_available_range',
							lss:ss,
							led:time,
							lvid:villa_id
						};
			jQuery.post(url,datas,function(data){
				var result= jQuery.parseJSON(data);
				//console.log(result);
				if(result.date=='available'){
					jQuery("[name=endDate]").val(time);
					var startDate = jQuery.date(jQuery("[name=startDate]").val()); 
					var endDate   = jQuery.date(jQuery("[name=endDate]").val()); 
					var days      = (jQuery("[name=endDate]").val() - jQuery("[name=startDate]").val()) /86400 ;
					if (days > 1) days = days + " nights";
					else days = days + " night";
					jQuery("span#date-range-availabel-text").text(startDate+" - "+endDate+" ("+days+")");
					validate_selecto_status();
					jQuery("#selecto_status").attr('disabled', false).trigger("chosen:updated");
					jQuery('.title-manage-rate .small-loading').fadeOut();
				}else{
					jQuery("#confirm_cancel").trigger( "click" );
					alert('Date you selected is not available');
				}
				
			});
			
			
			
			
			/*jQuery(this).addClass('endselected');
			jQuery("a.available").unbind('mouseover mouseout');
			var time = jQuery(this).getTimes();			
			jQuery("[name=endDate]").val(time);
			show_mar(jQuery(this));*/
		}else{
			resert_selected();//new
			jQuery('#selecto_status').attr('disabled', true).trigger("chosen:updated");
			//show_mar_custom('booking', jQuery(this));
			//validate show mar
			var the_element = jQuery(this);
			if(jQuery(this).hasClass('book-hold'))show_mar_custom('book-hold', jQuery(this));
			else if(jQuery(this).hasClass('book-owner'))show_mar_custom('book-owner', jQuery(this));
			else show_mar_custom('booking', jQuery(this));
			
			//get book range date
			var url	= jQuery("[name=site-url]").val();
			var time = jQuery(this).getTimes();
			
			var accom_id	= jQuery("[name=villa-id]").val();
			var dd = {
						act: 'calendar',
						do_act: 'get-date-range',
						pkey: 'get_range_book',
						date: time,
						accom_id:accom_id
					};
			jQuery.post(url,dd,function(data){
				var data_return = jQuery.parseJSON(data);
				if(trim(data_return.data)=='success'){
					jQuery('#date-range-availabel-text').text(data_return.text);
					jQuery("[name=book_id]").val(data_return.book_id);
					jQuery("[name=startDate]").val(data_return.date_start);
					jQuery("[name=endDate]").val(data_return.date_end);
					jQuery("[name=reason]").val(data_return.reason);
					validate_selecto_status();
					/*if(not_passed(data_return.date_start)){*/
						jQuery('#selecto_status').attr('disabled', false).trigger("chosen:updated");	
					/*}*/
					//jQuery("[name=manage_status]").val('booking');
					
					if(jQuery(the_element).hasClass('book-hold') && !jQuery(the_element).hasClass('end-book-hold') )jQuery("[name=manage_status]").val('book-hold');
					else if(jQuery(the_element).hasClass('book-owner'))jQuery("[name=manage_status]").val('book-owner');
					else jQuery("[name=manage_status]").val('booking');					
					
					jQuery('.small-loading').fadeOut();
				}else{
					jQuery('.small-loading').fadeOut();
					alert('something wrong happen');
					jQuery("#newrate").fadeOut();	
				}
			});	
		}
	});
}
function bind_no_check_in(){
	jQuery('a.no-check-in').unbind('click');
	jQuery('a.no-check-in').click(function(){
		//validate is not end selected date
		if(jQuery(this).hasClass('hover-now')){
			show_mar_empty(jQuery(this));
			jQuery(this).addClass('endselected');
			jQuery("a.available").unbind('mouseover mouseout');
			var time = jQuery(this).getTimes();			
			jQuery("[name=endDate]").val(time);
			
			var ss = jQuery("[name=startDate]").val();
			var villa_id = jQuery("[name=villa-id]").val();
			var url = jQuery("[name=site-url]").val();
			var datas = {
							act : 'calendar',
							do_act:'check_available_range',
							lss:ss,
							led:time,
							lvid:villa_id
						};
			jQuery.post(url,datas,function(data){
				var result= jQuery.parseJSON(data);
				//console.log(result);
				if(result.date=='available'){
					jQuery("[name=endDate]").val(time);
					var startDate = jQuery.date(jQuery("[name=startDate]").val()); 
					var endDate   = jQuery.date(jQuery("[name=endDate]").val()); 
					var days      = (jQuery("[name=endDate]").val() - jQuery("[name=startDate]").val()) /86400 ;
					if (days > 1) days = days + " nights";
					else days = days + " night";
					jQuery("span#date-range-availabel-text").text(startDate+" - "+endDate+" ("+days+")");
					validate_selecto_status();
					jQuery("#selecto_status").attr('disabled', false).trigger("chosen:updated");
					jQuery('.title-manage-rate .small-loading').fadeOut();
				}else{
					jQuery("#confirm_cancel").trigger( "click" );
					alert('Date you selected is not available');
				}
				
			});
			
			/*var time = jQuery(this).getTimes();
			jQuery(this).addClass('endselected');
			jQuery("a.available").unbind('mouseover mouseout');
			jQuery("[name=endDate]").val(time);
			show_mar(jQuery(this));*/
		}else{
			resert_selected();//new
			jQuery('#selecto_status').attr('disabled', true).trigger("chosen:updated");
			show_mar_custom('no_check_in', jQuery(this));
			//get book range date
			//find start no checkin
			var index_checkin = jQuery(this).index();
			var time_start=0;
			var time_end=0; 
			for (i=index_checkin; i >= 0 ; i--)
			{
				if(jQuery('a.fc-event').eq(i).hasClass('no-check-in')){
					time_start = jQuery('a.fc-event').eq(i).getTimes();
					//jQuery("[name=startDate]").val(time);
				}else  break;
			}
			
			var last_index = jQuery('a.fc-event').last().index();
			for (i=index_checkin; i <= last_index ; i++)
			{
				if(jQuery('a.fc-event').eq(i).hasClass('no-check-in')){
					time_end = jQuery('a.fc-event').eq(i).getTimes();
					//jQuery("[name=endDate]").val(time); 
				}else break;
			}
			
			//validate to database			
			var url	= jQuery("[name=site-url]").val();
			var time = jQuery(this).getTimes();
			var accom_id	= jQuery("[name=villa-id]").val();
			var dd = {
						act: 'calendar',
						do_act: 'get-date-range',
						pkey: 'get_range_reason',
						type: 'no-check-in',
						date_clicked:time,
						date_start: time_start,
						date_end:time_end,
						accom_id:accom_id
					};
					
			jQuery.post(url,dd,function(data){
				var data_return = jQuery.parseJSON(data);
				if(trim(data_return.data)=='success'){
					var startDate = jQuery.date(data_return.new_start); 
					var endDate   = jQuery.date(data_return.new_end); 
					var days      = (data_return.new_end - data_return.new_start) /86400 ;
					
					if (days > 1) days = days + " nights";
					else days = days + " night";
					jQuery("span#date-range-availabel-text").text(startDate+" - "+endDate+" ("+days+")");
					jQuery("[name=reason]").val(data_return.reason);
					jQuery("[name=startDate]").val(data_return.new_start); 
					jQuery("[name=endDate]").val(data_return.new_end);
					validate_selecto_status();
					/*if(not_passed(data_return.new_start)){*/
						jQuery('#selecto_status').attr('disabled', false).trigger("chosen:updated");	
					/*}*/
					//jQuery('#selecto_status').attr('disabled', false).trigger("chosen:updated");
					jQuery('.small-loading').fadeOut();
				}else{
					jQuery('.small-loading').fadeOut();
					alert('something wrong happen');
					jQuery("#newrate").fadeOut();	
				}
			});	
			
			
			
			/*var index_checkin = jQuery(this).index();
			//find start no checkin
			for (i=index_checkin; i >= 0 ; i--)
			{
				if(jQuery('a.fc-event').eq(i).hasClass('no-check-in')){
					var time = jQuery('a.fc-event').eq(i).getTimes();
					jQuery("[name=startDate]").val(time);
				}else  break;
			}
			
			var last_index = jQuery('a.fc-event').last().index();
			for (i=index_checkin; i <= last_index ; i++)
			{
				if(jQuery('a.fc-event').eq(i).hasClass('no-check-in')){
					var time = jQuery('a.fc-event').eq(i).getTimes();
					jQuery("[name=endDate]").val(time); 
				}else break;
			}
			
			show_mar_custom('no_check_in',jQuery(this));
			//find end no checkin*/
		}
		
		
	});
}



function bind_no_check_out(){
	jQuery('a.no-check-out').unbind('click');
	jQuery('a.no-check-out').click(function(){
		if(jQuery(this).next().hasClass('available') && !jQuery(this).hasClass('start-booked')  && !jQuery(this).hasClass('startselected')&& !jQuery(this).next().hasClass('no-check-out')){
			var time = jQuery(this).getTimes();
			jQuery("[name=startDate]").val(time);
			//jQuery(this).find('.fc-event-inner .fc-event-title').text('Selected Date');
			jQuery(this).addClass('startselected');
			jQuery(this).next().addClass("hover-now");
			//jQuery(this).next().find("div.fc-event-inner span.fc-event-title").text("End Date");	
			bindAvailableMouseOver();
		}else if(jQuery(this).hasClass('start-booked')){
			resert_selected();//new
			show_mar_custom('booking', jQuery(this));
			//get book range date
			var url	= jQuery("[name=site-url]").val();
			var time = jQuery(this).getTimes();
			
			var accom_id	= jQuery("[name=villa-id]").val();
			var dd = {
						act: 'calendar',
						do_act: 'get-date-range',
						pkey: 'get_range_book',
						date: time,
						accom_id:accom_id
					};
			jQuery.post(url,dd,function(data){
				var data_return = jQuery.parseJSON(data);
				if(trim(data_return.data)=='success'){
					jQuery('#date-range-availabel-text').text(data_return.text);
					jQuery("[name=startDate]").val(data_return.date_start);
					jQuery("[name=endDate]").val(data_return.date_end);
					jQuery("[name=manage_status]").val('booking');
					jQuery('.small-loading').fadeOut();
				}else{
					jQuery('.small-loading').fadeOut();
					alert('something wrong happen');
					jQuery("#newrate").fadeOut();	
				}
			});		
		}else if(jQuery(this).hasClass("startselected")){
			jQuery("[name=startDate]").val('');
			//jQuery(this).find('.fc-event-inner .fc-event-title').text('No Check Out');
			jQuery(this).removeClass('startselected');
			//jQuery(".hover-now").find("div.fc-event-inner span.fc-event-title").text("Availabel");
			jQuery(".hover-now").removeClass("hover-now");
			//jQuery(".selected").find("div.fc-event-inner span.fc-event-title").text("Availabel");
			jQuery(".selected").removeClass("selected");
		}else if(jQuery("[name=startDate]").val()==''){
			resert_selected();//new
			jQuery('#selecto_status').attr('disabled', true).trigger("chosen:updated");
			show_mar_custom('no_check_out', jQuery(this));
			
			//get book range date
			//find start no checkout
			var index_checkout = jQuery(this).index();			
			var time_start=0;
			var time_end=0; 
			//find start no checkin
			for (i=index_checkout; i >= 0 ; i--)
			{
				if(jQuery('a.fc-event').eq(i).hasClass('no-check-out')){
					time_start = jQuery('a.fc-event').eq(i).getTimes();
				}else  break;
			}
			
			var last_index = jQuery('a.fc-event').last().index();
			for (i=index_checkout; i <= last_index ; i++)
			{
				if(jQuery('a.fc-event').eq(i).hasClass('no-check-out')){
					time_end = jQuery('a.fc-event').eq(i).getTimes();
				}else break;
			}
			
			
			//validate to database			
			var url	= jQuery("[name=site-url]").val();
			var time = jQuery(this).getTimes();
			var accom_id	= jQuery("[name=villa-id]").val();
			var dd = {
						act: 'calendar',
						do_act: 'get-date-range',
						pkey: 'get_range_reason',
						type: 'no-check-out',
						date_clicked:time,
						date_start: time_start,
						date_end:time_end,
						accom_id:accom_id
					};
					
			jQuery.post(url,dd,function(data){
				var data_return = jQuery.parseJSON(data);
				if(trim(data_return.data)=='success'){
					var startDate = jQuery.date(data_return.new_start); 
					var endDate   = jQuery.date(data_return.new_end); 
					var days      = (data_return.new_end - data_return.new_start) /86400 ;
					
					if (days > 1) days = days + " nights";
					else days = days + " night";
					jQuery("span#date-range-availabel-text").text(startDate+" - "+endDate+" ("+days+")");
					jQuery("[name=reason]").val(data_return.reason);
					jQuery("[name=startDate]").val(data_return.new_start); 
					jQuery("[name=endDate]").val(data_return.new_end);
					validate_selecto_status();
					/*if(not_passed(data_return.new_start)){*/
						jQuery('#selecto_status').attr('disabled', false).trigger("chosen:updated");	
					/*}*/
					//jQuery('#selecto_status').attr('disabled', false).trigger("chosen:updated");
					jQuery('.small-loading').fadeOut();
				}else{
					jQuery('.small-loading').fadeOut();
					alert('something wrong happen');
					jQuery("#newrate").fadeOut();	
				}
			});	
			
			
			
		}
		
	});
	
	//event no-check-out hover
	jQuery('a.no-check-out').mouseover(function(){
		if(jQuery(this).hasClass("startselected")){
			//jQuery(".hover-now").find("div.fc-event-inner span.fc-event-title").text("Availabel");
			jQuery(".hover-now").removeClass("hover-now");
			jQuery(this).next().addClass("hover-now");
			/*jQuery(this).next().find("div.fc-event-inner span.fc-event-title").text("End Date");
			jQuery(".selected").find("div.fc-event-inner span.fc-event-title").text("Availabel");*/
			jQuery(".selected").removeClass("selected");
			
		}
	});
}

function bind_no_check_in_out(){
	jQuery('a.no-check-in-out').unbind('click');
	jQuery('a.no-check-in-out').click(function(){
		/*var index_checkInOut = jQuery(this).index();
		//find start no checkin
		for (i=index_checkInOut; i >= 0 ; i--)
		{
			if(jQuery('a.fc-event').eq(i).hasClass('no-check-in-out')){
				var time = jQuery('a.fc-event').eq(i).getTimes();
				jQuery("[name=startDate]").val(time);
			}else  break;
		}
		
		var last_index = jQuery('a.fc-event').last().index();
		for (i=index_checkInOut; i <= last_index ; i++)
		{
			if(jQuery('a.fc-event').eq(i).hasClass('no-check-in-out')){
				var time = jQuery('a.fc-event').eq(i).getTimes();
				jQuery("[name=endDate]").val(time); 
			}else break;
		}
		
		show_mar_custom('no_check_in_out',jQuery(this));*/
		resert_selected();//new
		jQuery('#selecto_status').attr('disabled', true).trigger("chosen:updated");
		show_mar_custom('no_check_in_out', jQuery(this));
		
		//get book range date
		//find start no checkout
		var index_checkInOut = jQuery(this).index();
		var time_start=0;
		var time_end=0; 
		//find start no checkinout
		for (i=index_checkInOut; i >= 0 ; i--)
		{
			if(jQuery('a.fc-event').eq(i).hasClass('no-check-in-out')){
				time_start = jQuery('a.fc-event').eq(i).getTimes();
			}else  break;
		}
		
		var last_index = jQuery('a.fc-event').last().index();
		for (i=index_checkInOut; i <= last_index ; i++)
		{
			if(jQuery('a.fc-event').eq(i).hasClass('no-check-in-out')){
				time_end = jQuery('a.fc-event').eq(i).getTimes(); 
			}else break;
		}
		
		//validate to database			
		var url	= jQuery("[name=site-url]").val();
		var time = jQuery(this).getTimes();
		var accom_id	= jQuery("[name=villa-id]").val();
		var dd = {
					act: 'calendar',
					do_act: 'get-date-range',
					pkey: 'get_range_reason',
					type: 'no-check-in-out',
					date_clicked:time,
					date_start: time_start,
					date_end:time_end,
					accom_id:accom_id
				};
				
		jQuery.post(url,dd,function(data){
			var data_return = jQuery.parseJSON(data);
			if(trim(data_return.data)=='success'){
				var startDate = jQuery.date(data_return.new_start); 
				var endDate   = jQuery.date(data_return.new_end); 
				var days      = (data_return.new_end - data_return.new_start) /86400 ;
				
				if (days > 1) days = days + " nights";
				else days = days + " night";
				jQuery("span#date-range-availabel-text").text(startDate+" - "+endDate+" ("+days+")");
				jQuery("[name=reason]").val(data_return.reason);
				jQuery("[name=startDate]").val(data_return.new_start); 
				jQuery("[name=endDate]").val(data_return.new_end);
				validate_selecto_status();
				/*if(not_passed(data_return.new_start)){*/
					jQuery('#selecto_status').attr('disabled', false).trigger("chosen:updated");	
				/*}*/
				jQuery('.small-loading').fadeOut();
			}else{
				jQuery('.small-loading').fadeOut();
				alert('something wrong happen');
				jQuery("#newrate").fadeOut();	
			}
		});	
		
		
		
	});
	
}

function bind_maintenance(){
	jQuery('a.maintenance').unbind('click');
	jQuery('a.maintenance').click(function(){
		resert_selected();//new
		jQuery('#selecto_status').attr('disabled', true).trigger("chosen:updated");
		show_mar_custom('maintenance', jQuery(this));
		
		//get book range date
		//find start no checkout
		var index_checkInOut = jQuery(this).index();
		var time_start=0;
		var time_end=0; 
		//find start no checkinout
		for (i=index_checkInOut; i >= 0 ; i--)
		{
			if(jQuery('a.fc-event').eq(i).hasClass('maintenance')){
				time_start = jQuery('a.fc-event').eq(i).getTimes();
			}else  break;
		}
		
		var last_index = jQuery('a.fc-event').last().index();
		for (i=index_checkInOut; i <= last_index ; i++)
		{
			if(jQuery('a.fc-event').eq(i).hasClass('maintenance')){
				time_end = jQuery('a.fc-event').eq(i).getTimes(); 
			}else break;
		}
		
		//validate to database			
		var url	= jQuery("[name=site-url]").val();
		var time = jQuery(this).getTimes();
		var accom_id	= jQuery("[name=villa-id]").val();
		var dd = {
					act: 'calendar',
					do_act: 'get-date-range',
					pkey: 'get_range_reason',
					type: 'maintenance',
					date_clicked:time,
					date_start: time_start,
					date_end:time_end,
					accom_id:accom_id
				};
				
		jQuery.post(url,dd,function(data){
			var data_return = jQuery.parseJSON(data);
			if(trim(data_return.data)=='success'){
				var startDate = jQuery.date(data_return.new_start); 
				var endDate   = jQuery.date(data_return.new_end); 
				var days      = (data_return.new_end - data_return.new_start) /86400 ;
				
				if (days > 1) days = days + " nights";
				else days = days + " night";
				jQuery("span#date-range-availabel-text").text(startDate+" - "+endDate+" ("+days+")");
				jQuery("[name=reason]").val(data_return.reason);
				jQuery("[name=startDate]").val(data_return.new_start); 
				jQuery("[name=endDate]").val(data_return.new_end);
				validate_selecto_status();
				/*if(not_passed(data_return.new_start)){*/
					jQuery('#selecto_status').attr('disabled', false).trigger("chosen:updated");	
				/*}*/
				jQuery('.small-loading').fadeOut();
			}else{
				jQuery('.small-loading').fadeOut();
				alert('something wrong happen');
				jQuery("#newrate").fadeOut();	
			}
		});	
		
		
		
	});
	
}



function not_passed(this_time){
	//get time date now
	var date = new Date();
	var d = date.getDate();
	var month = date.getMonth();
	var y = date.getFullYear();
	var date_now = new Date(y,month,d);
	
	if(this_time >= (date_now.getTime()/1000)){
		return true;
	}else{
		return false;	
	}
	
}

function show_mar(element){
	//set data
	jQuery('#status-availabel-text').text('Available');
	jQuery('#selecto_status').val('1').trigger("chosen:updated");
	var startDate = jQuery.date(jQuery("[name=startDate]").val()); 
	var endDate   = jQuery.date(jQuery("[name=endDate]").val()); 
	var days      = (jQuery("[name=endDate]").val() - jQuery("[name=startDate]").val()) /86400 ;
	
	if (days > 1) days = days + " nights";
	else days = days + " night";
	jQuery("span#date-range-availabel-text").text(startDate+" - "+endDate+" ("+days+")");
	//validate selecto_status
	validate_selecto_status();
	
	//set how to display
	var position = jQuery(element).position();
	var left 	 = position.left - 59;
	var top  	 = position.top - 255 ;
	console.log(top);
	
	jQuery("#newrate").css({"left": left+"px", "top": top+"px"}).fadeIn();	
	jQuery('body,html').animate({scrollTop: position.top}, 800);
	jQuery("[name=reason]").val('');
	
}

function show_mar_empty(element){
	//set data
	jQuery('#status-availabel-text').text('Available');
	jQuery('#selecto_status').val('1').trigger("chosen:updated");
	jQuery('.title-manage-rate .small-loading').fadeIn();
	jQuery("#selecto_status").attr('disabled', true).trigger("chosen:updated");
	jQuery("span#date-range-availabel-text").text("-");
	/*
	var days      = (jQuery("[name=endDate]").val() - jQuery("[name=startDate]").val()) /86400 ;
	
	if (days > 1) days = days + " nights";
	else days = days + " night";
	jQuery("span#date-range-availabel-text").text(startDate+" - "+endDate+" ("+days+")");
	//validate selecto_status
	validate_selecto_status();*/
	
	//set how to display
	var position = jQuery(element).position();
	var left 	 = position.left - 59;
	var top  	 = position.top - 255 ;
	
	jQuery("#newrate").css({"left": left+"px", "top": top+"px"}).fadeIn();	
	jQuery('body,html').animate({scrollTop: position.top}, 800);
	jQuery("[name=reason]").val('');
	
}


function show_mar_custom(custom,element){
	if (custom=='booking'){
		jQuery('#status-availabel-text').text('Booked');
		jQuery('#date-range-availabel-text').text('');
		//jQuery('#selecto_status').val('0').trigger("chosen:updated");
		jQuery("[name=manage_status]").val('booking');//new
		jQuery('.small-loading').fadeIn();
		jQuery("[name=reason]").val('');
	}else if (custom=='book-hold'){
		jQuery('#status-availabel-text').text('Booked Hold');
		jQuery('#date-range-availabel-text').text('');
		//jQuery('#selecto_status').val('5').trigger("chosen:updated");
		jQuery("[name=manage_status]").val('book-hold');//new
		jQuery('.small-loading').fadeIn();
		jQuery("[name=reason]").val('');
	}else if (custom=='book-owner'){
		jQuery('#status-availabel-text').text('Booked Owner');
		jQuery('#date-range-availabel-text').text('');
		//jQuery('#selecto_status').val('6').trigger("chosen:updated");
		jQuery("[name=manage_status]").val('book-owner');//new
		jQuery('.small-loading').fadeIn();
		jQuery("[name=reason]").val('');
	}else if(custom=='no_check_in'){
		jQuery('#status-availabel-text').text('No Check In');
		jQuery('#date-range-availabel-text').text('');
		//jQuery('#selecto_status').val('2').trigger("chosen:updated");
		jQuery("[name=manage_status]").val('no-check-in');
		jQuery('.small-loading').fadeIn();
		jQuery("[name=reason]").val('');
	}else if(custom=='no_check_out'){
		jQuery('#status-availabel-text').text('No Check Out');
		jQuery('#date-range-availabel-text').text('');
		//jQuery('#selecto_status').val('3').trigger("chosen:updated");
		jQuery("[name=manage_status]").val('no-check-out');
		jQuery('.small-loading').fadeIn();
		jQuery("[name=reason]").val('');
	}else if(custom == 'no_check_in_out'){
		jQuery('#status-availabel-text').text('No Check In/Out');
		jQuery('#date-range-availabel-text').text('');
		//jQuery('#selecto_status').val('4').trigger("chosen:updated");
		jQuery("[name=manage_status]").val('no-check-in-out');
		jQuery('.small-loading').fadeIn();
		jQuery("[name=reason]").val('');
	}else if(custom == 'maintenance'){
		jQuery('#status-availabel-text').text('Maintenance');
		jQuery('#date-range-availabel-text').text('');
		//jQuery('#selecto_status').val('7').trigger("chosen:updated");
		jQuery("[name=manage_status]").val('maintenance');
		jQuery('.small-loading').fadeIn();
		jQuery("[name=reason]").val('');
	}
	validate_selecto_status();
	
	//set how to display
	var position = jQuery(element).position();
	var left 	 = position.left - 59;
	var top  	 = position.top - 255 ;
	
	jQuery("#newrate").css({"left": left+"px", "top": top+"px"}).fadeIn();	
	jQuery('body,html').animate({scrollTop: position.top}, 800);
}

function validate_selecto_status(){
	var v = 0;
	if(jQuery('.hover-now').hasClass('start-booked')){
		jQuery("#selecto_status option[value="+2+"]").hide();
		jQuery("#selecto_status option[value="+3+"]").css('display','block');
		jQuery("#selecto_status option[value="+4+"]").hide();
		jQuery("#selecto_status option[value="+7+"]").hide();
		v++;
	}
	if(jQuery('.startselected').hasClass('end-booked')){
		//console.log('masuks ini');
		jQuery("#selecto_status option[value="+2+"]").css('display','block');
		jQuery("#selecto_status option[value="+3+"]").hide();
		jQuery("#selecto_status option[value="+4+"]").hide();
		jQuery("#selecto_status option[value="+7+"]").hide();
		v++;
	}
	
	if(jQuery('.hover-now').hasClass('start-booked') &&  jQuery('.startselected').hasClass('end-booked')){
		jQuery("#selecto_status option[value="+2+"]").hide();
	}
	if(jQuery('.startselected').hasClass('end-booked') && jQuery('.hover-now').hasClass('no-check-in')){
		jQuery("#selecto_status option[value="+2+"]").css('display','block');
	}
	
	//check status start and end this status
	var startDate = jQuery("[name=startDate]").val(); 
	var endDate   = jQuery("[name=endDate]").val();
	
	
	for (i = 0; i <= jQuery('a.fc-event').last().index() ; i++)
	{
		var this_time=jQuery('a.fc-event').eq(i).getTimes();
		if(this_time==startDate && jQuery('a.fc-event').eq(i).hasClass('end-booked')){
			jQuery("#selecto_status option[value="+3+"]").hide();
			jQuery("#selecto_status option[value="+4+"]").hide();
			jQuery("#selecto_status option[value="+7+"]").hide();
			v++;
		}
		//validate end
		if(this_time==endDate && jQuery('a.fc-event').eq(i).hasClass('start-booked')){
			jQuery("#selecto_status option[value="+2+"]").hide();
			jQuery("#selecto_status option[value="+4+"]").hide();
			jQuery("#selecto_status option[value="+7+"]").hide();
			v++;
		}
		
	}
	
	
	console.log(startDate);
	console.log(endDate);
	//new validate
	if(startDate==endDate && startDate !='' && endDate !=''){
		console.log('masuk d');
		jQuery("#selecto_status option[value="+0+"]").hide();
		jQuery("#selecto_status option[value="+3+"]").hide();
		jQuery("#selecto_status option[value="+4+"]").hide();
		jQuery("#selecto_status option[value="+5+"]").hide();
		jQuery("#selecto_status option[value="+6+"]").hide();
		jQuery("#selecto_status option[value="+7+"]").hide();
		v++;
	}
	
	if(v==0){
		jQuery("#selecto_status option").css('display','block');
	}
	
	jQuery("#selecto_status").removeAttr('disabled');
	//
	//jQuery('#selecto_status').trigger("chosen:updated");
}

function booking_action(element){
	
}

jQuery.date = function(dateObject) {
    var d = new Date(dateObject * 1000);
    var day = d.getDate();
    var month = d.getMonth();
    var year = d.getFullYear();
    if (day < 10) {
        day = "0" + day;
    }
	var months=new Array("Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec");
	var month = months[month];
	
    var date = month +" "+ day +" "+ year;

    return date;
};

function get_CalendarVariable(villa_id,y,m,month,url){
	var data  = new Object();
		data.act = 'calendar';
		data.do_act = 'get-availability';
		data.villa_id = villa_id;
		data.year = y;
		data.month= m;
	jQuery.post(url, data,function(response){
		if(trim(response)!='error'){
			jQuery('#calendar').html("");
			var var_calendar = jQuery.parseJSON(response);
			jQuery('#calendar').fullCalendar({
				  contentHeight: 585,  
				  header: {
					  right: '',
					  center: '',
					  left: 'none'
				  },
				  month:month,
				  year:y,
				  events : var_calendar,
				  eventRender: function(event, element) { 
						element.find('.fc-event-inner').before("<div class=\"date-label\">" + event.description+"</div>"); 
				  },
			});
			jQuery("#the_years").remove();
			jQuery("#the_years_chosen").remove();
			
			var wd = jQuery('.fc-week .fc-day').width();
			var hd = jQuery('.fc-week .fc-day').height();
			jQuery('#calendar .fc-event-container .fc-event').each(function(i){
				var left = parseInt($(this).css('left')) - 2;
				if(jQuery(this).hasClass('Sat')) var wfe = '94px';
				else var wfe = '95px';
				var cssObj = {'height' : hd+'px','width' : wfe}; 
				$(this).css(cssObj);  
			});
			
			var next_year=Number(y)+1;
			var the_years = '<select class="the_custom" id="the_years"><option value="'+y+'">'+y+'</option><option value="'+next_year+'">'+next_year+'</option></select>';
			
			jQuery(the_years).insertBefore('.the_header .fc-button-next-custom');
			//jQuery("#the_years.the_custom").chosen({disable_search_threshold:0});	
			jQuery('#the_months').val(m);//.trigger("chosen:updated");
			jQuery('#the_years').val(y);//.trigger("chosen:updated");
			bind_navigation_calendar();
			set_button_event();
			jQuery('.overlay-calendar').fadeOut(3000);
		}else{
			alert('error on calendar');
		}
	});	  
}


function bindAvailableMouseOver(){
	jQuery("a.fc-event.available").mouseover(function(){
		var ss	 = jQuery("[name=startDate]").val();
		var es	 = jQuery("[name=endDate]").val();
		var ess	 = jQuery('.endselected').size();
		if(ss!='' && es == '' && ess == 0){
			availableMouseover();
		}
	});
}

function bind_navigation_calendar(){
	jQuery("#the_months").unbind("change");
	jQuery("#the_months").change(function(){
		jQuery('.overlay-calendar').fadeIn();
		go_to_search_calendar();
	});
	jQuery("#the_years").unbind("change");
	jQuery("#the_years").change(function(){
		jQuery('.overlay-calendar').fadeIn();
		go_to_search_calendar();
	});	
		
	jQuery("[name=villa-id]").unbind("change");
	jQuery("[name=villa-id]").change(function(){
		var m = jQuery("#the_months").val();
		var month = m-1;
		var y = jQuery("#the_years").val();
		var url = jQuery('[name=url-data]').val();
		var villa_id = jQuery(this).val();
		jQuery('.overlay-calendar').fadeIn();
		//console.log(m+'#'+month+'#'+y+'#'+url+'#'+villa_id);
		get_CalendarVariable(villa_id,y,m,month,url);
	});	
	
	jQuery("#the_prev_calendar").unbind("click");
	jQuery("#the_prev_calendar").click(function(){
		var m = jQuery("#the_months").val();
		var y = jQuery("#the_years").val();
		if(jQuery("#the_months").val()==1){
			m = 12;
			y = parseInt(y)-1;
		}else{
			m = parseInt(m)-1;
		}
		var month = parseInt(m)-1;
		
		var url = jQuery('[name=url-data]').val();
		var villa_id = jQuery('[name=villa-id]').val();
		jQuery('.overlay-calendar').fadeIn();
		get_CalendarVariable(villa_id,y,m,month,url);
	});
	
	jQuery("#the_next_calendar").unbind("click");
	jQuery("#the_next_calendar").click(function(){
		var m = jQuery("#the_months").val();
		var y = jQuery("#the_years").val();
		if(jQuery("#the_months").val()==12){
			m = 1;
			y = parseInt(y)+1;
		}else{
			m = parseInt(m)+1;
		}
		var month = parseInt(m)-1;
		
		var url = jQuery('[name=url-data]').val();
		var villa_id = jQuery('[name=villa-id]').val();
		jQuery('.overlay-calendar').fadeIn();
		get_CalendarVariable(villa_id,y,m,month,url);
		
	});
	select_temporary();
}

function select_temporary(){
	var ss	 = jQuery("[name=startDate]").val();
	var es	 = jQuery("[name=endDate]").val();
	var ess	 = jQuery('.endselected').size();
	if(ss!='' && es == '' && ess == 0){
		jQuery('a.available ').each(function() {
			time = jQuery(this).getTimes();
			if(time==ss){
				jQuery(this).addClass('startselected');
				jQuery(this).find(".fc-event-title").text("Selected Date");
				return false;
			};
		});
		bindAvailableMouseOver();
	}
	
	
}

function availableMouseover() {
	jQuery('a.available ').mouseover(function() {
		  if(jQuery('[name=startDate]').val() != '' && jQuery('[name=endDate]').val() == '' ){
			  var start_index = jQuery('.startselected').index();
			  var end_index = jQuery(this).index();
			  //find range
			  var hasNotAcceptedClass=0
			  if(end_index > start_index ){
				  for (i = end_index; i > start_index ; i--)
				  {
					  if(jQuery('a.fc-event').eq(i).hasClass('no-check-in') && !jQuery('a.fc-event').eq(i).hasClass('booking') || 
						 jQuery('a.fc-event').eq(i).hasClass('end-booked') && jQuery('a.fc-event').eq(i).hasClass('booking') ||
						 jQuery('a.fc-event').eq(i).hasClass('no-check-out') || jQuery('a.fc-event').eq(i).hasClass('no-check-in-out') ||
						 jQuery('a.fc-event').eq(i).hasClass('book-hold') && !jQuery('a.fc-event').eq(i).hasClass('start-booked') || 
						 jQuery('a.fc-event').eq(i).hasClass('book-owner') && !jQuery('a.fc-event').eq(i).hasClass('start-booked')
						 ){
						 		hasNotAcceptedClass++;  
					  }
				  }	
			  
			  }
			  
			  if(hasNotAcceptedClass==0 && end_index > start_index){
					//jQuery('.hover-now').find('.fc-event-title').text('Available');
					jQuery('.hover-now').removeClass('hover-now');
					jQuery(this).addClass("hover-now");
					//jQuery(this).find('.fc-event-title').text('End Date');
			  }else if(start_index==end_index){
					//jQuery('.hover-now').find('.fc-event-title').text('Available');
					jQuery('.hover-now').removeClass('hover-now');
					jQuery(this).next().addClass("hover-now");
					//jQuery(this).next().find(".fc-event-title").text("End Date");	
			  }else if(hasNotAcceptedClass==1 && jQuery(this).hasClass('no-check-in') && jQuery(this).prev().hasClass('available') ){//if is first no check in
				  	//jQuery('.hover-now').find('.fc-event-title').text('Available');
					jQuery('.hover-now').removeClass('hover-now');
					jQuery(this).addClass("hover-now");
					//jQuery(this).find(".fc-event-title").text("End Date");
					hasNotAcceptedClass=0;	
			  }
			  
			  if(hasNotAcceptedClass==0 ) find_range_date();
			  
			  
			  
		  }
		  	
		  
		  
	});
}

function find_range_date(){
	var start_index = jQuery('.startselected').index();
	var end_index = jQuery('.hover-now').index() - 1 ;
	//reset
	//jQuery('.selected').find('.fc-event-title').text('Available');
	jQuery('.selected').removeClass('selected');
	//find range
	if(end_index > start_index ){
		for (i = end_index; i > start_index ; i--)
		{
			if(!jQuery('a.fc-event').eq(i).hasClass('no-check-in') || !jQuery('a.fc-event').eq(i).hasClass('no-check-out') || !jQuery('a.fc-event').eq(i).hasClass('no-check-in-out')){
				jQuery('a.fc-event').eq(i).addClass("selected");
				//jQuery('a.fc-event').eq(i).find('.fc-event-title').text('Selected Date');
			}else break;
		}	
	}
}

jQuery.fn.getTimes = function () {
    var key  = jQuery(this).attr('href');
	var spt  = key.split('_');
	var time = spt[3];
	return time;
};

jQuery.fn.getThisClassCustom = function () {
	var this_class='';
	if(jQuery(this).hasClass('booking')) {
		this_class='booking';
	}else if(jQuery(this).hasClass('book-hold')) {
		this_class='book-hold';
	}else if(jQuery(this).hasClass('book-owner')) {
		this_class='book-owner';
	}
	return this_class;
};
</script>
<!-- END Bscript -->