<!-- BEGIN Bcalendar_availability_block -->
<script  type="text/javascript" src="{themes}/fullcalendar/fullcalendar.js"></script>
<script  type="text/javascript" src="{themes}/fullcalendar/date.format.js"></script>
<link href="{themes}/fullcalendar/fullcalendar.css" rel="stylesheet" type="text/css" media="all" />
<div id="container-calendar">
	<div class="overlay-calendar"></div>
    <div class="the_header">
    	<input type="hidden" name="month" value="{month}" />
        <input type="hidden" name="year"  value="{year}" />
        <input type="hidden" name="url-data"  value="http://{site_url}/" /> 
    	<div class="left">
       		<select name="villa-id" class="max-500">
              {roomTypeOpt}
            </select>
        </div>
         
        <div class="right navigation">
            <span class='fc-text-arrow fc-button-prev' id="the_prev_calendar"></span>
            <select class="chzn-select" id="the_months">
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
            <span  id="the_next_calendar" class='fc-text-arrow fc-button-next-custom'></span>
        </div> 
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
	<div id="calendar"></div>
    {ical_temp}
    
    <div class="clear"></div>
	<input type="hidden" name="thisday" value="{thisday}" />
    <input type="hidden" name="thismonth" value="{thismonth}" />
    <input type="hidden" name="thisyear" value="{thisyear}" />
    <input type="hidden" name="month" value="{month}" />
    <input type="hidden" name="year"  value="{year}" />
    <input type="hidden" name="site-url"  value="http://{site_url}/" />
   <!-- <input type="hidden" name="url-data"  value="{url-data}" />-->
    {villa-owner-id}
    {site-url-owner}
    <input type="hidden" name="startDate" value="" />
    <input type="hidden" name="endDate" value="" />
    
    <div class="list-status">
    	<div class="border-top-status"></div>
    	<div class="status" id="passed-status">
        	<div class="status-image"></div>
        	<span>Passed</span>
        	<div class="clear"></div>    
        </div>
        
        <div class="status" id="available-status">
        	<div class="status-image"></div>
        	<span>Available</span>
        	<div class="clear"></div>    
        </div>
    	
        <div class="status" id="booked-status">
        	<div class="status-image"></div>
        	<span>Booked</span>
        	<div class="clear"></div>    
        </div>
    	
        <div class="status" id="bookhold-status">
        	<div class="status-image"></div>
        	<span>Booking Hold</span>
        	<div class="clear"></div>    
        </div>
    	
        <div class="status" id="nocheckin-status">
        	<div class="status-image"></div>
        	<span>No Check In</span>
        	<div class="clear"></div>    
        </div>
    	
        <div class="status" id="nocheckout-status">
        	<div class="status-image"></div>
        	<span>No Check Out</span>
        	<div class="clear"></div>    
        </div>
    	
        <div class="status" id="nocheckinout-status">
        	<div class="status-image"></div>
        	<span>No Check In/Check out</span>
        	<div class="clear"></div>    
        </div>
        
        <div class="status" id="maintenance-status">
        	<div class="status-image"></div>
        	<span>Maintenace</span>
        	<div class="clear"></div>    
        </div>
    </div>
    
    
    
    <div id="newrate" class="wrap-manage-rate">
    	<div class="title-manage-rate">
	        <h2>Manage Rate / Availability</h2><span class="small-loading"></span>
        </div>	
        <p class="desc-date"><span id="status-availabel-text">Available</span> from: <span id="date-range-availabel-text">Sep 18, 2010 - Sep 21, 2010 (3 nights)</span></p>
        <p class="label">&#8226; <b>Change to:</b> </p>
        <select data-placeholder="Please Choose" name="selecto_status" id="selecto_status" class="chzn-select">
        	<option value="1" selected="selected">Available</option>
            <option value="0">Booked</option>
            <option value="5">Booking Hold</option>
            <!--<option value="6">Owner</option>-->
            <option value="7">Maintenance</option>
            <option value="2">No Check In</option>
            <option value="3">No Check Out</option>
            <option value="4">No Check In/Check Out</option>
		</select>
        <p class="label">&#8226; <b>Reason:</b> </p>
        <input type="text"  class="reason-text" name="reason" />
        
        <p class="label">&#8226; <b>Rate:</b> </p>
        <p><input type="text"  class="rate-text" name="rates" /></p>
        
       	<!--<p class="label">• <b>Select rate:</b></p>
        {rates}-->
        
        <input type="button" class="btn_popup" value="CHANGES" name="confirm_changes">
        <input type="hidden" name="manage_status" value="" />
        <input type="hidden" name="book_id" value="" />
        <a id="confirm_cancel">Cancel</a>
        <span class="arrow"></span>
    </div>
    
</div>

<div id="dialog-box-change-status" class="new-boxs" >
    <div class="loader"></div>
    <div class="dialog-content">
        <a href="#" class="button" id="theClose"></a>
        <h2>Changes Booking Status</h2>				
        <div class="sub-title">Please confirm you wish to cancel this booking (BOOKID: - to -)</div>				
    </div>
    <div class="opt-pop-up">
        <a id="yes-change-status" type="button" class="main-btn" rel="yes">Yes</a>
    </div>
    <input type="hidden" name="rtype" />
</div>

<div class="default-overlay"></div>

{booking-panel}
{script-js}

<!-- END Bcalendar_availability_block -->