<!-- BEGIN Bcontactus_block -->
<script type="text/javascript">
$(document).ready(function(){
	$('#btn_contactUs').click(function(){			
		var name	= $('[name=name]').val();
		var email	= $('[name=email]').val();
		var message	= $('[name=message]').val();
		var verCode	= $('[name=verCode]').val();
		var error = 0;
		
		if($.trim(name)=='' || $.trim(name)=='This field is required!'){
			$('#name').removeClass('txt-input');
			$('#name').addClass('error_form');
			$('#name').val('This field is required!');

			error = 1;	
		}else if($.trim(email)=='' || $.trim(email)=='This field is required!'){
			$('#email').removeClass('txt-input');
			$('#email').addClass('error_form');
			$('#email').val('This field is required!');

			error = 1;	
		}else if(!validateTheEmail(email) || $.trim(email)=='Email is not valid!'){
			$('#email').removeClass('txt-input');
			$('#email').addClass('error_form');
			$('#email').val('Email is not valid!');
			
			error = 1;	
		}else if($.trim(message)=='' || $.trim(message)=='This field is required!'){
			$('#message').removeClass('textarea');
			$('#message').addClass('error_textarea');
			$('#message').val('This field is required!');
	
			error = 1;	
		}else if($.trim(verCode)=='' || $.trim(verCode)=='Required!'){
			//jQuery('#verCode').removeClass('codebox');
			jQuery('#verCode').addClass('error_form');
			jQuery('#verCode').val('Required!');
			
			error = 1;	
		}

		if(error==0){
			var thaUrl = '{thaUrl_cekChapta}';	
			$('.content-page-mask').css('display','block');		
			jQuery.post(thaUrl, { 
			act  : 'checkCode',			
			code : $.trim($('#fcontact-us [name=verCode]').val())							
			}, function(data){
				datJSON = jQuery.parseJSON(data);
				$('.content-page-mask').css('display','none');
				//alert (data);
				if($.trim(datJSON.status)!='match' && error==0){
					$('#verCode').addClass('error_form');
					$('#verCode').val('Wrong code!');				
				}else{
					//$('#theContactUs').submit();	
					$('.content-page-mask').css('display','block');	
					var thaUrl = '{thaUrl_sendMail}';				
					$.post(thaUrl, { 
						act  	 : 'submit',
						name 	 : name,
						email 	 : email,
						message  : message,
						code : $.trim($('#fcontact-us [name=verCode]').val())	
					}, function(data){
						$('.content-page-mask').css('display','none');
						//alert(data);
						if($.trim(data)=='success'){	
							$('#notif').html("<p class=\"notifBox green\">Thank you for contacting us! We'll get back to you shortly.</p>");
							$('#name').val('');
							$('#email').val('');
							$('#message').val('');
							$('#verCode').val('');
							$('html, body').animate({ scrollTop: 0 }, 500);

							
						}else{
							$('#notif').html("<p class=\"notifBox red\">There was a problem sending your message. Please try again.</p>");
							$('html, body').animate({ scrollTop: 0 }, 500);
						}
						setTimeout(function() {
							//$(".custom-scrollbar").customScrollbar();
						}, 500);
						setTimeout(function() {
							$('#notif').html('');
							setTimeout(function() {
								//$(".custom-scrollbar").customScrollbar();
							}, 500);
						}, 5000);
					});
				}
			})			
		}
		return false;
	});

	function validateTheEmail(email) {
	  var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
	  return regex.test(email);
	}

	$('#btn_contactUs_triger').click(function(){
		$('.content-right.r2nd .form').fadeIn();
		var H = $('body').height();
		$('.content-right.r2nd .form').height(H);
		jQuery('html, body').animate({ scrollTop: 0 }, 500);
		/*
		$('.content-right.r2nd .form').fadeIn(function(){
			$(".custom-scrollbar").customScrollbar(); //alert("M");
		});
		*/
	})

	$('#btn_contactUs_cancel').click(function(){
		$('.content-right.r2nd .form').fadeOut();
	})
	
});
</script>
<style>
	.content-right{
		background: #DFDFD0;
	}
	/*
	.scrollable .overview, 
	.scrollable .viewport{
	    width: 430px !important;
	}
	.custom-scrollbar{
		height: 455px;
	}
	*/
	
	.block-mini,
	.custom-scrollbar{
		height: 495px;
	}
	.l_2{
		width: 47%;
		margin-right: 4%;
	}
	.l_m{
		width: 98%;
	}
	
	.form-content input[type="button"].reservation,
	.form-content input[type="submit"]{
	    float: right;
	    margin-right: 14px;
	    margin-top: 23px;
	}
	img.chapta{
		float: left;
	    margin-right: 10px;
	    margin-top: 10px;
	    position: relative;
	    width: 93px;
	}

	.map-link{
		display: none;	
	}
	
	/***************************min 1024px********************************/
	@media screen and (max-width: 1024px) {
		.map-iframe{
			width: 330px;
		}
	}
	
	/***************************min 960px********************************/
	@media screen and (max-width: 960px) {
		.custom-scrollbar,
		.block-mini{
	    	height: auto;
		}
		.content-right.r2nd{
			height: 0;
	    	padding: 0;
		}
		
		a.reservation,
		input[type=button].reservation{
			display: block;
		}
		
		.content-right.r2nd .form {
			
		    background: none repeat scroll 0 0 #DFDFD0;
		    display: none;
		    height: 100%;
		    left: 0;
		    
		    
		    width: 100%;
		    z-index: 100;
		    
		    position: absolute;
		    top: -140px;
		}
		
		.map-link{
			display: block;	
		}
		.map-iframe{
			display: none;
		}
	}
	/***************************min 640px********************************/
	@media screen and (max-width: 640px) {
	
	}

</style>
<div class="content-page-mask">
<span class="loading"></span>
</div>
            	<div class="content">
                	
                    <div class="content-right r2nd">
                    	<div class="form">
                    		<div class="form-content">
                    		<div class="default-skin  custom-scrollbar" id="">
	                    		<h2 class="title">Contact Us</h2>
	                    		<form id="fcontact-us" autocomplete="off" method="post" enctype="application/x-www-form-urlencoded" action="">
	                    			<div id="notif">
	                    			<!--  
	                    			<p class="notifBox red">There was a problem sending your message. Please try again.</p>
	                    			-->
	                    			</div>
	                    			<label style="" class="l_2"><b>Full Name</b> <br /><input name="name" type="text" id="name"> </label>
		   							<label style="margin-right: 0px;" class="l_2"><b>Email</b> <br /><input name="email" type="text" id="email"> </label>
	                    			<label style="" class="l_m"><b>Message</b> <br /><textarea name="message" rows="" cols="" id="message" style="height: 110px;"></textarea> </label>
	                    			<div style="float: left; width: 100%;">
	                    			<label style="" class="l_2 l_2_code"><b>Type this code</b> <br />
	                    			<img src="http://{site_url}/val-image.php" class="chapta">
	                    			<input name="verCode" type="text" id="verCode"  style="width: 100px;"> 
	                    			</label>
	                    			<!--  
	                    			<input type="button" value="Cancel" class="submit reservation" id="btn_contactUs_cancel">
	                    			-->
	                    			<input type="submit" value="Send Enquiry" class="submit" id="btn_contactUs">
	                    			<a href="#" id="btn_contactUs_cancel" class="reservation">Cancel</a>
	                    			</div>      
	                    			<input type="hidden" id="verCode" value="{verCode}">              			
	                    		</form>
                    		</div>
                    		</div>
                    	</div>
                    </div>
                    <div class="content-left">
                		{navigation}
                        <div class="block-mini">
                        	<div class="default-skin  custom-scrollbar" id="default-skin-demo">
                            	<h2 class="title">{title}</h2>
								{article_content}
								
								<p class="map-link"><strong>Map</strong>: <a href="https://www.google.com/maps/ms?msid=209560825301078715778.0004f178c755ebbe4ceee&msa=0&ll=-8.595109,115.163198&spn=0.0286,0.045447" target="_blank">Sukhavati Ayurvedic Retreat & Spa</a></p>
								
								<iframe class="map-iframe" style="border: medium none; border: solid 2px #BDBDAE;" width="420" height="220" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/ms?msa=0&amp;msid=209560825301078715778.0004f178c755ebbe4ceee&amp;ie=UTF8&amp;t=m&amp;ll=-8.594091,115.156975&amp;spn=0.018671,0.035963&amp;z=14&amp;output=embed"></iframe>					
								
								<input type="button" id="btn_contactUs_triger" class="submit reservation" value="Contact us">
                            </div>
                        </div>
                    </div>
            	</div>
<!-- END Bcontactus_block -->