<!-- BEGIN Bmail -->
<p>You got new Newsletter Member :</p>
<table>
	<tr>
    <td width="90">Name</td><td>:</td><td>{full_name}</td>
    </tr>
    <tr>
        <td>Email</td><td>:</td><td>{email}</td>
    </tr>
    
    <tr>
        <td>Country</td><td>:</td><td>{country}</td>
    </tr>
</table>
<!-- END Bmail -->