<!-- BEGIN Bvideo_block -->
<div class="video">
	<b class="btitle">Watch Video Tour</b>
	<br class="br"/>
	<div class="video-iframe">
		<div style="" class="topright ">
			<a title="Press ESC to exit fullscreen" class="full-video"></a>
		</div>
		<div class="video-iframe-content">
			<iframe src="{url_player}"></iframe>
		</div>
	</div>
	<a href="{url_player}" class="various iframe">
	<img src="{url_thumb}" style="">
	</a>
	
</div>
<!-- END Bvideo_block -->