<!-- BEGIN Bcontact_us_admin -->
<script>
function isValidEmailAddress(emailAddress) {  
	alert (emailAddress);
    var pattern = new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);  
    return pattern.test(emailAddress);  
}
</script>


<h1>{app_title}</h1>
<p>This settings will change your contact us</p>
<div class="tab_container">
    <div class="single_content">
	{alert}
        <form method="post" action="#" enctype="multipart/form-data">
	     {is_edit_all}
	     {is_saved}
	    <!-- BEGIN loopPage -->
	    <div class="list_edit" style="border: none;">
		<!-- 
		<h1 style="font-size: 16px;margin: 0;padding: 5px 5px 5px 21px;">Reservation Id : {surecharge_desc_ID}</h1>
		 -->		
		
    
    	<input type="hidden" name="post_id[{post_index}]" value="{post_id}" id="acco_type_id_{post_index}">
    	<input type="hidden" name="acco_type_id[{post_index}]" value="{post_id}">
    	<input type="hidden" name="post_index[{post_index}]" value="{post_index}" id="post_index_{post_index}">
		<fieldset>
			<div class="blockRoomType">
			

		    <p>Email<br></p>
		    <p>
		    <input type="hidden" value="Contact Us" name="article_title">
		    <input type="text" class="medium_textbox" value="{val_contact_us_email}" name="contact_us_email">
		    {alert_contact_us_email}
		    </p>
		    
		    <p>CC<br></p>
		    <p><input type="text" class="medium_textbox" value="{val_contact_us_cc}" name="contact_us_cc">{alert_contact_us_cc}</p>
		    
		    <p>BCC<br></p>
		    <p><input type="text" class="medium_textbox" value="{val_contact_us_bcc}" name="contact_us_bcc">{alert_contact_us_bcc}</p>
		    
            <p>Australia Phone<br></p>
		    <p><input type="text" class="medium_textbox" value="{val_contact_us_phone}" name="contact_us_phone">{alert_contact_us_phone}</p>
            
            <p>Bali Phone<br></p>
		    <p><input type="text" class="medium_textbox" value="{val_contact_us_phone_bali}" name="contact_us_phone_bali">{alert_contact_us_phone_bali}</p>
            
		    <p>Title<br></p>
		    <p><input type="text" class="textbox" value="{val_contact_title}" name="contact_us_title">{alert_contact_us_title}</p>
		    
		    <p>Description Top<br></p>
		    <p>
		    {textarea}
		    </p>
		    
		    <p>Video<br></p>
		    <p>
			<textarea style="resize: vertical; width: 99% !important; padding: 5px; " class="textarea" name="contact_us_video">{val_contact_us_video}</textarea>
			</p>
		    
		    <div style="display: none;">
		    <p>Description Bottom<br></p>
		    <p>
		    {textarea2}
		    </p>
		    </div>
		    

			</div>
		</fieldset>
	
       	</div>
	   
	    <!-- END loopPage -->
            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                       {save_changes_botton}
                    </ul>   
                </div>
           </div>
        </form>
	
    </div>
</div>
<!-- END Bcontact_us_admin -->