<!-- BEGIN Bcontact_us -->
{js_costume}
{css_costume}
<script type="text/javascript">
jQuery(document).ready(function(){
	jQuery('#btn_contactUs').click(function(){			
		var name	= jQuery('[name=name]').val();
		var email	= jQuery('[name=email]').val();
		var tlp		= jQuery('[name=tlp]').val();
		var message	= jQuery('[name=message]').val();
		var verCode	= jQuery('[name=verCode]').val();
		var error = 0;
		
		if(trim(name)=='' || trim(name)=='This field is required!'){
			jQuery('#name').removeClass('txt-input');
			jQuery('#name').addClass('error_form');
			jQuery('#name').val('This field is required!');
			jQuery('html, body').animate({ scrollTop: $("#name").offset().top }, 500);
			error = 1;	
		}else if(trim(email)=='' || trim(email)=='This field is required!'){
			jQuery('#email').removeClass('txt-input');
			jQuery('#email').addClass('error_form');
			jQuery('#email').val('This field is required!');
			jQuery('html, body').animate({ scrollTop: $("#email").offset().top }, 500);
			error = 1;	
		}else if(!validateTheEmail(email) || trim(name)=='Email is not valid!'){
			jQuery('#email').removeClass('txt-input');
			jQuery('#email').addClass('error_form');
			jQuery('#email').val('Email is not valid!');
			jQuery('html, body').animate({ scrollTop: $("#email").offset().top }, 500);
			error = 1;	
		}else if(trim(tlp)=='' || trim(tlp)=='This field is required!'){
				jQuery('#tlp').removeClass('txt-input');
				jQuery('#tlp').addClass('error_form');
				jQuery('#tlp').val('This field is required!');
				jQuery('html, body').animate({ scrollTop: $("#name").offset().top }, 500);
				error = 1;	
		}else if(trim(message)=='' || trim(message)=='This field is required!'){
			jQuery('#message').removeClass('textarea');
			jQuery('#message').addClass('error_textarea');
			jQuery('#message').val('This field is required!');
			jQuery('html, body').animate({ scrollTop: $("#message").offset().top }, 500);
			error = 1;	
		}else if(trim(verCode)=='' || trim(verCode)=='This field is required!'){
			//jQuery('#verCode').removeClass('codebox');
			jQuery('#verCode').addClass('code_error');
			jQuery('#verCode').val('This field is required!');
			jQuery('html, body').animate({ scrollTop: $("#verCode").offset().top }, 500);
			error = 1;	
		}
		
		
		var thaUrl = '{thaUrl_cekChapta}';			
			jQuery.post(thaUrl, { 
			act  : 'checkCode',			
			code : trim(jQuery('#fcontact-us [name=verCode]').val())							
		}, function(data){
			//alert (data);
			if(trim(data)!='match' && error==0){
				error = 3;				
			}			
			
			if(error==1){
				//
			}else if(error==3){
				//jQuery('#verCode').removeClass('codebox');
				jQuery('#verCode').addClass('code_error');
				jQuery('#verCode').val('Wrong code!');
			}else{
				//jQuery('#theContactUs').submit();	
				var thaUrl = '{thaUrl_sendMail}';				
				jQuery.post(thaUrl, { 
					act  	 : 'submit',
					name 	 : name,
					tlp		 : tlp,
					email 	 : email,
					message  : message,
					code : trim(jQuery('#fcontact-us [name=verCode]').val())	
				}, function(data){
					//alert(data);
					if(trim(data)=='success'){	
						jQuery('#notif').html("<p class=\"notifBox green\">Thank you for contacting us! We'll get back to you shortly.</p>");
						jQuery('#name').val('');
						jQuery('#email').val('');
						jQuery('#tlp').val('');
						jQuery('#message').val('');
						jQuery('#verCode').val('');
					}else{
						jQuery('#notif').html("<p class=\"notifBox red\">There was a problem sending your message. Please try again.</p>");
					}
				});
			}
		});
	});
	jQuery('#verCode').click(function(){
		if (trim(jQuery(this).val()) == "This field is required!" || trim(jQuery(this).val()) == "Wrong code!") {
				jQuery(this).val('');
				jQuery(this).removeClass('code_error');
				jQuery(this).addClass('codebox');
		}
	});
	
	
	jQuery('#fcontact-us').find('input').click(function(){
			if (trim(jQuery(this).val()) == "This field is required!") {
				jQuery(this).val('');
				jQuery(this).removeClass('error_form');
				jQuery(this).addClass('txt-input');
			}else if (trim(jQuery(this).val()) == "Email is not valid!") {
				jQuery(this).val('');
				jQuery(this).removeClass('error_form');
				jQuery(this).addClass('txt-input');
			}
	});
	
	
	
	jQuery('#fcontact-us').find('textarea').click(function(){
		if (trim(jQuery(this).val()) == "This field is required!") {
			jQuery(this).val('');
			jQuery(this).removeClass('error_textarea');
			jQuery(this).addClass('textarea');
		}
	});	
	
});
</script>
<div class="left contact-us" style="float:left">
	<h3 style="text-align:left;border:none;">Contact Info</h3>
	{article_content}
</div>   
<div class="right contact-us">
	<h3>Contact Form</h3>
	<p>All fields are required</p>
	<form id="fcontact-us" autocomplete="off" method="post" enctype="application/x-www-form-urlencoded" action="">	   
	    <p> Full Name  <br> <input type="text" id="name" name="name"></p>
	    <p> Email <br>  <input type="text" id="email" name="email" class="txt-input"><star>*</star></p>
	    <p> Hotel in Bali / Local Phone Number <br> <input type="text" id="tlp" name="tlp" class="txt-input"> </p>
	    <p style="min-height:178px;"> Comment <br> <textarea id="message" name="message" class="textarea"></textarea><star>*</star></p>
	   
	    <p style="min-height:50px;">  
	        Type this code    <br>
	           <img src="http://{site_url}/val-image.php" class="chapta">
	           <input type="text" id="verCode" name="verCode" class="txt-chapta" > <star class="after-chapta">*</star>
	    </p>
	    
	   <div id="notif"> <p><input type="button" id="btn_contactUs"  value="Send" ></p></div>
	</form>
</div>  
       
<!-- END Bcontact_us -->