<!-- BEGIN Bcontactus_block -->
<script type="text/javascript">

</script>
<style>
	.content-right{
		background: #DFDFD0;
	}
	/*
	.scrollable .overview, 
	.scrollable .viewport{
	    width: 430px !important;
	}
	.custom-scrollbar{
		height: 455px;
	}
	*/
	
	.block-mini,
	.custom-scrollbar{
		height: 463px;
	}
	.l_2{
		width: 47%;
		margin-right: 4%;
	}
	.l_m{
		width: 98%;
	}
	
	.form-content input[type="button"].reservation,
	.form-content input[type="submit"]{
	    float: right;
	    margin-right: 14px;
	    margin-top: 23px;
	}
	img.chapta{
		float: left;
	    margin-right: 10px;
	    margin-top: 10px;
	    position: relative;
	    width: 93px;
	}

	.map-link{
		display: none;	
	}
	
	/***************************min 1024px********************************/
	@media screen and (max-width: 1024px) {
		.map-iframe{
			width: 330px;
		}
		.map-link{
			display: block;	
		}
		.map-iframe{
			display: none;
		}
		.block-mini,
		.custom-scrollbar{
			height: 290px;
		}
	}
	
	/***************************min 960px********************************/
	@media screen and (max-width: 960px) {
		.custom-scrollbar,
		.block-mini{
	    	height: auto;
		}
		.content-right.r2nd{
			height: 0;
	    	padding: 0;
		}
		
		a.reservation,
		input[type=button].reservation{
			display: block;
		}
		
		.content-right.r2nd .form {
			
		    background: none repeat scroll 0 0 #DFDFD0;
		    display: none;
		    height: 100%;
		    left: 0;
		    
		    
		    width: 100%;
		    z-index: 100;
		    
		    position: absolute;
		    top: -140px;
		}
		
		
	}
	/***************************min 640px********************************/
	@media screen and (max-width: 640px) {
	
	}

</style>
<div class="content-page-mask">
<span class="loading"></span>
</div>
            	<div class="content">
                	
                    <div class="content-right">
                    	{contentright}
                    </div>
                    <div class="content-left">
                		{navigation}
                        <div class="block-mini">
                        	<div class="default-skin  custom-scrollbar" id="default-skin-demo">
                            	<h2 class="title">{title}</h2>
								{article_content}
								
								<p class="map-link"><strong>Map</strong>: <a href="https://www.google.com/maps/ms?msid=209560825301078715778.0004f178c755ebbe4ceee&msa=0&ll=-8.595109,115.163198&spn=0.0286,0.045447" target="_blank">Sukhavati Ayurvedic Retreat & Spa</a></p>
								
								<iframe class="map-iframe" style="border: medium none; border: solid 2px #BDBDAE;" width="420" height="220" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/ms?msa=0&amp;msid=209560825301078715778.0004f178c755ebbe4ceee&amp;ie=UTF8&amp;t=m&amp;ll=-8.594091,115.156975&amp;spn=0.018671,0.035963&amp;z=14&amp;output=embed"></iframe>					
								
								
                            </div>
                        </div>
                    </div>
            	</div>
<!-- END Bcontactus_block -->