<!-- BEGIN Bnewsletter_block -->
<script type="text/javascript">
$(document).ready(function(){
	$('#btn_newsletter').click(function(){			
		var n_name	= $('[name=n_name]').val();
		var n_email	= $('[name=n_email]').val();
		var n_country	= $('[name=n_country]').val();

		var verCode	= $('[name=verCode3]').val();
		
		var error = 0;
		
		if($.trim(n_name)=='' || $.trim(n_name)=='This field is required!'){
			$('#n_name').addClass('error_form');
			$('#n_name').val('This field is required!');

			error = 1;	
		}else if($.trim(n_email)=='' || $.trim(n_email)=='This field is required!'){
			$('#n_email').addClass('error_form');
			$('#n_email').val('This field is required!');

			error = 1;	
		}else if(!validateTheEmail(n_email) || $.trim(n_email)=='Email is not valid!'){
			$('#n_email').addClass('error_form');
			$('#n_email').val('Email is not valid!');
			
			error = 1;	
		}else if($.trim(n_country)=='' || $.trim(n_country)=='This field is required!'){
			$('#n_country').addClass('error_form');
			$('#n_country').val('This field is required!');
	
			error = 1;	
		}else if($.trim(verCode)=='' || $.trim(verCode)=='Required!'){
			//jQuery('#verCode').removeClass('codebox');
			jQuery('#verCode3').addClass('error_form');
			jQuery('#verCode3').val('Required!');
			
			error = 1;	
		}
		console.log(error);
		if(error==0){
			var thaUrl = '{thaUrl_cekChapta}';	
			var code = $.trim($('#fnewsletter [name=verCode3]').val());
			$('.newsletter-mask').css('display','block');
			jQuery.post(thaUrl, { 
			act  : 'checkCode',			
			code : code						
			}, function(data){
				datJSON = jQuery.parseJSON(data);
				$('.newsletter-mask').css('display','none');
				//alert (data);
				if($.trim(datJSON.status)!='match' && error==0){
					$('#verCode3').addClass('error_form');
					$('#verCode3').val('Wrong code!');				
				}else{
					$('.newsletter-mask').css('display','block');			
					var thaUrl = '{thaUrl_sendMail}';				
					$.post(thaUrl, { 
						act  	 : 'submit_newsletter',
						name 	 : n_name,
						email	 : n_email,
						country  : n_country	
					}, function(data){
						$('.newsletter-mask').css('display','none');		
						//alert(data);
						if($.trim(data)=='success'){	
							$('#n_name').val('');
							$('#n_email').val('');
							$('#n_country').val('');
							$('#btn_newsletter').css('display','none');
							
							$('#fnewsletter .notifBox').text('Sign Up Successfully');
							$('#fnewsletter .notifBox').removeClass('red');
							$('#fnewsletter .notifBox').addClass('green');
							$('#fnewsletter .notifBox').fadeIn(function(){
								setTimeout(function() {
									$('#fnewsletter .notifBox').css('display','none');
									$('#btn_newsletter').fadeIn();
								}, 5000);
							});
							
						}else{
							$('#btn_newsletter').css('display','none');
							
							$('#fnewsletter .notifBox').text('Error, please try again');
							$('#fnewsletter .notifBox').removeClass('green');
							$('#fnewsletter .notifBox').addClass('red');
							$('#fnewsletter .notifBox').fadeIn(function(){
								setTimeout(function() {
									$('#fnewsletter .notifBox').css('display','none');
									$('#btn_newsletter').fadeIn();
								}, 5000);
							});
							
						}
						
					});		
				}
			})
			
			
		}
		return false;
	});
	
	function validateTheEmail(email) {
	  var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
	  return regex.test(email);
	}
	
	$('#fnewsletter').find('input').click(function(){
		if ($.trim($(this).val()) == "This field is required!" || $.trim($(this).val()) == "Required!" || $.trim($(this).val()) == "Email is not valid!" || $.trim($(this).val()) == "Wrong code!") {
			$(this).val('');
			$(this).removeClass('error_form');
		}
	});
	
	
	
	$('#fnewsletter').find('textarea').click(function(){
		if ($.trim($(this).val()) == "This field is required!") {
			$(this).val('');
			$(this).removeClass('error_textarea');
		}
	});	

	
	
});
</script>
<style>
#fnewsletter .notifBox{
	margin: 0px;
	width: 90%;
	display: none;
}
</style>
<div class="newsletter" style="position: relative;">
<div class="newsletter-mask">
<span class="loading"></span>
</div>
	<b class="btitle">Sign Up to Our Newsletter</b>
	<br class="br"/>
    <form id="fnewsletter"  method="post" enctype="application/x-www-form-urlencoded" action="">
    	<label>Name <input type="text" name="n_name" id="n_name" value=""></label>
    	<label>Email <input type="text" name="n_email" id="n_email" value=""></label>
    	<label>Country <input type="text" name="n_country" id="n_country" value=""></label>
    	<label>
    	<span style="float: left;">
    	Retype
    	</span> 
    	<img src="http://{site_url}/val-image3.php" class="chapta"> 
		<input name="verCode3" type="text" id="verCode3"  style="width: 75px;"> 
    	</label>
    	<label>
    	<input type="submit" name="n_signup" id="btn_newsletter" value="Sign Up">
    	<p class="notifBox red">Error, please try again</p>
    	</label>
    </form>
</div>
<!-- END Bnewsletter_block -->