<!-- BEGIN Bnews_block -->
<div class="news">
	<b class="btitle">Special Offers</b>
    <ul id="list-special-offer">
    	<!-- BEGIN BList_news -->
    	<li class="{active}">
        	<a href="{url_detail}" target="_blank">
            	<img src="{thumb_pdf}" />
            </a>
        </li>
    	<!-- END BList_news -->
    </ul>
    
    <ul id="pagging-special-offer" {hidden_pagging}>
    	{list_pagging}
    	<!--<li class="visited"></li>
    	<li></li>
    	<li></li>-->
    </ul>
    
</div>
<!-- END Bnews_block -->