<!-- BEGIN mainBlock -->
<script type="text/javascript">
	jQuery(document).ready(function(){
		formButtons();
		{jsAction}
	});
</script>
<div id="contentWrapper">
	<div class="notifBlockSaved" style="display:none; margin-bottom:10px; padding:10px; background:#93FF93; font-size:13px; color:#000;">
			{notif_message}
	</div>
	<div class="notifFailedSaved" style="display:none; margin-bottom:10px; padding:10px; background:#ffd504; font-size:13px; color:#000;">
			{notif_message}
	</div>
	<div id="content-typeEdit">
        	<div class="headsUp">
			<h2>Season Edit</h2>
			<form method="post" action="" id="theEditForm"  name="theEditForm" enctype="multipart/form-data">
			<input name="season_id" id="season_id" type="hidden" value="{season_id}" />
			<div class="wrapper form bt-abu-true" style="border-bottom:solid 1px #ccc;">
				<label>Season</label>
				{season_name}
			</div>
			<script type="text/javascript">
				$(function() {
					jQuery(".input-calender").datepicker({ dateFormat : 'mm/dd/yy'});
					jQuery( "#date_start" ).datepicker( "option", "minDate", 0 );
					jQuery( "#date_finish" ).datepicker( "option", "minDate", 1 );
					
					jQuery( "#date_start" ).change(function(){
						var d1 = new Date(jQuery(this).val());
							d1.setDate(d1.getDate()+1);
						jQuery(this).parent().parent().parent().find("#date_finish" ).datepicker( "option", "minDate", d1 );
					});	
					
				});
			</script>
			<div id="choiceTemplate" class="wrapper form" >
				<input id="answercount" name="answercount" type="hidden" value="1" />
				<label>From</label>
				<input type="text" class="text required date input-calender" id="date_start" name="date_start" value="{date_start}" style="width:110px;" />
				<label style="margin-left:10px; width:30px;">To</label>
				<input type="text" class="text required date input-calender" id="date_finish" name="date_finish" value="{date_finish}" style="width:110px;" />
				<!--<label style="margin-left:10px; width:75px;">Cut of Date</label>
				<input type="text" class="text required digits" id="cut_of_date" name="cut_of_date" value="{cut_of_date}" style="width:20px;" /><span class="dba"> days before arrival</span>-->
			</div>
            <div id="choiceTemplate" class="wrapper form" >
            	<label>Minimum Stay</label>
                <input type="text" class="text" id="min_stay" name="min_stay" value="{min_stay}" style="width: 110px;" />
            </div>
			<div class="bottonContainer">
				<a href="#" class="button submit"><img src="http://{template_url}/img/button-save.png" alt="button-save" width="75" height="31"/></a>
				<a href="http://{supplier_site_url}/season/" class="button"><img src="http://{template_url}/img/button-cancel.png" alt="button-cancel" width="75" height="31"/></a>
			</div>
			<div class="clear"></div>
			</form>
		</div>
        </div>
        <!-- id="content-type" END ========================= --> 
</div>
<!-- END mainBlock -->