<!-- BEGIN B_Testimonial -->
<div class="border-testimonail"></div>
<div class="footer-testimonial">
    <div class="list-testimonial">
    	<!-- BEGIN List_Testimonial -->
        <div class="testimonial">
            <div class="left"><p>&ldquo;</p></div>
            <div class="right">
            	<div class="content-testimonial">{content}
                	<a class="read-more" href="http://localhost/sukhavati/media-hub/testimonials/">Read more</a>
                </div>
                <div><p><b>{title}</b></p></div>
            </div>
            <div class="clear"></div>
        </div>
        <!-- END List_Testimonial -->
        <div class="clear"></div>
    </div>
    <div id="testimonial-mobile">
    	 <ul id="list-testimonial-mobile">
            <!-- BEGIN List_Testimonial_Mobile -->
            <li class="testimonial-mobile {active}">	
                <div class="testimonial">
                    <div class="left"><p>&ldquo;</p></div>
                    <div class="right">
                        <div class="content-testimonial">{content}
                            <a class="read-more" href="http://localhost/sukhavati/media-hub/testimonials/">Read more</a>
                        </div>
                        <div><p><b>{title}</b></p></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </li>
            <!-- END List_Testimonial_Mobile -->
        </ul>
        
        <ul id="pagging-testimonial-mobile" {hidden_pagging}>
            <li class="visited"></li>
            <li></li>
            <li></li>
        </ul>  
    </div>
         
</div>
<!-- END B_Testimonial -->