<!-- BEGIN mainBlock -->
	<script type="text/javascript">
		//supplier		
		jQuery(document).ready(function(){
			var tmp = document.location.href;
			var url = tmp.split('#');
			if(url[1]=='history'){
				jQuery('#tab-bookHistory').click();
			}else if(url[1]=='billing'){
				jQuery('#tab-billingHistory').click();
			}else if(url[1]=='earning'){
				jQuery('#tab-earningHistory').click();
			}
			
			jQuery('.dateSearch').datepicker();
			
			jQuery('a.button.submit').click(function(){
				jQuery('[name=justSave]').click();
			});
			
			var target = jQuery('[name=realSalutation]').val();
			jQuery('[name=salutation][value='+target+']').attr('checked','checked');
			jQuery('[name=salutation]').click(function(){
				jQuery('[name=realSalutation]').val( jQuery(this).val() );
			});
			
			jQuery('.infoIcon[original-title!=]').tipsy({
				html : true,
				gravity :'west'
			});
			
			jQuery('#veryBigWhiteOverlay').prependTo('body');
			jQuery('.thePrintThisPageButton').click(function(){
				//window.print();
				var old  = jQuery('title').text(); 
				var text = jQuery(this).parent().parent().parent().parent().find('span.zero:first').html();
				
				jQuery('#theBookingIdTitle').html(text+' - Hotels Archipelago');
				jQuery('#theBookingIdTitle .bookingStatus').remove();
				jQuery('title').text( jQuery('#theBookingIdTitle').text() );
				
				jQuery(this).parent().parent().parent().parent().clone().appendTo('#veryBigWhiteOverlay .theWrapper');
				
				jQuery('#contentWrapper').slideUp();
				jQuery('#sidebar').slideUp();
				jQuery('.theCloseThisPageButton').css('display','block');
				jQuery('#veryBigWhiteOverlay').fadeIn();
				
				jQuery('#veryBigWhiteOverlay .thePrintThisPageButton').click(function(){
					window.print();
				});
				
				jQuery('.theCloseThisPageButton').click(function(){
					jQuery('#veryBigWhiteOverlay').fadeOut(300, function(){
						jQuery('.theCloseThisPageButton').css('display','none');
						jQuery('#contentWrapper').slideDown();
						jQuery('#sidebar').slideDown();
						jQuery('title').text(old);
						
						jQuery('#veryBigWhiteOverlay .theWrapper .wrapper.bordered').remove();
					});
				});
			});
			
			jQuery('a.showBillingDetails').click(function(){
				var rel = jQuery(this).attr('rel');
				var status = jQuery('#'+rel+'').css('display');
				if(status=='none'){
					jQuery('#'+rel+'').removeAttr('style');
					jQuery(this).text('hide details');
				}else{
					jQuery('#'+rel+'').css('display','none');
					jQuery(this).text('show details');
				}
			});
			jQuery('.thePayBillButton').click(function(){
				var rel = jQuery(this).attr('rel');
				jQuery('[name=values]').val(rel);
				
				jQuery('form#formDoThePayment').submit();
			});
			
			
			
			{jsAction}
			{jsAction2}
		});
	</script>
	
	<style>
		.tipsy-inner { text-align: left; border-bottom: solid 2px #fff; border-right: solid 1px #fff; }
		.showBillingDetails { font-size:11px; color:#900; font-weight:bold; }
		
		.biilAndEarning {}
			.biilAndEarning tr {}
			.biilAndEarning tr.head { text-align:center; }
			
			.biilAndEarning tr td { padding:3px 5px; border:solid 1px #ccc; }
			.biilAndEarning tr.head td { background:#EEFBFF; font-weight:bold; }
		
		.biilAndEarning .inner { font-size:11px; }
	</style>
    
    <div id="veryBigWhiteOverlay" style="background:#fff; position:absolute; width:100%; top:0; left:0; z-index:10; display:none; ">
        <div class="theWrapper" style="width:790px; margin:0 auto; font-size:12px; line-height:1em;">
            <div style="background:#0c6969; margin-bottom:15px;">
                <img style="margin: 0pt 0pt 20px 20px;" src="{http}{site_url}/templates/img/header-logo.png">
            </div>
            <h1 id="theBookingIdTitle" style="font-size:20px; letter-spacing:-1px; color:#0C6969; height:30px; padding-top:10px;"></h1>
            
            <div class="wrapper head" style="border-top:solid 1px #ccc; position:relative;">
                <span class="zero">Booking No.</span>
                <span class="one">Accommodation Name</span>
                <span class="three">Booking Date</span>
                <span class="three" style="width:150px;">Booking Period</span>
                <span class="four">Total</span>
                <span class="five narrow">&nbsp;</span>
                
                <div class="theLegend" style="font-size:9px; line-height:1em;">
                    G.T = Grand Total <br />
                    T.C = Total Commision <br />
                    T.A.C = Total After Commision
                </div>
            </div>
            
            
            
        </div>
	</div>
	
	<div id="contentWrapper">
		
		
		<div id="content-myAccount">
			<h2 style="padding:0 20px 15px; font-size:22px;">My Account</h2>
			
			<div class="notifBlockSaved" style="display:none; margin-bottom:5px; padding:10px; background:#ffd504; font-size:13px; color:#a00;">
				data successfully saved
			</div>
			<div class="notifBlockNotSaved" style="display:none; margin-bottom:5px; padding:10px; background:#ffd504; font-size:13px; color:#a00;">
				data not saved, all field must be filled
			</div>
			<div class="notifBlockPassOk" style="display:none; margin-bottom:10px; padding:10px; background:#ffd504; font-size:13px; color:#a00;">
				password changed
			</div>
			<div class="notifBlockPassNotOk" style="display:none; margin-bottom:10px; padding:10px; background:#ffd504; font-size:13px; color:#a00;">
				error on changing your password
			</div>
			
			<div class="tabContainer">
				<a class="active" id="tab-yourDetails">Your Detail</a>
				<a id="tab-bookHistory">Booking History</a>
				<a id="tab-billingHistory">Billing</a>
                <a id="tab-earningHistory">Earning</a>
                
				<div class="clear"></div>
			</div>
			
			
			
			<div class="reservationWrapper" id="cont-yourDetails">				
				<div class="wrapper" style="border:none;">
					<p><strong>Your Detail</strong></p>
					<p class="meta">(all fields are required)</p>
				</div>
				<form method="post" id="theEditForm" action="">
				<p class="form">
					<label>Salutation</label>
					<span>
						<input type="radio" class="radio" name="salutation" value="Mr."/> Mr. 
						<input type="radio" class="radio" name="salutation" value="Mrs."/> Mrs. 
						<input type="radio" class="radio" name="salutation" value="Ms."/> Ms. 
						<input type="radio" class="radio" name="salutation" value="Dr."/> Dr. 
					</span>
					<input type="hidden" name="realSalutation" value="{salutation}" />
				</p>
					
				<p class="form">
					<label>First Name</label>
					<input type="text" name="fName" value="{fName}" />
				</p>
				<p class="form">
					<label>Last Name</label>
					<input type="text" name="lName" value="{lName}" />
				</p>
				<p class="form">
					<label>Email</label>
					<input type="text" name="email" value="{email}" />
				</p>
				<p class="form">
					<label>Old Password</label>
					<input type="password" name="oldPass" value="" />
				</p>
				<p class="form">
					<label>New Password</label>
					<input type="password" name="newPass" value="" />
				</p>
				<p class="form">
					<label>Phone</label>
					<input type="text" name="phone" value="{phone}" />
				</p>
				<p class="form">
					<label>Country</label>
					<select name="country">
						<option value="">select country</option>
						{country_list}
					</select>
				</p>
				<p class="form">
					<label>State/Province</label>
					<input type="text" name="state" value="{state}" />
				</p>
				<p class="form">
					<label>City</label>
					<input type="text" name="city" value="{city}" />
				</p>			
				<p class="form">
					<label>Postal Code</label>
					<input type="text" class="postal" name="postalCode" value="{postalCode}" />
				</p>
				<input type="submit" name="justSave" value="save" style="display:none;" />
				<a href="#" id="submitReservation" class="button submit" style="float:left; margin-left:20px;" ><img src="{http}{template_url}/img/save-button.gif"/></a>
				</form>
			</div><div class="clear"></div>

			
			<div id="cont-bookHistory" style="margin-top:25px;">
				<div class="headsUp">
					<h2 style="position:relative;">
						<form action="#history" method="post">
							Search 
							<select name="sType">
								<option value="9">all</option>
                                <option value="0">Hold</option>
                                <option value="1">Booked</option>
                                <option value="2">Confirm</option>
                                <option value="3">Cancel</option>
							</select>
							&nbsp;&nbsp;
							From <input type="text" name="dateBegin" value="{inDate}" class="dateSearch" />
							to <input type="text" name="dateEnd" value="{outDate}" class="dateSearch" />
							
							<input type="submit" value="Search" name="searchNow" class="searchNowButton" />
							
                            <div class="theLegend" style="right:170px;">
								A.S = Additional Services <br />
								S.C = Surecharge <br />
								D.C = Discount
							</div>							
							<div class="theLegend">
								G.T = Grand Total <br />
								T.C = Total Commision <br />
								T.A.C = Total After Commision
							</div>
						</form>
					</h2>
					
					<div class="wrapper head">
						<span class="zero">Booking No.</span>
						<span class="one">Accommodation Name</span>
						<span class="three">Booking Date</span>
						
						<span class="three" style="width:150px;">Booking Period</span>
						
						<span class="four">Total</span>
						
						<span class="five narrow">&nbsp;</span>
					</div>
					
					{bookingHistory}
	
					<div class="clear"></div>
					<div class="bot">&nbsp;</div>
				</div>

				{thePagingLinks}

			</div>
			
            
            
            <div id="cont-billingHistory" style="margin-top:25px;">	
            	<div class="headsUp" style="border-bottom:solid 1px #ccc;">
                <h2 style="height:28px;">
                	<form action="#billing" method="post">
                    	Billing for : <select name="billPeriod">
                        	<option value="">--select month--</option>
                        	<!--
                        	<option value="11-2010">November 2010</option>
                            <option value="12-2010">December 2010</option>
                        	-->
                            {selectThePeriod}
                        </select>
                        
                        <input type="submit" value="Show" name="showBill" class="searchNowButton" style="font-size:11px; vertical-align:bottom;" />
                    </form>
                </h2>
                
                <table width="100%" class="biilAndEarning" style="overflow:hidden;">
                	<tr class="head">
                    	<td>Month</td>
                        <td>Description</td>
                        <td width="130">Debits / Bills</td>
                        <td width="130">Credit / Payments</td>
                        <td>Balance</td>
                    </tr>
                    {thePaymentHistory}
                </table>
                <form action="#billing" method="post" id="formDoThePayment" style="display:none;">
                    <input type="hidden" value ="" name="values"/>
                    <input type="hidden" value="doThePayment" name="theFormAction" />
                </form>
                
                </div>
            </div>
            
            <div id="cont-earningHistory" style="margin-top:25px;">	
            	<div class="headsUp">
                <h2 style="height:28px;">
                	<form action="#earning" method="post">
                    	Earning for : <select name="earnPeriod">
                        	<option value="">--select month--</option>
                        	<!--
                            <option value="11-2010">November 2010</option>
                            <option value="12-2010">December 2010</option>
                            -->
                            {selectTheEarnPeriod}
                        </select>
                        
                        <input type="submit" value="Show" name="showEarning" class="searchNowButton" style="font-size:11px; vertical-align:bottom;" />
                    </form>
                </h2>
                
                <table width="100%" class="biilAndEarning">
                	<tr class="head">
                    	<td width="150">Month</td>
                        <td>Description</td>
                        <td width="150">Earnings</td>
                    </tr>
                    {theEarningHistory}
            	</table>
                </div>
            </div>
            
		</div>
		<!-- id="content-myAccount" END ========================= -->
		
		
		
	</div>
<!-- END mainBlock -->