@CHARSET "utf-8";
.f-search-availability{
	display:inline-block;margin:40px;padding:10px;border:1px solid #ccc;
}
.f-search-availability td{
	padding:4px;
}
.f-search-availability input{
	padding: 2px 5px;
}

/*f-result-availability*/
.f-result-availability{
	margin:20px auto;
	max-width: 960px;
	font-size: 12px;
    font-weight: 400;
}
.heading-step {
	margin:10px 0;
	padding:4px;
	border:1px solid #ccc;
	background-color: #4B699F;
	font-weight: bold;
	color:#fff;
}
.sch_desc{
	overflow: hidden;
}
.skip{
	display: inline-block;
	float:right;
}
.tb-result{
	background: #B0B0B0;
	margin-bottom:20px;
}
.tb-result td,
.tb-result th{
	padding: 4px 2px;
	text-align: center;
}
.tb-result .head{
	background: #FC5B27 !important;
	text-align: center;
	color:#fff;
}
.tb-result tr:nth-child(odd){
	background: #ddd;
}
.tb-result tr:nth-child(even){
	background: #eee;
}
.tb-result tr td:first-child{
	text-align: center;
}
.tb-result tr:hover{
	background: #FC6;
}
.tb-result th {
    border-bottom: 1px dashed #CCCCCC;
    border-right: 1px dashed #CCCCCC;
}
.tb-result tr:first-child th:last-child {
    border-right: none;
	}
.pemesan{
	margin-bottom:20px;overflow: hidden;	
}
.pemesan td{
	padding:5px;
}
.pemesan input[type=text]{
	min-width: 220px;
	padding: 2px 3px;
}

.f-reviews-booking{
	max-width:960px;
	margin:0 auto;
	font-size: 15px;
}
.f-reviews-booking h1{
	color:#bbb;
	}
.f-reviews-booking .tb-review td{
	padding-right: 10px;
	}
.btn-paypal{
	cursor:pointer;	
	width:100px;
	height: 35px;
	border:none;
	font-size:0;
	background: url("../images/paypal.gif");
	background-size:100px 35px;
}

/*media queries*/
@media screen and (min-width: 0px) {
	.f-result-availability{
		margin:20px 10px;
		}
	.tb-summary td:first-child{
		min-width: 92px;
		}
	.tb-pemesan td:first-child{
		min-width: 64px;
		}
	.desc-num,.col-price,.col-sname{
		display: none;
		}
	.tb-pemesan{
		float:none !important;
		}
	.pemesan input[type="text"],
	.pemesan input[type="email"] {
		min-width: 188px;
		width: auto !important;
		padding: 3px;
		}
	.pemesan select{
		min-width:80px;
		max-width: 196px;
		padding:3px;
		}
	.passengers {}
	.passengers table{
		max-width: 100%;
		width: 100%;
		}
	.passengers tr{
		display:block;
		border-bottom:1px dashed #eee;
		margin-bottom:5px;
		}
	.passengers tr:nth-child(odd){
		background: #ccc;
		}
	.passengers tr:nth-child(even){
		background: #eee;
		}
	.passengers td{
		display: block;
		}
	.pemesan.passengers td *,
	.pemesan.passengers td input[type="text"] {
	    max-width: 100% !important;
	    width: 100% !important;
	    box-sizing:border-box;
	    -moz-box-sizing:border-box;
	    -webkit-box-sizing:border-box;
		}
	.pemesan.pickup-transfer table{
		float:none !important;
		width: 100% !important;
		}
	.pemesan.pickup-transfer table td:nth-child(2){
		display: none;
		}
	.pemesan.pickup-transfer td{
		display: block;
		}
	.pemesan.pickup-transfer textarea{
		max-width:100%;
		width: 100%;
		height: 40px;
		}
	.f-result-availability input[type="submit"]{
		background-color: #FC5B27;
		padding: 5px 10px;
		border:none;
		font-size: 16px;
		color:#fff;
		font-weight: bold;
		}
		
	.f-reviews-booking{
		margin:0 10px;
		}
}

@media screen and (min-width: 480px) {
	.desc-num,.col-sname{
		display: none;
		}
	.col-price{
		display:  table-cell;
		}
}
@media screen and (min-width: 640px) {
	.col-sname{
		display:  table-cell;
		text-align: left;
		}
	
	.tb-pemesan{
		float:inherit !important;
		display: inline;
		}
	.pemesan input[type="text"],
	.pemesan input[type="email"] {
		
		}
	.pemesan select{
		min-width:80px;
		max-width: 196px;
		padding:3px;
		}
	.passengers {}
	.passengers table{
		max-width: auto
		width: auto;
		}
	.passengers tr{
		display:table-row;
		border-bottom:none;
		margin-bottom:0;
		}
	.passengers tr:nth-child(odd){
		background: none;
		}
	.passengers tr:nth-child(even){
		background: none;
		}
	.passengers td{
		display: table-cell;
		}
	.pemesan.passengers td *,
	.pemesan.passengers td input[type="text"] {	   
	    width: inherit !important;	   
		}
	.pemesan.pickup-transfer table{
		float:inherit !important;
		width: inherit !important;
		display: inline-table;
		}
	.pemesan.pickup-transfer table td:nth-child(2){
		display: table-cell;
		}
	.pemesan.pickup-transfer td{
		display: table-cell;
		}
	.pemesan.pickup-transfer textarea{		
		width: inherit;
		
		}
	.f-reviews-booking{		
		margin:0 auto;
		}
}
@media screen and (min-width: 800px) {
	.desc-num{
		display: inline;
		}
}
@media screen and (min-width: 960px) {
	.f-result-availability{
		margin:20px auto;
		}
}