<!-- BEGIN mainBlock -->
	<div id="contentWrapper">
		
         
        
        <div id="content-rate">
        	<div class="headsUp">
        		<h2>Rate</h2>
        		
        		<div class="bottonContainer">
        			<a href="#" class="button"><img src="{http}{template_url}/img/button-new.png" alt="button-save" width="75" height="31"/></a>
					<a href="#" class="button"><img src="{http}{template_url}/img/button-edit.png" alt="button-cancel" width="75" height="31"/></a>
					<a href="#" class="button"><img src="{http}{template_url}/img/button-delete.png" alt="button-cancel" width="75" height="31"/></a>
        		</div>
        		<div class="wrapper form table" style="margin-top:-1px; border-bottom:solid 1px #ccc; border-top:solid 1px #ccc; background:#f5f5f5;">
        			<input type="checkbox" class="checkbox" value="" />
				<label><strong>Room Type</strong></label>
        			
        			<div class="value">
        				<label><strong>Low Season</strong></label>
        				<label><strong>High Season</strong></label>
        			</div>
        		</div>
        		
        		
        		<div class="wrapper form table" style=" border-bottom:solid 1px #ccc;">
        			<input type="checkbox" class="checkbox" value="" /> <label>Single Standard</label> <a href="#" class="button">edit</a> <a href="#" class="button">delete</a>
        			
        			<div class="value">
        				<label>350</label>
        				<label>375</label>
        			</div>
        		</div>
        		<div class="wrapper form table" style=" border-bottom:solid 1px #ccc;">
        			<input type="checkbox" class="checkbox" value="" /> <label>Single Deluxe</label> <a href="#" class="button">edit</a> <a href="#" class="button">delete</a>
        			
        			<div class="value">
        				<label>350</label>
        				<label>375</label>
        			</div>
        		</div>
        		<div class="wrapper form table" style=" border-bottom:solid 1px #ccc;">
        			<input type="checkbox" class="checkbox" value="" /> <label>Double Standard</label> <a href="#" class="button">edit</a> <a href="#" class="button">delete</a>
        			
        			<div class="value">
        				<label>350</label>
        				<label>375</label>
        			</div>
        		</div>
        		<div class="wrapper form table" style=" border-bottom:solid 1px #ccc;">
        			<input type="checkbox" class="checkbox" value="" /> <label>Double Deluxe</label> <a href="#" class="button">edit</a> <a href="#" class="button">delete</a>
        			
        			<div class="value">
        				<label>350</label>
        				<label>375</label>
        			</div>
        		</div>
        		<div class="wrapper form table" style=" border-bottom:solid 1px #ccc;">
        			<input type="checkbox" class="checkbox" value="" /> <label>Suite</label> <a href="#" class="button">edit</a> <a href="#" class="button">delete</a>
        			
        			<div class="value">
        				<label>350</label>
        				<label>375</label>
        			</div>
        		</div>
        		
        		
        		<div class="bottonContainer">
        			<a href="#" class="button"><img src="{http}{template_url}/img/button-new.png" alt="button-save" width="75" height="31"/></a>
					<a href="#" class="button"><img src="{http}{template_url}/img/button-edit.png" alt="button-cancel" width="75" height="31"/></a>
					<a href="#" class="button"><img src="{http}{template_url}/img/button-delete.png" alt="button-cancel" width="75" height="31"/></a>
        		</div>
        		<div class="clear"></div>
        	</div>
        </div>
        <!-- id="content-rate" END ========================= --> 
        

	        
	</div>
<!-- END mainBlock -->