<!-- BEGIN mainBlock -->
<script type="text/javascript">
	jQuery(document).ready(function(){
		formButtons();
		{jsAction}
	});
</script>
<div id="contentWrapper">
	<div class="notifBlockSaved" style="display:none; margin-bottom:10px; padding:10px; background:#93FF93; font-size:13px; color:#000;">
			Data Saved
	</div>
	<div class="notifFailedSaved" style="display:none; margin-bottom:10px; padding:10px; background:#ffd504; font-size:13px; color:#000;">
			Data failed to saved
	</div>
	<div id="content-typeEdit">
        	<div class="headsUp">
			<h2>Gallery Edit</h2>
			<form method="post" action="" id="theEditForm"  name="theEditForm" enctype="multipart/form-data">
			<input name="image_id" id="image_id" type="hidden" value="{image_id}" />
			<div class="wrapper form" style="border-bottom:solid 1px #ccc;">
				<label>Image Title</label>
				<input type="text" class="text required" id="title" name="title" value="{title}" style="width:300px;" />
			</div>
			{existingImage}
			<div class="wrapper form" style="border-bottom:solid 1px #ccc;">
				<label>New Image</label>
				<input type="file" id="image" name="image" style="color: #444; float: left; background: #fff; border: #ccc solid 1px; font-size: 13px; " />
				&nbsp;&nbsp;Maximum File Size 2 MB
			</div>
			<div class="bottonContainer">
				<a href="#" class="button submit"><img src="{http}{template_url}/img/button-save.png" alt="button-save" width="75" height="31"/></a>
				<a href="{http}{supplier_site_url}/gallery/" class="button"><img src="{http}{template_url}/img/button-cancel.png" alt="button-cancel" width="75" height="31"/></a>
			</div>
			<div class="clear"></div>
			</form>
		</div>
        </div>
        <!-- id="content-type" END ========================= --> 
</div>
<!-- END mainBlock -->