<!-- BEGIN calendarView -->
<style type="text/css">
.tb-calendar{		
	margin-bottom:20px;
}
.tb-calendar,
.tb-calendar-data{
	background: #333;
	text-align: center;
}
.tb-calendar td{
	padding: 4px;
	background: #fff;
	height: 26px;	
}
.tb-calendar .head,
.tb-calendar-data .head{
	background: #ccc;
	height: 40px;
}
.tb-calendar-data{
	position:relative;
	left:0;
}
.tb-calendar-data td{
	border-bottom:1px solid #000;
	border-right:1px solid #000;	
	background: green;
	min-width: 80px;
}
.tb-calendar-data td:last-child{	
	border-right:none;
}
.tb-calendar-data tr:last-child td{	
	border-bottom:none;
}
.wrap-container-data{
	width:622px;
	overflow: hidden;
	position: relative;	
}
.container-data{		
	position: relative;	
}
.trigger-prev,.trigger-next{
	cursor: pointer;
	background-position: center;
}
.trigger-prev{
	background: url("http://{site_url}/lumonata-plugins/ticket/images/nav-prev.png") no-repeat center center;
}
.trigger-next{
	background: url("http://{site_url}/lumonata-plugins/ticket/images/nav-next.png") no-repeat center center;
}

</style>
<h1>{web_name} -  Calendar</h1>
<div class="filter-calendar">
	<select name="filter_route">
		<option value="">All route</option>
		{filter_option_route}
	</select>
	<select name="filter_year">
		<option value="2013">2013</option>
		{filter_option_year}
	</select>
	<select name="filter_month">
		<option value="01">January</option>
		{filter_option_year}
	</select>
	<input type="submit" name="filter_submit" value="Go">
</div>
<div class="wrap-calendar" style="min-height: 610px;">
	<!--bCalendar -->
	<div class="calendar">	
		<table class="tb-calendar" cellpadding="0" cellspacing="1" border="0">
			<tr style="background: #ccc;font-weight:bold;">	
		    <td class="head" style="min-width:200px;">Route Name</td>
		    <td class="head"><a class="trigger-prev" rel="tb-calendar-data-1">&nbsp;&nbsp;</a></td>
		    <td rowspan="4" style="padding:0;">
		    	<div class="wrap-container-data">
			    	<div class="container-data">
					    <table class="tb-calendar-data" cellpadding="0" cellspacing="0" border="0" id="tb-calendar-data-1">
					      <tr>
					        <td class="head">1<br>September</td>
					        <td class="head">2<br>September</td>
					        <td class="head">3<br>September</td>
					        <td class="head">4<br>September</td>
					        <td class="head">5<br>September</td>
					        <td class="head">6<br>September</td>
					        <td class="head">7<br>September</td>
					        <td class="head">8<br>September</td>
					        <td class="head">9<br>September</td>
					        <td class="head">10<br>September</td>
					        <td class="head">11<br>September</td>
					        <td class="head">12<br>September</td>
					        <td class="head">13<br>September</td>
					        <td class="head">14<br>September</td>
					         <td class="head">15</td>
					        <td class="head">16</td>
					        <td class="head">17</td>
					        <td class="head">18</td>
					        <td class="head">19</td>
					        <td class="head">20</td>
					        <td class="head">21</td>
					        <td class="head">22</td>
					        <td class="head">23</td>
					        <td class="head">24</td>
					        <td class="head">25</td>
					        <td class="head">26</td>
					        <td class="head">27</td>
					        <td class="head">28</td>
					        <td class="head">29</td>
					        <td class="head">30</td>
					      </tr>
					      <tr>
					        <td>10/50</td>
					        <td>20/50</td>
					        <td>45/50</td>
					        <td>30/50</td>
					        <td>46/50</td>
					        <td>30/50</td>
					        <td>46/50</td>
					         <td>10/50</td>
					        <td>20/50</td>
					        <td>45/50</td>
					        <td>30/50</td>
					        <td>46/50</td>
					        <td>30/50</td>
					        <td>46/50</td>
					         <td>10/50</td>
					        <td>20/50</td>
					        <td>45/50</td>
					        <td>30/50</td>
					        <td>46/50</td>
					        <td>30/50</td>
					        <td>46/50</td>
					         <td>10/50</td>
					        <td>20/50</td>
					        <td>45/50</td>
					        <td>30/50</td>
					        <td>46/50</td>
					        <td>30/50</td>
					        <td>46/50</td>
					        <td>30/50</td>
					        <td>46/50</td>
					      </tr>
					      <tr>
					        <td>10/50</td>
					        <td>20/50</td>
					        <td>45/50</td>
					        <td>30/50</td>
					        <td>46/50</td>
					        <td>30/50</td>
					        <td>46/50</td>
					         <td>10/50</td>
					        <td>20/50</td>
					        <td>45/50</td>
					        <td>30/50</td>
					        <td>46/50</td>
					        <td>30/50</td>
					        <td>46/50</td>
					          <td>10/50</td>
					        <td>20/50</td>
					        <td>45/50</td>
					        <td>30/50</td>
					        <td>46/50</td>
					        <td>30/50</td>
					        <td>46/50</td>
					         <td>10/50</td>
					        <td>20/50</td>
					        <td>45/50</td>
					        <td>30/50</td>
					        <td>46/50</td>
					        <td>30/50</td>
					        <td>46/50</td>
					        <td>30/50</td>
					        <td>46/50</td>
					      </tr>
					      <tr>
					        <td>10/50</td>
					        <td>20/50</td>
					        <td>45/50</td>
					        <td>30/50</td>
					        <td>46/50</td>
					        <td>30/50</td>
					        <td>46/50</td>
					        <td>10/50</td>
					        <td>20/50</td>
					        <td>45/50</td>
					        <td>30/50</td>
					        <td>46/50</td>
					        <td>30/50</td>
					        <td>46/50</td>
					        <td>10/50</td>
					        <td>20/50</td>
					        <td>45/50</td>
					        <td>30/50</td>
					        <td>46/50</td>
					        <td>30/50</td>
					        <td>46/50</td>
					        <td>10/50</td>
					        <td>20/50</td>
					        <td>45/50</td>
					        <td>30/50</td>
					        <td>46/50</td>
					        <td>30/50</td>
					        <td>46/50</td>
					        <td>30/50</td>
					        <td>46/50</td>
					      </tr>
					    </table>
				    </div>
				 </div>
		    </td>
		    <td width="2" class="head"><a class="trigger-next" rel="tb-calendar-data-1">&nbsp;&nbsp;</a></td>
		  </tr>
		  <tr>
		    <td>Schedule 1</td>
		    <td width="2"><a class="trigger-prev" rel="tb-calendar-data-1">&nbsp;&nbsp;</a></td>
		    <td width="2"><a class="trigger-next" rel="tb-calendar-data-1">&nbsp;&nbsp;</a></td>
		  </tr>
		  <tr>
		    <td>Schedule 2</td>
		    <td width="2"><a class="trigger-prev" rel="tb-calendar-data-1">&nbsp;&nbsp;</a></td>
		    <td width="2"><a class="trigger-next" rel="tb-calendar-data-1">&nbsp;&nbsp;</a></td>
		  </tr>
		  <tr>
		    <td height="21">Schedule 3</td>
		    <td width="2"><a class="trigger-prev" rel="tb-calendar-data-1">&nbsp;&nbsp;</a></td>
		    <td width="2"><a class="trigger-next" rel="tb-calendar-data-1">&nbsp;&nbsp;</a></td>
		  </tr>
		</table>	
	</div>	
	<!--eCalendar -->	
</div>
<script type="text/javascript">
jQuery(document).ready(function(){
	//begin next
	jQuery(".trigger-next").click(function(){
		var id			= jQuery(this).attr("rel");
		var totalImages 	= jQuery("#"+id+" tr td").length, 
			_imageWidth 	= jQuery("#gallery > li:first").outerWidth(true),
			imageWidth  	=jQuery("#"+id+" tr td:first")[0].getBoundingClientRect().width,					
			_totalWidth 	= imageWidth * totalImages,
			totalWidth 		= jQuery('#'+id).width(),
			visibleImages 	= Math.round(jQuery(".container-data").width() / imageWidth),
			visibleWidth 	= visibleImages * imageWidth,
			stopPosition 	= (visibleWidth - totalWidth);

		
		var nummove = imageWidth*7,
			posLeft = jQuery("#"+id).parent().position().left,
			sisa	= (totalWidth - nummove) + posLeft,
			lengthMove = 0;	
		
		if (sisa>nummove){
			lengthMove = nummove;
		}else{
			lengthMove = sisa;
		}
		lengthMove = lengthMove;
		
		if(jQuery("#"+id).parent().position().left > stopPosition && !jQuery("#"+id).parent().is(":animated")){						
			jQuery("#"+id).parent().animate({left : "-=" + lengthMove + "px"});
		}else{
			jQuery("#"+id).parent().animate({left : "0px"});
		}	
	});
	//end next

	//begin prev
	jQuery(".trigger-prev").click(function(){	
		var id				= jQuery(this).attr("rel");	
		var totalImages 	= jQuery("#"+id+" tr td").length, 
			_imageWidth 	= jQuery("#gallery > li:first").outerWidth(true),
			imageWidth  	=jQuery("#"+id+" tr td:first")[0].getBoundingClientRect().width,					
			_totalWidth 	= imageWidth * totalImages,
			totalWidth 		= jQuery('#'+id).width(),
			visibleImages 	= Math.round(jQuery(".container-data").width() / imageWidth),
			visibleWidth 	= visibleImages * imageWidth,
			stopPosition 	= (visibleWidth - totalWidth);

		var nummove 	= imageWidth*7,
			posLeft = jQuery("#"+id).parent().position().left,
			lengthLeft 	= Math.abs(posLeft),
			sisa		= lengthLeft%nummove,
			lengthMove 	= 0;				
	
		if (lengthLeft==sisa){
			lengthMove = sisa;
		}else{						
			lengthMove = nummove;
		}			
		
		lengthMove = lengthMove;
		
		if(jQuery("#"+id).parent().position().left < 0 && !jQuery("#"+id).parent().is(":animated")){						
			jQuery("#"+id).parent().animate({left : "+=" + lengthMove + "px"});						
		}else{
			jQuery("#"+id).parent().animate({left : "-"+(totalWidth-nummove)+"px"});
		}	
		return false;
	});
	//end prev
	

});
</script>
<!-- END calendarView -->