<!-- BEGIN resultSearch -->
<link rel="stylesheet" type="text/css" media="screen" href="http://{plugin_url}/css/front.css" /> 
<div class="f-result-availability">
	<form name="search_result" method="post" action="http://{site_url}/check-ticket/">
		<div style="display:;">
			<input type="text" name="ticket_type" value="{ticket_type}">
		</div>
		<table width="400" cellpadding="1" cellspacing="1">
			<tr>
				<td>Route</td>
				<td>:</td>
				<td>{route_name}Sanur - Lombok</td>
			</tr>
			<tr>
				<td>Departure date</td>
				<td>:</td>
				<td>{departure_date} October 25th 2013</td>
			</tr>	
			<tr>
				<td>Return date</td>
				<td>:</td>
				<td>{return_date} October 30th 2013</td>
			</tr>			
		</table>
		
		<div class="heading-step">Step 1 : Choose Schedule</div>
		<div class="sch_desc">#Departure Schedule : October 25th 2013</div>
		<table class="tb-result" width="100%" border="0" cellpadding="1" cellspacing="1">
		  <tr class="head">
		    <th rowspan="2">#</th>
		    <th rowspan="2">Schedule</th>
		    <th rowspan="2">Time</th>
		    <th colspan="3">Price</th>
	<!--    <th colspan="3">No. Of Passengers</th>
		    <th colspan="3">Sub Total</th> --> 
		    <th rowspan="2">Total<br>(2 adults, 2 childs, 0 infant)</th>
		  </tr>
		  <tr class="head">
		    <th>Adut</td>
		    <th>Child</td>
		    <th>Infant</td>
		   <!-- 
		    <th>Adult</td>
		    <th>Child</td>
		    <th>Infant</td>
		    <th>Adult</th>
		    <th>Child</th>
		    <th>Infant</th>
		    -->
		  </tr>
		  <tr>
		    <td><input name="schedule_id_departure" type="radio"></td>
		    <td>{sname}Sunrise 05:30</td>
		    <td>{stime}05:30</td>		   
		    <td>{rate_adult}100000</td>
		    <td>{rate_child}50000</td>
		    <td>{rate_infant}free</td>
		   <!-- 
		    <td>{num_adult}2</td>
		    <td>{num_child}2</td>
		    <td>{num_infant}0</td>
		    <td>{sub_total_adult}200000</td>
		    <td>{sub_total_child}100000</td>
		    <td>{sub_total_child}0</td>
		     -->
		    <td>300000</td>		    
		  </tr>
		   <tr>
		    <td><input name="schedule_id_departure" type="radio"></td>
		    <td>{sname}Sunrise 05:30</td>
		    <td>{stime}05:30</td>		   
		    <td>{rate_adult}100000</td>
		    <td>{rate_child}50000</td>
		    <td>{rate_infant}free</td>
		   <!-- 
		    <td>{num_adult}2</td>
		    <td>{num_child}2</td>
		    <td>{num_infant}0</td>
		    <td>{sub_total_adult}200000</td>
		    <td>{sub_total_child}100000</td>
		    <td>{sub_total_child}0</td>
		     -->
		    <td>300000</td>		    
		  </tr>
		   <tr>
		    <td><input name="schedule_id_departure" type="radio"></td>
		    <td>{sname}Sunrise 05:30</td>
		    <td>{stime}05:30</td>		   
		    <td>{rate_adult}100000</td>
		    <td>{rate_child}50000</td>
		    <td>{rate_infant}free</td>
		   <!-- 
		    <td>{num_adult}2</td>
		    <td>{num_child}2</td>
		    <td>{num_infant}0</td>
		    <td>{sub_total_adult}200000</td>
		    <td>{sub_total_child}100000</td>
		    <td>{sub_total_child}0</td>
		     -->
		    <td>300000</td>		    
		  </tr>
		</table>
		
		<div class="sch_desc">#Return Schedule : October 30th 2013 <span class="skip"><input type="Checkbox" name="skip_return" value="1" id="skip_return"> Skip return trip &raquo; (?)</span></div>
		<table class="tb-result" id="tb_return" width="100%" border="0" cellpadding="1" cellspacing="1">
		  <tr class="head">
		    <th rowspan="2">#</th>
		    <th rowspan="2">Schedule</th>
		    <th rowspan="2">Time</th>
		    <th colspan="3">Price</th>
	<!--    <th colspan="3">No. Of Passengers</th>
		    <th colspan="3">Sub Total</th> --> 
		    <th rowspan="2">Total<br>(2 adults, 2 childs, 0 infant)</th>
		  </tr>
		  <tr class="head">
		    <th>Adut</td>
		    <th>Child</td>
		    <th>Infant</td>
		   <!-- 
		    <th>Adult</td>
		    <th>Child</td>
		    <th>Infant</td>
		    <th>Adult</th>
		    <th>Child</th>
		    <th>Infant</th>
		    -->
		  </tr>
		  <tr>
		    <td><input name="schedule_id_return" type="radio"></td>
		    <td>{sname}Sunrise 05:30</td>
		    <td>{stime}05:30</td>		   
		    <td>{rate_adult}100000</td>
		    <td>{rate_child}50000</td>
		    <td>{rate_infant}free</td>
		   <!-- 
		    <td>{num_adult}2</td>
		    <td>{num_child}2</td>
		    <td>{num_infant}0</td>
		    <td>{sub_total_adult}200000</td>
		    <td>{sub_total_child}100000</td>
		    <td>{sub_total_child}0</td>
		     -->
		    <td>300000</td>		    
		  </tr>
		   <tr>
		    <td><input name="schedule_id_return" type="radio"></td>
		    <td>{sname}Sunrise 05:30</td>
		    <td>{stime}05:30</td>		   
		    <td>{rate_adult}100000</td>
		    <td>{rate_child}50000</td>
		    <td>{rate_infant}free</td>
		   <!-- 
		    <td>{num_adult}2</td>
		    <td>{num_child}2</td>
		    <td>{num_infant}0</td>
		    <td>{sub_total_adult}200000</td>
		    <td>{sub_total_child}100000</td>
		    <td>{sub_total_child}0</td>
		     -->
		    <td>300000</td>		    
		  </tr>
		   <tr>
		    <td><input name="schedule_id_return" type="radio"></td>
		    <td>{sname}Sunrise 05:30</td>
		    <td>{stime}05:30</td>		   
		    <td>{rate_adult}100000</td>
		    <td>{rate_child}50000</td>
		    <td>{rate_infant}free</td>
		   <!-- 
		    <td>{num_adult}2</td>
		    <td>{num_child}2</td>
		    <td>{num_infant}0</td>
		    <td>{sub_total_adult}200000</td>
		    <td>{sub_total_child}100000</td>
		    <td>{sub_total_child}0</td>
		     -->
		    <td>300000</td>		    
		  </tr>
		</table>
		<!--bStep2-->
		<div class="heading-step">Step 2 : Input Applicant Information</div>
		<div class="pemesan">
			<table width="49%" style="float:left;">
				<tr>
					<td>Title</td>
					<td>:</td>
					<td>
						<select name="app_title">
						{option_title}
						</Select>
					</td>
				</tr>
				<tr>
					<td>Full Name</td>
					<td>:</td>
					<td><input type="text" name="app_fname" value="{app_fname}" required></td>
				</tr>
				<tr>
					<td>Address</td>
					<td>:</td>
					<td><input type="text" name="app_address" value="{app_address}" style="width:360px;" required></td>
				</tr>
			</table>
			<table width="49%" style="float:right;">
				<tr>
					<td>Country</td>
					<td>:</td>
					<td>
						<select name="app_country">
						<option value="">Select country</option>		
						{option_country}				
						</Select>
					</td>
				</tr>
				<tr>
					<td>Phone</td>
					<td>:</td>
					<td><input type="text" name="app_phone" value="{app_phone}"></td>
				</tr>
				<tr>
					<td>Email</td>
					<td>:</td>
					<td><input type="text" name="app_email" value="{app_email}" required></td>
				</tr>
			</table>
		</div>
		<!--eStep2-->
		
		<!--bStep3-->
		<div class="heading-step" style="clear:both;">Step 3 : Input Detail Passengers</div>
		<div class="pemesan passengers">
			<table>
				<tr>
					<td>
						<select name="pass_type[]">
							<option value="adult">Adult</option>
							<option value="child">Child</option>
							<option value="infant">Infant</option>
						</select>
					</td>
					<td><input type="text" name="pass_fname" placeholder="Full Name"></td>
					<td>
						<select name="pass_country[]">
							<option value="adult">Select country</option>							
						</select>
					</td>
				</tr>
				<tr>
					<td>
						<select name="pass_type[]">
							<option value="adult">Adult</option>
							<option value="child">Child</option>
							<option value="infant">Infant</option>
						</select>
					</td>
					<td><input type="text" name="pass_fname" placeholder="Full Name"></td>
					<td>
						<select name="pass_country[]">
							<option value="adult">Select country</option>							
						</select>
					</td>
				</tr>				
				
				<tr>
					<td>
						<select name="pass_type[]">
							<option value="adult">Adult</option>
							<option value="child" selected>Child</option>
							<option value="infant">Infant</option>
						</select>
					</td>
					<td><input type="text" name="pass_fname" placeholder="Full Name"></td>
					<td>
						<select name="pass_country[]">
							<option value="adult">Select country</option>							
						</select>
					</td>
				</tr>
				
				<tr>
					<td>
						<select name="pass_type[]">
							<option value="adult">Adult</option>
							<option value="child" selected>Child</option>
							<option value="infant">Infant</option>
						</select>
					</td>
					<td><input type="text" name="pass_fname" placeholder="Full Name"></td>
					<td>
						<select name="pass_country[]">
							<option value="">Select country</option>							
						</select>
					</td>
				</tr>
				
			</table>
		</div>
		<!--eStep3-->
		
		<!--bStep4-->
		<div class="heading-step" style="clear:both;">Step 4 : Input Pickup & Transfer Address</div>
		<div class="pemesan pickup-transfer">
			<table width="49%" style="float:left;vertical-align: top;">
				<tr>
					<td valign="top" width="100">Pickup Address</td>
					<td valign="top">:</td>
					<td valign="top">
						<textarea name="add_pickup" style="vertical-align: top;"></textarea>
					</td>
				</tr>
			</table>
			<table width="49%" style="float:right;">
				<tr>
					<td valign="top"  width="100">Transfer Address</td>
					<td valign="top">:</td>
					<td valign="top">
						<textarea name="add_transfer"></textarea>
					</td>
				</tr>
			</table>
		</div>
		<!--eStep4-->
		<div style="height:0;border-bottom:1px dashed #ccc;margin-bottom:10px;"></div>
		
		<input type="submit" name="submit_booking" class="btn-paypal">
		
	</form>
</div>
<script type="text/javascript">
	jQuery(document).ready(function(){
		jQuery("#skip_return").click(function() {
		    var ele = $(this);
		    if(ele.is(':checked')){
		       $("#tb_return").slideUp();
		    }else{
		    	$("#tb_return").slideDown();
		    }
		});
	});
</script>
<!-- END resultSearch -->
