<!-- BEGIN bookingDetail -->
<style type="text/css">
.unconfirmed-notice, .answers-notice, .warn-notice, .info-notice, .confirmed-notice, #failure {
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 2px 2px #2B2B2B;
    font-size: 12px;
    font-weight: bold;
    min-height: 27px;
    padding: 5px 10px 5px 5px;
}
.confirmed-notice {
    background: linear-gradient(to bottom, #6CBD58 0px, #5FA74E 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #FFFFFF;
}
.unconfirmed-notice, #failure {
    background: linear-gradient(to bottom, #DD5952 0px, #BC3E33 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #FFFFFF;
}
#booking-status .booking-status-icon {
    display: block;
    height: 27px;
    position: absolute;
    width: 27px;
}
#booking-status.confirmed-notice .booking-status-icon {
    background-image: url("http://{site_url}/lumonata-plugins/ticket/images/notice-success.png");
}
#booking-status.unconfirmed-notice .booking-status-icon {
    background-image: url("http://{site_url}/lumonata-plugins/ticket/images/notice-error.png");
}

#booking-status-message {
    padding-bottom: 5px;
    padding-left: 36px;
    padding-top: 5px;
}
.tb-detail{
	background: #bbb;
}
.tb-detail td{
	background: #fff;
}
.tb-detail .head td{
	background: #ccc;
	text-align: center;	
}
.no-ticket{
	background: none repeat scroll 0 0 #aaa;
    color: #EF451E;
    margin: 0;
    padding: 8px;   
}
</style>
<h1 class="no-ticket">Ticket No. : {no_ticket}</h1>
<div class="booking-status" style="float:right;margin-bottom:20px;margin-top:-40px;">		
		<div class="{class_booking_status}-notice" id="booking-status">
            <span class="booking-status-icon"></span>
            <div id="booking-status-message">{booking_status_message}</div>
        </div>
</div>

<h2>Booked By</h2>
<div class="booked-by" style="clear:both;margin-bottom:20px;">
	<table class="tb-detail" cellspacing="1" cellpadding="5" style="min-width: 800px;">
		<tr class="head">
			<td>Name</td>
			<td>Address</td>
			<td>Phone</td>
			<td>Email</td>		
		</tr>
		<tr>
			<td>{app_name}</td>
			<td>{app_address}</td>
			<td align="center">{app_phone}</td>
			<td align="center">{app_email}</td>
		</tr>
	</table>
</div>

<h2>Trip Detail</h2>
<div class="booking-detail" style="margin-bottom:20px;">
	<table class="tb-detail" cellspacing="1" cellpadding="5" style="min-width: 800px;">
		 <tr class="head">
		    <td rowspan="2">Depart From</td>
		    <td rowspan="2">Destination</td>
		    <td rowspan="2">Date</td>
		    <td rowspan="2">Time</td>
		    <td colspan="3">Price</td>	
		    <td rowspan="2">Total<br>({num_adult} adults, {num_child} childs, {num_infant} infant)</td>
		  </tr> 
		  <tr class="head">	   
		    <td>Adult</td>
		    <td>Child</td>
		    <td>Infant</td>
		  </tr>
		  <!-- BEGIN loopBookingDetail -->
		  <tr>
		    <td>{from}</td>
		    <td>{to}</td>	   
		    <td align="center">{date}</td>
		    <td align="center">{time_dep}</td>		   
		    <td align="center">{price_per_adult}</td>
		    <td align="center">{price_per_child}</td>
		    <td align="center">free</td>		  
		    <td align="center">{total}</td>		    
		 </tr> 	
		<!-- END loopBookingDetail -->
	</table>
</div>

<h2>Passenger Detail</h2>
<div class="passenger-detail" style="margin-bottom:20px;">
	<table class="tb-detail" cellspacing="1" cellpadding="5" style="min-width: 800px;">
		<tr class="head">
			<td>Name</td>
			<td>Country</td>
			<td>Type</td>
		</tr>
		{row_data_passenger}
	</table>
</div>

<div>
	<table>
		<tr><td>Pickup Address</td><td>: {pickup_address}</td></tr>
		<tr><td>Transfer Address</td><td>: {transfer_address}</td></tr>
	</table>
</div>


<!-- END bookingDetail -->