<!-- BEGIN bookingView -->
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<style type="text/css">
.download-pdf{
	display:inline-block;
	background: url("http://{site_url}/lumonata-plugins/ticket/images/pdf-icon.jpg") no-repeat left center;
	text-indent: 30px;
	background-size:24px 24px;
	
}
#overlay{
	display:none;
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,0.7);
	z-index:100;
}
.loader{
	background: url("http://{site_url}/lumonata-plugins/ticket/images/loading.gif") no-repeat center center;
	min-height:31px;
	min-width: 31px;
}
.wrap-popup{
	display:none;
	background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #CCCCCC;    
    padding: 20px;
    position: fixed;
    left: 50%;
    right:auto;
    top: auto;
    bottom:auto;
    margin-left:-400px;
    z-index: 101;
    width: 800px;
    max-height:75%;
    overflow: auto;
}
</style>

<div id="wrap-popup" class="wrap-popup">
	<div class="loader"></div>
</div>
<div id="overlay"></div>

<script type="text/javascript">
var URL = 'http://{site_url}/ticket-booking-ajax';
function trim(str) {		
    var	str = str.replace(/^\s\s*/, ''),
            ws = /\s/,
            i = str.length;
    while (ws.test(str.charAt(--i)));
    return str.slice(0, i + 1);
}
function show_booking_detail(){	
	var loader = $('#wrap-popup').html();
	jQuery('.trigger_show_detail').live('click',function(){
		var rel = $(this).attr('rel'),
			id  = rel.split(':'),
			bid = id[0],
			sid = id[1];	
		var param = 'pKEY=show_detail&bid='+bid+'&sid='+sid;

		$('#overlay, #wrap-popup').fadeIn('slow');
		$.get(URL,param,function(data,status){
			  $('#wrap-popup').html(data);
		});
		return false;
	});

	jQuery('#overlay').click(function(){
		$('#overlay, #wrap-popup').fadeOut('slow',function(){
			$('#wrap-popup').html(loader);
		});	
	});
}

jQuery(document).ready(function(){
	show_booking_detail();		
	//filter schedule
	jQuery('#select_route option').click(function(){
		var id = jQuery(this).val();
		jQuery('#select_schedule option').hide();
		jQuery('#select_schedule option[rel=all]').show();
		if (trim(id)==''){
			jQuery('#select_schedule option').show();
		}else{
			jQuery('#select_schedule option[rel='+id+']').show();
		}			
	});	
	//datepicker
	jQuery(function() {
		jQuery('.dpicker').datepicker({			
			dateFormat:'yy-mm-dd'
		});
	});
});
</script>
<!-- END bookingView -->