<!-- BEGIN loopTableRoute -->
	<div class="calendar" id="calendar-{i}">	
		<table class="tb-calendar" id="tb-calendar-{i}" cellpadding="0" cellspacing="1" border="0">
			<tr style="background: #ccc;font-weight:bold;">	
		    <td class="head" style="min-width:200px;" id="rname{rid}">{route_name}</td>
		    <td class="head"><a class="trigger-prev" rel="tb-calendar-data-{i}">&nbsp;&nbsp;</a></td>
		    <td rowspan="{row_span}" style="padding:0;">
		    	<div class="wrap-container-data">
			    	<div class="container-data">
					    <table class="tb-calendar-data" cellpadding="0" cellspacing="0" border="0" id="tb-calendar-data-{i}">
					     	{tr_calendar_date_head}
					     	{tr_calendar_date_data}
					    </table>
				    </div>
				</div>
		    </td>
		    <td width="2" class="head"><a class="trigger-next" rel="tb-calendar-data-{i}">&nbsp;&nbsp;</a></td>
		  </tr>	
		  {tr_schedule_name}	
		</table>	
	</div>	
<!-- END loopTableRoute -->	