<!-- BEGIN fManualBooking -->
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<style type="text/css">
#ui-datepicker-div{
	z-index: 1000;
}
</style>
	<form name="fManualBooking" method="post" action="" style="position:relative;">
			<div id="indicator" style="display:none;position:absolute;bottom:0px;left:20px;"><div class="loader" style="background-size:16px;"></div></div>
			<table width="400" cellpadding="2" cellspacing="2">
				<tr>
					<td colspan="2">
						<table width="400">
						<tr>
							<td width=""> Route </td>
							<td width="">: {rname}<span id="manual-route-name"></span> <input type="hidden" name="rid" value="{rid}"></td>
							
							<td width=""> Date </td>
							<td width="">: {date}<span id="manual-date"></span> <input type="hidden" name="date" value="{date}"></td>
						</tr>
						<tr>
							<td width=""> Schedule </td>
							<td width="">: {sname}<span id="manual-schedule-name"></span> <input type="hidden" name="sid" value="{sid}"></td>
							<td width=""> Time </td>
							<td width="">: {time}<span id="manual-time"></span> <input type="hidden" name="time" value="{time}"></td>
						</tr>	
						<tr>
							<td colspan="4" style="border-bottom:1px solid #ccc;margin:14px 0;"></td>
						</tr>		
						</table>
					</td>
				</tr>					
				
				<tr>
			 		<td>Trip type</td>
			 		<td>:
			 			<input type="radio" name="trip_type" value="0" id="trip_type_0" checked>One way trip
			 			<input type="radio" name="trip_type" value="1" id="trip_type_1">Return trip
			 		</td>
			 	</tr>
			 	<tr id="tr_departure_date">
			 		<td>Departure date</td>
			 		<td>: <input type="text" name="" value="{date}" disabled="disabled"><input type="hidden" name="dep_date" id="dep_date" value="{date}"></td>
			 	</tr>
			 	<tr id="tr_return_date" style="display:none;">
			 		<td>Return date</td>
			 		<td>: <input type="text" name="ret_date" value="" class="dpicker" id="ret_date"></td>
			 	</tr>
			 	
				<tr>
					<td> No. of Adult </td>
					<td>: <input type="text" name="num_adult" value="" style="width:;"  onkeyup="this.value=this.value.replace(/[^\d]/,'')"></td>
				</tr>
				<tr>
					<td> No. of Child </td>
					<td>: <input type="text" name="num_child" value="0" style="width:;"  onkeyup="this.value=this.value.replace(/[^\d]/,'')"></td>
				</tr>
				<tr>
					<td> No. of Infant </td>
					<td>: <input type="text" name="num_infant" value="0" style="width:;"  onkeyup="this.value=this.value.replace(/[^\d]/,'')"></td>
				</tr>
				<tr>
					<td colspan="2" align="right">
						<input type="submit" name="check_availibility" value="Check Avaibility">
						<input type="button" name="cancel_manual_booking" value="Cancel" id="close-form-mb" style="margin-right:20px;">
					</td>
				</tr>
			</table>
</form>
<script type="text/javascript">
var url = 'http://{site_url}/ticket-calendar-ajax';
jQuery(document).ready(function(){
	jQuery('#trip_type_0').click(function(){
		$('#tr_return_date').fadeOut();
		$('#form-manual-booking [name=ret_date]').val('');
	});
	jQuery('#trip_type_1').click(function(){
		$('#tr_return_date').fadeIn();
	});

	//datepicker
	jQuery("#ret_date").datepicker({
		dateFormat:'yy-mm-dd',
		minDate:  {min_date}	   
	});
	
	//begin submit manual booking
	jQuery('#form-manual-booking [name=check_availibility]').click(function(){			
		var dep_rid = $('#form-manual-booking [name=rid]').val(),
			dep_sid = $('#form-manual-booking [name=sid]').val(),
			dep_date= $('#form-manual-booking [name=dep_date]').val();

		var //app_name = $('#form-manual-booking [name=app_name]').val(),
			//app_email = $('#form-manual-booking [name=app_email]').val(),
			num_adult = $('#form-manual-booking [name=num_adult]').val(),
			num_child = $('#form-manual-booking [name=num_child]').val(),
			num_infant= $('#form-manual-booking [name=num_infant]').val();

		var trip_type = $('input[name=trip_type]:checked', '#form-manual-booking ').val(),
			ret_date  = $('#form-manual-booking [name=ret_date]').val();
		
		if ($.trim(dep_rid)=='' || $.trim(dep_sid)=='' || $.trim(dep_date)==''){
			alert('Some field not complete. Please reload window and try again!');
			return false;			
		}
		if (trip_type=='1'){			
			if ($.trim(ret_date)==''){
				alert('Please type return date!');	
				return false;			
			}
		}
		if(num_adult<1){
			alert('Please type No. of Adult correctly!');
			return false;			
		}else{
			if($(this).hasClass('clicked')){
				return false;
			}
			$(this).addClass('clicked');
			jQuery('#indicator').fadeIn();						
			$.post(url,{ 
					pKEY: "ticket_calendar_manual_booking_check_avaibility",
					trip_type:trip_type,
					dep_rid: dep_rid,
					dep_sid: dep_sid,
					dep_date: dep_date,	
					ret_date: ret_date,					
					num_adult:num_adult,
					num_child:num_child,
					num_infant:num_infant
			},function(data){
				if (data.status==true){					
					$('#form-manual-booking').html(data.form_manual_booking);						
				}else{
					jQuery('#form-manual-booking [name=check_availibility]').removeClass('clicked');
					jQuery('#indicator').fadeOut();
					alert(data.note);
				}
			},"json");
		}		
		return false;
	});
	//end submit manual booking
});
</script>
<!-- END fManualBooking -->