<!-- BEGIN calendarView -->
<style type="text/css">
.tb-calendar{		
	margin-bottom:20px;
}
.tb-calendar,
.tb-calendar-data{
	background: #333;
	text-align: center;
}
.tb-calendar td{
	padding: 4px;
	background: #fff;
	height: 26px;	
}
.tb-calendar .head,
.tb-calendar-data .head{
	background: #ccc;
	height: 40px;
}
.tb-calendar-data{
	position:relative;
	left:0;
}
.tb-calendar-data td{
	position:relative;
	border-bottom:1px solid #000;
	border-right:1px solid #000;	
	background: #D2FF4D;
	min-width: 80px;
}
.tb-calendar-data td.overload{
	background: #000;
	color:#fff;
}
.tb-calendar-data td.full{
	background: #FF9673 !important;	
}
.tb-calendar-data td.some-book{	
	background: #f1da36;
}
.tb-calendar-data td.no-book{
}
.tb-calendar-data td.today{
	background: #EDFFBA;	
}
.tb-calendar-data td:last-child{	
	border-right:none;
}
.tb-calendar-data tr:last-child td{	
	border-bottom:none;
}
.wrap-container-data{
	width:622px;
	overflow: hidden;
	position: relative;	
}
.container-data{		
	position: relative;	
}
.trigger-prev,.trigger-next{
	cursor: pointer;
	background-position: center;
}
.trigger-prev{
	background: url("http://{site_url}/lumonata-plugins/ticket/images/nav-prev.png") no-repeat center center;
}
.trigger-next{
	background: url("http://{site_url}/lumonata-plugins/ticket/images/nav-next.png") no-repeat center center;
}
.btn-submit-filter{
	height: 32px;
    vertical-align: middle;
}
.wrap{
	position: relative;
	display: none;	
}
td:hover > .wrap{
	display: block;
}
.wrap .td-option{
	background: #333333;
    bottom: -10px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    position: absolute;
    right: -4px;
    width: 14px;
}
.wrap:hover .menu{
	display: block;
}
.wrap .menu{ 	
 	position: absolute;
 	left:-10px;
 	bottom:0px;
 	min-width: 100px;
	background:#ccc;  
    text-align: left;    
    border:1px solid #333;    
    z-index:1;
    display: none;
}
.wrap .menu span{
	display: block;
    font-size: 12px;
    padding: 5px;
}
.wrap .menu span a{
	display:block;
	text-decoration: none;
	color:blue;
}
.wrap .menu span:hover{
	background: #bbb;
}

.form-manual-booking {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #CCCCCC;
    display: none;
    padding: 10px;
    position: fixed;
    z-index:101;
    top:25%;
    left:40%;
    top:140px;
    left:400px;
   
}
.form-manual-booking td{
	text-indent: 10px;
}
.form-manual-booking input[type="text"]{
	width: 270px;
}
#overlay{
	display:none;
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,0.7);
	z-index:100;
}
.loader{
	background: url("http://{site_url}/lumonata-plugins/ticket/images/loading.gif") no-repeat center center;
	min-height:31px;
	min-width: 31px;
}
.goto-today{
	position: absolute;
	top:-20px;
	right:0;
}
</style>
<h1>{web_name} -  Calendar</h1>
<div class="filter-calendar">
	<form method="post" action="">	
		<select name="filter_route">
			<option value="">All route</option>
			{filter_option_route}
		</select>
		<select name="filter_year">		
			{filter_option_year}
		</select>
		<select name="filter_month">		
			{filter_option_month}
		</select>
		<input type="submit" name="filter_calendar" value="Go" class="btn-submit-filter">
	</form>
</div>
<div class="wrap-calendar" style="min-height: 610px;position: relative;display: inline-block;">
	<div class="goto-today"><a href="#" id="goto-today">Today</a></div>
	{calendar}
</div>
<!--Bform Manual Booking -->
<div class="form-manual-booking" id="form-manual-booking"><div class="loader" style="width:200px;height:200px;"></div></div>
<!--Eform Manual Booking -->
<div id="overlay"></div>
<script type="text/javascript">
var url = 'http://{site_url}/ticket-calendar-ajax';

function refresh_calender(target_id,text){
	var text_current = $('#'+target_id).text();	
	var num = text.split('/');
	if (num[0]==num[1]){
		$('#'+target_id).parent().addClass('full');
	}
	$('#'+target_id).parent().animate({ fontSize : '20px' },'slow',function(){
		$('#'+target_id).parent().animate({ fontSize : '12px' });
	});	
	$('#'+target_id).text(text);
	return false;
}
function goto_today(){
	var numToday = $('.today').length;
	if (numToday<1){
		return false;
	}
	//animate to today
	var posLeft = $('.today').position().left,
		tW = $('.today').width(),
		ww = $('.wrap-container-data').width(),	
		wT = $('.tb-calendar-data').width(),		
		lAnimate = 0;	
	if (posLeft > ww){
		lAnimate = posLeft - (ww-(tW*4)-35);
		var diff = wT-lAnimate;
		if (diff<ww){
			lAnimate = (lAnimate-(ww-diff));
		}		
	}else{
		lAnimate = posLeft;
	}
	$('.container-data').animate({left :'-'+lAnimate+'px'});
}
jQuery(document).ready(function(){
	goto_today();
	jQuery('#goto-today').click(function(){
		goto_today();
	});
	//begin next
	jQuery(".trigger-next").click(function(){
		var id			= jQuery(this).attr("rel");
		var totalImages 	= jQuery("#"+id+" tr td").length, 
			_imageWidth 	= jQuery("#gallery > li:first").outerWidth(true),
			imageWidth  	=jQuery("#"+id+" tr td:first")[0].getBoundingClientRect().width,					
			_totalWidth 	= imageWidth * totalImages,
			totalWidth 		= jQuery('#'+id).width(),
			visibleImages 	= Math.round(jQuery(".container-data").width() / imageWidth),
			visibleWidth 	= visibleImages * imageWidth,
			stopPosition 	= (visibleWidth - totalWidth);

		
		var nummove = imageWidth*7,
			posLeft = jQuery("#"+id).parent().position().left,
			sisa	= (totalWidth - nummove) + posLeft,
			lengthMove = 0;	
		
		if (sisa>nummove){
			lengthMove = nummove;
		}else{
			lengthMove = sisa;
		}
		lengthMove = lengthMove;
		
		if(jQuery("#"+id).parent().position().left > stopPosition && !jQuery("#"+id).parent().is(":animated")){						
			jQuery("#"+id).parent().animate({left : "-=" + lengthMove + "px"});
		}else{
			jQuery("#"+id).parent().animate({left : "0px"});
		}	
	});
	//end next

	//begin prev
	jQuery(".trigger-prev").click(function(){	
		var id				= jQuery(this).attr("rel");	
		var totalImages 	= jQuery("#"+id+" tr td").length, 
			_imageWidth 	= jQuery("#gallery > li:first").outerWidth(true),
			imageWidth  	= jQuery("#"+id+" tr td:first")[0].getBoundingClientRect().width,					
			_totalWidth 	= imageWidth * totalImages,
			totalWidth 		= jQuery('#'+id).width(),
			visibleImages 	= Math.round(jQuery(".container-data").width() / imageWidth),
			visibleWidth 	= visibleImages * imageWidth,
			stopPosition 	= (visibleWidth - totalWidth);

		var nummove 	= imageWidth*7,
			posLeft = jQuery("#"+id).parent().position().left,
			lengthLeft 	= Math.abs(posLeft),
			sisa		= lengthLeft%nummove,
			lengthMove 	= 0;				
	
		if (lengthLeft==sisa){
			lengthMove = sisa;
		}else{						
			lengthMove = nummove;
		}			
		
		lengthMove = lengthMove;
		
		if(jQuery("#"+id).parent().position().left < 0 && !jQuery("#"+id).parent().is(":animated")){						
			jQuery("#"+id).parent().animate({left : "+=" + lengthMove + "px"});						
		}else{
			jQuery("#"+id).parent().animate({left : "-"+(totalWidth-nummove)+"px"});
		}	
		return false;
	});
	//end prev
	
	//begin show form manual booking
	jQuery('.add-mb').click(function(){
		var rid = $(this).attr('data-rid'),
			sid = $(this).attr('data-sid'),
			day = $(this).attr('data-date');		
		
		$('#form-manual-booking').html('<div class="loader" style="width:200px;height:200px;"></div>');
		$('#overlay').fadeIn();	
		$('#form-manual-booking').fadeIn();		
			
		$.post(url,{ 
			pKEY: "ticket_calendar_get_form_manual_booking",
			//rid: rid,
			sid: sid,
			day:day		
		},function(data){
			$('#form-manual-booking').html(data);					
		});
		return false;
	});
	
	jQuery('#close-form-mb').live('click',function(){
		//$('[name=fManualBooking]')[0].reset();
		$('#form-manual-booking').fadeOut();
		$('#overlay').fadeOut();
		return false;		
	});
	//end show form manual booking
});
</script>
<!-- END calendarView -->