<!-- BEGIN softcopyTicket -->
<table width="600" height="250" cellpadding="0" cellspacing="0" style="border:1px solid #005E2F;background-color: #008A45;color:#2A3038;">
	<tr bgcolor="#FFB900">
		<td>No : <span style="font-size:20px;color:#FCFCFD;">{ticket_no}</span></td>
		<td>Valid : <span style="font-size:20px;color:#FF0000;">{ticket_date}</span></td>
		<td>Time : {ticket_time}</td>
	</tr>
	<tr>
		<td colspan="3" align="center" style="padding:5px;"><span style="font-size:30px;color:#FCFAE6;">{ticket_boat}</span></td>
	</tr>
	<tr>
		<td colspan="3" align="center" style="">
			{ticket_list_name}
		</td>
	</tr>
	
</table>
<!-- END softcopyTicket -->