<!-- BEGIN stepOne -->
<div class="sch_desc">#{schedule_title} Schedule : {schedule_date} {_xxxcheckbox_skip_return}</div>
<table class="tb-result" width="100%" border="0" cellpadding="0" cellspacing="0" id="tb_result_{table_id}">
  <tr class="head">
    <th rowspan="2">#</th>
    <th rowspan="2" class="col-sname">Schedule</th>
    <th colspan="2">Time</th>
    <th colspan="3" class="col-price">Price</th>	
    <th rowspan="2">Total<br><span class="desc-num">({num_adult} adults, {num_child} childs, {num_infant} infant)</span></th>
  </tr>
  
        
 
  <tr class="head">
    <th>Departure</td>
    <th>Arrive</td>		
    <th class="col-price">Adut</td>
    <th class="col-price">Child</td>
    <th class="col-price">Infant</td>		 
  </tr>
  {row_data} 
</table>		
<!-- END stepOne -->