<!-- BEGIN reviewsBooking -->
<link rel="stylesheet" type="text/css" media="screen" href="http://{plugin_url}/css/front.css" /> 
<div class="f-reviews-booking">
	<h1>Booking detail</h1>
	<form name="f_pay_booking" method="post" action="{paypal_url_action}">		
		<table class="tb-review" style="max-width:600px;" border="0" cellpadding="1" cellspacing="1" >
			<tr>
				<td>No Ticket</td>
				<td>:</td>
				<td>{no_ticket}</td>
			</tr>
			<tr>
				<td>Status</td>
				<td>:</td>
				<td>Unpaid</td>
			</tr>
			<tr>
				<td>Route</td>
				<td>:</td>
				<td>{route} </td>
			</tr>
			<tr>
				<td>Trip</td>
				<td>:</td>
				<td>{trip_type}</td>
			</tr>
			<tr>
				<td>Departure date</td>
				<td>:</td>
				<td>{dep_date}</td>
			</tr>
			<tr>
				<td>Return date</td>
				<td>:</td>
				<td>{ret_date}</td>
			</tr>
		</table>
		<br>
		<table class="tb-result" width="100%" border="0" cellpadding="0" cellspacing="0" >
			<tr class="head">
				<th>Name</th>
				<th>Type</th>
				<th>Rate</th>
			</tr>
			{row_data}
			<tr>
				<td colspan="2"">Total</td>
				<td>{total}</td>
			</tr>
		</table>	
		<div class="field-p" style="display:none;">
			<input type="hidden" name="rm" value="2"/>
			<input type="hidden" name="cmd" value="_cart"/>
			<input type="hidden" name="business" value="{paypal_account}"/>	
			
			<input type="hidden" name="item_name_1" value="Ticket : {no_ticket}"/>	
			<input type="hidden" name="amount_1" value="{total_in_usd}"/>
			<input type="hidden" name="quantity_1" value="1"/>
					
			<input type="hidden" name="return" value="{paypal_url_return}"/>
			<input type="hidden" name="cancel_return" value="{paypal_url_cancel}"/>
			<input type="hidden" name="notify_url" value="{paypal_url_notify}"/>
			<input type="hidden" name="upload" value="1"/>
			<input type="hidden" name="currency_code" value="{paypal_currency}"/>						
		</div>
		<input type="submit" name="pay_booking" value="Pay" class="btn-paypal">		
	</form>
</div>
<!-- END reviewsBooking -->
