<!-- BEGIN resultSearch -->
<link rel="stylesheet" type="text/css" media="screen" href="http://{plugin_url}/css/front.css" /> 
<div class="f-result-availability">
	<form name="search_result" method="post" action="http://{site_url}/check-ticket/">		
		{trip_summary}	
		<div class="heading-step">Step 1 : Choose Schedule</div>		
		{step_1}
		{step_2}
		{step_3}
		{step_4}		
		<div style="height:0;border-bottom:1px dashed #ccc;margin-bottom:10px;"></div>		
		<input type="submit" name="submit_booking" value="Submit">		
		<div class="" style="margin-top:4px;" id="note_error"></div>
	</form>
</div>
<script type="text/javascript">
	function isValidEmailAddress(emailAddress) {
	    var pattern = new RegExp(/^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?$/i);
	    return pattern.test(emailAddress);
	};
	jQuery(document).ready(function(){
		jQuery('#skip_return').click(function() {
		    var ele = $(this);
		    if(ele.is(':checked')){			   
		       $('#tb_result_return').slideUp();		       
		    }else{
		    	$('#tb_result_return').slideDown();		    	
		    }
		});

		jQuery("input[name='schedule_id_departure'],input[name='schedule_id_return']").click(function() {
			$('#note_error').html('');
		});
		
		//validasi required field
		jQuery("form[name=search_result]").submit(function(){
			var has_empty = false;
			var trip_type = $('[name=trip_type]',this).val();

			if (!$("input[name='schedule_id_departure']:checked").val()) {				  
				   has_empty = true;
				  $('#note_error').html('<div class="error" style="float:left;margin:2px;padding:0 4px;">Please select departure schedule above!</div>');
			}
			if (trip_type=='1'){
				if (!$("input[name='schedule_id_return']:checked").val()) {					
					has_empty = true;
					$('#note_error').append('<div class="error" style="float:left;margin:2px;padding:0 4px;">Please select return schedule above!</div>');
				}
			}
			$(this).find('.required').each(function(){				
				if ( !$(this).val() ) { 
					$(this).addClass('error');
					$(this).attr('placeholder','required!');
					has_empty = true; 					
				}				
			});
			if (has_empty) { 
				return false; 
			}else{
				var em = $('[name=app_email]',this).val();
				if (!isValidEmailAddress(em)){
					$('[name=app_email]',this).val('');
					$('[name=app_email]',this).addClass('error');
					$('[name=app_email]',this).attr('placeholder','Email not valid!');
					return false;
				}
			}
		});
	});
</script>
<!-- END resultSearch -->
