<!-- BEGIN tbPricing -->
<div class="sch_desc">Trip Pricing</div>
<table class="tb-result" width="100%" border="0" cellpadding="0" cellspacing="0" id="">
  <tr class="head">
    <th>Passenger</th>
    <th>Num</th>
    <th>Rate</th>
    <th>Sub Total</th>    
  </tr>
  <tr>
  	<td>Adult</td>
  	<td>{num_adult}</td>
  	<td>{price_per_adult}</td>
  	<td>{total_adult}</td>
  </tr>
  <tr>
  	<td>Child</td>
  	<td>{num_child}</td>
  	<td>{price_per_child}</td>
  	<td>{total_child}</td>
  </tr>
  <tr>
  	<td>Infant</td>
  	<td>{num_infant}</td>
  	<td>free</td>
  	<td>0</td>
  </tr>
  
  <tr>
  	<td colspan="3" style="text-align: right;">Total</td>
  	<td>{total}</td>
  </tr>
</table>
<!-- END tbPricing -->