<!-- BEGIN stepOne -->
<div class="sch_desc">{schedule_title} Schedule <!--: {schedule_date} --></div>
<table class="tb-result" width="100%" border="0" cellpadding="0" cellspacing="0" id="tb_result_{table_id}">
  <tr class="head">
    <th width="50">#</th>
    <th width="40%">Schedule</th>
    <th>Date</th>
    <th>Time</th>    
  </tr>
  {row_data}
</table>	
<!-- END stepOne -->