<!-- BEGIN stepThree -->
<div class="heading-step" style="clear:both;">Step 3 : Input Detail Passengers</div>
<div class="pemesan passengers">
	<table>
	<!-- 
		<tr>
			<td>
				<select name="pass_type[]">
					<option value="adult">Adult</option>
					<option value="child">Child</option>
					<option value="infant">Infant</option>
				</select>
			</td>
			<td><input type="text" name="pass_fname" placeholder="Full Name"></td>
			<td>
				<select name="pass_country[]">
					<option value="adult">Select country</option>							
				</select>
			</td>
		</tr>	
	 -->
	 {row_data}	
	</table>
</div>
<!-- END stepThree -->