<!-- BEGIN resultSummary -->
<style> 
.tb-summary td{
	padding: 0 15px 0 0;
}
</style>
<div style="display:none;">
	<input type="hidden" name="trip_type" value="{trip_type}" required>
	<input type="hidden" name="from" value="{trip_from}" required>
	<input type="hidden" name="to" value="{trip_to}" required>
	<input type="hidden" name="dep_date" value="{departure_date}">
	<input type="hidden" name="ret_date" value="{return_date}">
	<input type="hidden" name="adult" value="{num_adult}">
	<input type="hidden" name="child" value="{num_child}">
	<input type="hidden" name="infant" value="{num_infant}">
</div>
<table class="tb-summary" cellpadding="1" cellspacing="1" style="display: inline-block;width:300px;margin-right:20px;">
	<tr>
		<td>Route</td>
		<td>:</td>
		<td>{route_name}</td>
	</tr>
	<tr>
		<td>Departure date</td>
		<td>:</td>
		<td>{departure_date}</td>
	</tr>	
	<tr>
		<td>Return date</td>
		<td>:</td>
		<td>{return_date}</td>
	</tr>			
</table>
<table class="tb-summary" cellpadding="1" cellspacing="1" style="display: inline-block;width:300px;">
	<tr>
		<td>No. of Adult</td>
		<td>:</td>
		<td>{num_adult}</td>
	</tr>
	<tr>
		<td>No. of Child</td>
		<td>:</td>
		<td>{num_child}</td>
	</tr>	
	<tr>
		<td>No. of Infant</td>
		<td>:</td>
		<td>{num_infant}</td>
	</tr>			
</table>
<!-- END resultSummary -->