<!-- BEGIN stepTwo -->
<div class="heading-step">Step 2 : Input Applicant Information</div>
<div class="pemesan"><!-- 
	 --><table width="49%" style="float:left;" class="tb-pemesan">
		<tr>
			<td>Title*</td>
			<td>:</td>
			<td>
				<select name="app_title" class="required">
				<option value="" selected="selected"></option>
				{option_title}
				</Select>
			</td>
		</tr>
		<tr>
			<td nowrap="nowrap">Full Name*</td>
			<td>:</td>
			<td><input type="text" name="app_fname" value="{app_fname}" class="required"></td>
		</tr>
		<tr>
			<td>Address</td>
			<td>:</td>
			<td><input type="text" name="app_address" value="{app_address}" style="width:360px;"></td>
		</tr>
	</table><!-- 
	 --><table width="49%" style="float:right;" class="tb-pemesan">
		<tr>
			<td>Country</td>
			<td>:</td>
			<td>
				<select name="app_country">
				<option value="" selected="selected"></option>		
				{option_country}				
				</Select>
			</td>
		</tr>
		<tr>
			<td>Phone *</td>
			<td>:</td>
			<td><input type="text" name="app_phone" value="{app_phone}" class="required"></td>
		</tr>
		<tr>
			<td>Email *</td>
			<td>:</td>
			<td><input type="text" name="app_email" value="{app_email}" class="required"></td>
		</tr>
	</table><!-- 
--></div>
<!-- END stepTwo -->