<!-- BEGIN stepFour -->
<div class="heading-step" style="clear:both;">Step 4 : Input Pickup & Transfer Address</div>
<div class="pemesan pickup-transfer">
	<table width="49%" style="float:left;vertical-align: top;">
		<tr>
			<td valign="top" width="100" nowrap="nowrap">Pickup Address*</td>
			<td valign="top">:</td>
			<td valign="top">
				<textarea name="add_pickup" style="vertical-align: top;" class="required">{add_pickup}</textarea>
			</td>
		</tr>
	</table>
	<table width="49%" style="float:right;">
		<tr>
			<td valign="top"  width="100" nowrap="nowrap">Transfer Address</td>
			<td valign="top">:</td>
			<td valign="top">
				<textarea name="add_transfer">{add_transfer}</textarea>
			</td>
		</tr>
	</table>
</div>
<!-- END stepFour -->