<!-- BEGIN promoNew -->
<h1>{title_Form}</h1>
<style>
.a-ei input[type=radio]{
	position: absolute;
	cursor:pointer;
	left:0;
	top:0;
	z-index:1;
	width:50px;
	height:50px;
	opacity:0;
}
.error_red{
	display:block;
	padding:5px;
	background-color: #E8AEB6;
    border: 1px solid #FF0000;
    border-top:none;
    border-bottom:none;
    color: #990000;
}
.error_red:first-child{
	 border-top:1px solid #FF0000;
}
.error_red:last-child{
	border-bottom:1px solid #FF0000;
}
.error_green{
	display:block;
	padding:5px;
	background-color: #F0FBF4;
    border: 1px solid #4FC682;
    color: green;
}
</style>

<script type="text/javascript">
	function trim(str) {		
	    var	str = str.replace(/^\s\s*/, ''),
	            ws = /\s/,
	            i = str.length;
	    while (ws.test(str.charAt(--i)));
	    return str.slice(0, i + 1);
	}
	
	$(document).ready(function(){
		//validasi
		$('input[name=save_changes]').click(function(){
				
		});
	
	})//end document ready
</script>

<div class="tab_container">
    <div class="single_content">
	{alert}
        <form method="post" action="#" enctype="multipart/form-data" >
	     {is_edit_all}
	     {is_saved}
            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                        {button}
                    </ul>   
                </div>
           </div>
	    <!-- BEGIN loopPage -->
	    <div class="list_edit">
        <fieldset style="border-bottom:none; margin-bottom:-10px;">
                {error}
        </fieldset>
        <div style="display:none;">
        	<input type="hidden" name="promo_id[{i}]" value="{val_promo_id}" class="medium_textbox" />			
			<input type="hidden" name="index[{i}]" value="{i}" class="medium_textbox" id="index_{i}" />
			<input type="hidden" name="sort_id[{i}]" value="{val_sort_id}" class="medium_textbox" id="sort_id_{i}" />
        </div>
       
		<fieldset style="border:none;">
                <p><label>Promo name:</label></p>				
                <input type="text" name="pname[{i}]" value="{val_pname}" class="medium_textbox" id="pname{i}" style="width:416px !important;"/>
        </fieldset>
        
        <fieldset style="border:none;">
                <p><label>Special rate:</label></p>				
                {special_rate_checkbox}
        </fieldset>        
             
      
        <fieldset>
		<p><label>Status : </label></p>				
				<input type="radio" name="status[{i}]" value="1" id="status{i}" {status_checked_publish} /> Publish
				<input type="radio" name="status[{i}]" value="0" id="status{i}" {status_checked_not_publish}/> Not Publish
	   	</fieldset>
        
	    </div>
	    <!-- END loopPage -->
            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                       {button}
                    </ul>   
                </div>
           </div>
        </form>
	
    </div>
</div>
<!-- END promoNew -->
