<!-- BEGIN routeNew -->
<h1>{title_Form}</h1>
<style>
.a-ei input[type=radio]{
	position: absolute;
	cursor:pointer;
	left:0;
	top:0;
	z-index:1;
	width:50px;
	height:50px;
	opacity:0;
}
.error_red{
	display:block;
	padding:5px;
	background-color: #E8AEB6;
    border: 1px solid #FF0000;
    border-top:none;
    border-bottom:none;
    color: #990000;
}
.error_red:first-child{
	 border-top:1px solid #FF0000;
}
.error_red:last-child{
	border-bottom:1px solid #FF0000;
}
.error_green{
	display:block;
	padding:5px;
	background-color: #F0FBF4;
    border: 1px solid #4FC682;
    color: green;
}
</style>

<script type="text/javascript">
	function trim(str) {		
	    var	str = str.replace(/^\s\s*/, ''),
	            ws = /\s/,
	            i = str.length;
	    while (ws.test(str.charAt(--i)));
	    return str.slice(0, i + 1);
	}
	
	$(document).ready(function(){
		//validasi
		$('input[name=save_changes]').click(function(){
				
		});
	
	})//end document ready
</script>

<div class="tab_container">
    <div class="single_content">
	{alert}
        <form method="post" action="#" enctype="multipart/form-data" >
	     {is_edit_all}
	     {is_saved}
            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                        {button}
                    </ul>   
                </div>
           </div>
	    <!-- BEGIN loopPage -->
	    <div class="list_edit">
        <fieldset style="border-bottom:none; margin-bottom:-10px;">
                {error}
        </fieldset>
        <div style="display:none;">
        	<input type="hidden" name="rid[{i}]" value="{val_rid}" class="medium_textbox" id="rid_{i}" />			
			<input type="hidden" name="index[{i}]" value="{i}" class="medium_textbox" id="index_{i}" />
			<input type="hidden" name="sort_id[{i}]" value="{val_sort_id}" class="medium_textbox" id="sort_id_{i}" />
        </div>
       
		<fieldset style="border:none;">
                <p><label>Route name:</label></p>				
                <input required type="text" name="rname[{i}]" value="{val_rname}" class="medium_textbox" id="rname{i}" style="width:416px !important;"/>
        </fieldset>
        
        <fieldset style="border:none;display:none;">
                <p><label>Boat:</label></p>				
                <input type="text" name="rboat[{i}]" value="{val_rboat}" class="medium_textbox" id="rboat{i}" style="width:416px !important;"/>
        </fieldset>
        
        <fieldset style="border:none;">
                <p style="margin-bottom:0px;"><label style="width:220px;display:inline-block;">From:</label> <label>To:</label></p>				
               <!-- <input type="text" name="rfrom[{i}]" value="{val_rfrom}" class="medium_textbox" id="rfrom{i}" style="width:100px !important;"/> -  
                	<input type="text" name="rto[{i}]" value="{val_rto}" class="medium_textbox" id="rto{i}" style="width:100px !important;"/>
               --> 
               <select name="rfrom[{i}]" id="rfrom{i}" style="width:210px !important;">
               	<option value=""></option>
               	{option_port_from}
               </select> - 
               <select name="rto[{i}]" id="rto{i}" style="width:210px !important;">
               	<option value=""></option>
               	{option_port_to}
               </select>
        </fieldset>       
        
		<fieldset>
        	<p style="margin-bottom:-20px;"><label>Adult price:</label></p>	
        	<p style="margin-bottom:-0px;"><label style="width:220px;display:inline-block;">One way trip</label> <label>Return trip</label></p>	              	
				<input required pattern="\d+" type="text" name="rprice_1way[{i}]" value="{val_rprice_1way}" class="medium_textbox" id="rprice_1way{i}" style="width:100px !important;"/> &nbsp;&nbsp;
				<input required pattern="\d+" type="text" name="rprice_2way[{i}]" value="{val_rprice_2way}" class="medium_textbox" id="rprice_2way{i}" style="width:100px !important;"/> 
		</fieldset>	
		
		<fieldset>
        	<p style="margin-bottom:-20px;"><label>Child price:</label></p>	
        	<p style="margin-bottom:-0px;"><label style="width:220px;display:inline-block;">One way trip</label> <label>Return trip</label></p>	              	
				<input required pattern="\d+" type="text" name="rprice_1way_child[{i}]" value="{val_rprice_1way_child}" class="medium_textbox" id="rprice_1way_child{i}" style="width:100px !important;"/> &nbsp;&nbsp;
				<input required pattern="\d+" type="text" name="rprice_2way_child[{i}]" value="{val_rprice_2way_child}" class="medium_textbox" id="rprice_2way_child{i}" style="width:100px !important;"/> 
		</fieldset>	
		
       <fieldset style="display:none;">
		<p><label>Allotment</label></p>				
				<input type="text" name="rallotment[{i}]" value="{val_rallotment}" class="medium_textbox" id="rallotment{i}" style="min-width:0 !important;max-width:50px !important;"/>
	   </fieldset>
        
        <fieldset>
		<p><label>Status</label></p>				
				<input required type="radio" name="status[{i}]" value="1" id="status{i}" {status_checked_publish} /> Publish
				<input required type="radio" name="status[{i}]" value="0" id="status{i}" {status_checked_not_publish}/> Not Publish
	   	</fieldset>
        
	    </div>
	    <!-- END loopPage -->
            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                       {button}
                    </ul>   
                </div>
           </div>
        </form>
	
    </div>
</div>
<!-- END routeNew -->
