<!-- BEGIN scheduleNew -->
<h1>{title_Form}</h1>
<style>
.a-ei input[type=radio]{
	position: absolute;
	cursor:pointer;
	left:0;
	top:0;
	z-index:1;
	width:50px;
	height:50px;
	opacity:0;
}
.error_red{
	display:block;
	padding:5px;
	background-color: #E8AEB6;
    border: 1px solid #FF0000;
    border-top:none;
    border-bottom:none;
    color: #990000;
}
.error_red:first-child{
	 border-top:1px solid #FF0000;
}
.error_red:last-child{
	border-bottom:1px solid #FF0000;
}
.error_green{
	display:block;
	padding:5px;
	background-color: #F0FBF4;
    border: 1px solid #4FC682;
    color: green;
}
</style>

<script type="text/javascript">
	function trim(str) {		
	    var	str = str.replace(/^\s\s*/, ''),
	            ws = /\s/,
	            i = str.length;
	    while (ws.test(str.charAt(--i)));
	    return str.slice(0, i + 1);
	}
	
	$(document).ready(function(){
		//validasi
		$('input[name=save_changes]').click(function(){
				
		});
	
	})//end document ready
</script>

<div class="tab_container">
    <div class="single_content">
	{alert}
        <form method="post" action="#" enctype="multipart/form-data" >
	     {is_edit_all}
	     {is_saved}
            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                        {button}
                    </ul>   
                </div>
           </div>
	    <!-- BEGIN loopPage -->
	    <div class="list_edit">
        <fieldset style="border-bottom:none; margin-bottom:-10px;">
                {error}
        </fieldset>
        <div style="display:none;">
        	<input type="hidden" name="sid[{i}]" value="{val_sid}" class="medium_textbox" id="rid_{i}" />			
			<input type="hidden" name="index[{i}]" value="{i}" class="medium_textbox" id="index_{i}" />
			<input type="hidden" name="sort_id[{i}]" value="{val_sort_id}" class="medium_textbox" id="sort_id_{i}" />
        </div>
       
		<fieldset style="border:none;">
                <p><label>Schedule name:</label></p>				
                <input type="text" name="sname[{i}]" value="{val_sname}" class="medium_textbox" id="sname{i}" style="width:416px !important;"/>
        </fieldset>
        
        <fieldset style="border:none;">
                <p style="margin-bottom:0px;"><label style="width:230px;display:inline-block;">Route:</label> <label>Boat:</label></p>			
                <select name="rid[{i}]" style="width:220px;">
                <option value="">Choose route</option>
                {route_option}
                </select>               
                &nbsp;&nbsp;	
                <select name="boat_id[{i}]" style="width:200px;">
                <option value="">Choose boat</option>
                {boat_option}
                </select>
        </fieldset>
        
        <fieldset style="border:none;">
        		<p style="margin-bottom:-20px;"><label>Time (24 hours format):</label></p>	
                <p style="margin-bottom:-0px;"><label style="width:220px;display:inline-block;">Depart: </label> <label>Arr:</label></p>				
                <input title="ex : 10:00:00" type="text" name="stime_departure[{i}]" value="{val_stime_departure}" class="medium_textbox" id="stime_departure{i}" style="width:100px !important;"/> -
                <input title="ex : 14:30:00"  type="text" name="stime_arrive[{i}]" value="{val_stime_arrive}" class="medium_textbox" id="stime_arrive{i}" style="width:100px !important;"/>
        </fieldset>       
      
      <!--   price & allotment di ambil dari route
		<fieldset>
        	<p style="margin-bottom:-20px;"><label>Adult price:</label></p>	
        	<p style="margin-bottom:-0px;"><label style="width:220px;display:inline-block;">One way</label> <label>Two way</label></p>	              	
				<input type="text" name="rprice_1way[{i}]" value="{val_rprice_1way}" class="medium_textbox" id="rprice_1way{i}" style="width:100px !important;"/> &nbsp;&nbsp;
				<input type="text" name="rprice_2way[{i}]" value="{val_rprice_2way}" class="medium_textbox" id="rprice_2way{i}" style="width:100px !important;"/> 
		</fieldset>	
		
		<fieldset>
        	<p style="margin-bottom:-20px;"><label>Child price:</label></p>	
        	<p style="margin-bottom:-0px;"><label style="width:220px;display:inline-block;">One way</label> <label>Two way</label></p>	              	
				<input type="text" name="rprice_1way_child[{i}]" value="{val_rprice_1way_child}" class="medium_textbox" id="rprice_1way_child{i}" style="width:100px !important;"/> &nbsp;&nbsp;
				<input type="text" name="rprice_2way_child[{i}]" value="{val_rprice_2way_child}" class="medium_textbox" id="rprice_2way_child{i}" style="width:100px !important;"/> 
		</fieldset>	
		
       <fieldset>
		<p><label>Allotment</label></p>				
				<input type="text" name="rallotment[{i}]" value="{val_rallotment}" class="medium_textbox" id="rallotment{i}" style="min-width:0 !important;max-width:50px !important;"/>
	   </fieldset>
      -->   
      	<fieldset>
		<p><label>Departure Group : </label></p>				
				<input type="radio" name="sparent[{i}]" value="0" {departure_checked_sunrise} /> Sunrise 
				<input type="radio" name="sparent[{i}]" value="1" {departure_checked_sunset}/> Sunset 
	   	</fieldset>
	   	
        <fieldset>
		<p><label>Status : </label></p>				
				<input type="radio" name="status[{i}]" value="1" id="status{i}" {status_checked_publish} /> Publish
				<input type="radio" name="status[{i}]" value="0" id="status{i}" {status_checked_not_publish}/> Not Publish
	   	</fieldset>
        
	    </div>
	    <!-- END loopPage -->
            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                       {button}
                    </ul>   
                </div>
           </div>
        </form>
	
    </div>
</div>
<!-- END scheduleNew -->
