<!-- BEGIN special_rateNew -->
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<h1>{title_Form}</h1>
<style>
.a-ei input[type=radio]{
	position: absolute;
	cursor:pointer;
	left:0;
	top:0;
	z-index:1;
	width:50px;
	height:50px;
	opacity:0;
}
.error_red{
	display:block;
	padding:5px;
	background-color: #E8AEB6;
    border: 1px solid #FF0000;
    border-top:none;
    border-bottom:none;
    color: #990000;
}
.error_red:first-child{
	 border-top:1px solid #FF0000;
}
.error_red:last-child{
	border-bottom:1px solid #FF0000;
}
.error_green{
	display:block;
	padding:5px;
	background-color: #F0FBF4;
    border: 1px solid #4FC682;
    color: green;
}
</style>
<div class="tab_container">
    <div class="single_content">
	{alert}
        <form method="post" action="#" enctype="multipart/form-data" >
	     {is_edit_all}
	     {is_saved}
            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                        {button}
                    </ul>   
                </div>
           </div>
	    <!-- BEGIN loopPage -->
	    <div class="list_edit">
        <fieldset style="border-bottom:none; margin-bottom:-10px;">
                {error}
        </fieldset>
        <div style="display:none;">
        	<input type="hidden" name="srid[{i}]" value="{val_srid}" class="medium_textbox" id="srid_{i}" />			
			<input type="hidden" name="index[{i}]" value="{i}" class="medium_textbox" id="index_{i}" />
			<input type="hidden" name="sort_id[{i}]" value="{val_sort_id}" class="medium_textbox" id="sort_id_{i}" />
        </div>
       
		<fieldset style="border:none;">
                <p><label>Special rate name:</label></p>				
                <input required type="text" name="srname[{i}]" value="{val_srname}" class="medium_textbox" id="srname{i}" style="width:416px !important;"/>
        </fieldset>
        
        <fieldset>
		<p><label>Apply to</label></p>				
			<select required name="rid[{i}]" id="select_route" style="width:213px;">
				<option value="">Please choose route</option>
				{option_route}
			</select>	
			&
			<select required name="sid[{i}]" id="select_schedule" style="width:213px;">
				<option value="">Please choose schedule</option>
				{option_schedule}
			</select>		
	   </fieldset>
        
        <fieldset style="border:none;">
                <p style="margin-bottom:-0px;"><label style="width:220px;display:inline-block;">Start date:</label> <label>End date:</label></p>				
                <input required type="text" name="srdate_start[{i}]" value="{val_srdate_start}" class="dpicker medium_textbox" id="srdate_start{i}" style="width:100px !important;"/> -
                <input required  type="text" name="srdate_end[{i}]" value="{val_srdate_end}" class="dpicker medium_textbox" id="srdate_end{i}" style="width:100px !important;"/>
        </fieldset>       
        
		<fieldset>
        	<p style="margin-bottom:-20px;"><label>Adult price:</label></p>	
        	<p style="margin-bottom:-0px;"><label style="width:220px;display:inline-block;">One way trip</label> <label>Return trip</label></p>	              	
				<input required type="text" pattern="\d+" name="srprice_1way[{i}]" value="{val_srprice_1way}" class="medium_textbox" id="srprice_1way{i}" style="width:100px !important;"/> &nbsp;&nbsp;
				<input required type="text" pattern="\d+" name="srprice_2way[{i}]" value="{val_srprice_2way}" class="medium_textbox" id="srprice_2way{i}" style="width:100px !important;"/> 
		</fieldset>	
		
		<fieldset>
        	<p style="margin-bottom:-20px;"><label>Child price:</label></p>	
        	<p style="margin-bottom:-0px;"><label style="width:220px;display:inline-block;">One way trip</label> <label>Return trip</label></p>	              	
				<input required type="text" pattern="\d+" name="srprice_1way_child[{i}]" value="{val_srprice_1way_child}" class="medium_textbox" id="srprice_1way_child{i}" style="width:100px !important;"/> &nbsp;&nbsp;
				<input required type="text" pattern="\d+" name="srprice_2way_child[{i}]" value="{val_srprice_2way_child}" class="medium_textbox" id="srprice_2way_child{i}" style="width:100px !important;"/> 
		</fieldset>	
		
      
	   
	  
        
        <fieldset>
		<p><label>Status</label></p>				
				<input type="radio" name="status[{i}]" value="1" id="status{i}" {status_checked_publish} /> Publish
				<input type="radio" name="status[{i}]" value="0" id="status{i}" {status_checked_not_publish}/> Not Publish
	   	</fieldset>
        
	    </div>
	    <!-- END loopPage -->
            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                       {button}
                    </ul>   
                </div>
           </div>
        </form>
	
    </div>
</div>
<script type="text/javascript">
	function trim(str) {		
	    var	str = str.replace(/^\s\s*/, ''),
	            ws = /\s/,
	            i = str.length;
	    while (ws.test(str.charAt(--i)));
	    return str.slice(0, i + 1);
	}
	jQuery(document).ready(function(){
		//validasi
		jQuery('#select_route option').click(function(){
			var id = jQuery(this).val();
			jQuery('#select_schedule option').hide();
			jQuery('#select_schedule option[rel=all]').show();
			if (trim(id)==0){
				jQuery('#select_schedule option').show();
			}else{
				jQuery('#select_schedule option[rel='+id+']').show();
			}			
		});

		//datepicker
		jQuery(function() {
			jQuery( ".dpicker" ).datepicker({
				minDate: 0
			});
		});
	
	})//end document ready
</script>
<!-- END special_rateNew -->
