<!-- BEGIN mainBlock -->
<div id="contentWrapper">
    <div id="content-type">
        <div class="headsUp">
            <h2 style="font-size:18px;">Availability Calendar</h2>
        </div>
        {content}
    </div> <!-- end content type -->
</div><!-- end contentWrapper -->
<!-- END mainBlock -->
