<!-- BEGIN mainBlock -->
<script type="text/javascript">
jQuery(document).ready(function(){
	//formButtons();
	
	jQuery('.rule1').each(function(){
		var val = jQuery(this).val();
		var rel = jQuery(this).attr('rel');
		jQuery('.rule2[rel='+rel+']').find('.level').css('display','none');
		jQuery('.rule2[rel='+rel+']').find('.level[rel='+val+']').css('display','block');
	});
	jQuery('.rule2').each(function(){
		var val = jQuery(this).val();
		var rel = jQuery(this).attr('rel');
		jQuery('.rule3[rel='+rel+']').find('.level').css('display','none');
		jQuery('.rule3[rel='+rel+']').find('.level[rel='+val+']').css('display','block');
	});
		
	jQuery('.rule1').change(function(){
		var val = jQuery(this).val();
		var rel = jQuery(this).attr('rel');
		jQuery('.rule2[rel='+rel+'], .rule3[rel='+rel+']').find('.level').removeAttr('selected').css('display','none');
		jQuery('.rule2[rel='+rel+']').find('.level[rel='+val+']').css('display','block');
	});
	jQuery('.rule2').change(function(){
		var val = jQuery(this).val();
		var rel = jQuery(this).attr('rel');
		jQuery('.rule3[rel='+rel+']').find('.level').removeAttr('selected').css('display','none');
		jQuery('.rule3[rel='+rel+']').find('.level[rel='+val+']').css('display','block');
	});
	
	
	{jsAction}
});
</script>


<div id="contentWrapper">
	<div class="notifBlockSaved" style="display:none; margin-bottom:10px; padding:10px; background:#93FF93; font-size:13px; color:#000;">
			{notif_message}
	</div>
	<div class="notifFailedSaved" style="display:none; margin-bottom:10px; padding:10px; background:#ffd504; font-size:13px; color:#000;">
			{notif_message}
	</div>
	<div id="content-typeEdit">
        	<div class="headsUp">
			<h2>Cancelation Policy {title}</h2>
			<form method="post" action="" id="theEditForm"  name="theEditForm" enctype="multipart/form-data">
			<!-- BEGIN editContent -->
			<input type="hidden" name="pilih[{i}]" id="pilih{i}" value="{pilih}" />
			<input name="lcancelpolicy_ID[{i}]" id="lcancelpolicy_ID{i}" type="hidden" value="{lcancelpolicy_ID}" />
			{separate}
            
            
			<div class="wrapper form" style="border-bottom:solid 1px #ccc;">
				<label>Room Type</label>
				<select name="roomtype[{i}]" class="required">
                	<option value="">select room category</option>
                    {room_category}
                </select>
			</div>
            
			<script type="text/javascript">
				$(function() {
					/*$("#date_start{i}").datepicker();
					$("#date_finish{i}").datepicker();*/
					jQuery(".input-calender").datepicker({ dateFormat : 'mm/dd/yy'});
					jQuery( "#date_start{i}" ).datepicker( "option", "minDate", 0 );
					jQuery( "#date_finish{i}" ).datepicker( "option", "minDate", 1 );
					
					jQuery( "#date_start{i}" ).change(function(){
						var d1 = new Date(jQuery(this).val());
							d1.setDate(d1.getDate()+1);
						jQuery(this).parent().parent().parent().find("#date_finish{i}" ).datepicker( "option", "minDate", d1 );
					});	
				});
			</script>
			<div id="choiceTemplate" class="wrapper form">
				<input id="answercount" name="answercount" type="hidden" value="1" />
				<label>Date From</label>
				<input type="text" class="text required date input-calender" id="date_start{i}" name="date_start[{i}]" value="{date_start}" style="width:70px;" />
				<label style="margin-left:10px; width:30px;">To</label>
				<input type="text" class="text required date input-calender" id="date_finish{i}" name="date_finish[{i}]" value="{date_finish}" style="width:70px;" />
			</div>
            
            
            
            <div class="wrapper form" style="border-bottom:solid 1px #ccc;">
				<label>Rule 1</label>
                <select rel="theRule{i}" class="rule1" name="lrule1[{i}]" >
                	<option value="">select</option>
                    {rule1List}
                </select>
			</div>
            <div class="wrapper form" style="border-bottom:solid 1px #ccc;">
				<label>Rule 2</label>
                <select rel="theRule{i}" class="rule2" name="lrule2[{i}]" >
                	<option value="">select</option>
                    {rule2List}
                </select>
			</div>
			
            <div class="wrapper form" style="border-bottom:solid 1px #ccc;">
				<label>Rule 3</label>
                <select rel="theRule{i}" class="rule3" name="lrule3[{i}]" >
                	<option value="">select</option>
                    {rule3List}
                </select>
			</div>
			
			<div class="wrapper form" style="border-bottom:solid 1px #ccc;">
				<label>Description</label>
                <textarea rows="" cols="" name="lcancellation_policy[{i}]" style="width: 600px; resize: vertical;">{cancellation_policy}</textarea>
			</div>
            
            
            
			<!-- END editContent -->
			<div class="bottonContainer">
				{button_save}
				<a href="{http}{supplier_site_url}/cancellation-policy/" class="button"><img src="{http}{template_url}/img/button-cancel.png" alt="button-cancel" width="75" height="31"/></a>
			</div>
			<div class="clear"></div>
			</form>
		</div>
        </div>
        <!-- id="content-type" END ========================= --> 
</div>
<!-- END mainBlock -->