<!-- BEGIN fpBlock -->
<h1>BALANCE PAYMENT</h1>
<div class="border"></div>	
<div class="content">
     <!--<p class="center"><strong>{villa_name}</strong> that you are booking on <strong>{book_date}</strong> is available.&nbsp;To confirm your booking please continue with the required payment below.&nbsp;</p>
     <p class="center">Payment are securely processed via Paypal. Should you need assistance in other method of payment, please contact us to <a class="underline" href="mailto:reservation@villavedas.com">reservation@villavedas.com</a></p>-->
     
     <div id="detail-booking">
     	<div class="dbf">
        	<div class="label">Booking for</div>
            <div class="value">{villa_name}</div>
            <div class="clear"></div>
        </div>
     	<div class="dbf">
        	<div class="label">Price per night</div>
            <div class="value">{price_per_day}</div>
            <div class="clear"></div>
        </div>
        <div class="dbf">
        	<div class="label">Adult</div>
            <div class="value">{adult} person(s)</div>
            <div class="clear"></div>
        </div>
        <div class="dbf">
        	<div class="label">Children</div>
            <div class="value">{child} person(s)</div>
            <div class="clear"></div>
        </div>
        <div class="dbf">
        	<div class="label">Special Notes</div>
            <div class="value">{special_note}</div>
            <div class="clear"></div>
        </div>
        <div class="dbf">
        	<div class="label">Check In</div>
            <div class="value">{check_in}</div>
            <div class="clear"></div>
        </div>
        <div class="dbf">
        	<div class="label">Check Out</div>
            <div class="value">{check_out}</div>
            <div class="clear"></div>
        </div>
                <div class="dbf">
        	<div class="label">No of night(s)</div>
            <div class="value">{night}</div>
            <div class="clear"></div>
        </div>
        <div class="dbf gray">
        	<div class="label">Total Price</div>
            <div class="value">{total}</div>
            <div class="clear"></div>
        </div>
        <div class="dbf gray">
        	<div class="label">Required Deposit</div>
            <div class="value">{deposite}</div>
            <div class="clear"></div>
        </div>
        
        <div class="term">
        	<input type="checkbox" name="term" /><span>I have read and agreed with the <a class="underline" href="{term_url}" target="_blank">Terms & Conditions</a></span>
        </div>
        
        <div class="btn-payment">
        	<form action="{action_paypal}" method="post" id="form-down-payment">
            <div class="field-p" style="display:none;">
                <input type="hidden" name="rm" value="2">
                <input type="hidden" name="cmd" value="_cart">
                <input type="hidden" name="business" value="{email_paypal}">	
                
                <input type="hidden" name="item_name_1" value="Booking ID : {book_id}">	
                <input type="hidden" name="amount_1" value="{amount}">
                <input type="hidden" name="quantity_1" value="1">
                        
                <input type="hidden" name="return" value="http://{site_url}/success-payment/{special_url}/">
               <!-- <input type="hidden" name="cancel_return" value="http://{site_url}/cancel-payment/{special_url}/">-->
                <input type="hidden" name="cancel_return" value="http://{site_url}/">
                <input type="hidden" name="notify_url" value="http://{site_url}/payment-notify/{special_url}/">
                <input type="hidden" name="upload" value="1">
                <input type="hidden" name="currency_code" value="USD">						
            </div>
            <input type="button" name="btn-payment" class="btn-payment" value="CONTINUE WITH PAYMENT" />
        </form>
        </div>
     </div>
</div>		

<div class="black-overlay with-loader"></div>
<div id="alert-payment" class="mini-popup">
	<div class="close" style="background: url(http://{site_url}/lumonata-plugins/reservation/img/close-floating-div.png) no-repeat;"></div>
	<div class="detail"></div>
</div>


<script>
	jQuery('[name=btn-payment]').unbind('click');
	jQuery('[name=btn-payment]').click(function(){
		if(jQuery('.black-overlay').hasClass('with-loader')==false)jQuery('.black-overlay').addClass('with-loader');
		if(jQuery('[name=term]').is(':checked')){
			jQuery('#form-down-payment').submit();
		}else{
			jQuery('.black-overlay').addClass('with-loader').fadeIn(80,function(){
				jQuery('.black-overlay').removeClass('with-loader');		
			});
			var temp =  html_not_checked_term();
			jQuery('#alert-payment .detail').html('');
			jQuery('#alert-payment .detail').append(temp);
			jQuery('#alert-payment').fadeIn(80);
		}
	});
	
	jQuery('.mini-popup .close').unbind('click');
	jQuery('.mini-popup .close').click(function(){
		jQuery('.mini-popup').fadeOut(80);
		jQuery('.black-overlay').fadeOut(80);
	});
	
	function html_not_checked_term(){
		var temp ="<h3>Failed Payment</h3>";	
			temp +="<div class=\"border-title\"></div>";
			temp +="<div class=\"error-desc\">Term & Condition not checked yet...</div>";
		return temp;	
		
	}
	
	

</script>	
<!-- END fpBlock -->