<!-- BEGIN reservation_block -->
<div id="layout-top" class="reservation-page">      
       {the_step}
       <div class="big-loader"></div>
       <div class="small-popup-info">
       		<div class="close-spf"></div>
       		<div class="header-spf">Alert</div>
            <div class="desc-spf">Can't paste email here. Please typed</div>
       </div>
</div>       
<!-- END reservation_block -->


<!-- BEGIN step_1_block -->
<section id="sec-form">
   <h1 class="big">RESERVATION</h1>
   <div class="line-white"></div>
   <div id="cont-reservation">
        <div id="form">
            <input type="text" class="txt-50 timeframe_field" name="cIn" id="cIn" title="CHECK IN" placeholder="CHECK IN" readonly>
            <input type="text" class="txt-50 timeframe_field" name="cOut" id="cOut"  title="CHECK OUT" placeholder="CHECK OUT" readonly>
            <input class="txt-25" placeholder="ADULT" name="adult" >
            <input class="txt-25" placeholder="CHILDREN" name="child">
            
            <select class="select-50" name="no_of_bedroom" >
              <option value="NO OF BEDROOM" default selected>NO OF BEDROOM</option>
              {list_num_of_bedroom}
            </select>
            <input type="button" name="check-availability" value="CHECK AVAILABILITY" class="btn-100" >
            <input type="hidden" value="villa" name="type_reservation" />
            <div id="calendars" class="timeframe_calendar">
            </div>
            <div class="info-state"></div>
			<div class="overlay-calendar"></div>
            <div class="clear"></div>
        </div>
   </div>
</section>
<!-- END step_1_block -->

<!-- BEGIN step_2_block -->
<section id="sec-result-availability">
    <!-- start result availability -->
    <div id="result-availability">
        <div>
            <h1 class="medium">{not-available}AVAILABLE VILLA</h1>
            <!-- list available villa -->
            <div id="list-available-villa">{list_villa} </div>	
            <!-- end list available villa -->
        </div>            	
    </div>
    <!-- end result availability -->
    <div id="your-stay">   
        <div class="desc-stay">
	         <h2>YOUR STAY</h2>
            <p>Check In: {cIn}</p>
            <p>Check Out: {cOut}</p>
            <p>Adult: {adult}</p>
            <p>Children: {child}</p>
            <p>No of Bedroom: {no_of_bedroom}</p>
            <div class="clear"></div>
        </div>
        <div class="bottom-cont">
	        <input type="button" name="back-step" value="BACK" rel="back-to-step-1-ajax" class="btn-yellow" >
        </div>
    </div>
</section>
<!-- END step_2_block -->

<!-- BEGIN step_3_block -->
<section id="sec-book-info">
    <!-- start result availability -->
    <div id="result-availability">
        <div>
            <h1 class="medium">BOOKING INFO</h1>
            <form class="book-info">
            	<div class="w50"><input class="" name="first_name" placeholder="FIRST NAME" type="text"></div>                  
                <div class="w50"><input class="" name="last_name" placeholder="LAST NAME" type="text"></div>
                <div class="w50"><input class="" name="email" placeholder="EMAIL" type="email"></div>
                <div class="w50"><input class="" name="retype_email" placeholder="RETYPE EMAIL" type="email" onpaste="return false;" ></div>
                <div class="w50"><input class="" name="phone" placeholder="PHONE" type="text"></div>
                <div class="w25"><input class="" name="adult" placeholder="ADULT" type="number" value="{adult}"></div>
                <div class="w25"><input class="" name="child" placeholder="CHILDREN (UNDER 12)" type="number" value="{child}"></div>
                <div class="w100"><textarea class="_textarea" name="special_notes" placeholder="SPECIAL NOTES"></textarea></div>
                <div class="w100">
                	<input type="button" name="book-now" value="SEND BOOKING ENQUIRY" class="btn-100-gray" >
                </div>
                <div class="info-state"></div>
                <div class="clear"></div>
            </form>
        </div>            	
    </div>
    <!-- end result availability -->
    <div id="your-stay">    
        <div class="desc-stay">
	        <h2>YOUR STAY</h2>
            <p>Check In: {cIn}</p>
            <p>Check Out: {cOut}</p>
            <p>Adult: {adult}</p>
            <p>Children: {child}</p>
            <p>No of Bedroom: {no_of_bedroom}</p>
            <div class="clear"></div>
        </div>
        <div class="block-info">
        	<h2>YOUR VILLA</h2>
            <p>{villa_name}</p>
            <p>Price : USD {price_per_night}/night</p>
            {discount}
            {early_bird}
            {surecharge}
            <p>Total : USD {total}</p>
            {payment_metode}
        </div>
        <div class="bottom-cont">
	        <input type="button" name="back-step" value="BACK" rel="back-to-step-2-ajax" class="btn-yellow" >
        </div>
    </div>
</section>
<!-- END step_3_block -->