<!-- BEGIN popup_villa_detail_block -->
<div class="floating-content">
	<div class="close" style="background: url({plugin_url}img/close-floating-div.png) no-repeat;"></div>
    <div class="cont-mid">
        <div class="for-floating default-skin">
            {images}
            {temp_first}
            <div class="title">{title}</div>
            <div class="content-detail">{desc}</div>							
        </div>
    </div>
    <div class="close-floating-content"></div>
</div>

<script>
/*jQuery(document).ready(function(e) {
	validate_height();
});

function validate_height(){
	var hf = jQuery('.for-floating.default-skin').height();	
	var ct = jQuery('.cont-mid').height();
	console.log(hf);
	console.log(ct);
	if(hf > ct){
		var hn = (ct*80)/100;
		jQuery('.for-floating.default-skin').css({'overflow-y':'scrool','height':hn+'px'});
	}
	
}*/
</script>
<style>
div.floating-content {position: fixed;left: 50%; top: 50%; width: 960px; margin-left: -480px; margin-top: -320px; height: 640px; background: #F0F0E1; z-index: 101; opacity:0;}
div.floating-content .title{margin: 20px 5% 30px 5%; text-align: center; width: 90%;font-size: 20px; font-weight:bold;border-bottom: solid 1px #BDBDAE;padding-bottom: 20px;}
div.floating-content .content-detail {width: 89%; height: 80%; margin: 0 5%;position: relative;font-size: 14px;line-height: 160%;}
div.floating-content .content-detail p{margin-bottom:20px;}
div.close-floating-content ,.close-floating-inclusion{width: 24px;height: 24px;position: absolute;top: 0;right: 0; margin-right: -10px;  margin-top: -10px; cursor:pointer;}
div.floating-content .slider{width: 90%;margin: 0 auto;}
div.floating-content .for-floating.scrollable.default-skin{width:100%; height:100%;margin:20px 0;}
.container-image {min-height: 400px; margin: 20px 5% 0; background: rgba(0,0,0,0.6);position:relative;}
.floating-content .close {position: absolute;width: 25px;height: 25px;right: -14px;top: -14px;cursor: pointer;}
div.floating-content .next {position: absolute;right: 0;top: 50%;height: 60px;width: 40px;margin-top: -30px;background-position: -10px -26px;-ms-transform: rotate(180deg);-webkit-transform: rotate(180deg);transform: rotate(180deg); cursor:pointer;}
div.floating-content .prev {position: absolute;left: 0;top: 50%;height: 60px;width: 40px;margin-top: -30px; cursor:pointer;}
.cont-mid {overflow: hidden; max-height: 100%;}
</style>

<!-- END popup_villa_detail_block -->