<!-- BEGIN mainBlock -->
	<script type="text/javascript">
		jQuery(document).ready(function(){
			formButtons();
			{jsAction}
		});
	</script>
	
	<div id="contentWrapper">
		<div class="notifBlockSaved" style="display:none; margin-bottom:10px; padding:10px; background:#ffd504; font-size:13px; color:#a00;">
			Data Saved
		</div>
		
        <div id="content-description">
        	<div class="headsUp">
				<h2>Description</h2>
				<form method="post" action="" id="theEditForm" name="theEditForm" enctype="multipart/form-data">
				<div class="wrapper form" style="border-bottom:solid 1px #ccc;">
					<textarea name="theDesc" style="width:730px; height:200px;">{theDesc}</textarea>
				</div>
				<div class="bottonContainer">
					<a href="#" class="button submit"><img src="{http}{template_url}/img/button-save.png" alt="button-save" width="75" height="31"/></a>
					<a href="{http}{supplier_site_url}/" class="button"><img src="{http}{template_url}/img/button-cancel.png" alt="button-cancel" width="75" height="31"/></a>
				</div><div class="clear"></div>
				
				</form>
			</div>
        </div>
        <!-- id="content-description" END ========================= --> 

	</div>
<!-- END mainBlock -->