body { background:#fff; font-family:"gandhi_sansregular","Trebuchet MS", Arial; font-size:14px; }

a { text-decoration: none; }
a:hover { cursor: pointer; text-decoration: underline; }
.alignCenter { width: 960px; margin: 0 auto; }
.top, .bot { line-height: 0; }
.clear { clear: both; }

.button { float: left; margin-right: 10px; display: inline; }
.center{text-align:center !important;}
.error{
	height:auto;
	background:#FFB0B0;
	border:1px solid #FF0000;
	color:#000000;
	padding:2px 5px 2px 5px;
}
.error li{ line-height:1.5em; margin-left:25px; }
.success{
	height:auto;
	background:#93FF93;
	/*border:1px solid #003300;
	border-bottom:2px #003300 solid;
	border-right:2px #003300 solid;*/
	padding:10px;
	color:#000000;
}
div.success > b {display: none;}
.success li{ line-height:1.5em; margin-left:10px; }
.confirm{
	height:auto;
	background:#FFCFBF;
	border:1px solid #FF9673;
	padding:10px;
	color:#000000;
}
div.confirm > ol {margin: 10px 0;}
.confirm li{ line-height:1.5em; margin-left:10px; }
.btn_new{
	background-image:url(../img/button-new.png);
	background-repeat:no-repeat;
	cursor:pointer;
	height:31px;
        width:74px;
        float: left; margin-right: 10px; display: inline;
        border: 0px;
        font-size:0px;
        padding-top:10px;
}
.max-200{max-width:200px;}
.max-500{max-width:500px;}
.btn_save{
	background-image:url(../img/button-save.png);
	background-repeat:no-repeat;
	cursor:pointer;
	height:31px;
        width:74px;
        float: left; margin-right: 10px; display: inline;
        border: 0px;
        font-size:0px;
        padding-top:10px;
}

.btn_edit{
	background-image:url(../img/button-edit.png);
	background-repeat:no-repeat;
	cursor:pointer;
	height:31px;
        width:74px;
        float: left; margin-right: 10px; display: inline;
        border: 0px;
        font-size:0px;
        padding-top:10px;
}
.btn_delete{
	background-image:url(../img/button-delete.png);
	background-repeat:no-repeat;
	cursor:pointer;
	height:31px;
        width:74px;
        float: left; margin-right: 10px; display: inline;
        border: 0px;
        font-size:0px;
        padding-top:10px;
}
.btn_category{
	background-image:url(../img/button-category.png);
	background-repeat:no-repeat;
	cursor:pointer;
	height:31px;
        width:74px;
        float: left; margin-right: 10px; display: inline;
        border: 0px;
        font-size:0px;
        padding-top:10px;
}
.button_yesno{
height: 20px !important; 
height: 20px;
width: 40px;
border:1px solid #FF3300;
background-color:#dfdbdc;
color:#FF3300;
text-align:center; 
cursor:pointer;
font-size:11px;
font-weight:bold;
}


#header { height: 84px; background: #FF5C26; border-bottom: solid 3px #6c6c6c;}
	#header .headerWrapper { height: 84px; position: relative; font-size: 12px;}
	#header .logo { position:absolute; left: 0; top: 23px; color:#fff; text-decoration:none;}
	#header .logo:hover {text-decoration:none;}
	#header .logo span:nth-child(1){letter-spacing: 2px;font-size:28px;font-weight:normal;}
	#header .logo span:nth-child(3){letter-spacing: 6.2px;padding-top:2px;float:left;}
	#header > div > a.logo > img {max-width: 100%;width: 100%;height: auto;margin-top: 30px;}
	#header .adminLink { position: absolute; right: 75px; bottom: 18px; color: #fff;}
	#header .logoutLink { position: absolute; right: 0; bottom: 18px; color: #fff; }	
	
#greetingBox { background-color:#EEEEEE; border:solid 1px #CCCCCC; width: 948px; height: 26px; padding: 12px 0 0 10px; margin: 10px auto 10px; font-size: 16px; }

#sidebar { background: #EEEEEE; width: 159px; position: relative; float: left; margin-bottom: 20px; border:solid 1px #CCCCCC; }
	#sidebar ul      { float: left;width: 159px; }
	#sidebar ul li   { display: block; float: left; width: 159px; }
	#sidebar ul li a { color: #000; display: block; padding: 10px; color: #444; }
		#sidebar ul li:hover > a, #sidebar ul li a.active, 
		#sidebar ul li.active > a { text-decoration: none; background-color: #CCCCCC; color: #000; }
		
		
		#sidebar ul li.have-sub{background:url(../img/menu-arrow.png) no-repeat; background-position: 140px 13px;}
		#sidebar ul li.have-sub:hover > a{background:url(../img/menu-arrow.png) no-repeat; background-color: #CCCCCC;background-position: 140px 13px;}
		
		#sidebar ul li.have-sub.active > a {background:url(../img/menu-arrow.png) no-repeat #CCCCCC; background-position: 140px 13px;}
		
		#sidebar ul li.have-sub > ul li a{border-top:solid 1px #fff;}
		#sidebar ul li.have-sub > ul li:last-child a{border-bottom:solid 1px #fff;}
		
		
		#sidebar ul ul{background:#fff;}
		#sidebar ul ul li a{padding-left: 18px;}
		
#contentWrapper { width: 790px; float: right; margin-bottom: 20px; }
	#contentWrapper .headsUp  {  }
		/*#contentWrapper .headsUp h2 { background: url(../img/content-head-bg.gif); height: 30px; padding: 10px 20px 0; font-size: 22px; }*/
           #contentWrapper .headsUp .wrapper { width: 748px; float: left; border-left: 1px solid #ccc; border-right: 1px solid #ccc; padding: 15px 20px 15px 20px; }
			#contentWrapper .wrapper:nth-child(1){border-top: 1px solid #ccc;}	
			#contentWrapper .headsUp .wrapper img { float: left; }
			#contentWrapper .headsUp .wrapper h3  { float: right; width: 560px; font-size: 18px; font-weight: bold; }
			#contentWrapper .headsUp .wrapper p   { float: right; width: 560px; }
		#contentWrapper .headsUp .bot { background:  url(../img/headsUp-bot.gif); height: 5px; }
		
		#contentWrapper .bottom { background: url(../img/headsUp-bot2.gif); height: 38px; padding: 9px 20px 0; border: none; width: 750px; }
		
                #contentWrapper .wrapper.form label { float: left; width: 100px; font-size: 12px; padding-top:6px; }
                #contentWrapper .wrapper.form label.mid-width {width:120px;}
                #contentWrapper .wrapper.form label.error { float: left; width:auto; font-size: 12px;background:#FFB0B0;border:1px solid #FF0000;color:#000000;	padding:4px 5px 3px 5px;margin-left:5px;}
				
		#contentWrapper .wrapper.form label strong { color: #006666; }
		
		#contentWrapper .bottonContainer { float: left; background:#f5f5f5; height: 38px; padding: 9px 20px 0; border: none; width: 748px;border: solid 1px #ccc; }
		
		
		#contentWrapper .wrapper.form input, #contentWrapper .wrapper.form select, #contentWrapper .wrapper.form select, #contentWrapper .wrapper.form textarea { color: #444; float: left; background: #fff; border: #ccc solid 1px; font-size: 13px; }
		#contentWrapper .wrapper.form textarea { width: 300px; height: 80px; padding: 3px 5px; font-family: inherit; }
		#contentWrapper .wrapper.form textarea.big { width:80%; height:300px; }
		#contentWrapper .wrapper.form select   { padding: 2px 2px 2px 5px; }
		#contentWrapper .wrapper.form input.checkbox { padding: 0; vertical-align: middle; margin: 0; margin-right:20px; border: none; }
		#contentWrapper .wrapper.form input.text { padding: 3px 5px 3px; width: 300px; }
		#contentWrapper .wrapper.form input.text.middle{width:250px;}
		#contentWrapper .wrapper.form input.text.small{width:100px;}
		#contentWrapper .wrapper.form input.checkbox{margin-top:7px;}

		#contentWrapper .wrapper.form span	{float:left;margin-top: 5px;}	
		.list-field > div{float: left; margin-right:20px}
		.list-field > div.small {max-width:100px;}
		.list-field > div.medium {max-width:150px;}
		.list-field > div > label {float:none !important;}
		.list-field > div > input {margin:10px 0; max-width:100%}
				
		#contentWrapper .wrapper.form.table { padding: 10px 20px; }
		#contentWrapper .wrapper.form.table label { width: auto; margin-right: 10px; }
		#contentWrapper .wrapper.form.table .button { color: #e5291a; font-size: 12px; }
			#contentWrapper .wrapper.form.table .value { float: right; }
			#contentWrapper .wrapper.form.table .value label { width: 85px; text-align: center; }
			#contentWrapper .wrapper.form.table .value label.long{width:150px;}
		#program-package .wrapper.form.table .value label:nth-child(1),#program-package .wrapper.form.table .value label:nth-child(2)
		,#program-package .wrapper.form.table .value label:nth-child(3){width:110px;}
		#contentWrapper .addMoreDate { float: right; margin-right: 10px; margin-top: -40px; }
		
		#content-type > div > div.wrapper.form.table:nth-child(4) {border-top:none;}
		#content-type > div > div.wrapper.form {border-top:solid 1px #ccc;}

	#contentWrapper .tabsContainer { float:left; margin-top: 15px; display:inline; width: 644px; overflow: hidden; }
		#contentWrapper .tabsContainer .theTabs { float:left; border-bottom:1px solid #b4ebfe; width: 700px; }
			#contentWrapper .tabsContainer .theTabs a { margin-bottom:-1px; text-align:center; color:#666; text-decoration:none; background:url(../img/detail-tab-bg.png) bottom left; padding-top:17px; height:35px; width:157px; float:left; display:block; margin-right:5px; font-weight:bold; font-style:italic; }
			#contentWrapper .tabsContainer .theTabs a:hover,
			#contentWrapper .tabsContainer .theTabs a.active { color:#000; text-decoration:none; background:url(../img/detail-tab-bg.png) top left; }
		#contentWrapper .tabsContainer .content { width:643px; float:left; background:#ffb24a; }
			#contentWrapper .tabsContainer .content .oneContent { float:left; padding:0px 0px 10px 10px; }
			
	#content-rateAndRoomType { }
		#content-rateAndRoomType .one { width:275px; }
		#content-rateAndRoomType .two { width:100px; }
		
		#content-rateAndRoomType .tHead { float:left; font-size:14px; font-weight:bold; padding:10px 5px; border-bottom:solid 1px #ff951c; height:30px; }
			#content-rateAndRoomType .tHead span { display:block; font-size:12px; font-weight:normal; }
			img.infoIcon { vertical-align:middle; cursor:pointer; }
		
		#content-rateAndRoomType .tContent { float:left; padding:10px 5px; border-bottom:solid 1px #ff951c; border-top:solid 1px #ffd38f; height:30px; }
		#content-rateAndRoomType .tContent.one img.infoIcon { float:left; margin-top:5px; }
		#content-rateAndRoomType .tContent.one p { float:left; font-size:16px; margin-left:10px; }
		#content-rateAndRoomType .tContent.one span { display:block; font-size:12px; }
		#content-rateAndRoomType .tContent select { border:solid 1px #4a4a4a; background:#fff; margin-left:30px; }
		
	#content-descrtiption, #content-facilities { color:#232323; }
		#content-descrtiption h4, #content-facilities h4 { padding:15px 10px 10px 10px; font-size:15px; font-weight:bold; }
		#content-descrtiption p, #content-facilities p   { padding:5px 20px 10px 10px; line-height:1.5em; font-size:12px; }
		#content-facilities ul { padding-bottom:10px; padding:5px 20px 10px 25px; font-size:12px; line-height:1.5em; }
		#content-facilities ul li { list-style-position:outside; list-style-type:disc; }
	
	#contentWrapper .tabsContainer .content #content-photoGallery.oneContent { padding:20px 0px 20px 25px; }
			#content-photoGallery a { float:left; margin:6px; }
			#content-photoGallery a img { border:solid 2px #fff; }
			
#footer { height: 90px; padding-top: 10px; background: #FF5C26; color: #fff; }
	#footer a { color: #fff; padding-right: 10px; }
	.left { float: left; }
	.right { float: right; }
	
	
.tabContainer { padding: 0px 20px;	border-bottom: solid 1px #ccc; }
	.tabContainer a { display: block; float: left; font-size: 16px; font-weight: bold; background: #e2e0e0; padding: 10px 20px; margin-right: 10px;	color: #000;border: solid 1px #e2e0e0; border-bottom-color: #ccc; margin-bottom: -1px; }
	.tabContainer a:hover, .tabContainer a.active { text-decoration: none; background: #EEFBFF; border-color: #ccc; border-bottom-color: #EEFBFF; }
	
	
.reservationWrapper { width: 790px; position: relative; float: left; }
	.reservationWrapper .wrapper { border-top: solid 1px #ccc; margin-top: 20px; padding: 15px 20px; width: 750px; float: left; }
	.reservationWrapper .wrapper.noborder { border: none; margin: 0; padding-top: 5px; }
	.reservationWrapper .wrapper p { float: none; font-size: 16px; }
	.reservationWrapper .wrapper p.meta { font-size: 12px; font-style: italic; }
	.reservationWrapper .wrapper strong { font-weight: bold; }
	
	.reservationWrapper p.form { width: 750px; float: left; border-bottom: solid 1px #ccc; padding: 10px 20px; position: relative; }
		p.termsAndCond { position: relative; }
		p.termsAndCond .requiredLabel { position: absolute; right: -115px; top:0px; }
		
		.reservationWrapper p.form .requiredLabel { position: absolute; right: 225px; top: 13px; }
		.reservationWrapper p.form label { float: left; width: 130px; }		
		.reservationWrapper p.form input, .reservationWrapper p.form select, .reservationWrapper p.form textarea { background: #fff; border: solid 1px #ccc; font-size: 13px; padding: 2px 5px 3px; width: 300px; }
		#contentWrapper .reservationWrapper p.form input.radio { width: auto; border: none; float: none; display: inline; }
		.reservationWrapper p.form select { padding: 2px 2px 5px; }
		.reservationWrapper p.form input.postal { width: 100px; }
		.reservationWrapper p.form textarea { height: 100px; }
		.reservationWrapper #submitReservation { float: right; margin: 10px 0 10px; }
		.reservationWrapper #sendContactForm { float: left; margin: 10px 0 10px; }
		.reservationWrapper p.termsAndCond { width: auto; float: left; margin-top: 15px; }
		.reservationWrapper p.termsAndCond a { color: #e5291a; }


		#contentWrapper .headsUp .wrapper.head { background: #EEFBFF; padding: 12px 20px; font-size: 12px; color: #006666; }
		#contentWrapper .headsUp .wrapper.bordered { border-top: solid 1px #e2e2e2; padding: 12px 20px; font-size: 12px; }
		
			#contentWrapper .headsUp .wrapper span.zero { float: left; width: 90px; }
			
			#contentWrapper .headsUp .wrapper span.one   { float: left; margin-right: 5px; width: 180px; }
			#contentWrapper .headsUp .wrapper span.one.wider { width: 250px }
			
			#contentWrapper .headsUp .wrapper span.two   { float: left; margin-right: 5px; width: 80px;  text-align: center; }
				#contentWrapper .headsUp .wrapper span.two img { float: none; }
			#contentWrapper .headsUp .wrapper span.three { float: left; margin-right: 5px; width: 85px; text-align: left; }
			#contentWrapper .headsUp .wrapper span.three.wider { width: 180px; }
			
			#contentWrapper .headsUp .wrapper span.four  { float: left; margin-right: 5px; width: 120px;  text-align: left; }
			#contentWrapper .headsUp .wrapper span.five  { float: left; margin-right: 5px; width: 200px; text-align: center; }
			#contentWrapper .headsUp .wrapper span.five.narrow { width: 90px; float: right; }
				#contentWrapper .headsUp .wrapper span.five a { font-size: 12px; color: #e5291a; padding: 0 5px; }
				#contentWrapper .headsUp .wrapper span.five img { float: none; }
				

.dateSearch { border: solid 1px #ccc; background: #fff; width:88px; padding: 4px 5px 5px; }
.searchNowButton { background: #be3125; border: none; color: #fff; padding: 3px 5px 4px; font-weight: bold;  }
.theLegend { font-size: 10px; font-weight: normal; float: right; position: absolute; right: 10px; top: 4px; }
			
#contentWrapper .headsUp h2 { background: #EEEEEE;  height: 30px; padding: 10px 20px 0; font-size: 18px;border: solid 1px #ccc;border-bottom: none; }	
#contentWrapper .wrapper .details { color: #444; background: #fff; width: 746px; margin: 10px 0px 0px; border: solid 1px #ccc; float: left; -webkit-border-radius:4px; -moz-border-radius: 4px; }
			#contentWrapper .wrapper .details p { width: 726px; float: left; font-size: 13px; padding: 5px 10px; }
			#contentWrapper .wrapper .details span { float: left; }		
			
.notifSmall { background: #ffd504; padding: 6px 10px; margin:5px 0; display: none; }
.delBookDetail tr td { padding: 4px 10px 4px 0; }


#AllotmentCalendarContainer { }
	#AllotmentCalendarContainer h2.fc-header-title { background:none; font-size:26px; padding:inherit; }
	
	#AllotmentCalendarContainer .fc-event a { border:none; }
	
	#AllotmentCalendarContainer .fc-event, 
	#AllotmentCalendarContainer .fc-agenda .fc-event-time, 
	#AllotmentCalendarContainer .fc-event a { border:none; border-left-style:none; background:none; }
	
	#AllotmentCalendarContainer .fc-event.theStatus a           { background:#0c6969; color:#fff; padding:1px;  }
	#AllotmentCalendarContainer .fc-event.theStatus.hold 	  a { background:#000; color:#fff; }
	#AllotmentCalendarContainer .fc-event.theStatus.available a { background:#0c6969; }
	#AllotmentCalendarContainer .fc-event.theStatus.half      a { background:#F60; color:#000; } 
	#AllotmentCalendarContainer .fc-event.theStatus.no-in-out a { background:#C00; color:#000; } 
	#AllotmentCalendarContainer .fc-event.theStatus.booked    a { background:#C00; color:#fff; } 
	#AllotmentCalendarContainer .fc-event.theStatus.no-in     a { background:#603; color:#fff; } 
	#AllotmentCalendarContainer .fc-event.theStatus.no-out    a { background:#f90; color:#fff; } 
	
	#AllotmentCalendarContainer .fc-event.theAllorment a { background:#CFF; color:#000; padding:1px; }
		#AllotmentCalendarContainer .fc-event.theAllorment.booked a { background:#C00; color:#fff; }
	
	#AllotmentCalendarContainer .fc-event.theRate a      { background:#999; color:#000; padding:1px; }


h3 small { font-size:0.8em; }
span.bookingStatus { position:absolute; left:0; top:16px; background:#999; color:#000; -webkit-border-radius:4px; -moz-border-radius: 4px; padding:3px 5px 4px; font-size:11px;}
	span.bookingStatus.hold    {}
	span.bookingStatus.booked  { background:#0c6969; color:#fff; }
	span.bookingStatus.confirm { background:#F60; color:#000; }
	span.bookingStatus.cancel  { background:#C00; color:#fff; }


#contentWrapper .navigation { margin:10px; color: #303030; }
		#contentWrapper .navigation a { color: #303030; padding: 0 5px; }
		#contentWrapper .navigation a:hover {  }
		#contentWrapper .navigation a.active { color: #e5291a; }







.myBookingTable {}
	.myBookingTable tr {}
	.myBookingTable tr td { padding:5px; border:solid 1px #ccc; }
	.myBookingTable tr.head td { border-top:solid 2px #ccc; border-botoom:solid 2px #ccc; text-align:center; font-weight:bold; vertical-align:middle; }

#veryBigWhiteOverlay {}
	#veryBigWhiteOverlay .theWrapper { }
		#veryBigWhiteOverlay .theWrapper h2 { background: url(../img/content-head-bg.gif); height: 30px; padding: 10px 20px 0; font-size: 22px; }
                #veryBigWhiteOverlay .theWrapper .wrapper { width: 748px; float: left; border-left: 1px solid #b4ecff; border-right: 1px solid #b4ecff; padding: 15px 20px 15px 20px; }
			#veryBigWhiteOverlay .theWrapper .wrapper img { float: left; }
			#veryBigWhiteOverlay .theWrapper .wrapper h3  { float: right; width: 560px; font-size: 18px; font-weight: bold; }
			#veryBigWhiteOverlay .theWrapper .wrapper p   { float: right; width: 560px; }
		#veryBigWhiteOverlay .theWrapper .bot { background:  url(../img/headsUp-bot.gif); height: 5px; }
		
		#veryBigWhiteOverlay .theWrapper .bottom { background: url(../img/headsUp-bot2.gif); height: 38px; padding: 9px 20px 0; border: none; width: 750px; }
		
                #veryBigWhiteOverlay .theWrapper .wrapper.form label { float: left; width: 100px; font-size: 13px; }
                #veryBigWhiteOverlay .theWrapper .wrapper.form label.error { float: left; width:auto; font-size: 13px;background:#FFB0B0;
															border:1px solid #FF0000;
															color:#000000;
															padding:4px 5px 3px 5px;
															margin-left:5px; }
		#veryBigWhiteOverlay .theWrapper .wrapper.form label strong { color: #006666; }
		
		#veryBigWhiteOverlay .theWrapper .bottonContainer { float: left; background: url(../img/headsUp-bot2.gif); height: 38px; padding: 9px 20px 0; border: none; width: 750px; }
		
		
		#veryBigWhiteOverlay .theWrapper .wrapper.form input, #veryBigWhiteOverlay .theWrapper .wrapper.form select, #veryBigWhiteOverlay .theWrapper .wrapper.form select, #veryBigWhiteOverlay .theWrapper .wrapper.form textarea { color: #444; float: left; background: #fff; border: #ccc solid 1px; font-size: 13px; }
		#veryBigWhiteOverlay .theWrapper .wrapper.form textarea { width: 300px; height: 80px; padding: 3px 5px; font-family: inherit; }
		#veryBigWhiteOverlay .theWrapper .wrapper.form select   { padding: 2px 2px 2px 5px; }
		#veryBigWhiteOverlay .theWrapper .wrapper.form input.checkbox { padding: 0; vertical-align: middle; margin: 0; margin-right:20px; border: none; }
		#veryBigWhiteOverlay .theWrapper .wrapper.form input.text { padding: 2px 5px 3px; width: 300px; }
		
		#veryBigWhiteOverlay .theWrapper .wrapper.form.table { padding: 10px 20px; }
		#veryBigWhiteOverlay .theWrapper .wrapper.form.table label { width: auto; margin-right: 10px; }
		#veryBigWhiteOverlay .theWrapper .wrapper.form.table .button { color: #e5291a; font-size: 12px; }
			#veryBigWhiteOverlay .theWrapper .wrapper.form.table .value { float: right; }
			#veryBigWhiteOverlay .theWrapper .wrapper.form.table .value label { width: 85px; text-align: center; }
		
		#veryBigWhiteOverlay .theWrapper .addMoreDate { float: right; margin-right: 10px; margin-top: -40px; }
		
		

	#veryBigWhiteOverlay .theWrapper .tabsContainer { float:left; margin-top: 15px; display:inline; width: 644px; overflow: hidden; }
		#veryBigWhiteOverlay .theWrapper .tabsContainer .theTabs { float:left; border-bottom:1px solid #b4ebfe; width: 700px; }
			#veryBigWhiteOverlay .theWrapper .tabsContainer .theTabs a { margin-bottom:-1px; text-align:center; color:#666; text-decoration:none; background:url(../img/detail-tab-bg.png) bottom left; padding-top:17px; height:35px; width:157px; float:left; display:block; margin-right:5px; font-weight:bold; font-style:italic; }
			#veryBigWhiteOverlay .theWrapper .tabsContainer .theTabs a:hover,
			#veryBigWhiteOverlay .theWrapper .tabsContainer .theTabs a.active { color:#000; text-decoration:none; background:url(../img/detail-tab-bg.png) top left; }
		#veryBigWhiteOverlay .theWrapper .tabsContainer .content { width:643px; float:left; background:#89e1ff; }
			#veryBigWhiteOverlay .theWrapper .tabsContainer .content .oneContent { float:left; padding:0px 0px 10px 10px; }
			


	#veryBigWhiteOverlay .theWrapper .wrapper.head { background: #EEFBFF; padding: 12px 20px; font-size: 12px; color: #006666; }
		#veryBigWhiteOverlay .theWrapper .wrapper.bordered { border-top: solid 1px #e2e2e2; border-bottom: solid 1px #e2e2e2; padding: 12px 20px; font-size: 12px; }
		
			#veryBigWhiteOverlay .theWrapper .wrapper span.zero { float: left; width: 90px; }
			
			#veryBigWhiteOverlay .theWrapper .wrapper span.one   { float: left; margin-right: 5px; width: 180px; }
			#veryBigWhiteOverlay .theWrapper .wrapper span.one.wider { width: 250px }
			
			#veryBigWhiteOverlay .theWrapper .wrapper span.two   { float: left; margin-right: 5px; width: 80px;  text-align: center; }
				#veryBigWhiteOverlay .theWrapper .wrapper span.two img { float: none; }
			#veryBigWhiteOverlay .theWrapper .wrapper span.three { float: left; margin-right: 5px; width: 85px; text-align: left; }
			#veryBigWhiteOverlay .theWrapper .wrapper span.three.wider { width: 180px; }
			
			#veryBigWhiteOverlay .theWrapper .wrapper span.four  { float: left; margin-right: 5px; width: 120px;  text-align: left; }
			#veryBigWhiteOverlay .theWrapper .wrapper span.five  { float: left; margin-right: 5px; width: 200px; text-align: center; }
			#veryBigWhiteOverlay .theWrapper .wrapper span.five.narrow { width: 90px; float: right; }
				#veryBigWhiteOverlay .theWrapper .wrapper span.five a { font-size: 12px; color: #e5291a; padding: 0 5px; }
				#veryBigWhiteOverlay .theWrapper .wrapper span.five img { float: none; }


#veryBigWhiteOverlay .theWrapper .headsUp h2 { background: url(../img/content-head-bg.gif); height: 30px; padding: 10px 20px 0; font-size: 14px; }	
#veryBigWhiteOverlay .theWrapper .wrapper .details { color: #444; background: #fff; width: 746px; margin: 10px 0px 0px; border: solid 1px #ccc; float: left; -webkit-border-radius:4px; -moz-border-radius: 4px; }
			#veryBigWhiteOverlay .theWrapper .wrapper .details p { width: 726px; float: left; font-size: 13px; padding: 5px 10px; }
			#veryBigWhiteOverlay .theWrapper .wrapper .details span { float: left; }	

#veryBigWhiteOverlay .theWrapper a.showDetails { display:none; } 

#facilitiesSelectionContainer { padding:0 0 10px 0; border-bottom:solid 1px #f4f4f4; margin:0 0 10px 0; }
	#facilitiesSelectionContainer .one      { width:318px; padding:5px 35px 5px 10px; border:solid 1px #eee; margin:0 0 5px 5px; float:left; background:#eee; color:#aaa; font-size:14px; -webkit-border-radius:5px; -moz-border-radius: 5px; border-radius:5px; cursor:pointer; font-size:12px; position:relative; }
		#contentWrapper .headsUp .wrapper #facilitiesSelectionContainer .one p    { float:none; width:auto; display:block; margin:0; padding:0; }
		#contentWrapper .headsUp .wrapper #facilitiesSelectionContainer .one span { position:absolute; right:4px; top:2px; color:#fff; font-size:17px; font-weight:bold; }
	#facilitiesSelectionContainer .hover    { border:solid 1px #999; color:#999; }
	#facilitiesSelectionContainer .selected { border:solid 1px #999; background:#aaa; color:#333; }
	#facilitiesSelectionContainer .hover.selected { border:solid 1px #333; }
	
	#contentWrapper .wrapper.form .newFacilitiesInput     { width:338px; padding:5px 10px; border:solid 1px #eee; border:solid 1px #999; background:#eee; margin:0 5px 5px 5px; float:left; -webkit-border-radius:5px; -moz-border-radius: 5px; border-radius:5px; }
	#contentWrapper .wrapper.form .addNewFacilitiesButton { width:auto;  padding:5px 10px; border:none;           border:solid 1px #ccc; background:#ccc; margin:0 5px 5px 0; float:left; -webkit-border-radius:5px; -moz-border-radius: 5px; border-radius:5px; }
	#facilitiesSelectionContainer .one strong { background:#FC6; padding:0 2px; font-style:italic; }
	
.otherCheckbox { cursor:pointer; -webkit-border-radius:5px; -moz-border-radius: 5px; border-radius:5px; background:#ccc; color:#333; float:left; font-size:11px; font-weight:bold; padding:4px 5px 5px; margin-right:5px; margin-top:1px; }
.otherCheckbox.selected { background:#333; color:#fff; }

.brl{border-left: 1px solid #b4ecff;border-right: 1px solid #b4ecff;}
.bt-abu, .bt-abu-true{border-top: solid 1px #ccc;}
.bb-abu{border-bottom: solid 1px #ccc;}
.bt-abu.bt-abu-none{border-top:none !important;}
.dba, .span-final{margin: 6px 0 0 5px;float: left;}
#contentWrapper .wrapper.form.table.header-list label{padding-top:0px;}
#theEditForm > div.wrapper.form.bt-abu {border-top: none;}

#content-type.villa_reservation select{margin: 0px;padding: 2px;}
#content-type.villa_reservation select#the_status {max-width: 200px;}
#content-type.villa_reservation div.left {margin: 10px;}
.cont_price.use-time{display:none;}

.use-time span{float: left;margin: 5px 10px 5px 30px;}
.w-half{width:50%;}
.show-div{display:block !important;}
.hide-div{display:none !important;}
.sp-mr{margin-right:5px;}
.sp-ml{margin-left:5px;}
.ten-mr{margin-right:10px !important;}
.five-mr{margin-right:5px !important;}
.fiveteen-ml{margin-left:15px !important;}
.fiveteen-mr{margin-right:15px !important;}

.table_additional_service{width: 100%; border: 1px solid #BBBBBB;}
.table_additional_service .header{background:#eee;font-weight:normal;font-size: 12px}
.table_additional_service .additional-name{text-align:left; padding-bottom:10px; padding-left:10px; width:300px; padding-top: 5px; padding-bottom: 5px;float:left;}
.table_additional_service .action{text-align:left; padding-bottom:10px;  padding-top: 5px; padding-bottom: 5px;float:left;}
.table_additional_service .price{text-align:center;  padding:0px 15px 15px; padding-bottom:10px; width:165px; padding-top: 5px; padding-bottom: 5px;float:left;}
.table_additional_service .small{text-align:left; padding-bottom:10px; width: 35px; padding-top: 5px; padding-bottom: 5px;float:left;}
.table_additional_service .total{text-align:right; padding-bottom:10px; padding-right:35px;  padding-top: 5px; padding-bottom: 5px;float:right;}
div.list_additional_service{font-size:12px;}
div.list_additional_service ul > li{padding-left:20px;padding-bottom: 10px;}
div.list_additional_service ul > li> ul{margin-left:5px}
div.list_additional_service ul li{margin:10px 0;}
#contentWrapper .wrapper.form .list_additional_service label {width:290px;}
#contentWrapper .wrapper.form .list_additional_service .checkbox {width:15px;}
#contentWrapper .wrapper.form .list_additional_service span{margin:7px;min-width: 110px;}
#contentWrapper .wrapper.form .list_additional_service input[type=text]{width:30px; margin-left:7px;text-align: center;}
#contentWrapper .wrapper.form .list_additional_service span.sub_total_addtional_service{float:right;min-width: 62px;}
/*#contentWrapper .wrapper.form .list_additional_service span.sub_total_addtional_service.right{text-align:right;}*/
#contentWrapper .wrapper.form .list_additional_service .list_price{width: 58%;float: left;}
input.qty_additional_service, input.days_additional_service{display:none;}
input.qty_additional_service.show, input.days_additional_service.show{display:block;}

.list-reservation-history.header{margin-top:-1px; /*border-bottom:solid 1px #ccc;*/ border-top:solid 1px #ccc; }
.bg-abu-list{background:#f5f5f5;}
.list-reservation-history{/*border-bottom:solid 1px #ccc;*/line-height: 140%;}
.list-reservation-history label{padding-top:0px !important;}
.list-reservation-history input.checkbox{margin-top:2px !important;}
.list-reservation-history .first-lbl{width:135px !important;}
.list-reservation-history .det-book label:nth-child(1){width:200px  !important;}
.list-reservation-history .det-book label:nth-child(2){width:0px !important;}
.list-reservation-history .det-book label:nth-child(3){width:50px !important; text-align:center;}
.list-reservation-history .det-book label:nth-child(5){width:70px !important; text-align:center;}
.list-reservation-history .det-book label:nth-child(4){width:178px  !important;}

.list-reservation-history.all-mode .det-book label:nth-child(1){width:150px  !important;}
.list-reservation-history.all-mode .det-book label:nth-child(2){width:125px !important;text-align:left; white-space: nowrap;  overflow: hidden;  text-overflow: ellipsis;}
.list-reservation-history.all-mode .det-book label:nth-child(2):hover{white-space: normal;overflow: auto;text-overflow: none;}
.list-villa{float:left; list-style:circle;list-style-position:inside}
.list-villa li{width:135px !important;text-align:left; white-space: nowrap;  overflow: hidden;  text-overflow: ellipsis;padding-left: 1px;}
.list-villa li:hover{white-space: normal;overflow: auto;text-overflow: none;}


.list-reservation-history.all-mode .det-book label:nth-child(3){width:40px  !important;text-align:center;}
.list-reservation-history.all-mode .det-book label:nth-child(4){width:90px !important; text-align:left; white-space: nowrap;  overflow: hidden;  text-overflow: ellipsis;}
.list-reservation-history.all-mode .det-book label:nth-child(4):hover{white-space: normal;overflow: auto;text-overflow: none;}
.list-reservation-history.all-mode .det-book label:nth-child(6){width:40px !important; text-align:center;}
.list-reservation-history.all-mode .det-book label:nth-child(5){width: 105px !important; text-align: left;margin-right: 0 !important;}

div.wrapper.form.table.grand-total.all-mode label:nth-child(1){width: 675px !important;}
div.wrapper.form.table.grand-total.all-mode label:nth-child(2){width: 60px !important;text-align:center;margin-right: 0 !important;}
.villa_invisible{display:none;}
.list-reservation-history.all-mode .villa_invisible{display:block;}


div.wrapper.form.table.grand-total { border-bottom:solid 1px #ccc;padding: 15px 20px !important;}
div.wrapper.form.table.grand-total label{padding-top:0 !important;}
div.wrapper.form.table.grand-total label:nth-child(1){width:675px !important;}
div.wrapper.form.table.grand-total label:nth-child(2){width:60px !important;text-align:center;margin-right: 0 !important;}
#contentWrapper .overlay-calendar,.loader-blue {position:absolute;width:100%;height:100%;z-index: 100;opacity: 0.7;/* IE 8 */ -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
filter: alpha(opacity=70);-moz-opacity: 0.7;-khtml-opacity: 0.7;background:url('../img/loading.gif') no-repeat center white;display:none;}
.loader-blue.abu-bg{background:url('../img/loading.gif') no-repeat center #eee; display:none; top: 0;left: 0;}

.headsUp.custom{position:relative;}

.just-overlay{position:fixed;width:100%;height:100%;z-index: 99;opacity: 0.7;/* IE 8 */ -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
filter: alpha(opacity=70);-moz-opacity: 0.7;-khtml-opacity: 0.7;background:black; top:0; left:0;display:none;}

.detail-reservation {display: none;background: none repeat scroll 0 0 #EEEEEE;border: 1px solid #CCCCCC;padding: 20px;position: fixed;left: 50%;right: auto;top: auto;bottom: auto;margin-left: -400px;z-index: 101;width: 800px;max-height: 60%;overflow: auto; min-height:30px;line-height: 140%;}

.booking-status {position: relative;margin-bottom: 5px;cursor: pointer;float: right;width: 240px;}
.confirmed-notice, .check-availability-notice, .waiting-payment-notice {background: linear-gradient(to bottom, #6CBD58 0px, #5FA74E 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);color: #FFFFFF;}
.unconfirmed-notice, .answers-notice, .warn-notice, .info-notice, .confirmed-notice, #failure, .canceled-notice, .check-availability-notice, .waiting-payment-notice, .waiting-dp-payment-notice, .waiting-full-payment-notice, .receive-dp-payment-notice, .waiting-balance-payment-notice 

{border-radius: 4px 4px 4px 4px;box-shadow: 0 2px 2px #2B2B2B;font-size: 12px;font-weight: bold;min-height: 27px;padding: 5px 10px 5px 5px;}
.booking-status ul {background-color: #aaa;position: absolute;list-style: none;display: none;margin: 3px 0;width: 100%;padding: 0;}
.booking-status ul li {padding: 5px 10px 5px 5px;color: #fff;}
#booking-status .booking-status-icon, .confirmed span, .unconfirmed span, .canceled span, .check-availability span, .waiting-payment span, .waiting-dp-payment span, .waiting-full-payment span,.receive-dp-payment span,.waiting-balance-payment span {display: block;height: 27px;position: absolute;width: 27px;}
#booking-status-message, .booking-status ul li div {padding-bottom: 5px;padding-left: 36px;padding-top: 5px;font-size: 14px;}
#booking-status.unconfirmed-notice .booking-status-icon, .unconfirmed span {background-image: url("../img/notice-error.png");}
#booking-status.waiting-payment-notice .booking-status-icon, .waiting-payment span , .waiting-dp-payment span, .waiting-full-payment span, 
.waiting-balance-payment span, .receive-dp-payment span
{background-image: url("../img/notice-waiting-payment.png");}
#booking-status.canceled-notice .booking-status-icon, .canceled span {
background-image: url("../img/notice-canceled.png");}
#booking-status.check-availability-notice .booking-status-icon, .check-availability span {
background-image: url("../img/notice-check-availability.png");}
#booking-status.confirmed-notice .booking-status-icon, .confirmed span {
background-image: url("../img/notice-success.png");}
#booking-status.waiting-dp-payment-notice .booking-status-icon, #booking-status.waiting-full-payment-notice .booking-status-icon,
#booking-status.receive-dp-payment-notice .booking-status-icon,  #booking-status.waiting-balance-payment-notice .booking-status-icon
{background-image: url("../img/notice-waiting-payment.png");}
.detail-reservation div.header {background: none repeat scroll 0 0 #aaa; color:#000;}
.detail-reservation div.header h2 {font-size:20px; margin:10px}
.unconfirmed-notice, #failure, .canceled-notice {
background: linear-gradient(to bottom, #DD5952 0px, #BC3E33 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);color: #FFFFFF;}

.confirmed-notice, .check-availability-notice, .waiting-payment-notice, .waiting-dp-payment-notice, .waiting-full-payment-notice, .receive-dp-payment-notice,
.waiting-balance-payment-notice {background: linear-gradient(to bottom, #6CBD58 0px, #5FA74E 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);color: #FFFFFF;}
.status-arrow{background: url("../img/status-arrow.png") no-repeat;width: 10px;height: 10px;position: absolute;top: 15px;right: 10px;background-size: 10px;}

div.the-detail > div{float:left;padding: 10px 0;border-top: solid 1px #bbb;border-bottom: solid 1px #bbb;border-left: solid 1px #bbb;}
div.the-detail > div.clear{float:none;padding:0;border: none;}
div.the-detail.header-now {margin-top:10px;background-color: #ccc;font-size:15px}
div.the-detail div.villa {width: 68.99%;padding-left:2%;/* border-left: solid 1px #ccc; */}
div.the-detail div.night {width:13%;text-align:center;}
div.the-detail div.total {width: 15.5%;text-align:center;border-right: solid 1px #bbb;}
.detail-reservation h2 {font-size:18px;margin-top:30px}
div.the-detail.bt-none > div{border-top:none;min-height: 57px;}
div.the-detail.bt-none > div.clear{min-height:0;}
div.desc_gt div:nth-child(1){float:left; width: 80.5%; padding: 10px 15px 10px 15px;border-right: solid 1px #bbb;/* text-align: right; */}
div.desc_gt div:nth-child(2){float:left; width: 15%; text-align:center;padding: 10px 0;}
div.desc_gt {border: solid 1px #bbb;border-top: none;}
ul.list-total li{margin-bottom:5px;}
li.strike-through {text-decoration:line-through; color:#bbb;}
div.desc_gt.surcharge div:nth-child(1) label{float:left;width:100px;}
div.desc_gt.surcharge div:nth-child(1) ul{float:left;list-style-type: circle;width: 500px;}
div.desc_gt.cust{width: 99.7%;}
table#table-detail-booking{margin-top:15px;}
table#table-detail-booking tr:nth-child(1) {background:#ccc}
table#table-detail-booking td {border: solid 1px #bbb;padding :10px}
table#table-detail-booking td:nth-child(1) {width:250px}
table#table-detail-booking td:nth-child(2) {width:200px}
table#table-detail-booking td:nth-child(3),table#table-detail-booking td:nth-child(4) {width:100px}
table#table-detail-booking td:nth-child(5) {width:70px;text-align:center;}
div.message {margin-top: 10px;}
.just-button{margin-top:20px;padding: 5px 10px;font-size: 14px;}
div.mini_box {position: fixed;top: 50%; left: 50%; margin-top:-25px;margin-left: -310px; border: solid 1px #D83400; padding: 10px;background:#f5d3c9;display:none;z-index: 101;}
div.mini_box p{margin-bottom:10px;}
div.mini_box input{float:right;}
.action_type, .info_type{display:none;}

#program-book-history.list-reservation-history .first-lbl {width:100px !important;}
#program-book-history.list-reservation-history .block_action {width:110px !important;float: left; width:100px;}
#program-book-history.list-reservation-history.all-mode .det-book label:nth-child(1){width: 240px !important;}
/*#program-book-history.list-reservation-history.all-mode .det-book label:nth-child(2){width: 80px !important;text-align:center;}*/
#program-book-history.list-reservation-history.all-mode .det-book label:nth-child(3){width: 150px !important;}
#program-book-history.list-reservation-history.all-mode .det-book label:nth-child(4){width: 70px!important;text-align:center;}
#program-book-history.list-reservation-history.all-mode .det-book label:nth-child(5){width: 100px !important;text-align: center;}
#program-book-history.list-reservation-history.all-mode .det-book label:nth-child(6){width: 70px !important;text-align: center;}
div.wrapper.form.table.grand-total.for-prog-his label:nth-child(1) {width:655px !important;}

.prog_reservation .the_header .left{margin: 15px 0;}
.prog_reservation .the_header .left span {float:left; width:70px; margin: 7px 0px 0px 10px;}
.prog_reservation .the_header select{padding:3px;}
.prog_reservation .the_header .right{padding-top:5px;}
small.thesl {float: left; margin-right: 2px;}
#contentWrapper #program-book-history.wrapper.form span{margin-top:0;}
ul.ul-prog-his > li, ul.same-height >  li{margin-bottom:10px;min-height: 110px;}
.span_action{float: left; margin-top: 5px; height: 12px;}
.span_action a:nth-child(1){background: url("../img/show-detail.png") no-repeat; width: 18px; height: 18px;background-size: 18px;}
.span_action a:nth-child(2){background: url("../img/cancel.png") no-repeat; width:15px; height:15px;background-size: 14px;margin-top: 1px;}

.table-single-detail-booking{margin-top:15px;}
.table-single-detail-booking tr:nth-child(1) {background:#ccc}
.table-single-detail-booking td {border: solid 1px #bbb;padding :10px}
.w_80{width:80px;}
.w_100{width:100px;}
.w_120{width:120px;}
.w_150{width:150px;}
.table-single-detail-booking td:nth-child(1) {}
.table-single-detail-booking td:nth-child(2) {}
.table-single-detail-booking td:nth-child(3),table#table-detail-booking td:nth-child(4) {}
.table-single-detail-booking td:nth-child(5) {}

ul.list_pagging {text-align: right; margin: 2px 0;}
ul.list_pagging li{display: inline; padding: 5px 10px;background: #f5f5f5;border: solid 1px #ccc;margin: 0 5px; cursor:pointer;}
ul.list_pagging li.selected {color:#ccc;}
div.wrapper.form.table.list-reservation-history.cont-pagging {border-top: none !important;border-bottom: solid 1px #ccc;background: #f5f5f5;}
select.category_programs {max-width: 180px;}
select#programs_0 {max-width: 180px;}

#contentWrapper div#occupancy_cont.wrapper.form  span {margin: 2px 10px;}
#contentWrapper div#occupancy_cont.wrapper.form  label {padding-top: 3px;}
#discount_temp .wrapper.form.table .value label:nth-child(1){width:150px;}
table#table-booking-for-program tr:nth-child(4) td:nth-child(1) label{width: 80px;}
span.badge {border: solid 1px #6CBD58;  background: linear-gradient(to bottom, #6CBD58 0px, #5FA74E 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);  border-radius: 18px;  width: 17px;  height: 15px;  float: left;  font-size: 12px;  text-align: center;  margin-right: 5px;  vertical-align: middle;  padding-top: 2px;  color: #fff;  margin-top: -2px;}
li.sub-menu  .badge{margin-left:-8px;}
li.sub-menu.prog-reser a{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
li.sub-menu.prog-reser a:hover{white-space: normal;overflow: auto;}
ul.ul-prog-his li span small{font-size: 12px;}
.mce-container{margin-left:120px;}
#contentWrapper .wrapper.form .mce-container span{margin-top:0;}
.div-float-left{float:left;}
div#message-are-you-sure {width: 300px;height: 100px; position: fixed; background: #fff; z-index: 99; left: 50%; top: 50%; margin-left: -150px; margin-top: -50px;display:none;}
div#message-are-you-sure .text {margin:25px 15px 15px 15px;}
div#message-are-you-sure input[type="button"] {margin:0 5px 0 15px;}
div#message-are-you-sure input[type="button"]:nth-child(3) {margin-left:10px;}

.dinamic-val{display:none;}
input.dinamic-val {width: 80%;}
input.dinamic-val.half {width: 45%;margin-right: 10px;}
textarea.dinamic-val{width:80%; height:100px}
ul.dinamic-val {width: 300px;}
ul.dinamic-val li{display:inline-block; width:140px;}
ul.dinamic-val.list-additional-cost li{width:50px;}
input.additional_service {margin-top: 2px; float: left; margin-right: 5px;}
ul.dinamic-val.list-additional-cost li input{ margin-top: 2px; float: left; margin-right: 5px;}
input.other_ads {display: none;}