body { background:#fff; font-family:"Trebuchet MS", Arial; font-size:14px; }

a { text-decoration: none; }
a:hover { cursor: pointer; text-decoration: underline; }
.alignCenter { width: 960px; margin: 0 auto; }
.top, .bot { line-height: 0; }
.clear { clear: both; }

.button { float: left; margin-right: 10px; display: inline; }

.error{
	height:auto;
	background:#FFB0B0;
	border:1px solid #FF0000;
	color:#000000;
	padding:2px 5px 2px 5px;
}
.error li{ line-height:1.5em; margin-left:25px; }
.success{
	height:auto;
	background:#93FF93;
	/*border:1px solid #003300;
	border-bottom:2px #003300 solid;
	border-right:2px #003300 solid;*/
	padding:10px;
	color:#000000;
}
.success li{ line-height:1.5em; margin-left:15px; }
.confirm{
	height:auto;
	background:#ffd504;
	/*border:1px solid #FF9900;*/
	padding:10px;
	color:#000000;
}
.confirm li{ line-height:1.5em; margin-left:15px; }
.btn_new{
	background-image:url(../img/button-new.png);
	background-repeat:no-repeat;
	cursor:pointer;
	height:31px;
        width:74px;
        float: left; margin-right: 10px; display: inline;
        border: 0px;
        font-size:0px;
        padding-top:10px;
}

.btn_save{
	background-image:url(../img/button-save.png);
	background-repeat:no-repeat;
	cursor:pointer;
	height:31px;
        width:74px;
        float: left; margin-right: 10px; display: inline;
        border: 0px;
        font-size:0px;
        padding-top:10px;
}

.btn_edit{
	background-image:url(../img/button-edit.png);
	background-repeat:no-repeat;
	cursor:pointer;
	height:31px;
        width:74px;
        float: left; margin-right: 10px; display: inline;
        border: 0px;
        font-size:0px;
        padding-top:10px;
}
.btn_delete{
	background-image:url(../img/button-delete.png);
	background-repeat:no-repeat;
	cursor:pointer;
	height:31px;
        width:74px;
        float: left; margin-right: 10px; display: inline;
        border: 0px;
        font-size:0px;
        padding-top:10px;
}
.button_yesno{
height: 20px !important; 
height: 20px;
width: 40px;
border:1px solid #FF3300;
background-color:#dfdbdc;
color:#FF3300;
text-align:center; 
cursor:pointer;
font-size:11px;
font-weight:bold;
}


#header { background:url(../img/header-bg.png) ; height: 83px; }
	#header .headerWrapper { height: 83px; position: relative; }
	#header .logo { position:absolute; left: 0; top: 0; }
	#header .adminLink { position: absolute; right: 75px; bottom: 18px; color: #fff;}
	#header .logoutLink { position: absolute; right: 0; bottom: 18px; color: #fff; }
	
#greetingBox { background: url(../img/greeting-box.png); width: 940px; height: 26px; padding: 12px 0 0 20px; margin: 10px auto 10px; font-size: 16px; }

#sidebar { background: #cdeae3; width: 159px; position: relative; float: left; margin-bottom: 20px; }
	#sidebar .top { height: 5px; background: url(../img/sidebar-round-top.gif) no-repeat; width: 159px; float: left; }
	#sidebar .bot { height: 5px; background: url(../img/sidebar-round-bot.gif) no-repeat; width: 159px; float: left; }
	#sidebar ul      { float: left; border-left: solid 1px #b0cfc8; border-right: solid 1px #b0cfc8; width: 157px; }
	#sidebar ul li   { display: block; float: left; width: 157px; }
	#sidebar ul li a { color: #000; display: block; padding: 10px; color: #444; }
		#sidebar ul li a:hover, #sidebar ul li a.active { text-decoration: none; background: #a3d4c8; color: #000; }
		
#contentWrapper { width: 790px; float: right; margin-bottom: 20px; }
	#contentWrapper .headsUp  {  }
		#contentWrapper .headsUp h2 { background: url(../img/content-head-bg.gif); height: 30px; padding: 10px 20px 0; font-size: 22px; }
                #contentWrapper .headsUp .wrapper { width: 748px; float: left; border-left: solid 1px #dedddd; border-right: solid 1px #dedddd; padding: 15px 20px 15px 20px; }
			#contentWrapper .headsUp .wrapper img { float: left; }
			#contentWrapper .headsUp .wrapper h3  { float: right; width: 560px; font-size: 18px; font-weight: bold; }
			#contentWrapper .headsUp .wrapper p   { float: right; width: 560px; }
		#contentWrapper .headsUp .bot { background:  url(../img/headsUp-bot.gif); height: 5px; }
		
		#contentWrapper .bottom { background: url(../img/headsUp-bot2.gif); height: 38px; padding: 9px 20px 0; border: none; width: 750px; }
		
                #contentWrapper .wrapper.form label { float: left; width: 100px; font-size: 13px; }
                #contentWrapper .wrapper.form label.error { float: left; width:auto; font-size: 13px;background:#FFB0B0;
	border:1px solid #FF0000;
	color:#000000;
	padding:4px 5px 3px 5px;
        margin-left:5px;
        }
		#contentWrapper .wrapper.form label strong { color: #006666; }
		
		#contentWrapper .bottonContainer { float: left; background: url(../img/headsUp-bot2.gif); height: 38px; padding: 9px 20px 0; border: none; width: 750px; }
		
		
		#contentWrapper .wrapper.form input, #contentWrapper .wrapper.form select, #contentWrapper .wrapper.form select, #contentWrapper .wrapper.form textarea { color: #444; float: left; background: #fff; border: #ccc solid 1px; font-size: 13px; }
		#contentWrapper .wrapper.form textarea { width: 300px; height: 80px; padding: 3px 5px; font-family: inherit; }
		#contentWrapper .wrapper.form select   { padding: 2px 2px 2px 5px; }
		#contentWrapper .wrapper.form input.checkbox { padding: 0; vertical-align: middle; margin: 0; margin-right:20px; border: none; }
		#contentWrapper .wrapper.form input.text { padding: 2px 5px 3px; width: 300px; }
		
		#contentWrapper .wrapper.form.table { padding: 10px 20px; }
		#contentWrapper .wrapper.form.table label { width: auto; margin-right: 10px; }
		#contentWrapper .wrapper.form.table .button { color: #e5291a; font-size: 12px; }
			#contentWrapper .wrapper.form.table .value { float: right; }
			#contentWrapper .wrapper.form.table .value label { width: 85px; text-align: center; }
		
		#contentWrapper .addMoreDate { float: right; margin-right: 10px; margin-top: -40px; }
		
		

	#contentWrapper .tabsContainer { float:left; margin-top: 15px; display:inline; width: 644px; overflow: hidden; }
		#contentWrapper .tabsContainer .theTabs { float:left; border-bottom:solid 1px #fee773; width: 700px; }
			#contentWrapper .tabsContainer .theTabs a { margin-bottom:-1px; text-align:center; color:#666; text-decoration:none; background:url(../img/detail-tab-bg.png) bottom left; padding-top:17px; height:35px; width:157px; float:left; display:block; margin-right:5px; font-weight:bold; font-style:italic; }
			#contentWrapper .tabsContainer .theTabs a:hover,
			#contentWrapper .tabsContainer .theTabs a.active { color:#000; text-decoration:none; background:url(../img/detail-tab-bg.png) top left; }
		#contentWrapper .tabsContainer .content { width:643px; float:left; background:#ffd500; }
			#contentWrapper .tabsContainer .content .oneContent { float:left; padding:0px 0px 10px 10px; }
			
	#content-rateAndRoomType { }
		#content-rateAndRoomType .one { width:275px; }
		#content-rateAndRoomType .two { width:100px; }
		
		#content-rateAndRoomType .tHead { float:left; font-size:14px; font-weight:bold; padding:10px 5px; border-bottom:solid 1px #fbaa1c; height:30px; }
			#content-rateAndRoomType .tHead span { display:block; font-size:12px; font-weight:normal; }
			img.infoIcon { vertical-align:middle; cursor:pointer; }
		
		#content-rateAndRoomType .tContent { float:left; padding:10px 5px; border-bottom:solid 1px #fbaa1c; border-top:solid 1px #fee878; height:30px; }
		#content-rateAndRoomType .tContent.one img.infoIcon { float:left; margin-top:5px; }
		#content-rateAndRoomType .tContent.one p { float:left; font-size:16px; margin-left:10px; }
		#content-rateAndRoomType .tContent.one span { display:block; font-size:12px; }
		#content-rateAndRoomType .tContent select { border:solid 1px #4a4a4a; background:#fff; margin-left:30px; }
		
	#content-descrtiption, #content-facilities { color:#232323; }
		#content-descrtiption h4, #content-facilities h4 { padding:15px 10px 10px 10px; font-size:15px; font-weight:bold; }
		#content-descrtiption p, #content-facilities p   { padding:5px 20px 10px 10px; line-height:1.5em; font-size:12px; }
		#content-facilities ul { padding-bottom:10px; padding:5px 20px 10px 25px; font-size:12px; line-height:1.5em; }
		#content-facilities ul li { list-style-position:outside; list-style-type:disc; }
	
	#contentWrapper .tabsContainer .content #content-photoGallery.oneContent { padding:20px 0px 20px 25px; }
			#content-photoGallery a { float:left; margin:6px; }
			#content-photoGallery a img { border:solid 2px #fff; }
			
#footer { height: 90px; padding-top: 10px; background: #013434; color: #fff; }
	#footer a { color: #fff; padding-right: 10px; }
	.left { float: left; }
	.right { float: right; }
	
	
.tabContainer { padding: 0px 20px;	border-bottom: solid 1px #ccc; }
	.tabContainer a { display: block; float: left; font-size: 16px; font-weight: bold; background: #e2e0e0; padding: 10px 20px; margin-right: 10px;	color: #000;border: solid 1px #e2e0e0; border-bottom-color: #ccc; margin-bottom: -1px; }
	.tabContainer a:hover, .tabContainer a.active { text-decoration: none; background: #ebfaf6; border-color: #ccc; border-bottom-color: #ebfaf6; }
	
	
.reservationWrapper { width: 790px; position: relative; float: left; }
	.reservationWrapper .wrapper { border-top: solid 1px #ccc; margin-top: 20px; padding: 15px 20px; width: 750px; float: left; }
	.reservationWrapper .wrapper.noborder { border: none; margin: 0; padding-top: 5px; }
	.reservationWrapper .wrapper p { float: none; font-size: 16px; }
	.reservationWrapper .wrapper p.meta { font-size: 12px; font-style: italic; }
	.reservationWrapper .wrapper strong { font-weight: bold; }
	
	.reservationWrapper p.form { width: 750px; float: left; border-bottom: solid 1px #ccc; padding: 10px 20px; position: relative; }
		p.termsAndCond { position: relative; }
		p.termsAndCond .requiredLabel { position: absolute; right: -115px; top:0px; }
		
		.reservationWrapper p.form .requiredLabel { position: absolute; right: 225px; top: 13px; }
		.reservationWrapper p.form label { float: left; width: 130px; }		
		.reservationWrapper p.form input, .reservationWrapper p.form select, .reservationWrapper p.form textarea { background: #fff; border: solid 1px #ccc; font-size: 13px; padding: 2px 5px 3px; width: 300px; }
		#contentWrapper .reservationWrapper p.form input.radio { width: auto; border: none; float: none; display: inline; }
		.reservationWrapper p.form select { padding: 2px 2px 5px; }
		.reservationWrapper p.form input.postal { width: 100px; }
		.reservationWrapper p.form textarea { height: 100px; }
		.reservationWrapper #submitReservation { float: right; margin: 10px 0 10px; }
		.reservationWrapper #sendContactForm { float: left; margin: 10px 0 10px; }
		.reservationWrapper p.termsAndCond { width: auto; float: left; margin-top: 15px; }
		.reservationWrapper p.termsAndCond a { color: #e5291a; }


		#contentWrapper .headsUp .wrapper.head { background: #EBFAF6; padding: 12px 20px; font-size: 12px; color: #006666; }
		#contentWrapper .headsUp .wrapper.bordered { border-top: solid 1px #e2e2e2; padding: 12px 20px; font-size: 12px; }
		
			#contentWrapper .headsUp .wrapper span.zero { float: left; width: 90px; }
			
			#contentWrapper .headsUp .wrapper span.one   { float: left; margin-right: 5px; width: 180px; }
			#contentWrapper .headsUp .wrapper span.one.wider { width: 250px }
			
			#contentWrapper .headsUp .wrapper span.two   { float: left; margin-right: 5px; width: 80px;  text-align: center; }
				#contentWrapper .headsUp .wrapper span.two img { float: none; }
			#contentWrapper .headsUp .wrapper span.three { float: left; margin-right: 5px; width: 85px; text-align: left; }
			#contentWrapper .headsUp .wrapper span.three.wider { width: 180px; }
			
			#contentWrapper .headsUp .wrapper span.four  { float: left; margin-right: 5px; width: 120px;  text-align: left; }
			#contentWrapper .headsUp .wrapper span.five  { float: left; margin-right: 5px; width: 200px; text-align: center; }
			#contentWrapper .headsUp .wrapper span.five.narrow { width: 90px; float: right; }
				#contentWrapper .headsUp .wrapper span.five a { font-size: 12px; color: #e5291a; padding: 0 5px; }
				#contentWrapper .headsUp .wrapper span.five img { float: none; }
				

.dateSearch { border: solid 1px #ccc; background: #fff; width:88px; padding: 4px 5px 5px; }
.searchNowButton { background: #be3125; border: none; color: #fff; padding: 3px 5px 4px; font-weight: bold;  }
.theLegend { font-size: 10px; font-weight: normal; float: right; position: absolute; right: 10px; top: 4px; }
			
#contentWrapper .headsUp h2 { background: url(../img/content-head-bg.gif); height: 30px; padding: 10px 20px 0; font-size: 14px; }	
#contentWrapper .wrapper .details { color: #444; background: #fff; width: 746px; margin: 10px 0px 0px; border: solid 1px #ccc; float: left; -webkit-border-radius:4px; -moz-border-radius: 4px; }
			#contentWrapper .wrapper .details p { width: 726px; float: left; font-size: 13px; padding: 5px 10px; }
			#contentWrapper .wrapper .details span { float: left; }		
			
.notifSmall { background: #ffd504; padding: 6px 10px; margin:5px 0; display: none; }
.delBookDetail tr td { padding: 4px 10px 4px 0; }


#AllotmentCalendarContainer { }
	#AllotmentCalendarContainer h2.fc-header-title { background:none; font-size:26px; padding:inherit; }
	
	#AllotmentCalendarContainer .fc-event a { border:none; }
	
	#AllotmentCalendarContainer .fc-event, 
	#AllotmentCalendarContainer .fc-agenda .fc-event-time, 
	#AllotmentCalendarContainer .fc-event a { border:none; border-left-style:none; background:none; }
	
	#AllotmentCalendarContainer .fc-event.theStatus a           { background:#0c6969; color:#fff; padding:1px;  }
	#AllotmentCalendarContainer .fc-event.theStatus.hold a      { background:#000; color:#fff; }
	#AllotmentCalendarContainer .fc-event.theStatus.available a { background:#0c6969; }
	#AllotmentCalendarContainer .fc-event.theStatus.half a      { background:#F60; color:#000; } 
	#AllotmentCalendarContainer .fc-event.theStatus.booked a    { background:#C00; color:#fff; } 
	
	#AllotmentCalendarContainer .fc-event.theAllorment a { background:#CFF; color:#000; padding:1px; }
		#AllotmentCalendarContainer .fc-event.theAllorment.booked a { background:#C00; color:#fff; }
	
	#AllotmentCalendarContainer .fc-event.theRate a      { background:#999; color:#000; padding:1px; }


h3 small { font-size:0.8em; }
span.bookingStatus { position:absolute; left:0; top:16px; background:#999; color:#000; -webkit-border-radius:4px; -moz-border-radius: 4px; padding:3px 5px 4px; font-size:11px;}
	span.bookingStatus.hold    {}
	span.bookingStatus.booked  { background:#0c6969; color:#fff; }
	span.bookingStatus.confirm { background:#F60; color:#000; }
	span.bookingStatus.cancel  { background:#C00; color:#fff; }


#contentWrapper .navigation { margin:10px; color: #303030; }
		#contentWrapper .navigation a { color: #303030; padding: 0 5px; }
		#contentWrapper .navigation a:hover {  }
		#contentWrapper .navigation a.active { color: #e5291a; }







.myBookingTable {}
	.myBookingTable tr {}
	.myBookingTable tr td { padding:5px; border:solid 1px #ccc; }
	.myBookingTable tr.head td { border-top:solid 2px #ccc; border-botoom:solid 2px #ccc; text-align:center; font-weight:bold; vertical-align:middle; }

#veryBigWhiteOverlay {}
	#veryBigWhiteOverlay .theWrapper { }
		#veryBigWhiteOverlay .theWrapper h2 { background: url(../img/content-head-bg.gif); height: 30px; padding: 10px 20px 0; font-size: 22px; }
                #veryBigWhiteOverlay .theWrapper .wrapper { width: 748px; float: left; border-left: solid 1px #dedddd; border-right: solid 1px #dedddd; padding: 15px 20px 15px 20px; }
			#veryBigWhiteOverlay .theWrapper .wrapper img { float: left; }
			#veryBigWhiteOverlay .theWrapper .wrapper h3  { float: right; width: 560px; font-size: 18px; font-weight: bold; }
			#veryBigWhiteOverlay .theWrapper .wrapper p   { float: right; width: 560px; }
		#veryBigWhiteOverlay .theWrapper .bot { background:  url(../img/headsUp-bot.gif); height: 5px; }
		
		#veryBigWhiteOverlay .theWrapper .bottom { background: url(../img/headsUp-bot2.gif); height: 38px; padding: 9px 20px 0; border: none; width: 750px; }
		
                #veryBigWhiteOverlay .theWrapper .wrapper.form label { float: left; width: 100px; font-size: 13px; }
                #veryBigWhiteOverlay .theWrapper .wrapper.form label.error { float: left; width:auto; font-size: 13px;background:#FFB0B0;
															border:1px solid #FF0000;
															color:#000000;
															padding:4px 5px 3px 5px;
															margin-left:5px; }
		#veryBigWhiteOverlay .theWrapper .wrapper.form label strong { color: #006666; }
		
		#veryBigWhiteOverlay .theWrapper .bottonContainer { float: left; background: url(../img/headsUp-bot2.gif); height: 38px; padding: 9px 20px 0; border: none; width: 750px; }
		
		
		#veryBigWhiteOverlay .theWrapper .wrapper.form input, #veryBigWhiteOverlay .theWrapper .wrapper.form select, #veryBigWhiteOverlay .theWrapper .wrapper.form select, #veryBigWhiteOverlay .theWrapper .wrapper.form textarea { color: #444; float: left; background: #fff; border: #ccc solid 1px; font-size: 13px; }
		#veryBigWhiteOverlay .theWrapper .wrapper.form textarea { width: 300px; height: 80px; padding: 3px 5px; font-family: inherit; }
		#veryBigWhiteOverlay .theWrapper .wrapper.form select   { padding: 2px 2px 2px 5px; }
		#veryBigWhiteOverlay .theWrapper .wrapper.form input.checkbox { padding: 0; vertical-align: middle; margin: 0; margin-right:20px; border: none; }
		#veryBigWhiteOverlay .theWrapper .wrapper.form input.text { padding: 2px 5px 3px; width: 300px; }
		
		#veryBigWhiteOverlay .theWrapper .wrapper.form.table { padding: 10px 20px; }
		#veryBigWhiteOverlay .theWrapper .wrapper.form.table label { width: auto; margin-right: 10px; }
		#veryBigWhiteOverlay .theWrapper .wrapper.form.table .button { color: #e5291a; font-size: 12px; }
			#veryBigWhiteOverlay .theWrapper .wrapper.form.table .value { float: right; }
			#veryBigWhiteOverlay .theWrapper .wrapper.form.table .value label { width: 85px; text-align: center; }
		
		#veryBigWhiteOverlay .theWrapper .addMoreDate { float: right; margin-right: 10px; margin-top: -40px; }
		
		

	#veryBigWhiteOverlay .theWrapper .tabsContainer { float:left; margin-top: 15px; display:inline; width: 644px; overflow: hidden; }
		#veryBigWhiteOverlay .theWrapper .tabsContainer .theTabs { float:left; border-bottom:solid 1px #fee773; width: 700px; }
			#veryBigWhiteOverlay .theWrapper .tabsContainer .theTabs a { margin-bottom:-1px; text-align:center; color:#666; text-decoration:none; background:url(../img/detail-tab-bg.png) bottom left; padding-top:17px; height:35px; width:157px; float:left; display:block; margin-right:5px; font-weight:bold; font-style:italic; }
			#veryBigWhiteOverlay .theWrapper .tabsContainer .theTabs a:hover,
			#veryBigWhiteOverlay .theWrapper .tabsContainer .theTabs a.active { color:#000; text-decoration:none; background:url(../img/detail-tab-bg.png) top left; }
		#veryBigWhiteOverlay .theWrapper .tabsContainer .content { width:643px; float:left; background:#ffd500; }
			#veryBigWhiteOverlay .theWrapper .tabsContainer .content .oneContent { float:left; padding:0px 0px 10px 10px; }
			


	#veryBigWhiteOverlay .theWrapper .wrapper.head { background: #EBFAF6; padding: 12px 20px; font-size: 12px; color: #006666; }
		#veryBigWhiteOverlay .theWrapper .wrapper.bordered { border-top: solid 1px #e2e2e2; border-bottom: solid 1px #e2e2e2; padding: 12px 20px; font-size: 12px; }
		
			#veryBigWhiteOverlay .theWrapper .wrapper span.zero { float: left; width: 90px; }
			
			#veryBigWhiteOverlay .theWrapper .wrapper span.one   { float: left; margin-right: 5px; width: 180px; }
			#veryBigWhiteOverlay .theWrapper .wrapper span.one.wider { width: 250px }
			
			#veryBigWhiteOverlay .theWrapper .wrapper span.two   { float: left; margin-right: 5px; width: 80px;  text-align: center; }
				#veryBigWhiteOverlay .theWrapper .wrapper span.two img { float: none; }
			#veryBigWhiteOverlay .theWrapper .wrapper span.three { float: left; margin-right: 5px; width: 85px; text-align: left; }
			#veryBigWhiteOverlay .theWrapper .wrapper span.three.wider { width: 180px; }
			
			#veryBigWhiteOverlay .theWrapper .wrapper span.four  { float: left; margin-right: 5px; width: 120px;  text-align: left; }
			#veryBigWhiteOverlay .theWrapper .wrapper span.five  { float: left; margin-right: 5px; width: 200px; text-align: center; }
			#veryBigWhiteOverlay .theWrapper .wrapper span.five.narrow { width: 90px; float: right; }
				#veryBigWhiteOverlay .theWrapper .wrapper span.five a { font-size: 12px; color: #e5291a; padding: 0 5px; }
				#veryBigWhiteOverlay .theWrapper .wrapper span.five img { float: none; }


#veryBigWhiteOverlay .theWrapper .headsUp h2 { background: url(../img/content-head-bg.gif); height: 30px; padding: 10px 20px 0; font-size: 14px; }	
#veryBigWhiteOverlay .theWrapper .wrapper .details { color: #444; background: #fff; width: 746px; margin: 10px 0px 0px; border: solid 1px #ccc; float: left; -webkit-border-radius:4px; -moz-border-radius: 4px; }
			#veryBigWhiteOverlay .theWrapper .wrapper .details p { width: 726px; float: left; font-size: 13px; padding: 5px 10px; }
			#veryBigWhiteOverlay .theWrapper .wrapper .details span { float: left; }	

#veryBigWhiteOverlay .theWrapper a.showDetails { display:none; }


