<!-- BEGIN mainBlock -->
	<div id="contentWrapper">
		
        
        
        <div id="content-gallery">
        	<div class="headsUp">
        		<h2>Gallery</h2>
        		
        		<div class="bottonContainer">
        			<a href="#" class="button"><img src="{http}{template_url}/img/button-new.png" alt="button-save" width="75" height="31"/></a>
					<a href="#" class="button"><img src="{http}{template_url}/img/button-edit.png" alt="button-cancel" width="75" height="31"/></a>
					<a href="#" class="button"><img src="{http}{template_url}/img/button-delete.png" alt="button-cancel" width="75" height="31"/></a>
        		</div>
        		<div class="wrapper form table" style="margin-top:-1px; border-bottom:solid 1px #ccc; border-top:solid 1px #ccc; background:#f5f5f5;">
        			<input type="checkbox" class="checkbox" value="" /> 
        			
        			<label style="width:160px; margin-right:10px;"><strong>Thumbnail</strong></label>
        			<label style="width:auto; margin-right:10px;"><strong>Image Title</strong></label>
        		</div>
        		
        		
        		<div class="wrapper form table" style=" border-bottom:solid 1px #ccc;">
        			<input type="checkbox" class="checkbox" value="" /> 
        			
        			<label style="width:160px; margin-right:10px;"><img src="{http}{template_url}/dummy/gallery1.jpg" alt="gallery1" width="152" height="103"/></label>
        			<label style="width:auto; margin-right:10px;">Single Standard</label>
        			
        			<a href="#" class="button">edit</a> <a href="#" class="button">delete</a>
        		</div>
        		<div class="wrapper form table" style=" border-bottom:solid 1px #ccc;">
        			<input type="checkbox" class="checkbox" value="" /> 
        			
        			<label style="width:160px; margin-right:10px;"><img src="{http}{template_url}/dummy/gallery1.jpg" alt="gallery1" width="152" height="103"/></label>
        			<label style="width:auto; margin-right:10px;">Single Standard</label>
        			
        			<a href="#" class="button">edit</a> <a href="#" class="button">delete</a>
        		</div>
        		<div class="wrapper form table" style=" border-bottom:solid 1px #ccc;">
        			<input type="checkbox" class="checkbox" value="" /> 
        			
        			<label style="width:160px; margin-right:10px;"><img src="{http}{template_url}/dummy/gallery1.jpg" alt="gallery1" width="152" height="103"/></label>
        			<label style="width:auto; margin-right:10px;">Single Standard</label>
        			
        			<a href="#" class="button">edit</a> <a href="#" class="button">delete</a>
        		</div>

        		
        		
        		<div class="bottonContainer">
        			<a href="#" class="button"><img src="{http}{template_url}/img/button-new.png" alt="button-save" width="75" height="31"/></a>
					<a href="#" class="button"><img src="{http}{template_url}/img/button-edit.png" alt="button-cancel" width="75" height="31"/></a>
					<a href="#" class="button"><img src="{http}{template_url}/img/button-delete.png" alt="button-cancel" width="75" height="31"/></a>
        		</div>
        		<div class="clear"></div>
        	</div>
        </div>
        <!-- id="content-type" END ========================= --> 
        
        
	        
	</div>
<!-- END mainBlock -->