<!-- BEGIN Bvilla_reservation_details_admin -->
<style media="all">

.title{
	font-size: 14px !important;
}
.blockReservation {
	width:100%;
	/*padding-top: 5px;*/
}
.td_line_up{
	text-align:left; padding:0px; background:url({template_url_imgs}/VRHLine4.png) top no-repeat ;
	border-bottom:1px solid #BBBBBB;
}

.td_additional_title{
	vertical-align:top; text-align:left; padding:5px 0 5px 10px; 
}

.td_package_title{
	vertical-align:top; text-align:left; padding:5px 0 5px 10px;  width:250px;
}
.td_colspan_5{
	 vertical-align: top;
}
.td_checkbox{
	vertical-align:top; width: 26px; text-align:left; padding:5px 12px 5px 5px; 
}

.td_price{
	vertical-align:top; width:120px; vertical-align:top; text-align:right; padding:5px 12px 5px 12px; 
}

.td_qty{
	vertical-align:top; width: 56px; text-align:center; padding:5px 0 5px 0; 
}

.td_day{
	vertical-align:top; width: 56px; text-align:center; padding:5px 0 5px 0; 
}

.td_tot_price{
	vertical-align:top; text-align:right; padding:5px 10px 5px 0; 
}
.td_line_bottom{
	text-align:left; padding:0px; background:url({template_url_imgs}/VRHLine4.png) top no-repeat;
	border-bottom:1px solid #BBBBBB;
}

.block_detail_villa_reservation {
	border: 1px solid #BBBBBB;
}
.blockReservation_top {
		
	}
</style>

<style media="print">
	.title{
		font-size: 16px !important;
	}
	.tr_block_button { display:none; }
	th {background: url("../images/panel_bg.jpg") repeat-x scroll 0 0 transparent;
	    border-bottom: 1px solid #BBBBBB;
	    border-top: 1px solid #BBBBBB;
	    font-size: 16px !important;
	    height: 23px;
	    margin: 0;}
	.blockReservation_top {
		font-size: 16px !important;
	}
	.block_detail_villa_reservation {
	border: none;
	}
	.block_detail_villa_reservation_run{
		/*border: 2px solid #BBBBBB;*/
		border:0;
		font-family: times New Roman;
	}
	.blockReservation_top {
		/*display:block;*/
	}
</style>

<div class="blockReservation blockReservation_top" style="float: left; margin-bottom: 10px; display:none;">
	<img src="http://{site_url_new}/lumonata-content/themes/dipan_villa_rental_08/images/IconDipanNewBlack.png" style="margin: 10px;">
</div>

<div class="block_detail_villa_reservation_run"" style="width: 730px; float:left;clear: both;">
	<div class="blockReservation" style="float: left; margin-bottom: 30px; margin-top:10px;">
		<table cellspacing="0" cellpadding="0" style="width: 100%;">
			<tr>
			     <td style="text-align:left; padding: 2px 10px; width: 150px; ">
			     	Booking Id
			     </td>
			     <td style="text-align:center; padding: 2px  10px;  width: 5px; ">
			     	:
			     </td>
			     <td style="text-align:left; padding: 2px 0px;  ">
			     	{booking_id}
			     </td>
			</tr>
			<tr>
			     <td style="text-align:left;  padding: 2px 10px; width: 150px; ">
			     	Booking date
			     </td>
			     <td style="text-align:center;  padding: 2px 10px; width: 5px; ">
			     	:
			     </td>
			     <td style="text-align:left;  padding: 2px 0px; ">
			     	{booking_date}
			     </td>
			</tr>
			<tr>
			     <td style="text-align:left;  padding: 2px 10px; width: 150px; ">
			     	Adult
			     </td>
			     <td style="text-align:center;  padding: 2px 10px; width: 5px; ">
			     	:
			     </td>
			     <td style="text-align:left;  padding: 2px 0px; ">
			     	{adult}
			     </td>
			</tr>
			<tr>
			     <td style="text-align:left;  padding: 2px 10px; width: 150px; ">
			     	Child
			     </td>
			     <td style="text-align:center;  padding: 2px 10px; width: 5px; ">
			     	:
			     </td>
			     <td style="text-align:left;  padding: 2px 0px; ">
			     	{child}
			     </td>
			</tr>
			<tr>
			     <td style="text-align:left;  padding: 2px 10px; width: 150px; vertical-align: top;">
			     	Special Request
			     </td>
			     <td style="text-align:center;  padding: 2px 10px; width: 5px; vertical-align: top;">
			     	:
			     </td>
			     <td style="text-align:left;  padding: 2px 10px 2px 0px; ">
			     	{additional_request}
			     </td>
			</tr>
		</tbody>
	</table>
	</div>
	
	<div class="blockReservation" style="float: left; margin-bottom: 0px;">
		<table cellspacing="0" cellpadding="0" style="width: 100%;">
			<tbody>
			
			<tr>
			     <th style="text-align:left;  padding:5px 10px;  background-color: #DBDBDB;">
			     	Booking For
			     </th>
			     <th style="text-align:left; padding:5px 0px;  background-color: #DBDBDB;">
			     	Qty.
			     </th>
			     <th style="text-align:center; padding:5px 0px;  background-color: #DBDBDB;">
			     	Nights
			     </th>
			     <th style="text-align:right; padding:5px 10px;  background-color: #DBDBDB;">
			     	Total(USD)
			     </th>
			</tr>
			<tr>
			     <td colspan="5" style="text-align:left; padding:0px 0 5px 0; background:url({template_url_imgs}/VRHLine4.png) top no-repeat  "> 
			     </td>
			</tr>	
			<tr>
				<td valign="top" style="text-align:left; padding:10px 0 12px 10px; background:">
			     	<b>{villa_name}</b>
	                <br /><p>Check In: {check_in}<br />Check Out: {check_out}</p>
				</td>
			
				<td valign="top" style="text-align:center; padding:10px 0 12px 0; background:">
			     	{qty}
				</td>
				<td valign="top" style="text-align:center; padding:10px 0 12px 0; background:">
			    	{night}
				</td>
				<td valign="top" style="text-align:right; padding:10px 10px 12px 0; background:" class="the_total_rate">
			     	{total_cost}
				</td>
			</tr>
			<tr>
	   <td style="text-align:left; padding:0px 0 5px 0; background:url({template_url_imgs}/VRHLine4.png) top no-repeat;" colspan="5">
	   </td>
			</tr>
			</tbody>
	    </table>
	</div>
	
	{special_offer_additional_services_includes_admin}
	
	<div class="blockReservation" style="float: left; margin-bottom: 10px;">
		<table cellspacing="0" cellpadding="0" style="width: 100%;">
	   			
	    <tbody>
	    <tr style="{style_display_tr}">
	        <th style="text-align:left; padding:5px 10px; width:150px;  background-color: #DBDBDB;">
	        Additional Service
	        </th>
	        <th style="text-align:left; padding-bottom:10px; background-color: #DBDBDB;">
	
	        </th>
	        <th style="text-align:left; padding:5px 12px 12px 12px; padding-bottom:10px; width: 26px; background-color: #DBDBDB;">
	        
	        </th>
	        <th style="text-align:right;  padding:0px 12px 12px; padding-top:5px; padding-bottom:5px; padding-bottom:10px; width:120px;  background-color: #DBDBDB;">
	        Price (USD)
	        </th>
	        <th style="text-align:left; padding-bottom:10px; padding-top:5px; padding-bottom:5px; width: 56px;  background-color: #DBDBDB;">
	        Qty.
	        </th>
	        <th style="text-align:left; padding-bottom:10px; padding-top:5px; padding-bottom:5px; width: 56px;  background-color: #DBDBDB;">
	        Day
	        </th>
	        <th style="text-align:right; padding-bottom:10px; padding-right:10px;  padding-top:5px; padding-bottom:5px; background-color: #DBDBDB;">
	        Total(USD)
	        </th>
	     </tr>
	     
	    
	     
	    <!-- B Spa -->
	   	
	    
	   
	   {additional_service_categories_selected_detail_admin}
	   
	    <tr style="{style_display_tr}">
			<td colspan="7" class="td_line_up"> 
			</td>
	    </tr>
	    
	                   
	                  
	                  
		
	               
		<tr>
			<td style="text-align:right; padding:2px 10px 2px 0; " colspan="7">
	         Total: <span style="font-size:14px; "> USD. 
	         <span id="theTotal">
	         {theTotal}
	         </span>
	         </span>
			</td>
		</tr>
	     
		{theSurchargeHighSeason}
	    {theSurchargeOther}
	    {theDiscount}
	    {theSubTotal}
	    {theSurchargeTax}
	     
		<tr>
			<td style="text-align:right; padding:10px 10px 12px 0; " colspan="7">
			Grand Total: <span style="font-size:22px;"> USD. 
			<span id="theGrandTotal">
			{theGrandTotal}
			</label>
			</span>
			</td>
		</tr>
		<tr>
			<td style="text-align:left; padding:0px 0 5px 0; background:url({template_url_imgs}/VRHLine4.png) top no-repeat;
			border-top:1px solid #BBBBBB; " colspan="7">
			</td>
		</tr>
		<!-- 
		<tr>
	        <td style="text-align:right; padding:20px 10px 12px 0; " colspan="7">
	        <form method="post" action="{url_action}">
	        <input type="hidden" value="{acco_type_id}" name="acco_type_id" class="text">
	        <input type="submit" value="Book This Villa" class="SB" name="destroy" title="destroy">
	        <input type="submit" value="Book This Villa" class="SB" name="s_book_confirm">
	        </form>
	        </td>
		</tr>
		-->
	     
		</tbody></table>
	</div>
	
	<div class="blockReservation" style="float: left; margin-bottom: 10px;">
		<table cellspacing="0" cellpadding="0" style="width: 100%;">
			<tr>
			     <td colspan="3" style="text-align:left;  padding:0px 10px 0 10px; ">
			     	<div class="title" style="padding: 10px 0px;">
			     		<b>{personal_or_owner} Detail</b>
			     	</div>
			     </td>
			</tr>
			<tr>
			     <td style="text-align:left; padding: 2px 10px; width: 150px; ">
			     	Full Name
			     </td>
			     <td style="text-align:center; padding: 2px  10px;  width: 5px; ">
			     	:
			     </td>
			     <td style="text-align:left; padding: 2px 0px;  ">
			     	{full_name}
			     </td>
			</tr>
			<tr>
			     <td style="text-align:left;  padding: 2px 10px; width: 150px; ">
			     	Email
			     </td>
			     <td style="text-align:center;  padding: 2px 10px; width: 5px; ">
			     	:
			     </td>
			     <td style="text-align:left;  padding: 2px 0px; ">
			     	{email}
			     </td>
			</tr>
			<tr>
			     <td style="text-align:left;  padding: 2px 10px; width: 150px; ">
			     	Phone
			     </td>
			     <td style="text-align:center;  padding: 2px 10px; width: 5px; ">
			     	:
			     </td>
			     <td style="text-align:left;  padding: 2px 0px; ">
			     	{phone}
			     </td>
			</tr>
			<tr>
			     <td style="text-align:left;  padding: 2px 10px; width: 150px; ">
			     	Address
			     </td>
			     <td style="text-align:center;  padding: 2px 10px; width: 5px; ">
			     	:
			     </td>
			     <td style="text-align:left;  padding: 2px 0px; ">
			     	{address}
			     </td>
			</tr>
			<tr>
			     <td style="text-align:left;  padding: 2px 10px; width: 150px; ">
			     	City
			     </td>
			     <td style="text-align:center;  padding: 2px 10px; width: 5px; ">
			     	:
			     </td>
			     <td style="text-align:left;  padding: 2px 0px; ">
			     	{city}
			     </td>
			</tr>
			<tr>
			     <td style="text-align:left;  padding: 2px 10px; width: 150px; ">
			     	Postal Code
			     </td>
			     <td style="text-align:center;  padding: 2px 10px; width: 5px; ">
			     	:
			     </td>
			     <td style="text-align:left;  padding: 2px 0px; ">
			     	{pos_code}
			     </td>
			</tr>
			<tr>
			     <td style="text-align:left;  padding: 2px 10px; width: 150px; ">
			     	Country
			     </td>
			     <td style="text-align:center;  padding: 2px 10px; width: 5px; ">
			     	:
			     </td>
			     <td style="text-align:left;  padding: 2px 0px; ">
			     	{country}
			     </td>
			</tr>
			<tr>
			     <td style="text-align:left;  padding: 2px 10px; width: 150px; ">
			     	State/Province
			     </td>
			     <td style="text-align:center;  padding: 2px 10px; width: 5px; ">
			     	:
			     </td>
			     <td style="text-align:left;  padding: 2px 0px; ">
			     	{state}
			     </td>
			</tr>
			<!-- 
			<tr class="tr_block_button">
			     <td style="text-align:left;  padding: 2px 10px; width: 150px; ">
			     	
			     </td>
			     <td style="text-align:center;  padding: 2px 10px; width: 5px; ">
			     	
			     </td>
			     <td style="text-align:right;  padding: 2px 0px;  padding-right: 15px;">
			     	<input type="button" value="Print This" name="print" class="btn_save_changes_enable print_{booking_id} print"
			     	style="background-position: right top; padding:0px 5px !important;">
			     	<input type="button" value="Print This" name="print" class="btn_save_changes_enable run_print_{booking_id} run_print"
			     	style="background-position: right top; padding:0px 5px !important; display:none">
			     	<input type="button" value="Close This" name="close" class="btn_save_changes_enable just_close_{booking_id} just_close"
			     	style="background-position: right top; padding:0px 5px !important;">
			     </td>
			</tr>
			 -->
		</tbody>
	</table>
	</div>
	
	
	<div class="blockReservation" style="float: left; margin-bottom: 10px;">
		<table cellspacing="0" cellpadding="0" style="width: 100%;">
			<tr>
			     <td colspan="3" style="text-align:left;  padding:0px 10px 0 10px; ">
			     	<div class="title" style="padding: 10px 0px;">
			     		<b>Payment Detail</b>
			     	</div>
			     </td>
			</tr>
			<tr>
			     <td style="text-align:left; padding: 2px 10px; width: 150px; ">
			     	Name
			     </td>
			     <td style="text-align:center; padding: 2px  10px;  width: 5px; ">
			     	:
			     </td>
			     <td style="text-align:left; padding: 2px 0px;  ">
			     	{first_name}
			     </td>
			</tr>
			<tr>
			     <td style="text-align:left;  padding: 2px 10px; width: 150px; ">
			     	Paid
			     </td>
			     <td style="text-align:center;  padding: 2px 10px; width: 5px; ">
			     	:
			     </td>
			     <td style="text-align:left;  padding: 2px 0px; ">
			     	{paid}
			     </td>
			</tr>
			
			<tr>
			     <td style="text-align:left;  padding: 2px 10px; width: 150px; ">
			     	Email
			     </td>
			     <td style="text-align:center;  padding: 2px 10px; width: 5px; ">
			     	:
			     </td>
			     <td style="text-align:left;  padding: 2px 0px; ">
			     	{payer_email}
			     </td>
			</tr>
			<tr>
			     <td style="text-align:left;  padding: 2px 10px; width: 150px; ">
			     	Date
			     </td>
			     <td style="text-align:center;  padding: 2px 10px; width: 5px; ">
			     	:
			     </td>
			     <td style="text-align:left;  padding: 2px 0px; ">
			     	{payment_date}
			     </td>
			</tr>

		</tbody>
	</table>
	</div>
	
	<div class="blockReservation" style="float: left; margin-bottom: 10px;">
		<table cellspacing="0" cellpadding="0" style="width: 100%;">
			<tr>
			     <td colspan="3" style="text-align:left;  padding:0px 10px 0 10px; ">
			     	<div class="title" style="padding: 10px 0px;">
			     		<b>Cancelation Fee and Details</b>
			     	</div>
			     </td>
			</tr>
			<tr>
			     <td style="text-align:left; padding: 10px 10px; width: 150px; " colspan="3">
			     	{cancellation_policy}
			     </td>
			</tr>
			<tr>
			     <td style="text-align:left; padding: 2px 10px; width: 150px; ">
			     	Total Booking Price
			     </td>
			     <td style="text-align:center; padding: 2px  10px;  width: 5px; ">
			     	:
			     </td>
			     <td style="text-align:left; padding: 2px 0px;  ">
			     	{total_booking_price}
			     </td>
			</tr>
			<tr>
			     <td style="text-align:left;  padding: 2px 10px; width: 150px; ">
			     	Cancelation Fee
			     </td>
			     <td style="text-align:center;  padding: 2px 10px; width: 5px; ">
			     	:
			     </td>
			     <td style="text-align:left;  padding: 2px 0px; ">
			     	{canceltation_fee}
			     </td>
			</tr>
			
			<tr>
			     <td style="text-align:left;  padding: 2px 10px; width: 150px; ">
			     	Administration Fee
			     </td>
			     <td style="text-align:center;  padding: 2px 10px; width: 5px; ">
			     	:
			     </td>
			     <td style="text-align:left;  padding: 2px 0px; ">
			     	{administrator_fee}
			     </td>
			</tr>
			<tr style="{style_display_tr_return_money}">
			     <td style="text-align:left;  padding: 2px 10px; width: 150px; ">
			     	Returned Money
			     </td>
			     <td style="text-align:center;  padding: 2px 10px; width: 5px; ">
			     	:
			     </td>
			     <td style="text-align:left;  padding: 2px 0px; font-size: 22px; ">
			     	USD. {return_money}
			     </td>
			</tr>
			<tr style="{style_display_tr_payment_required}">
			     <td style="text-align:left;  padding: 2px 10px; width: 150px; ">
			     	Payment Required
			     </td>
			     <td style="text-align:center;  padding: 2px 10px; width: 5px; ">
			     	:
			     </td>
			     <td style="text-align:left;  padding: 2px 0px; font-size: 22px; ">
			     	USD. {payment_required}
			     </td>
			</tr>
			
			<tr class="tr_block_button">
			     <td style="text-align:left;  padding: 2px 10px; width: 150px; ">
			     	
			     </td>
			     <td style="text-align:center;  padding: 2px 10px; width: 5px; ">
			     	
			     </td>
			     <td style="text-align:right;  padding: 2px 0px;  padding-right: 15px;">
			     	<form method="post" action="">
	        				<input type="hidden" name="yesID" value="{theBookID}" />
	        				<input type="hidden" name="yesMail" value="{theEmail}" />
	        				<input type="submit" value="Yes, Cancel This !" name="yesThisOne" style="background:#a3190e; border:none; color:#fff; margin:0 0 5px; font-size:13px; font-weight:bold; padding:4px 5px 5px;" />
        					<input type="button" value="Print" name="print" class="thePrintButton1" style="background:#a3190e; border:none; color:#fff; margin:0 0 5px; font-size:13px; font-weight:bold; padding:4px 5px 5px;" />
        					
        					<span class="secondPrintButtonSet" style="display:none;">
        					<input type="button" value="Print Now" name="printNow"     class="thePrintButton2" style="background:#a3190e; border:none; color:#fff; margin:0 0 5px; font-size:13px; font-weight:bold; padding:4px 5px 5px;" />
        					<input type="button" value="close"     name="closeThis"    class="thePrintButton2" style="background:#a3190e; border:none; color:#fff; margin:0 0 5px; font-size:13px; font-weight:bold; padding:4px 5px 5px;" />
        					</span>
        				</form>
			     </td>
			</tr>
		</tbody>
	</table>
	</div>
	
	
</div>

<!-- END Bvilla_reservation_details_admin -->