<!-- BEGIN mainBlock -->
<script type="text/javascript">
jQuery(document).ready(function(){
	jQuery('[name=cancelNow]').click(function(){
		var theMail = jQuery('[name=emailAddress]').val();
		var bookID  = jQuery('[name=bookID]').val();
		var error   = false;
		
		if( trim(theMail)=='' || trim(bookID)=='bookID' ){
			error = true;
			jQuery('#pleaseFillBothField').slideDown(300).delay(3000).slideUp(300);
		}
		if( !validateTheEmail(theMail) ){
			error = true;
			jQuery('#invalidEmailFormat').slideDown(300).delay(3000).slideUp(300);
		}
		
		if( !error ){
			jQuery('#theCancelationForm').submit();
		}
	});
	
	{jsAction}
	
	jQuery('#veryBigWhiteOverlay').prependTo('body');
	jQuery('.thePrintButton1').click(function(){
		jQuery('.blockReservation_top').css('display','block');				
		jQuery('#comfirmCancelBookingBox .justWrapper').clone().appendTo('#veryBigWhiteOverlay .theWrapper');
		
		jQuery('#veryBigWhiteOverlay .theWrapper [type=submit]').css('display','none');
		jQuery('#veryBigWhiteOverlay .theWrapper [name=print]').css('display','none');
		jQuery('#veryBigWhiteOverlay .theWrapper .secondPrintButtonSet').css('display','inline');
		
		jQuery('#veryBigWhiteOverlay').fadeIn();
		
		jQuery('#comfirmCancelBookingBox').css('display','none');
		
		jQuery('#veryBigWhiteOverlay .theWrapper [name=printNow]').click(function(){
			window.print();
		});
		jQuery('#veryBigWhiteOverlay .theWrapper [name=closeThis]').click(function(){
			jQuery('.blockReservation_top').css('display','none');				
			jQuery('#veryBigWhiteOverlay').fadeOut(1, function(){
				jQuery('#comfirmCancelBookingBox').slideDown();
				jQuery('#veryBigWhiteOverlay .theWrapper .justWrapper').remove();
			});
		});
	});
});
</script>

<div id="veryBigWhiteOverlay" style="background:#fff; position:absolute; width:100%; top:0; left:0; z-index:10; display:none; ">
	<div class="theWrapper" style="width:700px; margin:0 auto; font-size:12px; line-height:1em;">
		<div style="background:#0c6969; margin-bottom:15px;">
			<!-- 
			<img style="margin: 0pt 0pt 20px 20px;" src="{http}{site_url}/templates/img/header-logo.png">
			 -->
		</div>
		
	</div>
</div>

<div id="contentWrapper">
    <div id="featuredDest" style="position:relative;" class="headsUp" >
    	<h2>Booking Cancellation</h2>
    <div style="border:solid 1px #ccc; border-top:none;">
        <div class="listContainer" style="padding: 15px 20px;">
            <p style="padding-bottom:15px;">To cancel your booking enter the details of your reservation below:</p>
            <form method="post" target="" id="theCancelationForm" />
	            <table>
	            	<tr>
	            		<td width="120">Booking ID</td>
	            		<td><input type="text" name="bookID" value="" style="margin:0 5px 5px; width:180px;" /></td>
	            	</tr>
	            	<tr>
	            		<td>Email Address</td>
	            		<td><input type="text" name="emailAddress" value="" style="margin:0 5px 5px; width:180px;" /></td>
	            	</tr>
	            	<tr>
	            		<td>&nbsp;</td>
	            		<td><input type="button" value="Cancel Booking" name="cancelNow" style="background:#a3190e; border:none; color:#fff; margin:0 5px 5px; font-size:13px; font-weight:bold; padding:4px 5px 5px;" /></td>
	            	</tr>
	            	<tr>
	            		<td colspan="2">
	            			<div class="notifSmall" id="pleaseFillBothField">Please Fill Both Field !</div>
				            <div class="notifSmall" id="invalidEmailFormat">Please Input a Valid Email !</div>
				            <div class="notifSmall" id="bookDataNotFound">Booking Data Not Found !</div>
				            <div class="notifSmall" id="bookDataCanceled">Your Booking Canceled !</div>
	            		</td>
	            	</tr>
	            </table>
            </form>
        </div>
        
        <div class="listContainer" id="comfirmCancelBookingBox" style="padding: 15px 20px; display:none	;">
        
       
        
        	<div class="justWrapper">
        	 {villa_reservation_details_admin_content}
        	 
        	 
        	 <!-- 
        	<h3 style="font-size:20px; padding:0 0 10px;">Booking Details</h3>
        	<table class="delBookDetail">
        		<tr>
        			<td width="140">Booking ID</td>
        			<td>:</td>
        			<td>{theBookID}</td>
        		</tr>
        		<tr>
        			<td>Full Name</td>
        			<td>:</td>
        			<td>{theFullName}</td>
        		</tr>
        		<tr>
        			<td>Email</td>
        			<td>:</td>
        			<td>{theEmail}</td>
        		</tr>
        		<tr>
        			<td>Room Type</td>
        			<td>:</td>
        			<td>{theRoomType}</td>
        		</tr>
        		<tr>
        			<td>Check In Date</td>
        			<td>:</td>
        			<td>{theCinDate}</td>
        		</tr>
        		<tr>
        			<td>Check Out Date</td>
        			<td>:</td>
        			<td>{theCoutDate}</td>
        		</tr>
        		<tr>
        			<td>Country</td>
        			<td>:</td>
        			<td>{theCountry}</td>
        		</tr>
        		<tr>
        			<td>City</td>
        			<td>:</td>
        			<td>{theCity}</td>
        		</tr>
				<tr>
        			<td>State/Province</td>
        			<td>:</td>
        			<td>{theState}</td>
        		</tr>
        		<tr>
        			<td>Postal Code</td>
        			<td>:</td>
        			<td>{thePostal}</td>
        		</tr>
        		 -->
        		
        		<!-- { --> <!-- aditionalTourInfo  --> <!-- }  -->
        		
        		
        		<!--
        		<tr>
        			<td>Total Price</td>
        			<td>:</td>
        			<td>{thePrice}</td>
        		</tr>
        		
        		<tr>
        			<td>Commision</td>
        			<td>:</td>
        			<td>{theComm}</td>
        		</tr>
				<tr>
        			<td>Total After Commision</td>
        			<td>:</td>
        			<td>{thePriceAfter}</td>
        		</tr>
        		-->
        		
        		<!-- 
        		<tr>
        			<td>&nbsp;</td>
        			<td>&nbsp;</td>
        			<td>&nbsp;</td>
        		</tr>
        		 -->
        		
        		
        		 
        		<!-- { --> <!-- theRoomDetails  --> <!-- } -->
        		
        		<!--
				<tr><td colspan="3" style="font-size:18px; font-weight:bold;">Payment Details</td></tr>
        		<tr><td>Card Type</td><td>:</td><td>{cardType}</td></tr>
        		<tr><td>Credit Card No</td><td>:</td><td>{cardNumber}</td></tr>
        		<tr><td>Cardholder's Name</td><td>:</td><td>{cardName}</td></tr>
        		<tr><td>Expiry Date</td><td>:</td><td>{cardExpire}</td></tr>
        		<tr><td>Issuing/Providing Bank</td><td>:</td><td>{cardBank}</td></tr>
        		<tr><td>Country of Issuing Bank</td><td>:</td><td>{cardCountry}</td></tr>
        		<tr><td>Payment Ammount</td><td>:</td><td>{thePrice}</td></tr>-->
        		
        		<!-- 
        		<tr><td colspan="3" style="font-size:18px; font-weight:bold;">Payment Details</td></tr>
        		<tr><td>Name</td><td>:</td><td>{PDName}</td></tr>
        		<tr><td>Paid</td><td>:</td><td>{PDPaid}</td></tr>
        		<tr><td>Email</td><td>:</td><td>{PDEmail}</td></tr>
        		<tr><td>Date</td><td>:</td><td>{PDDate}</td></tr>
        		 -->
        		<!--  
        		{ 
        		thePolicy
        		}
        		
        		
        		<tr>
        			<td>&nbsp;</td>
        			<td>&nbsp;</td>
        			<td>&nbsp;</td>
        		</tr>
        		 -->
        		<tr>
        			<td>&nbsp;</td>
        			<td>&nbsp;</td>
        			<td>
        				<div style="clear: both;"></div>
        				<!-- 
        				<form method="post" action="">
	        				<input type="hidden" name="yesID" value="{theBookID}" />
	        				<input type="hidden" name="yesMail" value="{theEmail}" />
	        				<input type="submit" value="Yes, Cancel This !" name="yesThisOne" style="background:#a3190e; border:none; color:#fff; margin:0 0 5px; font-size:13px; font-weight:bold; padding:4px 5px 5px;" />
        					<input type="button" value="Print" name="print" class="thePrintButton1" style="background:#a3190e; border:none; color:#fff; margin:0 0 5px; font-size:13px; font-weight:bold; padding:4px 5px 5px;" />
        					
        					
        					<span class="secondPrintButtonSet" style="display:none;">
        					<input type="button" value="Print Now" name="printNow"     class="thePrintButton2" style="background:#a3190e; border:none; color:#fff; margin:0 0 5px; font-size:13px; font-weight:bold; padding:4px 5px 5px;" />
        					<input type="button" value="close"     name="closeThis"    class="thePrintButton2" style="background:#a3190e; border:none; color:#fff; margin:0 0 5px; font-size:13px; font-weight:bold; padding:4px 5px 5px;" />
        					</span>
        				</form>
					 	-->
        			</td>
        		</tr>
        		
        	</table>
        	</div>
        </div>
    </div>
    </div>
</div>    
    
<!-- END mainBlock -->