<!-- BEGIN Bmail_reservation_form -->
<p style="margin: 0; text-align: center;font-size: 30px; font-weight: 300;font-family:'latoregular',sans-serif;margin-bottom:25px;">Reservation Inquiry</p>
<table cellpadding="0" cellspacing="0" style="margin:10px 0 ;padding: 0;width:100%;">
	<tr>
    	<td style="width:35%;"></td>
        <td style="width:30%;padding-bottom:25px;">
        	<table style="width: 100%;">
            	<tr>
                	<td style="border-bottom:solid 1px #000;"></td>
                </tr>
            </table>
        </td>
        <td style="width:35%;"></td>
    </tr>
</table>
<p style="margin:0; padding:5px 0;font-family:'latoregular',sans-serif;">You got new inquiry from:</p>
<table  bgcolor="#E4E4D5" cellpadding="0" cellspacing="0" style="margin:0;padding:0px;width:580px;">
	<tr>
        <td width="90" style="padding:5px 0 0;">Check In</td><td style="padding:5px 0 0;">:</td><td style="padding:5px 0 0;">{cIn}</td>
    </tr>
    <tr>
        <td width="90" style="padding:5px 0 0;">Check Out</td><td style="padding:5px 0 0;">:</td><td style="padding:5px 0 0;">{cOut}</td>
    </tr>
    <tr>
        <td width="90" style="padding:5px 0 0;">Adult</td><td style="padding:5px 0 0;">:</td><td style="padding:5px 0 0;">{adult}</td>
    </tr>
    <tr>
        <td width="90" style="padding:5px 0 0;">Children</td><td style="padding:5px 0 0;">:</td><td style="padding:5px 0 0;">{child}</td>
    </tr>
    <tr>
        <td width="90" style="padding:5px 0 0;">Name</td><td style="padding:5px 0 0;">:</td><td style="padding:5px 0 0;">{name}</td>
    </tr>
    <tr>
        <td style="padding:5px 0 0;">Email</td><td style="padding:5px 0 0;">:</td><td style="padding:5px 0 0;">{email}</td>
    </tr>
    <tr>
        <td width="90" style="padding:5px 0 0;">Phone</td><td style="padding:5px 0 0;">:</td><td style="padding:5px 0 0;">{phone}</td>
    </tr>     
    <tr>
        <td style="padding:5px 0 0;vertical-align: top;">Messages</td>
        <td style="padding:5px 0 0;vertical-align: top;">:</td>
        <td style="padding:5px 0 0;">{message}</td>
    </tr>
</table>
<!-- END Bmail_reservation_form -->