<!-- BEGIN reservation_form_block -->
<div id="layout-top" class="reservation-form-page">      
	<div class="content-detail black">
        <h1 class="big">{title}</h1>
        <div class="line-white about-us"></div>
        <form id="fcontact-us" autocomplete="off" method="post" enctype="application/x-www-form-urlencoded" action="" class="reservation-form">
        	<div class="field-cont datetime-field-cont">
              <div class="half"><p><input type="text" class="timeframe_field" name="cIn" id="cIn" title="CHECK IN" placeholder="CHECK IN" readonly></p></div>
              <div class="half"><p><input type="text" class="timeframe_field" name="cOut" id="cOut"  title="CHECK OUT" placeholder="CHECK OUT" readonly></p></div>
              <div class="clear"></div>
              <div id="calendars" class="timeframe_calendar"></div>
              <div class="info-state"></div>
              <div class="overlay-calendar"></div>
          </div>
        <div class="field-cont">
              <div class="half"><p><input type="text" id="adult" name="adult" placeholder="ADULT" title="ADULT"></p></div>
              <div class="half"><p><input type="text" id="child" name="child" class="txt-input" placeholder="CHILDREN" title="CHILDREN"></p></div>
              <div class="clear"></div>
          </div>
        
          <div class="field-cont">
              <div class="half"><p><input type="text" id="name" name="name" placeholder="NAME" title="NAME"></p></div>
              <div class="half"><p><input type="text" id="email" name="email" class="txt-input" placeholder="EMAIL" title="EMAIL"></p></div>
              <div class="clear"></div>
          </div>
          
          <div class="field-cont">
              <div class="half"><p><input type="text" id="phone" name="phone" placeholder="PHONE" title="PHONE"></p></div>
              <div class="half"><p><input type="text" id="subject" name="subject" class="txt-input" placeholder="SUBJECT" title="SUBJECT"></p></div>
              <div class="clear"></div>
          </div>
          
          <div class="field-cont">
              <div class="full"><textarea id="message" name="message" class="textarea" placeholder="MESSAGE" title="MESSAGE"></textarea></div>
          </div>
         
          <div class="field-cont">
              <div class="full p-5">
                  <img src="http://{site_url}/val-image.php" class="chapta">
                  <input type="text" id="verCode" name="verCode" class="txt-chapta" placeholder="CAPCHA" title="CAPCHA" >
                  <div class="clear"></div>
              </div>	
          </div>
          
         <div id="notif"> 
              <p>
                  <input type="button" id="btn_contactUs"  value="SEND INQUIRY" >
                  <div class="clear"></div>
              	  <span class="notif-span nspan-reserform"></span>    
                  <div class="clear"></div>
              </p> 
              
         </div>
      </form>
      <div class="pdd-btm"></div>
    </div>    
</div>       
<!-- END reservation_form_block -->